@charset "utf-8";

html { .overflow:scroll; .overflow-x:auto; }
html,body { margin:0; padding:0; color:#111; }
body { color:#111; font-size:12px;  font-family:'맑은 고딕',Malgun Gothic,'돋움',Dotum,'굴림',Gulim,Helvetica,sans-serif; background:#fff; -webkit-text-size-adjust:none; }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{ margin:0; padding:0; }
table{ border-collapse:collapse; border-spacing:0; }
fieldset,img{ border:0; }
address,caption,cite,code,dfn,em,strong,th,var,i { font-style:normal; font-family:'Nanum Gothic', sans-serif; font-weight:normal; }
table caption, legend {width:0; height:0; text-indent:-9999em; font:0/0 arial; overflow:hidden; visibility:hidden;}
legend {position:absolute; top:0; left:0; display:inline;}
strong { font-family:'Nanum Gothic', sans-serif; font-weight:bold;}
button { margin:0; padding:0; border:none; cursor:pointer; font-family:'Nanum Gothic', sans-serif;}
li{ list-style:none; }
caption,th{ text-align:left; }
h1,h2,h3,h4,h5,h6{ font-size:100%; font-family:'Nanum Gothic', sans-serif; font-weight:normal;}
q:before,q:after{ content:''; }
abbr,acronym { border:0; font-variant:normal; }
hr { display:none; }
sup { vertical-align:text-top; }
sub { vertical-align:text-bottom; }

input[type="button"],input[type="text"],input[type="image"] {-webkit-appearance:none;-webkit-border-radius:0; border:0;}
input[type="radio"]{ background-color:#fff; width:18px; height:18px; }
input[type="checkbox"]{ background-color:#fff; width:16px; height:16px; }
input:checked[type="checkbox"]{background-color:#fff;-webkit-appearance:checkbox; }
input,textarea,select{ font-family:inherit; font-size:inherit; font-weight:inherit; }
textarea,input { outline-color:-moz-use-text-color; outline-style:none; outline-width:medium; }
textarea { resize:none; }
input,textarea,select{ *font-size:100%; }
label { cursor:pointer; }
a, a:link {text-decoration:none; font-family:'Nanum Gothic', sans-serif;}
a:hover, a:active {text-decoration:none; }
article, aside, canvas, details, embed, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }
command, datalist, keygen, mark, meter, progress, rp, rt, ruby, time, wbr { display: inline; }

.hide {width:0; height:0; text-indent:-9999em; font:0/0 arial; overflow:hidden;}
.ir {z-index:-1; position:absolute; top:-9999em; left:-9999em; font-size:0; line-height:0; text-indent:-9999px; white-space:nowrap; overflow:hidden;}
.lb {display:block;}
.gbtn {position:relative; display:inline-block; width:auto; margin:0; padding:0; line-height:normal !important; border:0; overflow:visible; cursor:pointer; vertical-align:middle; white-space:nowrap; background-repeat:no-repeat; background-color:transparent; background-image:url('../img/set_pt.png'); background-size:400px 400px;}
.icn {position:relative; top:-1px; display:inline-block; font:0/0 arial; overflow:hidden; vertical-align:middle; background-image:url('../img/set_pt.png'); background-repeat:no-repeat; background-size:400px 400px;}


/* header */
header {height:35px; padding:0 0 0 12px; font-size:0; border-top:2px solid #dfe0dc; background:#e6e6e6;}
	.h_nav {display:inline-block; width:68px; height:21px; margin:8px 0 0 0; padding-top:2px; font-size:12px; color:#323232; border-bottom:5px solid #e6e6e6;}
		.i_help, .i_basket {top:-2px; margin-right:3px;}
		.i_help {width:16px; height:16px; margin-left:3px; background-position:left top;}
		.i_basket {width:16px; height:17px; margin-left:8px; background-position:-20px top;}
	.hn_this {color:#e9691b; border-bottom:5px solid #ed8749;}
		.hn_this .i_help {background-position:left -40px;}
		.hn_this .i_basket {background-position:-20px -40px;}
	.h_home {position:absolute; top:4px; right:9px; width:28px; height:29px; background-position:-40px top;}
	.pt_t_search {position:absolute; top:5px; right:42px;}
		.pt_ipt_w {padding:0 0 0 2px; background:url('../img/pt_ipt_l.gif') left top no-repeat;}
			.pt_ipt_w span {display:block; padding:0 2px 0 0; background:url('../img/pt_ipt_r.gif') right top no-repeat;}
				.pt_ipt_w span input {width:115px; height:28px; background:url('../img/pt_ipt.gif') left top repeat-x;}

/* 카테고리메뉴 */
.pt_category {height:49px; border-bottom:1px solid #cc5d18;}
	.pt_category ul {width:100%;}
		.pt_category ul li {float:left; width:33%; height:48px; border-top:1px solid #ed8749;}
			.pt_category ul li a {display:block; height:47px; font-size:12px; color:#fff; text-align:center; border-top:1px solid #e9691b; text-shadow:1px 1px 1px rgba(0, 0, 0, 0.4); background-color:#e9691b;}
				.pt_category ul li a .icn {display:block; margin:0 auto 2px auto; overflow:hidden;}
				.i_fs {width:27px; height:18px; margin-top:10px !important; background-position:-80px top;}
				.i_comic {width:21px; height:21px; margin-top:8px !important; background-position:-110px top;}
				.i_ebook {width:23px; height:18px; margin-top:10px !important; background-position:-140px top;}
		.pt_category ul li.this {width:34%; border-top:1px solid #ce7e24;}
			.pt_category ul li.this a {border-top:1px solid #ed9d33; background:#fcac3a;}
.pt_category ul.ptc_on_cm  li:nth-child(2) {border-left:1px solid #ed9d33; border-right:1px solid #ed9d33;}


/* 목록 */
.pt_list {clear:both;}
	.pt_list li {position:relative; border-top:1px solid #f9f9f9; background:#f0f0f0;}
	.pt_list li:nth-child(1) {border-top:1px solid #fff;}
		.pt_list li a {position:relative; display:block; height:63px; padding:14px 0 0 80px; font-size:12px; border-bottom:1px solid #dedede; background:url('../img/ico_ptl_r.png') right 50% no-repeat;}
			.ptl_thumb, .ptl_thumb_mask {z-index:1; position:absolute; top:7px; left:10px; width:59px; height:60px; font:0/0 arial; overflow:hidden;}
			.ptl_thumb_mask {z-index:2; background:url('../img/mask_ptl_thumb.png') left top no-repeat;}
			.pt_list li a strong {font-weight:normal; font-size:14px; color:#323232;}
			.pt_list li a .ptl_genre {display:block; padding-bottom:4px; color:#969696;}
			.pt_list li a .ptl_writter {color:#5a5a5a;}
			.i_new {z-index:2; position:absolute; top:30px; right:37px; width:42px; height:19px; background-position:-180px top;}
			.ptl_point {display:block; margin-top:2px; color:#f55678;}
			.ptl_date {display:block; margin:1px 0 -2px 0; color:#969696;}
				.ptl_date span {margin-left:2px;}
		.b_tpl_del {z-index:3; position:absolute; top:-1px; right:0; display:block; height:79px; width:37px; border-left:1px solid #dedede; box-shadow:1px 0px 1px #fefefe inset; background:url('../img/ptl_del.png') 50% 50% no-repeat;}
/* 내부목록 */
.ptl_in li a {height:54px; padding-top:23px;}

/* 내부상단 */
.ptc_in_head {position:relative; clear:both; height:44px; border-top:1px solid #ed8749; border-bottom:1px solid #cc5d18; background:#e9691b;}
	.ptc_in_head h2 {height:32px; padding:12px 0 0 10px; font-size:18px; font-weight:normal; color:#fff; text-align:center; text-shadow:-1px -1px 1px rgba(0, 0, 0, 0.3);}
	.ptc_in_nav {position:absolute; top:8px; left:7px; display:inline-block; padding:0 0 0 13px; background:url('../img/ptc_in_nav.png') left top no-repeat;}
		.ptc_in_nav span {display:block; height:30px; padding:7px 9px 0 3px; font-size:14px; color:#fff; text-shadow:-1px -1px 1px rgba(0, 0, 0, 0.3); background:url('../img/ptc_in_nav_r.png') right top no-repeat;}
.ptc_select {position:absolute; top:7px; right:3px; font:0/0 arial; background:url('../img/ptc_select_l.gif') left top no-repeat;}
	.ptc_select select {height:31px; margin-right:-1px; padding:0 39px 0 12px; font-size:12px; color:#fff; border:0; background:url('../img/ptc_select_r.gif') right top no-repeat;}


/* 보관함 */
.ptl_bk li a {height:60px; padding-top:17px; background:none;}