@charset "utf-8";

html { .overflow:scroll; .overflow-x:auto; }
html,body { margin:0; padding:0; color:#111; }
body { color:#111; font-size:12px; font-family:'맑은 고딕',Malgun Gothic,'돋움',Dotum,'굴림',Gulim,Helvetica,sans-serif; background:#fff; -webkit-text-size-adjust:none; }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{ margin:0; padding:0; }
table{ border-collapse:collapse; border-spacing:0; }
fieldset,img{ border:0; }
address,caption,cite,code,dfn,em,strong,th,var,i { font-style:normal; font-family:'맑은 고딕',Malgun Gothic,'돋움',Dotum,'굴림',Gulim,Helvetica,sans-serif; font-weight:normal; }
table caption, legend {width:0; height:0; text-indent:-9999em; font:0/0 arial; overflow:hidden; visibility:hidden;}
legend {position:absolute; top:0; left:0; display:inline;}
strong {font-family:'맑은 고딕',Malgun Gothic,'돋움',Dotum,'굴림',Gulim,Helvetica,sans-serif; font-weight:bold;}
button { margin:0; padding:0; border:none; cursor:pointer; font-family:'맑은 고딕',Malgun Gothic,'돋움',Dotum,'굴림',Gulim,Helvetica,sans-serif;}
li{ list-style:none; }
caption,th{ text-align:left; }
h1,h2,h3,h4,h5,h6{ font-size:100%; font-family:'맑은 고딕',Malgun Gothic,'돋움',Dotum,'굴림',Gulim,Helvetica,sans-serif; font-weight:normal;}
q:before,q:after{ content:''; }
abbr,acronym { border:0; font-variant:normal; }
hr { display:none; }
sup { vertical-align:text-top; }
sub { vertical-align:text-bottom; }

input[type="button"],input[type="text"],input[type="image"] {-webkit-appearance:none;-webkit-border-radius:0; border:0;}
input[type="radio"]{ background-color:#fff; width:18px; height:18px; }
input[type="checkbox"]{ background-color:#fff; width:16px; height:16px; }
input:checked[type="checkbox"]{background-color:#fff;-webkit-appearance:checkbox; }
input,textarea,select{ font-family:inherit; font-size:inherit; font-weight:inherit; }
textarea,input { outline-color:-moz-use-text-color; outline-style:none; outline-width:medium; }
textarea { resize:none; }
input,textarea,select{ *font-size:100%; }
label { cursor:pointer; }
a, a:link {text-decoration:none; font-family:'맑은 고딕',Malgun Gothic,'돋움',Dotum,'굴림',Gulim,Helvetica,sans-serif;}
a:hover, a:active {text-decoration:none; }
article, aside, canvas, details, embed, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }
command, datalist, keygen, mark, meter, progress, rp, rt, ruby, time, wbr { display: inline; }

.hide {width:0; height:0; text-indent:-9999em; font:0/0 arial; overflow:hidden;}
.ir {z-index:-1; position:absolute; top:-9999em; left:-9999em; font-size:0; line-height:0; text-indent:-9999px; white-space:nowrap; overflow:hidden;}
.lb {display:block;}
.gbtn {position:relative; display:inline-block; width:auto; margin:0; padding:0; line-height:normal !important; border:0; overflow:visible; cursor:pointer; vertical-align:middle; white-space:nowrap; background-repeat:no-repeat; background-color:transparent; background-image:url('../img/set_pt.png'); background-size:400px 400px;}
.icn {position:relative; top:-1px; display:inline-block; font:0/0 arial; overflow:hidden; vertical-align:middle; background-image:url('../img/set_pt.png'); background-repeat:no-repeat; background-size:400px 400px;}


/* header */
header {height:35px; padding:0 0 0 12px; font-size:0; border-top:2px solid #dfe0dc; background:#e6e6e6;}
	.h_nav {display:inline-block; width:68px; height:20px; margin:8px 0 0 0; padding-top:2px; font-size:12px; color:#323232; border-bottom:5px solid #e6e6e6;}
		.i_help, .i_basket {top:-2px; margin-right:3px;}
		.i_help {width:16px; height:16px; margin-left:3px; background-position:left top;}
		.i_basket {width:16px; height:17px; margin-left:8px; background-position:-20px top;}
	.hn_this {color:#e9691b; border-bottom:5px solid #ed8749;}
		.hn_this .i_help {background-position:left -40px;}
		.hn_this .i_basket {background-position:-20px -40px;}
	.h_home {position:absolute; top:4px; right:9px; width:28px; height:29px; background-position:-40px top;}
	.pt_t_search {position:absolute; top:5px; right:42px;}
		.pt_ipt_w {padding:0 0 0 2px; background:url('../img/pt_ipt_l.gif') left top no-repeat;}
			.pt_ipt_w span {display:block; padding:0 2px 0 0; background:url('../img/pt_ipt_r.gif') right top no-repeat;}
				.pt_ipt_w span input {width:115px; height:28px; background:url('../img/pt_ipt.gif') left top repeat-x;}

/* 카테고리메뉴 */
.pt_category {height:49px; border-bottom:1px solid #cc5d18;}
	.pt_category ul {width:100%;}
		.pt_category ul li {float:left; width:33%; height:48px; border-top:1px solid #ed8749;}
			.pt_category ul li a {display:block; height:47px; font-size:12px; color:#fff; text-align:center; border-top:1px solid #e9691b; text-shadow:1px 1px 1px rgba(0, 0, 0, 0.4); background-color:#e9691b;}
				.pt_category ul li a .icn {display:block; margin:0 auto 2px auto; overflow:hidden;}
				.i_fs {width:27px; height:18px; margin-top:10px !important; background-position:-80px top;}
				.i_comic {width:21px; height:21px; margin-top:8px !important; background-position:-110px top;}
				.i_ebook {width:23px; height:18px; margin-top:10px !important; background-position:-140px top;}
		.pt_category ul li.this {width:34%; border-top:1px solid #ce7e24;}
			.pt_category ul li.this a {border-top:1px solid #ed9d33; background:#fcac3a;}
.pt_category ul.ptc_on_fs li:nth-child(1) {border-right:1px solid #ed9d33;}
.pt_category ul.ptc_on_cm li:nth-child(2) {border-left:1px solid #ed9d33; border-right:1px solid #ed9d33;}


/* 목록 */
.pt_list {clear:both;}
	.pt_list li {position:relative; border-top:1px solid #f9f9f9; background:#f0f0f0;}
	.pt_list li:nth-child(1) {border-top:1px solid #fff;}
		.pt_list li a {position:relative; display:block; height:66px; padding:11px 0 0 80px; font-size:12px; border-bottom:1px solid #dedede; background:url('../img/ico_ptl_r.png') right 50% no-repeat; background-size:27px 16px;}
			.ptl_thumb, .ptl_thumb_mask {z-index:1; position:absolute; top:7px; left:10px; width:59px; height:60px; font:0/0 arial; overflow:hidden;}
			.ptl_thumb_mask {z-index:2; background:url('../img/mask_ptl_thumb.png') left top no-repeat;}
			.pt_list li a strong {font-weight:normal; font-size:14px; color:#323232;}
			.pt_list li a .ptl_genre {display:block; padding-bottom:4px; color:#969696;}
			.pt_list li a .ptl_writter {color:#5a5a5a;}
			.i_new {z-index:2; position:absolute; top:30px; right:37px; width:42px; height:19px; background-position:-180px top;}
			.ptl_point {display:block; margin-top:2px; color:#f55678;}
			.ptl_date {display:block; margin:1px 0 -2px 0; color:#969696;}
				.ptl_date span {margin-left:2px;}
		.b_tpl_del {z-index:3; position:absolute; top:-1px; right:0; display:block; height:79px; width:37px; border-left:1px solid #dedede; box-shadow:1px 0px 1px #fefefe inset; background:url('../img/ptl_del.png') 50% 50% no-repeat; background-size:16px 16px;}
/* 내부목록 */
.ptl_in li a {height:57px; padding-top:20px;}
/* 운세/심리 목록 */
.ptfs_list {clear:both;}
	.ptfs_list li {position:relative; border-top:1px solid #f9f9f9; background:#f0f0f0 url('../img/ico_ptfs.png') 20px 50% no-repeat; background-size:22px 23px;}
	.ptfs_list li:nth-child(1) {border-top:1px solid #fff;}
		.ptfs_list li a {position:relative; display:block; height:56px; padding:21px 0 0 52px; font-size:12px; border-bottom:1px solid #dedede; background:url('../img/ico_ptl_r.png') right 50% no-repeat; background-size:27px 16px;}
			.ptfs_list li a strong {font-size:14px; color:#323232;}
			.ptfs_list li a span {display:block; margin-top:-2px; color:#969696;}



/* 내부상단 */
.ptc_in_head {position:relative; clear:both; height:44px; border-top:1px solid #ed8749; border-bottom:1px solid #cc5d18; background:#e9691b;}
	.ptc_in_head h2 {height:32px; padding:12px 0 0 10px; font-size:18px; font-weight:normal; color:#fff; text-align:center; text-shadow:-1px -1px 1px rgba(0, 0, 0, 0.3);}
	.ptc_in_nav {position:absolute; top:8px; left:7px; display:inline-block; padding:0 0 0 13px; background:url('../img/ptc_in_nav.png') left top no-repeat; background-size:13px 34px;}
		.ptc_in_nav span {display:block; height:31px; padding:6px 9px 0 3px; font-size:14px; color:#fff; text-shadow:-1px -1px 1px rgba(0, 0, 0, 0.3); background:url('../img/ptc_in_nav_r.png') right top no-repeat; background-size:100px 30px;}
.ptc_select {position:absolute; top:7px; right:3px; font:0/0 arial; background:url('../img/ptc_select_l.gif') left top no-repeat; background-size:100px 31px;}
	.ptc_select select {height:31px; margin-right:-1px; padding:0 39px 0 12px; font-size:12px; color:#fff; border:0; background:url('../img/ptc_select_r.gif') right top no-repeat; background-size:27px 31px;}


/* 보관함 */
.ptl_bk li a {height:63px; padding-top:14px; background:none;}

/* 내용 */
.ptc_cont_w {clear:both;}
	/* 표지 */
	.ptc_cb_w {padding:23px 0 22px 0; border-bottom:1px solid #e8e8e8; background:#f0f0f0;}
		.ptc_c_w {width:168px; height:240px; margin:0 auto; background:url('../img/bg_ptc_c_w.png') left top no-repeat; background-size:168px 240px;}
			.ptc_c_w img {border-top:1px solid #d0d0d0;}
		.ptc_b_w {margin-top:12px; text-align:center;}
			.b_ptc_b {position:relative; left:-5px; display:inline-block; width:156px; height:36px; margin:0 auto; padding-left:4px; text-align:center; background:url('../img/ptc_b_l.png') left top no-repeat; background-size:4px 36px;}
				.b_ptc_b span {display:block; height:27px; padding-top:9px; font-size:14px; color:#fff; text-shadow:-1px -1px 1px rgba(0, 0, 0, 0.3); background:url('../img/ptc_b.png') right top no-repeat; background-size:300px 36px;}
	/* 상품정보 */
	.ptc_desc_w {clear:both; padding:15px 10px; font-size:12px; color:#787878; line-height:16px; border-top:1px solid #d3d3d3;}
		.ptc_tit, .ptc_price, .ptc_s_tit {margin-top:4px; font-size:14px; color:#323232;}
			.ptc_price em {color:#f55678;}
		.ptc_s_tit {margin-top:15px; margin-bottom:2px;}
		.ptc_s_desc, .ptc_s_dlist li {padding:0 0 0 10px; background:url('../img/ico_ptc_s_desc.png') 4px 6px no-repeat;}
		.ptc_s_dlist {clear:both;}
	/* 결제정보 */
	.ptc_biw {padding:26px 24px;}
		.ptc_bi_in {padding:3px 20px 28px 20px; font-size:12px; color:#787878; border:1px solid #cbcbcb; border-width:0 1px 1px 0; box-shadow:1px 1px 1px rgba(0, 0, 0, 0.15); background:#fff;}
			.ptc_bi_in h3 {padding-top:20px; padding-bottom:6px; font-size:14px; color:#e9691b; line-height:16px; border-bottom:1px solid #c0c0c0;}
			.ptc_bi_in ul {padding-top:6px;}
				.ptc_bi_in ul li {margin-top:1px; padding:0 0 0 10px; background:url('../img/ico_ptc_bi_li.png') 3px 6px no-repeat;}
			.ptc_bi_in p {padding-top:3px;}
	.ptc_bb_msg {padding-bottom:23px; font-size:14px; color:#323232; line-height:20px; text-align:center;}
	.ptc_bb_btn_w {text-align:center;}
		.ptc_bb_btn_w .b_ptc_b {left:0;}
	/* 이용안내 */
	.ptc_help_w {padding-left:10px; padding-right:10px;}
		.ptc_help_w .ptc_bi_in {padding-top:11px;}
			.ptc_help_w ul {padding-top:0;}
				.ptc_help_w ul li {margin:0; padding:0; background:none;}
			.ptc_help_w h3 {padding-top:12px; padding-bottom:4px;}
			.ptc_help_w p {color:#323232;}
	.ptc_uh_list {clear:both;}
		.ptc_uh_list li {border-bottom:1px solid #c8c8c8; background:url('../img/ico_ptl_r.png') right 50% no-repeat;}
			.ptc_uh_list li a {display:block; height:42px; padding:21px 0 0 25px; font-size:14px; color:#323232;}
				.i_notice {width:19px; height:17px; margin:0 14px 0 1px; background-position:-40px -40px;}
				.i_cmhelp {top:-5px; width:19px; height:20px; margin-right:15px; background-position:-60px -40px;}
				.i_agree {top:-2px; width:17px; height:18px; margin:0 16px 0 1px; background-position:-80px -40px;}
	.ptc_policy {padding-left:13px; padding-right:13px;}
		.ptc_policy p {padding:15px 0 0 0;}
	/* 상품정보 */
	.ptc_bi_in {padding-left:17px; padding-right:17px;}
	.ptc_fsipt_w {margin-bottom:25px;}
		.ptc_bi_in .ptc_fsipt {clear:both; padding:0;}
			.ptc_bi_in .ptc_fsipt li {position:relative; margin:10px 0 0 0; padding:0; font-size:0; overflow:hidden; background:none;}
				.ptcfs_label {display:inline-block; width:67px; height:25px; margin:0 13px 0 0; font-size:14px; color:#fff; line-height:25px; text-align:center; border:1px solid #ec821b; box-shadow:1px 1px rgba(243, 176, 134, 0.4), -1px -1px rgba(243, 176, 134, 0.4); background:#ef981b;}
				input.ptcfs_iptxt {width:153px; height:25px; font-size:14px; color:#787878; vertical-align:top; border:1px solid #d3d3d3; box-shadow:1px 1px #f9f9f9, -1px 0 #f9f9f9, 0 1px #f9f9f9 inset; background:#fff;}
				.ptc_bi_in .ptc_fsipt li .radio {position:absolute; top:-99999px; left:-99999px;}
				.ptc_bi_in .ptc_fsipt li .ptcfs_ipradio {display:inline-block; height:19px; margin:4px 17px 0 0; padding:0 0 0 23px; font-size:14px; color:#787878; vertical-align:top; border:0; background:url('../img/radio_off.png') left top no-repeat; background-size:19px 19px;}
				.ptc_bi_in .ptc_fsipt li input[type="radio"]:checked+label {background:url('../img/radio_on.png') left top no-repeat; background-size:19px 19px;}
				input.ptcfsb_y {width:41px;}
				input.ptcfsb_md {width:26px;}
				.ptcfs_ydm {margin:0 3px 0 3px; font-size:14px; color:#787878;}
	/* 타로카드 */
	.ptc_trc_w {margin-bottom:25px; padding-left:20px; padding-right:20px;}
		.ptctrc_exp {padding:7px 0; font-size:12px; color:#323232; line-height:14px;}
			.ptctrc_exp span {letter-spacing:-1px;}
		.ptc_trc_w input.ptcfs_iptxt {width:231px;}
		.ptc_trc_w .ptctrc_card_list {position:relative; clear:both; height:94px; margin:14px 0 0 0; font-size:0;}
		.ptc_trc_w .ptctrc_cl_l2 {margin-top:0;}
			.ptc_trc_w .ptctrc_card_list li {position:absolute; top:20px; height:74px; margin:0; padding:0; background:none;}
			.ptc_trc_w .ptctrc_card_list li.ptctrc_this {top:0}
				.ptc_trc_w .ptctrc_card_list li a {display:block; width:54px; height:74px; overflow:hidden; background:url('../img/trcd.png') left top no-repeat; background-size:54px 74px;}
			.ptc_trc_w .ptctrc_card_list li.ptctrc_cl_01 {left:0px;}
			.ptc_trc_w .ptctrc_card_list li.ptctrc_cl_02 {left:10px;}
			.ptc_trc_w .ptctrc_card_list li.ptctrc_cl_03 {left:20px;}
			.ptc_trc_w .ptctrc_card_list li.ptctrc_cl_04 {left:30px;}
			.ptc_trc_w .ptctrc_card_list li.ptctrc_cl_05 {left:40px;}
			.ptc_trc_w .ptctrc_card_list li.ptctrc_cl_06 {left:50px;}
			.ptc_trc_w .ptctrc_card_list li.ptctrc_cl_07 {left:60px;}
			.ptc_trc_w .ptctrc_card_list li.ptctrc_cl_08 {left:70px;}
			.ptc_trc_w .ptctrc_card_list li.ptctrc_cl_09 {left:80px;}
			.ptc_trc_w .ptctrc_card_list li.ptctrc_cl_10 {left:90px;}
			.ptc_trc_w .ptctrc_card_list li.ptctrc_cl_11 {left:100px;}
			.ptc_trc_w .ptctrc_card_list li.ptctrc_cl_12 {left:110px;}
			.ptc_trc_w .ptctrc_card_list li.ptctrc_cl_13 {left:120px;}
			.ptc_trc_w .ptctrc_card_list li.ptctrc_cl_14 {left:130px;}
			.ptc_trc_w .ptctrc_card_list li.ptctrc_cl_15 {left:140px;}
			.ptc_trc_w .ptctrc_card_list li.ptctrc_cl_16 {left:150px;}
			.ptc_trc_w .ptctrc_card_list li.ptctrc_cl_17 {left:160px;}
			.ptc_trc_w .ptctrc_card_list li.ptctrc_cl_18 {left:170px;}
			.ptc_trc_w .ptctrc_card_list li.ptctrc_cl_19 {left:180px;}

/* 공지사항 */
.ptc_brd_list {clear:both;}
	.ptc_brd_list li {position:relative; border-top:1px solid #fff; background:#f0f0f0;}
		.ptc_brd_list li a {position:relative; display:block; padding:0 0 0 33px; font-size:12px; color:#323232; line-height:14px; border-bottom:1px solid #c8c8c8; background:url('../img/ico_pbrl.png') 12px 50% no-repeat; background-size:10px 16px;}
			.pbl_in {display:block; height:63px; padding:0 100px 0 8px; font-size:14px; color:#323232; border-left:1px solid #ededed; background:#fff;}
				.pbl_in strong {display:table-cell; width:100%; height:63px; font-weight:normal; vertical-align:middle;}
			.pbl_date {position:absolute; top:50%; right:10px; margin-top:-7px; font-size:12px; color:#969696;}
		.pbl_cnt_w {clear:both; height:0; overflow:hidden;}
			.pbl_cnt_in {padding:10px 25px 25px 27px; border-top:1px solid #fff; border-bottom:1px solid #c8c8c8;}
	/* 열렸을 때 */
	.ptc_brd_list li.pbl_open a {background-image:url('../img/ico_pbrl_open.png'); background-position:8px 50%; background-size:15px 10px;}
		.ptc_brd_list li.pbl_open .pbl_cnt_w {height:auto;}


@media screen and (-webkit-min-device-pixel-ratio:2){
	.gbtn, .icn {background-image:url('../img/set_pt_2.png');}
	.pt_list li a, .ptfs_list li a {background-image:url('../img/ico_ptl_r_2.png');}
	.ptc_trc_w .ptctrc_card_list li a {background-image:url('../img/trcd_2.png');}
	.ptfs_list li {background-image:url('../img/ico_ptfs_2.png');}
	.ptc_in_nav {background-image:url('../img/ptc_in_nav_2.png');}
		.ptc_in_nav span {background-image:url('../img/ptc_in_nav_r_2.png');}
	.b_ptc_b {background-image:url('../img/ptc_b_l_2.png');}
		.b_ptc_b span {background-image:url('../img/ptc_b_2.png');}
	.ptc_c_w {background-image:url('../img/bg_ptc_c_w_2.png');}
	.ptc_bi_in .ptc_fsipt li .ptcfs_ipradio {background-image:url('../img/radio_off_2.png');}
	.ptc_bi_in .ptc_fsipt li input[type="radio"]:checked+label {background-image:url('../img/radio_on_2.png');}
	.ptc_select {background-image:url('../img/ptc_select_l_2.gif');}
		.ptc_select select {background-image:url('../img/ptc_select_r_2.gif');}
	.b_tpl_del {background-image:url('../img/ptl_del_2.png');}
	.ptc_brd_list li a {background-image:url('../img/ico_pbrl_2.png');}
	.ptc_brd_list li.pbl_open a {background-image:url('../img/ico_pbrl_open_2.png');}
	.ptl_bk li a {background:none;}
}