@charset "utf-8";

@import "webfont.css";

html { .overflow:scroll; .overflow-x:auto; }
html,body { margin:0; padding:0; color:#111; }
body { color:#111; font-size:12px; font-family:'Nanum Gothic', sans-serif; background:#fff; -webkit-text-size-adjust:none; }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{ margin:0; padding:0; }
table{ border-collapse:collapse; border-spacing:0; }
fieldset,img{ border:0; }
address,caption,cite,code,dfn,em,strong,th,var,i { font-style:normal; font-family:'Nanum Gothic', sans-serif; font-weight:normal; }
table caption, legend {width:0; height:0; text-indent:-9999em; font:0/0 arial; overflow:hidden; visibility:hidden;}
legend {position:absolute; top:0; left:0; display:inline;}
strong { font-family:'Nanum Gothic', sans-serif; font-weight:bold;}
button { margin:0; padding:0; border:none; cursor:pointer; font-family:'Nanum Gothic', sans-serif;}
li{ list-style:none; }
caption,th{ text-align:left; }
h1,h2,h3,h4,h5,h6{ font-size:100%; font-family:'Nanum Gothic', sans-serif; font-weight:normal;}
q:before,q:after{ content:''; }
abbr,acronym { border:0; font-variant:normal; }
hr { display:none; }
sup { vertical-align:text-top; }
sub { vertical-align:text-bottom; }

input[type="button"],input[type="text"],input[type="image"] {-webkit-appearance:none;-webkit-border-radius:0;}
input[type="radio"]{ background-color:#fff; width:18px; height:18px; }
input[type="checkbox"]{ background-color:#fff; width:16px; height:16px; }
input:checked[type="checkbox"]{background-color:#fff;-webkit-appearance:checkbox; }
input,textarea,select{ font-family:inherit; font-size:inherit; font-weight:inherit; }
textarea,input { outline-color:-moz-use-text-color; outline-style:none; outline-width:medium; }
textarea { resize:none; }
input,textarea,select{ *font-size:100%; }
label { cursor:pointer; }
a, a:link {text-decoration:none; font-family:'Nanum Gothic', sans-serif;}
a:hover, a:active {text-decoration:none; }
article, aside, canvas, details, embed, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }
command, datalist, keygen, mark, meter, progress, rp, rt, ruby, time, wbr { display: inline; }

.hide {width:0; height:0; text-indent:-9999em; font:0/0 arial; overflow:hidden;}
.ir {z-index:-1; position:absolute; top:-9999em; left:-9999em; font-size:0; line-height:0; text-indent:-9999px; white-space:nowrap; overflow:hidden;}
.lb {display:block;}
.gbtn {position:relative; display:inline-block; width:auto; margin:0; padding:0; line-height:normal !important; border:0; overflow:visible; cursor:pointer; vertical-align:middle; white-space:nowrap; background-repeat:no-repeat; background-color:transparent; background-image:url('../images/set_inmoontv.png'); background-size:450px 450px;}
.icn {position:relative; top:-1px; display:inline-block; font:0/0 arial; overflow:hidden; vertical-align:middle; background-image:url('../images/set_inmoontv.png'); background-repeat:no-repeat; background-size:450px 450px;}


/* 버튼스타일 */
.btn_st1, .btn_st1_gray {display:inline-block; height:38px; font-size:12px; line-height:38px; color:#ddd; text-align:center; vertical-align:middle; border-radius:5px; background:#444;}
.btn_st1_gray {color:#000; border:1px solid #bbb; background:#f1f1f1;}
input.btn_st1, input.btn_st1_gray {border:0;}

.btn_st1:active, .btn_st1_gray:active, input[type=submit].btn_st1:active, input[type=submit].btn_st1_gray:active {background-color:#000;}
.btn_st1_gray:active, input[type=submit].btn_st1_gray:active {color:#ddd;}

#wrap {position:relative; padding:46px 0 25px 0;}
/* header */
#header {z-index:2; position:fixed; top:0; width:100%; height:46px; background:url('../images/bg_header.png') left top repeat-x; background-size:100% 100%;}
  #header h1 {display:inline-block; width:109px; height:14px; margin:14px 0 0 20px; background:url('../images/set_inmoontv.png') left top no-repeat; background-size:450px 450px;}
  .tGlobalBtn {float:right; font-size:0;}
    .tGlobalBtn li {display:inline-block; font-size:0; border-left:1px solid #af0b11;}
      .tGlobalBtn li a {display:block; width:45px; height:42px;}
      .tGlobalBtn li a.myinfo {background-position:left -15px;}
      .tGlobalBtn li a.category {background-position:-45px -15px;}
  /* 서브페이지 */
  .subpage #header h1 {display:none;}
    #header h2 {display:inline-block; height:24px; margin:10px 0 0 20px; font-size:19px; color:#fff;}
      #header h2 .icn {top:-2px; width:37px; height:24px; margin-right:8px; background-position:-140px -15px;}
/* content */
#content {z-index:1; position:relative; clear:both; margin-top:-4px;}
  /* 메인visual */
  .visual_wrap {position:relative; height:190px; overflow:hidden; background:#484848;}
    .visual_in {height:155px; margin-top:10px; font-size:0; overflow:hidden;}
      .visual_in_swipe {width:290px; height:155px; margin:0 auto;}
      .visual_scroll {width:5000%; height:155px;}
      .visual_by {float:left; width:280px; height:155px; padding:0 5px;}
        .visual_by a {z-index:4; position:relative; display:block; font-size:0;}
          .visual_by a img {width:100%; height:100%}
          .visual_by a strong {z-index:3; position:absolute; bottom:0; display:block; width:100%; height:24px; padding-top:8px; font-family:'Nanum Gothic', sans-serif; font-size:13px; font-weight:bold; color:#fff; text-align:center; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
          .visual_by a i {z-index:2; position:absolute; bottom:0; left:0; clear:both; display:block; width:100%; height:32px; opacity:0.8; background:#ce2127;}
  .visual_wrap .dot_paging {position:absolute; bottom:10px; height:6px;}
    .visual_wrap .dot_paging a {background-position:-110px top;}
  /* 강의목록 */
  .lecture_list_w {clear:both; margin-top:20px;}
    .lecture_in {padding:0 20px;}
      .lecture_notice {margin-bottom:5px; font-size:12px; color:#048daa; text-align:left;}
        .lecture_notice strong {font-family:'Nanum Gothic', sans-serif; font-weight:normal;}
      .lecture_swipe_w {position:relative; width:100%; overflow:hidden; font-size:0;}
        .lecture_scroll {width:5000%; font-size:0; overflow:hidden;}
          .lecture_list {width:100%; display:inline-block; border-top:1px solid #ddd;}
            .lecture_list li {position:relative; display:table; width:100%; border-bottom:1px solid #ddd;}
              .lecture_list li a {position:relative; display:table-cell; height:70px; padding:0 27px 0 59px; vertical-align:middle;}
                .lecture_title {font-size:14px; font-family:'Nanum Gothic', sans-serif; font-weight:bold; color:#cb202d;}
                .t_info {font-size:12px; color:#000;}
                .l_bar {position:relative; top:-1px; margin:0 9px; font-style:normal; color:#dadada;}
                .lecture_list li a img {position:absolute; top:50%; left:3px; margin-top:-23px;}
                .lecture_list li a i.round {z-index:2; position:absolute; top:50%; left:3px; display:block; width:45px; height:45px; margin-top:-23px; background:url('../images/set_inmoontv.png') -90px -15px no-repeat; background-size:450px 450px;}
			/* 강의없음 */
			.lecture_list li.lecture_temp .lecture_title {font-weight:normal; color:#999;}
			.lecture_list li.lecture_temp a i.round {background:url('../images/lct_rnd.png') left top no-repeat; background-size:45px 45px;}
			/* 터치할 때 */
			.lecture_list li a:active {background-color:#e8e8e8;}
			.lecture_list li a:active i.round {background:url('../images/lecture_list_round_gray.png') left top no-repeat; background-size:45px 45px;}
			#mlDownloadList li a:active {background-color:#fff;}
			#mlDownloadList li a:active i.round {background:url('../images/set_inmoontv.png') -90px -15px no-repeat; background-size:450px 450px;}
      .lecture_in .dot_paging {margin-top:-16px;}
  /* 하단버튼 */
  .list_bottom_btn_w {clear:both; margin-top:40px; height:38px; padding:0 20px; font-size:0;}
    .list_bottom_btn_w li {float:left; width:50%; text-align:left;}
    .list_bottom_btn_w li:nth-child(2) {text-align:right;}
    .list_bottom_btn_w .btn_st1 {width:99%;}
  /* 하단 내강의 */
  .lecture_btm_w {clear:both; margin-top:38px; padding:0 20px;}
    .lecture_chance {font-size:14px; text-align:center;}
      .lecture_chance a {color:#cb202d;}
        .lecture_chance a .icn {top:0px; width:12px; height:11px; margin-right:4px; background-position:-140px top;}
    .btm_mylecture {position:relative; clear:both; margin:19px 0 0 0; font-size:14px;}
      .btm_mylecture h3 {display:block; height:38px; padding:0; font-size:14px; color:#000; line-height:38px; text-align:left; vertical-align:middle; border-radius:5px; background:#e8e8e8;}
        .btm_mylecture h3 a {display:block; height:38px; padding-left:10px; color:#000;}
        .btm_mylecture h3 em {margin-left:5px; color:#cb202d;}
        .btm_mylecture .mypass {position:absolute; top:10px; right:10px; color:#666;}
          .btm_mylecture .mypass em {font-family:'Nanum Gothic', sans-serif; font-weight:bold; color:#000;}
      .mylecture_list {clear:both; width:100%;}
        .mylecture_list li {border-bottom:1px solid #ddd;}
        .mylecture_list li:last-child {border-bottom:0;}
          .mylecture_list li a {display:block; padding:13px 9px 14px 9px;}
			  .mylecture_list li a .lecture_title {color:#000;}
		 .mylecture_list li a:active {background-color:#e8e8e8;}
  /* 강의 없을 때 */
  .lecture_btm_temp {}
    .lecture_btm_temp .btm_mylecture {padding:0 90px 0 0;}
      .btm_mylecture .btn_st1 {position:absolute; top:0; right:0; width:85px;}
      .lecture_btm_temp_msg {clear:both; margin:13px 0 0 0; padding:0 0 0 10px; color:#999;}
        .lecture_btm_temp_msg strong {font-family:'Nanum Gothic', sans-serif; font-weight:bold;}
  /* 하위카테고리 */
  .l_category_w {}
    .l_category_w .lecture_list {border-top:0;}
    .l_category_w .lecture_list a {min-height:54px; padding:13px 27px 13px 71px;}
      .l_category_w .lecture_list a img, .l_category_w .lecture_list a i.round {left:20px;}
      .l_category_w .lecture_list .lecture_title {display:block; margin-bottom:7px;}
      .l_category_w .lecture_list .l_bar {margin:0 7px;}
  /* 강의요약 */
  .ls_w {position:relative;}
    .ls_info {display:block; height:70px; padding:15px 105px 0 20px; background:#e8e8e8; min-height:50px;}
        .ls_info .lecture_title {display:block; max-height:33px; margin-bottom:7px; overflow:hidden;}
        .ls_info .l_bar {margin:0 4px;}
    .ls_w img {width:100%;}
    /* 강의관련버튼 */
    .ls_btn_w {position:absolute; bottom:84px; right:0; width:90px;}
      .ls_btn_in {position:relative;}
        .b_ls_play, .b_ls_buy, .b_ls_nowthis {position:absolute; display:block; width:90px; height:85px;}
        .b_ls_play {position:relative; margin-bottom:1px;}
          .b_ls_play .b_ls_in, .b_ls_buy .b_ls_in, .b_ls_nowthis .b_ls_in {z-index:2; position:relative; display:block; height:69px; padding-top:16px; font-size:12px; color:#fff; text-align:center; opacity:0.72;}
          .b_ls_buy .b_ls_in, .b_ls_nowthis .b_ls_in {opacity:100;}
            .b_ls_play .b_ls_in .icn, .b_ls_buy .b_ls_in .icn, .b_ls_nowthis .b_ls_in .icn {display:block; top:0; width:40px; height:40px; margin:0 auto 6px auto; background-position:-180px top;}
            .b_ls_play:active .b_ls_in .icn {background-position:-270px -105px;}
            .b_ls_buy .b_ls_in .icn {background-position:-125px -175px;}
            .b_ls_buy:active .b_ls_in .icn {background-position:-170px -175px;}
          .b_ls_play .bg, .b_ls_buy .bg, .b_ls_nowthis .bg {z-index:1; position:absolute; top:0; left:0; clear:both; display:block; width:100%; height:85px; opacity:0.5; background:#000;}
          .b_ls_buy .bg {opacity:100; background:#ce2127;}
          /* 수강중 */
          .b_ls_nowthis .b_ls_in {color:#047475;}
          .b_ls_nowthis .b_ls_in .icn {background-position:-255px -175px;}
          .b_ls_nowthis .bg {background-color:#3d9b9c; opacity:100;}
          .b_ls_play, .b_ls_buy, .b_ls_nowthis {right:0; bottom:0;}
        .lectureDimd {z-index:2; position:absolute; top:0; left:0; width:100%; height:100%;}
  /* 강의상세 */
  .ld_w {position:relative; clear:both; margin-top:18px;}
    /* 탭메뉴 */
    .ld_tab_w {position:relative;}
      .ld_tab {z-index:2; position:relative; height:26px; border-bottom:1px solid #444;}
        .ld_tab li {float:left; width:50%;}
          .ld_tab li a {display:block; height:25px; font-size:14px; color:#000; text-align:center;}
          .ld_tab li.this a {font-family:'Nanum Gothic', sans-serif; font-weight:bold;}
      i.bdb {z-index:1; position:absolute; left:0; bottom:0; display:block; width:50%; height:3px; font:0/0 arial; overflow:hidden; background:#444;}
    /* 컨텐츠 */
    .ld_c_w {position:relative; clear:both;}
    /* 정보 */
    #ldInfo, .ld_info_w {padding:11px 20px; font-size:13px; line-height:20px; color:#010101;}
      .ld_info_w h5, #ldInfo h5 {margin-top:40px; font-size:13px; font-family:'Nanum Gothic', sans-serif; font-weight:bold;}
      .ld_info_w ol li.oli_f, #ldInfo ol li.oli_f {margin-bottom:20px;}
    .ld_book_w {position:relative; clear:both; margin-top:36px; padding:0 25px 20px 25px; font-size:12px; line-height:normal; color:#666; background:#e8e8e8;}
      .ld_book_w h5 {clear:both; margin:0 0 9px 0; padding-top:18px; color:#000;}
      .ld_book_in {position:relative; height:81px; margin-top:14px; padding:0 0 0 64px;}
        .ld_book_in h6 {font-size:14px; font-family:'Nanum Gothic', sans-serif; font-weight:bold; color:#cb202d;}
        .ld_book_in img {position:absolute; top:0; left:0; width:58px;}
        .ld_book_in .btn_st1 {position:absolute; bottom:0; right:0; width:60px;}
    /* 목록 */
    .ld_list_w {}
      .ld_list_in {}
        .ld_list_by {clear:both;}
          .ld_list_in h5 {position:relative; padding:13px 49px 14px 49px; font-size:14px; font-family:'Nanum Gothic', sans-serif; font-weight:bold; color:#000; cursor:pointer; border-bottom:1px solid #999;}
            .ld_list_in h5 em {position:absolute; top:13px; left:0; display:block; width:42px; font-family:'Nanum Gothic', sans-serif; font-weight:bold; text-align:right;}
            .ld_list_in h5 .icn {position:absolute; top:17px; right:22px; width:17px; height:11px; background-position:-140px -40px;}
          /* 현재선택 */
          .ld_list_in h5.ld_list_in_this .icn {background-position:-160px -40px;}
          .ld_list_d_w {clear:both; height:0; overflow:hidden;}
            .ld_list_d {clear:both;}
              .ld_list_d_l {position:relative; border-bottom:1px solid #ddd;}
              .ld_list_d_l:last-child {border-color:#999;}
                .ld_list_ct {position:relative; display:block; padding:13px 50px 14px 49px; cursor:pointer;}
                  .ld_list_ct em {font-size:14px; font-family:'Nanum Gothic', sans-serif; font-weight:bold; color:#cb202d;}
                  .ld_list_ct .ct, .ld_list_ct .time {position:absolute; top:16px; left:0; display:block; font-size:10px; color:#444444; text-align:right;}
                  .ld_list_ct .ct {width:45px;}
                  .ld_list_ct .ct_wait {color:#048daa}
                  .ld_list_ct .time {width:49px; left:auto; right:0; text-align:left;}
				  .ld_list_de {background-image:url('../images/ico_de.png'); background-position:right 50%; background-repeat:no-repeat; background-size:18px 12px;}
                /* 현재선택일 때 */
                .ld_list_ct_this {background-color:#e8e8e8;}
              .ld_list_fnc {clear:both; height:0; font-size:0; text-align:center; overflow:hidden; background:#484848 url('../images/bg_ld_list_fnc_cnr.gif') 50px top no-repeat; background-size:12px 6px;}
                .ld_list_fnc li {display:inline-block; width:46px; margin:0 8px; padding:23px 0 0 0;}
                .b_ld_fnc {display:block; width:46px; height:60px; font-size:11px; color:#ccc; text-align:center;}
                  .b_ld_fnc .icn {display:block; top:0; width:43px; height:42px; margin:0 auto 5px auto;}
                .b_ldf_v .icn {background-position:left -60px;}
                .b_ldf_v:active .icn, .b_ldf_v_on .icn {background-position:-290px top;}
                .b_ldf_l .icn {background-position:-45px -60px;}
                .b_ldf_l:active .icn, .b_ldf_l_on .icn {background-position:-335px top;}
                .b_ldf_ln {z-index:10; position:relative;}
                  .b_ldf_ln .icn {background-position:-180px -60px;}
                .b_ldf_r .icn {background-position:-90px -60px;}
                .b_ldf_r:active .icn, .b_ldf_r_on .icn {background-position:-290px -45px;}
                .b_ldf_b .icn {background-position:-135px -60px;}
                .b_ldf_b:active .icn {background-position:-335px -45px;}
                .b_ldf_b_done {color:#333;}
                .b_ldf_b_done .icn {background-position:-225px -105px;}
              /* 담기중 */
              .ld_list_fnc_ing {}
                .ld_list_fnc_ing .b_ld_fnc {color:#3d3d3d;}
                .ld_list_fnc_ing .b_ldf_v .icn {background-position:left -105px;}
                .ld_list_fnc_ing .b_ldf_l .icn {background-position:-45px -105px;}
                .ld_list_fnc_ing .b_ldf_r .icn {background-position:-90px -105px;}
                .ld_list_fnc_ing .b_ldf_bc {z-index:10; position:relative; color:#ccc;}
                  .ld_list_fnc_ing .b_ldf_bc .icn {background-position:-135px -105px;}
                  .ld_list_fnc_ing .b_ldf_bc:active .icn {background-position:-380px top;}
                #ldProgress, #ldProgress i {position:absolute; bottom:0; left:0; display:block; width:100%; height:6px; font:0/0 arial; background:#333;}
                  #ldProgress i {position:relative; background:#3d9b9c;}
/* 하단 스크립트/컨트롤 */
.btm_strm_script_w {z-index:9; position:fixed; bottom:-70px; left:0; clear:both; width:100%; height:64px; overflow:hidden;}
  .btm_strm_script_in {position:relative; height:64px;}
  .b_v_script {z-index:8; position:absolute; top:0; left:50%; width:103px; height:19px; margin-left:-52px; font-size:11px; line-height:normal; color:#000; background-position:left -150px;}
    .b_v_script .icn {top:-3px; width:9px; height:6px; margin-left:5px; background-position:-180px -40px;}
  /* 스크립트 */
  .script_w {z-index:1; position:relative; clear:both; height:0; overflow:hidden;}
    .script_head {height:89px; padding:0 50px 0 20px; font-size:14px; border-bottom:2px solid #000; background:#484848;}
      .script_head h3, .script_head h4 {width:100%; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
      .script_head h3 {padding-top:37px; color:#c4c4c4;}
      .script_head h4 {padding-top:4px; font-family:'Nanum Gothic', sans-serif; font-weight:bold; color:#fff;}
      .b_scrt_s, .b_scrt_l, .b_scrt_close {position:absolute; right:0; clear:both; display:block; width:45px; height:44px; color:#999; line-height:44px; text-align:center; border-left:1px solid #000; border-bottom:1px solid #000; background:#333;}
      .b_scrt_s {top:0; font-size:12px;}
      .b_scrt_l {top:45px; top:font-size:20px;}
      .b_scrt_close {top:0; right:0; display:none; height:88px; border-bottom:0;}
        .b_scrt_close .icn {top:34px; width:19px; height:21px; background-position:-255px -150px;}
    .script_cont {z-index:1; position:relative; padding:0 20px 0 20px; background:#fff;}
      .script_cont_in {position:relative; padding:0; font-size:14px; color:#000;}
        .script_cont_in ol li {position:relative; padding:11px 0 12px 38px; line-height:1.45; border-bottom:1px solid #ddd;}
          .script_cont_in ol li em {position:absolute; top:13px; left:0; font-size:11px;}
        .script_cont_in ol li.scrt_now {font-family:'Nanum Gothic', sans-serif; font-weight:bold; color:#079192;}
          .script_cont_in ol li.scrt_now em {color:#000;}
      /* 폰트사이즈 컨트롤 중 */
      .scsize_c {}
        .scsize_c .script_head {padding-right:110px;}
        .scsize_c .b_scrt_s, .scsize_c .b_scrt_l {right:45px;}
        .scsize_c .b_scrt_close {display:block;}
      /* 작은폰트 */
      .scsize_s .b_scrt_s {color:#444;}
      .scsize_s .script_cont_in {font-size:12px;}
      .scsize_s .script_cont_in ol li em {top:11px;}
      /* 중간폰트 */
      .scsize_m .script_cont_in {font-size:14px;}
      .scsize_m .script_cont_in ol li em {top:13px;}
      /* 큰폰트 */
      .scsize_l .b_scrt_l {color:#444;}
      .scsize_l .script_cont_in {font-size:16px;}
      .scsize_l .script_cont_in ol li em {top:14px;}
  /* 하단컨트롤 */
  .strm_w {z-index:2; position:absolute; left:0; bottom:0; clear:both; width:100%; height:47px;}
    .strm_in {position:relative; height:45px; padding:0 70px 0 55px; border-top:2px solid #444; background:#3d9b9c;}
      .b_s_pause {position:absolute; top:12px; left:20px; width:20px; height:22px; background-position:-210px -150px;}
      .strm_prgs_in {position:relative; padding-top:10px; font-size:11px; color:#05050;}
        .strm_prgs_in em {float:right;}
          .strm_prgs_in em i {color:#b0010e;}
        .str_progress {clear:both; display:block; width:100%; height:6px; margin-top:3px; font:0/0 arial; overflow:hidden; border:0 solid transparent; border-radius:4px; background:#333;}
          .str_progress i {display:block; height:6px; background:#cb202d;}
      .b_s_close {position:absolute; bottom:0; right:0; width:45px; height:45px; border-left:1px solid #000; background:#333;}
        .b_s_close .icn {top:0; width:17px; height:16px; background-position:-235px -150px;}
/* 스크립트 열렸을 때 */
.bscw_open {height:100%;}
  .bscw_open .btm_strm_script_in {height:100%;}
  .bscw_open .b_v_script {background-position:-105px -150px;}
    .bscw_open .b_v_script .icn {background-position:-190px -40px;}
  /* 스크립트 */
  .bscw_open .script_w {height:100%;}
/* 스크립트 전체화면 */
.bsc_only {}
  .bsc_only .b_v_script {display:none;}
  .bsc_only .script_head {display:none;}
  .bsc_only .strm_w {display:none;}

/* 내강의 */
  /* 탭메뉴 */
  .ml_tab_w {position:relative; margin-top:20px;}
    .ml_tab_w .ld_tab li, .ml_tab_w .bdb {width:33.3%;}
    .ml_c_w {}
      .ml_c_w .lecture_list {border-top:0;}
        .ml_c_w .lecture_list a {min-height:54px; padding:13px 27px 13px 71px;}
          .ml_c_w .lecture_list a img, .ml_c_w .lecture_list a i.round {left:20px;}
          .ml_c_w .lecture_list .lecture_title {display:block; margin-bottom:7px;}
          .ml_c_w .lecture_list .l_bar {margin:0 4px;}
          .ml_c_w .lecture_list .t_info:last-child {font-family:'Nanum Gothic', sans-serif; font-weight:bold;}
    /* 다운로드강의 */
    .ml_down_head {position:relative; height:40px; padding:0 40px 0 0; border-bottom:1px solid #999;}
      .ml_down_head h4 {padding:18px 0 0 20px; font-size:12px; color:#000;}
        .ml_down_head h4 em {font-family:'Nanum Gothic', sans-serif; font-weight:bold; color:#048daa;}
      .b_mld_del {position:absolute; top:0; right:0; width:45px; height:40px; background:#333;}
      .b_mld_del:active {background-color:#000;}
        .b_mld_del .icn {top:0; width:14px; height:16px; background-position:-230px -40px;}
    #mlDownloadList {/*border-bottom:1px solid #999;*/}
      #mlDownloadList > li {display:block; border-top:1px solid #999; border-bottom:0;}
        #mlDownloadList > li .lecture_title {font-family:'Nanum Gothic', sans-serif; font-weight:normal; color:#000;}
        #mlDownloadList > li .t_info:last-child {font-family:'Nanum Gothic', sans-serif; font-weight:normal;}
      #mlDownloadList > li:first-child {border-top:0;}
        #mlDownloadList .ld_list_d_l {border-top:1px solid #ddd; border-bottom:0;}
          #mlDownloadList .ld_list_ct {padding-left:72px; padding-right:25px}
            #mlDownloadList .ld_list_ct .ct {width:61px;}
            #mlDownloadList .ld_list_ct .time {position:relative; top:auto; right:auto; display:inline-block;}
          #mlDownloadList .ld_list_fnc li {border-bottom:0;}
            #mlDownloadList .ld_list_fnc li a {padding:0;}
    /* 다운로드강의:삭제모드 */
    .mld_mode_delete {}
      .mld_mode_delete .ml_down_head {height:90px; padding-right:0;}
      .mld_mode_delete #mlDownDeleteHead {clear:both; position:relative; margin-top:9px; font-size:0; text-align:center;}
        .mld_mode_delete #mlDownDeleteHead strong {position:absolute; top:-23px; right:20px; font-size:12px; font-family:'Nanum Gothic', sans-serif; font-weight:normal; color:#000;}
          .mld_mode_delete #mlDownDeleteHead strong em {font-family:'Nanum Gothic', sans-serif; font-weight:bold; color:#048daa;}
          .mld_mode_delete #mlDownDeleteHead .ui-btn {display:inline;}
          .mld_mode_delete #mlDownDeleteHead .btn_st1, .mld_mode_delete #mlDownDeleteHead .btn_st1_gray {width:138px; margin:0 2px;}

      .mld_mode_delete #mlDownloadList .ld_list_d_l {padding-right:20px;}
        .mld_mode_delete #mlDownloadList label {position:relative; display:block; overflow:hidden; background:url('../images/check.png') right 50% no-repeat; background-size:22px 22px;}
        .mld_mode_delete #mlDownloadList .check {position:absolute; top:-9999em; left:-9999em;}
        .mld_mode_delete #mlDownloadList .check:checked+label {background:url('../images/checked.png') right 50% no-repeat; background-size:22px 22px;}
    /* 수강내역 */
    #mlList .lecture_list a {height:auto; padding-left:20px; padding-right:20px;}
      #mlList .lecture_list a .ml_list_tit_w {display:block; margin-bottom:7px;}
        #mlList .lecture_list a .ml_list_tit_w .lecture_title {display:inline;}
        #mlList .lecture_list a .ml_list_tit_w .t_info {font-family:'Nanum Gothic', sans-serif; font-weight:normal;}
        #mlList .lecture_list li.ml_list_fed .lecture_title {font-family:'Nanum Gothic', sans-serif; font-weight:normal;}
        #mlList .lecture_list li.ml_list_fed .t_info {color:#999;}
        #mlList .lecture_list li.ml_list_fed .ml_list_tit_w .t_info {color:#000;}

/* 도트페이징 */
.dot_paging {clear:both; width:100%; font-size:0; text-align:center;}
  .dot_paging a {position:relative; display:inline-block; width:7px; height:6px; margin:0 3px; padding:0; vertical-align:middle; background:url('../images/set_inmoontv.png') -130px top no-repeat; background-size:450px 450px;}
  .dot_paging a.this {background-position:-120px top;}

/* 로그인 */
#login {position:relative;}
  #login h1 {position:relative; width:132px; height:63px; margin:63px auto 0 auto; overflow:hidden; background:url('../images/imtv_bi.png') left top no-repeat; background-size:132px 63px;}
  .lg_filed {position:relative; margin-top:32px; padding:0 45px; text-align:center;}
    .ci_lg {display:none;}
    .lg_id_pwd_w {margin-top:15px; border:3px solid #a3a3a3; border-radius:6px; background:#fff;}
      .lg_id_pwd_w p {position:relative;}
        .lg_id_pwd_w label {position:absolute; top:19px; left:13px; font-size:14px; color:#888;}
        .lg_id_pwd_w input {width:100%; height:53px; text-indent:12px; font-size:14px; color:#888; border:0; background:none;}
      .lg_id {border-bottom:1px solid #a3a3a3;}
      .lg_btn {margin-top:10px;}
        .lg_btn input, .lgb_b input {width:90px; height:90px; border:0; font-size:14px; color:#fff; border:1px solid transparent; border-radius:45px; background:#444;}
        .lg_btn input[type=button]:active {background:#ce2127;}
  .lg_btm_fnc_w {clear:both; width:100%;}
  .lg_btm_fnc {clear:both; margin:40px auto 0 auto; padding-left:4px; font-size:0; text-align:center;}
    .lg_btm_fnc li {display:inline-block; font-size:14px; text-align:right;}
      .lg_btm_fnc li a {color:#cb202d;}
    .lg_btm_fnc li:last-child {margin-left:12px; padding-left:11px; background:url('../images/bar_lg_btm_fnc.gif') left 50% no-repeat;}
/* 회원가입 */
.reg_field_w {padding:0 20px; text-align:center;}
  .imtv_ip {width:100%; height:38px; text-indent:8px; font-size:14px; color:#000; border:2px solid #cdcdcd; border-radius:6px !important; box-sizing:border-box; background:#fff;}
  input.reg_ip_err {border-color:#cb202d;}
  .imtv_check {position:relative; overflow:hidden;}
    .imtv_check .check {position:absolute; top:-9999em; left:-9999em;}
    .imtv_check label {display:block; min-height:17px; padding:5px 0 0 30px; font-size:12px; color:#666; background:url('../images/imtv_check.png') left top no-repeat; background-size:22px 22px;}
    .imtv_check .check:checked+label {background:url('../images/imtv_checked.png') left top no-repeat; background-size:22px 22px;}
  .reg_ed {margin-top:22px; text-align:left;}
    .reg_ed strong {display:block; margin-bottom:7px; font-size:14px; color:#000;}
      .reg_ed strong em {position:relative; top:-1px; font-size:12px; font-family:'Nanum Gothic', sans-serif; font-weight:normal; color:#666;}
        .reg_ed strong em i, .reg_ed .reg_ip_err {color:#cb202d;}
        .reg_ed strong em i, .reg_ed .reg_ip_ok {color:#048daa;}
  .reg_eds strong {font-family:'Nanum Gothic', sans-serif; font-weight:normal;}
  .reg_e_email p {margin-top:10px;}
  .reg_policy_list {margin-top:25px; text-align:left; border-top:1px solid #ddd;}
    .reg_policy_list li {padding:11px 56px 11px 0; border-bottom:1px solid #ddd;}
      .reg_policy_list li.imtv_check label {height:20px; padding-top:2px; font-size:14px; font-family:'Nanum Gothic', sans-serif; font-weight:bold; color:#000}
      .reg_policy_list li a {position:absolute; top:12px; right:0; font-size:14px; color:#cb202d;}
  .reg_ed_btn {margin-top:25px; text-align:center;}
    .reg_ed_btn input.btn_st1 {width:138px; border-radius:5px !important;}
/* 가입완료 */
.reg_msg_w {}
  .reg_msg_w h3 {font-size:25px; font-family:'Nanum Gothic', sans-serif; font-weight:bold; color:#000;}
  .reg_msg {font-size:14px; color:#000;}
  .reg_msg_btn {font-size:0; text-align:center;}
    .reg_msg_btn .btn_st1, .reg_msg_btn .btn_st1_gray {width:105px; margin:0 3px;}
.reg_msg_complete {padding:0 30px;}
  .reg_msg_complete h3 {margin-top:94px;}
    .reg_msg_complete .reg_msg {margin-top:20px;}
    .reg_msg_complete .reg_msg_btn {margin-top:50px;}
/* 아이디/비밀번호찾기 */
.ipf_tab_w {position:relative; margin-top:20px;}
.ipf_c_w {padding:0 20px;}
  .ipf_c_w .imtv_ip {border-color:#cdcdcd;}
  .ipf_after_w {margin-top:30px;}
    .ipf_after_w .reg_msg {margin-top:24px;}
    .ipf_after_w .reg_msg strong {color:#048daa;}
    .ipf_after_w .reg_msg_btn {margin-top:20px;}
      .ipf_after_w .reg_msg_btn .btn_st1_gray {width:138px;}
.reg_ed_code {position:relative; margin-top:10px; padding-right:66px;}
  .reg_ed_code .btn_st1_gray {position:absolute; top:0; right:0; width:61px;}
  .ipf_after_w .regm_code {margin-top:10px; text-align:center;}
/* 비밀번호변경 */
.password_chg_w {padding:0 20px;}
  .password_chg_w h3 {margin-top:20px; font-size:14px; color:#000;}
  .password_chg_w .imtv_ip {border-color:#cdcdcd;}
/* 환경설정 */
.reg_set_w {padding:0 20px}
  .reg_set_w h3 {margin-top:30px; padding:0 0 9px 0; font-size:14px; font-family:'Nanum Gothic', sans-serif; font-weight:bold; color:#000; border-bottom:2px solid #000;}
  .reg_set_w h3:first-child {margin-top:20px;}
  .reg_set_list_w {}
    .reg_set_list_w li {position:relative; padding:18px 66px 19px 0; font-size:14px; border-bottom:1px solid #ddd;}
      .reg_set_list_w li strong {position:relative; font-family:'Nanum Gothic', sans-serif; font-weight:normal;}
      .reg_set_list_w li .btn_st1_gray, .reg_set_list_w li .btn_st1 {position:absolute; right:0; top:7px; width:61px; font-size:12px;}
    .reg_set_list_w li:last-child {border-bottom:0;}
    .reg_set_list_w .regs_whref {padding-top:0; padding-bottom:0;}
      .reg_set_list_w li.regs_whref a {display:block; padding:13px 0 14px 0; color:#ce2127;}
        .reg_set_list_w li.regs_whref a .icn {position:absolute; top:13px; right:0; width:11px; height:17px; background-position:-245px -40px;}
	  .reg_set_list_w li.regs_whref a:active {background-color:#e8e8e8;}
    .regs_chk {}
      .regs_chk input {position:absolute; top:-9999em; left:-9999em;}
      .regs_chk label {display:block; min-height:17px; margin-top:-5px; padding-top:5px; background:url('../images/check.png') right top no-repeat; background-size:22px 22px;}
      .regs_chk .check:checked+label {background:url('../images/checked.png') right top no-repeat; background-size:22px 22px;}
      .regs_chk .check:disabled+label {background:url('../images/imtv_check.png') right top no-repeat; background-size:22px 22px;}
    .regs_lw_wob li {padding:13px 0 14px 0;}
    .reg_set_list_w .regs_freepass {}
      .reg_set_list_w .regs_freepass em {float:right; margin-top:1px; font-size:12px; color:#666;}
  .regs_acnt {margin-top:10px; text-align:center;}
    .regs_acnt .btn_st1_gray {width:138px;}
  /* 기기등록 */
  .regs_dr_msg {margin-top:20px; padding:8px 13px; font-size:12px; line-height:20px; color:#000; background:#eee;}
    .regs_dr_msg em {color:#048daa;}
  .regs_dr_now li strong {font-family:'Nanum Gothic', sans-serif; font-weight:bold;}
  .regs_dr_list li {padding-right:0;}
    .regs_dr_list li .dn_rls {float:right; margin-top:-7px; text-align:right;}
      .regs_dr_list li .dn_rls .lb {font-size:12px;}
    .regs_dr_list li.regs_drl_now {padding-bottom:14px;}
      .regs_dr_list li.regs_drl_now strong {display:inline-block; margin-top:-7px; color:#048daa}
        .regs_dr_list li.regs_drl_now strong em {display:block; color:#000;}
  /* 계정설정 */
  .reg_set_idmail {margin-top:14px;}
    .reg_set_idmail li strong, .reg_set_idmail li.regs_chk label {margin-right:3px; font-family:'Nanum Gothic', sans-serif; font-weight:bold;}
    .reg_set_idmail li.regs_chk {padding-right:0;}
    .reg_set_idmail li em {color:#ce2127;}
    .reg_set_email strong {top:5px;}
    .reg_set_email .imtv_ip {width:77%; margin:-7px 0; vertical-align:top;}
    .reg_set_idmail .reg_set_email .btn_st1_gray {top:11px;}
    .btn_out {clear:both; float:right; width:61px; margin-top:150px;}
/* 고객센터 */
.hpd_tab_w {position:relative; margin-top:20px;}
	.hpd_tab_w .ld_tab li {width:33.3%;}
	.hpd_tab_w i.bdb {width:33.3%;}
  .hpd_c_w {}
  .helpdesk_list {}
    .helpdesk_list li {position:relative; border-bottom:1px solid #ddd;}
      .helpdesk_list li .hpdl_tit {display:block; padding:13px 55px 14px 20px; font-size:14px; color:#000;}
        .helpdesk_list li .hpdl_tit i {margin-left:5px; font-size:12px; color:#666;}
        .helpdesk_list li .hpdl_tit .icn {position:absolute; top:16px; right:20px; width:17px; height:11px; margin-left:0; background-position:-140px -40px;}
        .helpdesk_list li .hpdl_tit_on {font-weight:bold;}
        .helpdesk_list li .hpdl_tit_on .icn {background-position:-160px -40px;}
      .helpdesk_list li .hpdl_cw_anis {clear:both; height:0; overflow:hidden;}
      .helpdesk_list li .hpdl_cont_w {position:relative; clear:both; padding:11px 20px 12px 20px; font-size:14px; line-height:20px; color:#000; border-top:1px solid #ddd; overflow:hidden; background:#e8e8e8;}
        .helpdesk_list li .hpdl_cont_w h4 {margin:0 0 12px 0; padding-right:35px; font-family:'Nanum Gothic', sans-serif; font-weight:bold;}
          .helpdesk_list li .hpdl_cont_w h4 i {font-size:12px; font-family:'Nanum Gothic', sans-serif; font-weight:bold; color:#666;}
      .helpdesk_list li .hpdl_cont_w .icn {position:absolute; top:16px; right:20px; width:17px; height:11px; margin-left:0; background-position:-160px -40px;}
  .hpd_c_w .reg_set_list_w li {padding-left:20px; padding-right:20px;}
  .hpd_c_w .reg_set_list_w li:last-child {border-bottom:1px solid #ddd;}
    .hpd_c_w .reg_set_list_w li a {float:right; color:#cb202d;}
/* 탈퇴하기 */
.reg_msg_outm {padding:0 20px;}
  .reg_msg_outm h3 {margin-top:30px; text-align:center;}
  .reg_msg_outm .reg_msg {margin-top:19px; line-height:20px;}
    .reg_msg_outm .reg_msg em {font-family:'Nanum Gothic', sans-serif; font-weight:bold; color:#048daa;}
  .reg_msg_outm h4 {margin-top:30px; padding:0 0 9px 0; font-size:14px; color:#000; border-bottom:2px solid #000;}
    .reg_msg_outm h4 em {font-family:'Nanum Gothic', sans-serif; font-weight:bold;}
  .reg_outm_list {}
    .reg_outm_list li {padding:13px 0 11px 0; font-size:14px; color:#000; border-bottom:1px solid #ddd;}
    .reg_outm_list li:last-child {border-bottom:0;}
  .reg_msg_outm .reg_msg_btn {margin-top:10px;}
/* 탈퇴 폼 */
.reg_set_out {}
  .reg_set_out .reg_set_list_w .regs_chk {padding-bottom:11px;}
  .reg_set_out .reg_set_list_w .regs_chk label {min-height:20px; padding-left:28px; padding-right:0; background-position:left 3px;}
  .reg_out_r_etc textarea.imtv_ip {margin-top:10px;}
  .reg_set_out textarea.imtv_ip {height:64px;}
  .reg_e_hp {position:relative; padding-right:92px;}
    .reg_e_hp .btn_st1_gray {position:absolute; bottom:0; right:0; width:87px; font-size:12px;}
  .reg_set_out .imtv_ip {border-color:#cdcdcd;}
  .reg_set_out .reg_ip_err {border-color:#6db0c3;}
  .reg_eh_id {padding-right:66px;}
    .reg_eh_id strong {}
      .reg_eh_id strong em {font-size:14px; color:#000;}
      .reg_eh_id strong i {position:absolute; top:5px; right:0; font-size:14px; color:#048daa;}
    .reg_eh_id .btn_st1_gray {top:39px; width:61px;}
  .reg_eh_id_msg {margin-top:8px; font-size:13px; line-height:18px; color:#048daa;}
  .reg_ehidm_ok {text-align:center;}
  .reg_set_out .reg_msg_btn {margin-top:40px;}
    .reg_set_out .reg_msg_btn .btn_st1_gray {color:#ccc;}
/* 탈퇴완료 */
.reg_msg_ouc h3 {margin-top:75px; text-align:center;}
.reg_msg_ouc .reg_msg_btn {margin-top:225px;}

/* 레이어 셋 */
.layer_wrap {z-index:999; position:absolute; top:-999999px; left:-9999999px; display:block; width:100%; height:100%;}
  .layer_w {z-index:998; position:absolute; top:-99999px; left:-99999px; display:block; margin-left:-141px; overflow:hidden; opacity:0;}
    .layer_in_w {position:relative; width:281px;}
    .layer_in {border:3px solid #333; background:#fff;}
      .layer_in h4 {padding:15px 0 14px 22px; font-size:14px; font-family:'Nanum Gothic', sans-serif; font-weight:bold; color:#000; border-bottom:1px solid #000;}
      .layer_content {}
        .lyr_msg {position:relative; font-size:14px; color:#000;}
      .layer_btn_w {clear:both; height:45px; font-size:0; border-top:1px solid #000; background:#666;}
        .b_lyr_g, .b_lyr_b, .b_lyr_a {float:left; width:100%; height:45px; font-size:14px; border:0; text-align:center;}
        .b_lyr_g {color:#404040; background:#f1f1f1;}
        .b_lyr_b {color:#ddd; background:#666;}
        .b_lyr_a {color:#ddd; background:#444;}
        .b_lyr_a:active {background:#000;}
      .lyr_b_2ea {}
        .lyr_b_2ea .b_lyr_g, .lyr_b_2ea .b_lyr_b, .lyr_b_2ea .b_lyr_a {width:50%;}
        .lyr_b_2ea button:first-child, .lyr_b_2ea button.lyr_b_first {border-right:1px solid #333;}
  .dimd {z-index:997; clear:both; position:absolute; top:0; left:0; width:100%; height:100%; /*opacity:0;*/ opacity:100; background:#000;}
/* 인문북스 사러가기 */
.lyr_book_list {width:200px; margin:5px auto 29px auto;}
  .lyr_book_list li {display:inline-block; width:98px;}
    .lyr_book_list li a {display:block; width:76px; margin:25px auto 0 auto; font-size:12px; color:#000; letter-spacing:-1px; text-align:center; white-space:nowrap;}
    .lyr_book_list li a .icn {display:block; width:46px; height:46px; margin:0 auto; margin-bottom:4px;}
    .lyr_book_list li a.b_ridi .icn {background-position:0px -230px;}
    .lyr_book_list li a.b_interpark .icn {background-position:-50px -230px;}
    .lyr_book_list li a.b_aladdin .icn {background-position:-100px -230px;}
    .lyr_book_list li a.b_kyobo .icn {background-position:-150px -230px;}
    .lyr_book_list li a.b_yes24 .icn {background-position:-200px -230px;}
.lyr_bl_alone {text-align:center;}
/* 수강권선택 */
.lyr_c_passbuy {padding:0 23px;}
  .lyr_c_passbuy li {position:relative; padding:23px 0 25px 0; font-size:14px; border-bottom:1px solid #ddd;}
  .lyr_c_passbuy li:last-child {border-bottom:0;}
    .lyr_c_passbuy li .radio {position:absolute; top:-9999em; left:-9999em;}
    .lyr_c_passbuy li label {display:block; padding:0 30px 0 0; background:url('../images/radio.png') right 13px no-repeat; background-size:24px;}
    .lyr_c_passbuy li .radio:checked+label {background:url('../images/radio_checked.png') right 13px no-repeat; background-size:24px;}
      .lyr_c_passbuy li label strong {display:block; margin-bottom:3px; color:#000;}
      .lyr_c_passbuy li label em {color:#666;}
        .lyr_c_passbuy li label em i {color:#048daa;}
/* 다운로드실패 */
.lyr_c_downfail {padding:38px 0; text-align:center;}
/* 삭제얼럿 */
.lyr_c_del {padding:42px 0; text-align:center;}
.lyr_c_delfail {padding:27px 17px;}
/* 기기등록해제 */
.lyr_c_device_r {padding:40px 25px 40px 23px;}
  .lyr_c_device_r h5 {font-size:14px; font-family:'Nanum Gothic', sans-serif; font-weight:bold; color:#000;}
  .lyr_c_device_r .lyr_msg {margin-top:20px;}
/* 각종얼럿 */
.lyr_c_alert_s {padding:47px 0; text-align:center;}
.lyr_c_alert_3, .lyr_c_alert_2 {padding:28px; text-align:left;}
.lyr_c_alert_2 {padding-top:35px; padding-bottom:35px;}
/* 약관/정책 */
.lyr_c_policy {position:relative; height:340px; padding:0; overflow:hidden;}
  .lyr_c_p_in {position:relative; padding:10px 23px; font-size:12px; color:#000; line-height:20px;}
    .lyr_c_p_in .lyr_msg {margin-bottom:29px;}
    .lyr_c_p_in .lyr_msg:last-child {margin-bottom:0;}
/* 2013.03.07 추가 */
.lyc_cp_stp_lt {position:relative; padding:21px 23px 22px 75px; background:#e8e8e8;}
  .lyc_cp_stp_lt .lyr_cpstp_p {margin-top:7px;}
  .lyc_cp_stp_lt .l_bar {top:0;}
  .lyc_cp_stp_lt img {position:absolute; top:23px; left:23px;}
  .lyc_cp_stp_lt i.round {z-index:2; position:absolute; top:23px; left:23px; display:block; width:45px; height:45px; background:url('../images/lecture_list_round_gray.png') left top no-repeat; background-size:45px 45px;}
.lyc_cp_stp_lti {padding:23px 23px 42px 23px;}
  .lyc_cp_stp_lti em {color:#048daa}
  .lyc_cp_stp_lti p {margin-top:20px;}
    .lyc_cp_stp_lti p strong {color:#cb202d;}
.lyr_cpstp_fp {padding:77px 15px 22px 15px; background:#e8e8e8 url('../images/img_frps.png') 50% 17px no-repeat; background-size:75px 48px;}
  .lyr_cpstp_fp em {color:#cb202d;}
.lyr_c_passbuy_stp2 .lyc_cp_stp_lti {padding-top:0px; padding-bottom:23px;}

/* 강의없음 */
.ml_none_w {position:relative; clear:both; margin-top:50px; padding:0 20px;}
  .mln_fp {position:relative; height:68px; padding:17px 0 0 76px; ; background:#e8e8e8;}
    .mln_fp div {position:absolute; top:20px; left:20px; width:46px; height:46px; font:0/0 arial; overflow:hidden;}
      .mln_fp div img {width:100%;}
    .mln_fp p {padding:0 0 0 23px; font-size:14px; color:#000; line-height:17px; background:url('../images/bg_mln_fp_t.png') left top no-repeat; background-size:15px 8px;}
    .mln_fp02 {padding-left:93px;}
      .mln_fp02 div {left:35px;}
      .mln_fp02 p {margin-top:9px; padding:0 0 0 23px;}
    .mln_fp03 {padding-left:93px;}
      .mln_fp03 div {left:35px;}
      .mln_fp03 p {margin-top:17px; padding:0 0 0 23px;}
    .mln_fp04 {padding-left:93px;}
      .mln_fp04 div {left:35px;}
      .mln_fp04 p {margin-top:9px; padding:0 0 0 23px;}
    .mln_fp05 p {margin-top:12px; padding:10px 0 0 0;}
  .mln_txt {clear:both; margin-top:23px; padding:0 10px; font-size:14px; color:#000; line-height:17px;}

/* 리스트 강의없음 */
.lctg_none {padding-top:60px; text-align:center;}
  .lctg_none h3 {font-size:20px; font-weight:bold; color:#000;}
  .lctg_none p {margin-top:45px; font-size:14px; color:#000; line-height:18px;}


/* 네트워크오류 */
.connect_error_w {margin-top:48px; padding:28px 32px 0 32px; background:url('../images/cnt_er.png') 50% top no-repeat; background-size:22px 18px;}
  .connect_error_w p {margin-top:16px; font-size:14px; color:#000; line-height:18px;}
  .b_as_w {position:fixed; left:50%; bottom:40px; margin-left:-94px; text-align:center;}
    .b_as_w a {display:inline-block; width:188px; height:28px; padding:10px 0 0 0; font-size:14px; color:#fff; border-radius:5px; background:#444;}

/* 수강권구매 */
.lyr_to_pg_w {margin-top:-14px; padding:0 20px;}
  .lyr_to_pg_w h1 {font-size:14px; font-weight:bold; color:#000;}
  .lyr_to_pg_w .lyc_cp_stp_lt, .lyr_to_pg_w .lyr_cpstp_fp {margin-top:10px; border:3px solid #333; border-radius:5px;}
  .lyr_to_pg_w .lyr_cpstp_fp {margin-bottom:25px;}
    .lyr_to_pg_w .lyr_cpstp_fp {background-image:url('../images/img_frps2.png'); background-size:94px 59px;}
  .ltp_btn_w {width:100%;}
    .lyr_to_pg_w .list_bottom_btn_w {margin-top:20px; padding:0; text-align:center;}
      .lyr_to_pg_w .list_bottom_btn_w .btn_st1_gray {width:99%; font-size:16px; box-sizing:border-box;}
	  .lyr_to_pg_w .list_bottom_btn_w .btn_st1 {font-size:16px;}
      .lyr_to_pg_w .lbbw_al li {float:none; display:inline-block;}
.lyr_to_pg_w .lyc_cp_stp_lt .lecture_title {font-size:18px;}
.lyr_to_pg_w .lyc_cp_stp_lt .lyr_cpstp_p {margin-top:17px; margin-left:-53px; font-size:15px;}
.lyr_to_pg_w .lyc_cp_stp_lt p {margin-top:4px; margin-left:-53px;}
.lyr_to_pg_w .lyc_cp_stp_lt p, .lyr_to_pg_w .lyr_cpstp_p .t_info {font-size:15px;}
.lyr_to_pg_w .lyc_cp_stp_lt .l_bar {margin:0;}
.lyr_to_pg_w .lyc_cp_stp_lti {font-size:17px;}
.lyr_to_pg_w .lyc_cp_stp_lti p {margin-top:20px;}
.lyr_to_pg_w .lyr_cpstp_fp {padding-top:96px; font-size:15px;}


/* 점검중 */
.const_w {margin-top:43px; padding:172px 0 0 0; font-size:20px; color:#000; text-align:center; background:url('../images/img_const.png') 50% top no-repeat; background-size:98px 107px;}
  .const_w .term {margin-top:15px; font-size:16px;}
    .const_w .term em {color:#cb202d;}