@charset "utf-8";

/* 사이드바 */
#snb h2 {border-bottom:1px solid #d9d9d9;}
#snb .snb_k ul li a {font-size:12px;}

/* helpdesk */
.border-b {position:absolute; bottom:-1px; left:226px; display:block; width:2px; height:1px; font:0/0 arial; overflow:hidden; background:#fff;}
.sub_cont_tit, .sub_cont_tit_exp {font-size:24px; font-family:ngB; font-weight:normal; color:#333; letter-spacing:-2px; line-height:32px;}
.sub_cont_tit_exp {font-family:ng; color:#999;}
.sub_cont_s_exp {font-family:ngB; font-size:11px; color:#a6a6a6; letter-spacing:-1px; line-height:17px;}
/* 이용안내 */
.helpdesk_use {}
	/* 좌측 */
	.hdu_intro {float:left; width:226px; margin-right:2px; padding-top:15px; border-top:1px solid #333;}
		.hdu_intro h3.sub_cont_tit {font-family:ng; color:#999;}
			.hdu_intro h3.sub_cont_tit strong {font-weight:normal; font-family:ngEB; color:#333;}
	.helpdesk_use p {float:left; width:538px; padding:15px 0 18px 0; font-family:ng; font-size:24px; letter-spacing:-2px; color:#999; border-top:1px solid #333;}
	/* 하단컨텐츠 */
	.hdu_cont_wrap {position:relative; .position:static; clear:both; border-bottom:1px solid #333;}
		.hdu_mid_head {clear:both; float:left; display:inline; width:113px; margin:0 2px 0 113px; padding:18px 0 0 0; font-family:ngB; font-size:12px; color:#333; letter-spacing:-1px; border-top:1px solid #d9d9d9;}
		.hdu_content {float:left; width:538px; margin-top:0; padding:16px 0 17px 0; font-family:ngEB; font-size:12px; line-height:20px; color:#999; letter-spacing:-1px; border-top:1px solid #d9d9d9;}
			.lt_m {letter-spacing:-2px;}
			.hdu_content a {color:#999;}
			.hdu_content h5 {padding-top:20px; font-size:12px;}
			.hdu_content h5.first {padding-top:0;}
			.hdu_content table {margin:6px 0 5px 0; border:1px solid #d9d9d9; border-collapse:collapse;}
				.hdu_content table tr th, .hdu_content table tr td {padding-left:10px; text-align:left;}
				.hdu_content table thead tr th {width:70px; height:38px;}
				.hdu_content table thead tr th.first {width:81px;}
				.hdu_content table tbody tr td {height:36px;}
			.hdu_c_btn {margin-top:11px;}
				.hdu_c_btn .b_s_b4d {width:101px; height:25px; margin-right:-2px; padding-top:4px; text-align:center;}
			.hdu_content p.exp {font-size:11px;}
				.hdu_content p.exp em {color:#b86b6b;}