@charset "utf-8";

.b_s_cw {font-family:ngEB; font-size:12px;}


/* 로그인 */
.rgform_wp #content {width:667px; margin:0; padding:0;}
.regist_wp {}
	.regist_wp h2 {margin:0 0 16px 0; font-family:rB; font-size:24px; color:#333; line-height:16px;}
	/* 로그인폼 */
	.rg_login {clear:both; padding:20px 0; border-top:1px solid #d9d9d9;}
		/* 로그인영역 */
		.rgl_f {position:relative; clear:both; float:left; width:470px; font-family:ngEB; font-size:12px; color:#333;}
			.rgl_f p {margin-bottom:10px;}
				.rgl_f label {display:inline-block; width:79px; margin:4px 0 0 0; letter-spacing:-1px;}
				.rgl_f input.iptxt {width:166px; height:26px; margin:0 6px 0 0; padding:0 9px; font-family:dotum; font-size:12px; color:#333; line-height:26px; vertical-align:middle; border:1px solid #d9d9d9; background:#fff;}
				.rgl_f label.id_save {float:none; width:auto; margin:0 0 0 2px; font-size:11px; color:#a6a6a6;}
				.rgl_f .b_s_b4d, .rgl_f .b_s_cw {float:left; display:inline; width:97px; height:43px; margin:5px 0 0 79px; padding:0 0 0 15px; text-align:left;}
				.rgl_f .b_s_cw {width:110px; margin-left:10px; padding-left:0;}
		/* 우측설명 */
		.rg_description {float:left; padding:5px 0 0 0; font-family:ngEB; font-size:11px; color:#a6a6a6; line-height:17px; letter-spacing:-1px;}
			.rg_description h3 {font-size:11px; color:#333;}
	/* 하단설명 */
	.rg_explain {clear:both; float:left; width:100%; padding:15px 0 0 0; font-family:ngEB; font-size:12px; color:#999; line-height:19px; border-top:1px solid #d9d9d9;}
		.rg_explain ul {clear:both; float:left; display:inline; margin:0 0 0 79px;}
			.rg_explain ul li {float:left; width:196px;}
				.rg_explain .b_s_cw {width:110px; height:32px; margin:17px 0 0 0; padding:9px 0 0 0;}

/* 회원/비회원 로그인 */
.rg_mon .rgl_f h3 {position:absolute; top:5px; left:0; font-family:ngEB; font-size:12px; color:#333; letter-spacing:-1px;}
.rg_mon .rgl_f input.iptxt {margin-left:79px;}
.rg_mon .rgl_f input.ip_id {background:url('../images/common/set_rgmon.gif') 10px top no-repeat;}
.rg_mon .rgl_f input.ip_pwd {background:url('../images/common/set_rgmon.gif') 10px -30px no-repeat;}
.rg_mon .rgl_f input.ip_num {background:url('../images/common/set_rgmon.gif') 10px -60px no-repeat;}
.rg_mon .rgl_f input.ip_email {background:url('../images/common/set_rgmon.gif') 10px -90px no-repeat;}

/* 아이디검색 */
.src_explain {clear:both; padding:15px 0 17px 0; font-family:ngEB; font-size:12px; color:#999; line-height:19px; letter-spacing:-1px; border-top:1px solid #d9d9d9;}
.rgl_bl {border-bottom:1px solid #d9d9d9;}
	.rgl_bl .rgl_f {width:100%;}
	.rgl_bl .sep {margin:0 1px 0 -6px; font-family:돋움; color:#999; font-size:12px;}

/* 우측배너 */
.grb_wrap {float:left; display:inline; margin:0 0 0 20px; font:0/0 arial;}


/* 회원가입 */
.rg_process {}
	/* 좌측 */
	.rg_process #snb {width:128px;}
	.rg_process .rg_p {padding-top:0; border-top:0;}
		.rg_process .rg_p ol {margin-top:0;}
	/* 우측 */
	.rg_process #content {width:822px;}
	.rg_process .rg_exp {margin-top:-5px; font-family:ngEB; font-size:12px; color:#a6a6a6; line-height:19px; letter-spacing:-1px;}
/* STEP 1 */
.rg_policy {clear:both; margin:21px 0 0 0; border-top:1px solid #333;}
	/* 서비스 이용약관 */
	.rg_policy_in {position:relative; padding:21px 0 25px 72px;}
		.rg_policy_in h3 {position:absolute; top:20px; left:0; width:70px; font-family:ngEB; font-size:12px; color:#333; line-height:19px; letter-spacing:-1px;}
		.rg_policy_in textarea {width:750px; height:175px; font-family:돋움; font-size:12px; color:#999; line-height:20px; letter-spacing:-1px; border:0;}
	.rgp_in_pp {border-top:1px solid #d9d9d9;}
	/* 개인정보입력 */
	.rg_p_ip_info {clear:both; padding:30px 0 0 0; border-top:1px solid #333;}
		.rg_p_ip_wrap {clear:both; height:149px;}
		/* 좌측입력 */
		.rg_p_ip_user {clear:both; float:left; width:530px; font-family:ngEB; font-size:12px; color:#333;}
			.rg_p_ip_user p {margin-bottom:10px;}
				.rg_p_ip_user label {display:inline-block; width:73px; margin:4px 0 0 0; letter-spacing:-1px;}
				.rg_p_ip_user input.iptxt {width:166px; height:26px; margin:0 6px 0 0; padding:0 9px; font-family:dotum; font-size:12px; color:#333; line-height:26px; vertical-align:middle; border:1px solid #d9d9d9; background:#fff;}
				.rg_p_ip_user .sep {margin:0 1px 0 -6px; font-family:돋움; color:#999; font-size:12px;}
			.rg_p_ip_user ul {clear:both; margin:1px 0 0 73px;}
				.rg_p_ip_user ul li {clear:both; float:left; margin:2px 0 0 0; white-space:nowrap;}
					.rg_p_ip_user ul li label {float:none; margin-left:4px; color:#a6a6a6;}
		/* 우측설명 */
		.rg_p_ip_exp {float:left; width:290px; margin:-5px 0 0 0; font-family:ngEB; font-size:11px; color:#a6a6a6; letter-spacing:-1px; line-height:19px;}
	/* 버튼들 */
	.rg_p_ip_btn {clear:both; padding:20px 0 0 0; border-top:1px solid #333;}
		.rg_p_ip_btn .b_s_b4d, .rg_p_ip_btn .b_s_cw {float:left; display:inline; width:97px; height:43px; margin:0 0 0 73px; padding:0 0 0 15px; text-align:left;}
		.rg_p_ip_btn .b_s_cw {width:110px; margin-left:10px; padding-left:0;}
/* STEP 2 */
.rg_p_step2 {}
	/* 아이디 */
	.rg_p_step2 table tbody tr.sco_id td input.iptxt {width:136px;}
		.rg_p_step2 table tbody tr.sco_id td a.b_s_b4d {margin-left:9px;}
	/* 비밀번호 */
	.rg_p_step2 table tbody tr.sco_password td input.iptxt {width:219px;}
	/* 이메일 수신여부 */
	.rg_p_step2 table tbody tr.sco_email_permit td p.sco_point {margin:-1px 0 0 23px; width:auto;}
	/* SMS 수신여부 */
	.rg_p_step2 table tbody tr.sco_sms_permit td p.sco_point {margin:2px 0 0 23px; width:auto;}

/* STEP 3 */
.rg_process .d_complete, .rg_process .d_rcmd {position:relative; padding:0 0 0 160px; border-top:1px solid #333;}
	.rg_process .d_complete {padding-top:23px; line-height:31px;}
		.rg_process .d_complete h3, .rg_process .d_rcmd h3 {position:absolute; top:0; left:0; width:160px;}
		.rg_process .d_complete h3 {top:23px; font-family:ng; font-weight:normal; font-size:24px; color:#999; line-height:32px; letter-spacing:-3px;}
			.rg_process .d_complete h3 strong {font-size:23px; color:#333;}
			.rg_process .d_complete .btnw {padding-left:0; line-height:14px;}
	.rg_process .d_rcmd {width:auto; padding-top:27px;}
		.rg_process .d_rcmd h3 {top:26px; font-family:ngEB; font-size:12px; color:#a6a6a6; line-height:19px; letter-spacing:-1px;}
		.rg_process .d_rcmd .byheydey {margin-right:0;}
	.rg_process .d_complete .border-b, .rg_process .d_rcmd .border-b {position:absolute; top:-1px; left:158px; clear:both; display:block; width:2px; height:1px; font:0/0 arial; overflow:hidden; background:#fff;}