@charset "euc-kr";


.paging a:hover, .paging strong {color:#0e9f33;}
.button {background-image:url('images/renew/stb_set_green.gif');}
#idx h1 {background:url('images/renew/idx_g_head.jpg') left top no-repeat;}
	#idx h1.idx_hs01 {background-image:url('images/renew/idx_hs01.jpg');}
	#idx h1.idx_hs02 {background-image:url('images/renew/idx_hs02.jpg');}
	#idx h1.idx_hs03 {background-image:url('images/renew/idx_hs03.jpg');}
#g_nav h2 {background-image:url('images/renew/stb_set_green.gif');}
.idx_wadm {background:url('images/renew/stb_set_green.gif') left -280px no-repeat;}
#g_nav h1 {background:url('images/renew/stb_set_green.gif') left top no-repeat;}
.rs_nav ul li a {background-image:url('images/renew/stb_set_green.gif');}
p.stbank a {background:url('images/renew/stb_set_green.gif') left -510px no-repeat;}
h1.rnnj {background:url('images/renew/stb_set_green.gif') left -150px no-repeat;}
h2.gsHead2 {background:url('images/renew/stb_set_green.gif') left -228px no-repeat;}
table.gjsTbl tr.trOver td {background-color:#def1e3;}
.gjs-wrap {border-top:3px solid #3cbd6e;}
.gslm_btn a {background:url('images/renew/bg_gsbtn_green.gif') right -20px no-repeat;}
.gslm_btn a i {color:#269d4d; background:url('images/renew/bg_gsbtn_green.gif') left -20px no-repeat;}
.gslm_btn a.current {background:url('images/renew/bg_gsbtn_green.gif') right top no-repeat;}
.gslm_btn a.current i {background:url('images/renew/bg_gsbtn_green.gif') left top no-repeat;}
.gjs_progress table.gjsTbl {border-top:2px solid #3cbd6e;}
.pop_wrap .head_wrap {border-bottom:3px solid #3cbd6e;}
.pop_wrap .head_wrap h1 {background:url('images/renew/bg_pop_g_headt.gif') 15px 11px no-repeat;}