@charset "euc-kr";
@import "us_common.css";
h2.step_1	{padding-bottom:5px; font-size:0; line-height:0;}
h2.step_2	{padding-bottom:35px;}
h2.step_3	{padding-bottom:5px; font-size:0; line-height:0;}
h3	{font-weight:bold; padding:5px 0 7px 21px; position:relative; font-size:14px; color:#363636; background:url(http://gimage.interpark.com/renewPark/us_img/bookcart/h3.gif) no-repeat 10px 8px;}
h3	span.s_check	{position:absolute; left:103px; top:5px; font-size:12px; font-weight:normal;}
h3	span.s_check	input	{vertical-align:-1px;}
h3	span.s_btn	{position:absolute; right:0; bottom:5px;}
h3	b.arrow	{position:absolute; color:#3492df; font-size:12px; padding-right:8px; right:0; bottom:5px; background:url(http://gimage.interpark.com/renewPark/us_img/bookcart/arrow_blue.gif) no-repeat right 1px;}
h3	b.arrow	a	{color:#3492df;}
h3	span	{font-weight:normal; font-size:11px;}
h3	span.font_1	{font-weight:bold; font-size:14px;}
.font_1{color:#d22728;}a.font_1{color:#d22728;}
.font_2{color:#da6464;}a.font_2{color:#da6464;}
.font_3{color:#000000;}a.font_3{color:#000000;}
.font_4{color:#3492df;}a.font_4{color:#3492df;}
.font_5{color:#6f74a8;}a.font_5{color:#6f74a8;}
.font_6{color:#ffffff;}a.font_6{color:#ffffff;}
.font_7{color:#fff568;}a.font_7{color:#fff568;}

.la	{color:#f35e2a;}
.ko	{color:#33baea;}

.font_8{color:#3492df; padding-left:7px; background:url(http://gimage.interpark.com/renewPark/us_img/bookcart/dot_blue.gif) no-repeat left 3px;}

.Fthrough {text-decoration:underline;}

.in717 {background:#f7f7f7; margin:8px 0 10px 0; clear:both; overflow:hidden;}
.in717 img {vertical-align:middle; margin-right:10px;}
.in717 a img {margin-top:-2px; margin:0;}

.Fcate{color:#3492df; width:48px; display:inline-block;}
.Farrow	{background:url(http://gimage.interpark.com/renewPark/us_img/bookcart/arrow_black.gif) no-repeat left 3px; padding-left:8px;}
.Farrow2	{font-size:11px; letter-spacing:-1px; background:url(http://gimage.interpark.com/renewPark/us_img/bookcart/arrow_black.gif) no-repeat left 2px; padding-left:8px;}
.h3Wrap	{position:relative; clear:both; height:40px; width:100%;}
.h3Wrap	h3	{position:absolute; left:0; bottom:0px;}
.h3Wrap	.bar	{font-weight:normal; color:#d9d9d9;}

.h3Wrap	.layer	{position:absolute; right:0; top:34px; background:#fff; padding:10px 12px; overflow:hidden; white-space:nowrap; border:1px solid #666;}
.h3Wrap	.layer	.tit {padding:1px 0 6px 0; border-bottom:1px solid #e6e6e6;}
.h3Wrap	.layer	.tit	img	{vertical-align:-3px;}
.h3Wrap	.layer	.txt	{padding:9px 0 7px 0;}
.h3Wrap	.layer	ul	{font-size:11px; color:#777; line-height:17px;}
.h3Wrap	.layer	.close	{position:absolute; right:12px; top:9px;}	

/* 2012-10-23 Free Shopping Layer */
.freesh_layer{position:relative; height:0px; width:100%;}
.freeshop_layer	{position:absolute;right:0;top:-78px;overflow:hidden;width:234px; height:76px;background:url(http://gimage.interpark.com/renewPark/us_img/bookcart/layer_freeshop_bg.gif) no-repeat left top;line-height:0px;}
.freeshop_layer	.close	{position:absolute; right:9px; top:9px;}
.freeshop_layer	.text {padding:10px 0 0px 10px;}
.freeshop_layer	.text span.fsbtn{margin-left:2px;}

.freeshop_layer2	{position:absolute;right:0;top:-72px;overflow:hidden;width:234px; height:76px;background:url(http://gimage.interpark.com/renewPark/us_img/bookcart/layer_freeshop2_bg.gif) no-repeat left top;line-height:0px;}
.freeshop_layer2	.close	{position:absolute; right:9px; top:9px;}
.freeshop_layer2	.text {padding:10px 0 0px 10px;}
.freeshop_layer2	.text span.fsbtn{margin-left:2px;}
/* //2012-10-23 Free Shopping Layer */

.h3Wrap	.check	{position:absolute; left:170px; bottom:7px;}
.h3Wrap	.check	input	{vertical-align:-1px;}
.h3Wrap	.btn	{position:absolute; right:0; bottom:2px; font-size:5px;}
.h3Wrap	.soting	{position:absolute; right:0; bottom:5px;}
.h3Wrap	.soting	.pl	{padding-left:40px;}
.h3Wrap	.soting	.pl	img	{vertical-align:-2px;}
.h3Wrap_line	{position:relative; clear:both; height:31px; overflow:hidden; width:100%;}
.h3Wrap_line	h3	{position:absolute; left:0; top:5px;}
.h3Wrap_line	.all	{vertical-align:-2px; margin-left:10px;}
.h3Wrap_line	.btn	{position:absolute; right:0; top:8px; font-size:5px;}
.bookcartT	{width:100%; clear:both; background:url(http://gimage.interpark.com/renewPark/us_img/bookcart/bg_th_blue.gif) no-repeat left top;}
.bookcartT	th	{height:30px; font-weight:bold; color:#fff; background:url(http://gimage.interpark.com/renewPark/us_img/bookcart/bar_th_blue.gif) no-repeat left 8px;}
.bookcartT	th.none	{background:none;}
.bookcartT	th.check	{background:none; width:30px;}
.bookcartT	th.tit	{background:none; width:620px; text-align:left;}
.bookcartT	th.tit	.btn	{margin:0 100px 0 0;}
.bookcartT	th.ea	{width:110px;}
.bookcartT	td.line	{font-size:0; padding:0; line-height:0; height:1px; background:url(http://gimage.interpark.com/renewPark/us_img/bookcart/line_dot.gif) repeat-x left top #fff;}
.bookcartT	td	{padding:10px 0; background:#fff;}
.bookcartT	td.tl	{padding:10px 20px;}
.bookcartT	td.check	{text-align:center;}
.bookcartT	td.price	{padding:0 10px; white-space:nowrap; color:#7d7d7d; font-size:11px;}
.bookcartT	td.price	.font_2	{font-size:12px;}
.bookcartT	td.Fpoint	{text-align:center; width:80px; white-space:nowrap;}
.bookcartT	td.mod	{text-align:center;}
.bookcartT	td.mod	.input	{text-align:center; vertical-align:middle; padding-top:2px; height:13px; width:30px; font-size:11px; background:#f2f2f2; color:#777; border:1px solid #c9c9c9;}
.bookcartT	img	{vertical-align:middle;}
.bookcartT	img.ico	{vertical-align:-2px;}
.bookcartT	img.btn	{vertical-align:-6px;}
.bookcartT	input	{vertical-align:-2px;}
.bookcartT	td.sum	{font-size:14px; background:#f8f8f8; border-bottom:1px solid #ccc; text-align:right; padding:15px 25px;}
.order_end	{padding:0 0 30px 0; border-bottom:1px solid #464646; margin:10px 0 30px 0;}
.order_end	.con	{width:670px; margin:0 auto;}
.order_end	.con	.num	{padding:20px 0; text-align:center; font-size:16px; background:url(http://gimage.interpark.com/renewPark/us_img/bookcart/line_dot.gif) repeat-x left bottom;}
.order_end	.con	.txt	{padding:20px 0 10px 0;}
.giftWrap	{width:100%; overflow:hidden; border-bottom:1px solid #464646;}
.giftWrap	.selT		{width:100%;}
.giftWrap	input	{vertical-align:-1px;}
.giftWrap	.selT	th	{height:53px; text-align:left; border-top:2px solid #464646; border-bottom:1px solid #464646; background:#f7f7f7;}
.giftWrap	.selT	th.btn	{padding:0 20px; width:130px;}
.giftWrap	.selT	td.line {font-size:0; padding:0; line-height:0; height:1px; background:url(http://gimage.interpark.com/renewPark/us_img/bookcart/line_dot.gif) repeat-x left top #fff;}
.giftWrap	.selT	td	ul{padding-bottom:3px;}
.giftWrap	.selT	td	ul	li.b	{padding:0; padding-bottom:3px;}
.giftWrap	.selT	td	ul	li	{padding-left:23px; line-height:23px;}
.giftWrap	.selT	td	{padding:10px 0 10px 0;}
.bookcart_btn	{text-align:right; padding:5px 0 25px 0; font-size:5px; position:relative;}
.bookcart_btn	p.txt	{position:absolute; left:0; font-size:11px; top:20px;}
.bookcart_btn	p.txt	span	{font-size:12px;}


.bookcart_btn	p.star	{position:absolute; left:0; font-size:12px; top:15px;}
.bookcart_btn	p.star	b	{}

.bookcartList	{border-top:1px solid #666; width:960px; overflow:hidden; padding:15px 0 0 0;}
.bookcartList	.list	{width:120px; overflow:hidden; float:left; position:relative;}
.bookcartList	.checkbox	{position:absolute; top:0; left:0;}
.bookcartList	.img	{height:129px; overflow:hidden; text-align:center; margin:0 auto; width:102px; background:url(http://gimage.interpark.com/renewPark/us_img/bookcart/bg_shadow.gif) no-repeat left bottom;}
.bookcartList	.img	a	img	{width:86px; height:127px; border:1px solid #b9b8b8;}
.bookcartList	.img	a:hover	img	{width:84px; height:125px; border:2px solid #da6464;}
.bookcartList	p	{width:88px; margin:0 auto; padding:5px 0 0 0;}
.bookcartList	p	a	{color:#7d7d7d;}
.bookcartList	p.Fprice	{color:#da6464;}
.bookcartList	p.Fpoint	{padding:2px 0 0 0;}

.box_gray	{border:1px solid #e0e0e0; overflow:hidden; clear:both;}
.box_gray	.con	{overflow:hidden; border:1px solid #fff; background:#f7f7f7; padding:14px 19px;}
.box_gray	.con	ul.dot	{line-height:21px;}
.box_gray	.con	ul.dot	li	{color:#7d7d7d; background:url(http://gimage.interpark.com/renewPark/us_img/bookcart/dot_gray.gif) no-repeat left 6px; padding:0 0 0 9px;}
.box_gray	.infoT	{width:100%;}
.box_gray	.infoT	th	{padding:5px 0; text-align:left;}
.box_gray	.infoT	th	span	{background:url(http://gimage.interpark.com/renewPark/us_img/bookcart/dot_gray.gif) no-repeat left 4px; padding:0 0 0 9px;}
.box_gray	.infoT	th	span.arrow	{background:url(http://gimage.interpark.com/renewPark/us_img/bookcart/arrow_black2.gif) no-repeat left 2px; padding:0 0 0 9px;}
.box_gray	.infoT	th	span.ml	{margin-left:45px; display:inline-block;}
.box_gray	.infoT	th	.Fprice	{font-size:14px; color:#da6464;}
.box_gray	.infoT	th	.Fpoint	{font-size:14px; color:#3492df;}

.box_gray	.infoT	td	{padding:5px 0; white-space:nowrap;}
.box_gray	.infoT	td	.radio	{vertical-align:-2px;}
.box_gray	.infoT	td	img	{vertical-align:middle;}
.box_gray	ul.sum	{line-height:23px;}
.box_gray	ul.sum	li	{font-size:12px;}
.box_gray	ul.sum	li	.Fpoint	{color:#3492df; font-size:14px;}
.box_gray	ul.sum	li	.Fprice	{color:#da6464; font-size:14px;}
.box_gray	ul.sum	li	.space	{padding-left:19px;}


.box_gray	ul.pri	{line-height:23px; padding-left:10px;}
.box_gray	ul.pri	li	{font-size:12px; padding:0 0 0 9px; background:url(http://gimage.interpark.com/renewPark/us_img/bookcart/dot_gray.gif) no-repeat left 8px;}
.box_gray	ul.pri	li	.Fpoint	{color:#3492df; font-size:14px;}
.box_gray	ul.pri	li	.Fprice	{color:#da6464; font-size:14px;}
.box_gray	ul.pri	li	.space	{padding-left:19px;}



.box_grayLine	{border:1px solid #cccccc; margin:15px 0; padding:13px 30px 10px 20px; overflow:hidden; clear:both;}
.box_grayLine	ul.info	{line-height:21px; padding:5px 0;}
.box_grayLine	ul.info	li.tit	{color:#da6464; font-weight:bold; background:url(http://gimage.interpark.com/renewPark/us_img/bookcart/dot_red.gif) no-repeat left 7px; padding-left:9px;}
.box_grayLine	ul.info	li.tit1	{color:#4d4d4d; font-weight:bold; background:url(http://gimage.interpark.com/renewPark/us_img/bookcart/dot_black.gif) no-repeat left 7px; padding-left:9px;}
.box_grayLine	ul.info	li.tt	{color:#3492df; background:url(http://gimage.interpark.com/renewPark/us_img/bookcart/arrow_blue2.gif) no-repeat 10px 10px; padding:5px 0 0 19px;}
.box_grayLine	ul.info	li	{background:url(http://gimage.interpark.com/renewPark/us_img/bookcart/dot.gif) no-repeat 20px 7px; padding-left:27px;}
.box_grayLine	ul.info	li.red	{color:#da6464;}
.box_grayLine	ul.info	li.blue	{color:#3492df; font-size:11px;}
.box_grayLine	ul.dot	{line-height:18px;}
.box_grayLine	ul.dot	li	{color:#7d7d7d; font-size:11px; background:url(http://gimage.interpark.com/renewPark/us_img/bookcart/dot_gray.gif) no-repeat left 6px; padding:0 0 0 9px;}
.box_blue	{border:4px solid #6a6d86; overflow:hidden; clear:both;}
.box_blue	.con	{overflow:hidden; padding:14px 19px; border:1px solid #fff; background:#f7f7f7;}
.box_blue	.con	ul.sum	{line-height:23px;}
.box_blue	.con	ul.sum	li	{font-size:14px;}
.box_blue	.con	.pr1	{padding-right:20px;}
.box_blue	.con	.pr2	{padding-right:10px;}
.box_blue	.con	.font_3	{margin-right:5px;}
.box_blueLine	{border:2px solid #6a6d86; position:relative; background:#f7f7f7; padding:16px 20px 17px 20px; overflow:hidden; clear:both;}
.box_blueLine	.line	{border-top:1px solid #e6e6e6; height:15px; margin-top:10px;}
.box_blueLine	ul.sum	{line-height:23px;}
.box_blueLine	ul.sum	li	{font-size:14px;}
.box_blueLine	.radio	{vertical-align:-2px;}
.box_blueLine	.result	{position:absolute; right:15px; bottom:12px;}


.box_blueLine	.infoT	{width:100%;}
.box_blueLine	.infoT	th	{padding:5px 0; text-align:left;}
.box_blueLine	.infoT	th	span	{background:url(http://gimage.interpark.com/renewPark/us_img/bookcart/dot_gray.gif) no-repeat left 4px; padding:0 0 0 9px;}
.box_blueLine	.infoT	th	span.arrow	{background:url(http://gimage.interpark.com/renewPark/us_img/bookcart/arrow_black2.gif) no-repeat left 2px; padding:0 0 0 9px;}
.box_blueLine	.infoT	th	span.ml	{margin-left:45px; display:inline-block;}


.box_sLine	{border:1px solid #6a6d86; position:relative; padding:15px 20px; overflow:hidden; clear:both;}
.box_sLine	.line	{border-top:1px solid #e6e6e6; height:15px; margin-top:10px;}
.box_sLine	ul	{line-height:23px;}
.box_sLine	ul	li	{font-size:12px; padding-left:8px; background:url(http://gimage.interpark.com/renewPark/us_img/bookcart/dot_blue.gif) no-repeat left 7px;}
.box_sLine	.radio	{vertical-align:-2px;}
.box_sLine	.result	{position:absolute; right:15px; bottom:12px;}
.box_sLine	ul.sum	{line-height:23px;}
.box_sLine	ul.sum	li	{font-size:14px; padding:0; background:none;}

.box_sLine	.bg_sum_1	{position:absolute; right:15px; top:15px; width:205px; height:32px; background:url(http://gimage.interpark.com/renewPark/us_img/bookcart/bg_sum_1.gif) no-repeat left top;}
.box_sLine	.bg_sum_2	{position:absolute; right:15px; top:54px; width:205px; height:32px; background:url(http://gimage.interpark.com/renewPark/us_img/bookcart/bg_sum_2.gif) no-repeat left top;}
.box_sLine	.bg_sum_1	p,
.box_sLine	.bg_sum_2	p	{text-align:right; font-weight:bold; color:#fff568; font-size:14px; padding:10px 10px 0 0;}

.box_price	{display:inline-block; vertical-align:middle; font-weight:bold; color:#fff; position:relative; padding:10px 16px 0 16px; font-size:14px; height:22px; background:url(http://gimage.interpark.com/renewPark/us_img/bookcart/txt_red_right.gif) no-repeat right top;}
.box_price	span	{position:absolute; left:0; top:0; width:16px; height:32px; display:inline-block; background:url(http://gimage.interpark.com/renewPark/us_img/bookcart/txt_red_left.gif) no-repeat left top;}
.box_price	b	{color:#fff568;}
.box_price	b.point	{color:#fff;}
.box_total_price	{display:inline-block; vertical-align:middle; font-weight:bold; color:#fff; position:relative; padding:10px 16px 0 16px; font-size:14px; height:22px; background:url(http://gimage.interpark.com/renewPark/us_img/bookcart/txt_blue_2.gif) no-repeat right top;}
.box_total_price	span	{position:absolute; left:0; top:0; width:16px; height:32px; display:inline-block; background:url(http://gimage.interpark.com/renewPark/us_img/bookcart/txt_blue_1.gif) no-repeat left top;}
.box_total_price	b	{color:#fff;}

.box_sLine	.point_table	th	{width:115px; vertical-align:top; padding:5px 5px 2px 10px; text-align:left; background:url(http://gimage.interpark.com/renewPark/us_img/bookcart/dot_point.gif) no-repeat 2px 7px;}
.box_sLine	.point_table	td	{padding:5px 5px 2px 5px; vertical-align:top;}
.box_sLine	.point_table	td	img{vertical-align:-5px;}
.box_sLine	.point_table	td.td1	{width:300px;}
.box_sLine	.point_table	td.td2	{width:250px;}
.box_sLine	.point_table	td	input.input	{width:70px;}

.box_point	{display:inline-block; vertical-align:middle; font-weight:bold; color:#fff; position:relative; padding:11px 12px 0 35px; font-size:12px; height:22px; background:url(http://gimage.interpark.com/renewPark/us_img/bookcart/txt_point_2.gif) no-repeat right top;}
.box_point	span	{position:absolute; left:0; top:0; width:35px; height:32px; display:inline-block; background:url(http://gimage.interpark.com/renewPark/us_img/bookcart/txt_point_1.gif) no-repeat left top;}
.box_point	b	{color:#fff; font-size:14px;}

.box_price_blue	{display:inline-block; vertical-align:middle; font-weight:bold; color:#fff; position:relative; padding:10px 44px 0 16px; font-size:14px; height:22px; background:url(http://gimage.interpark.com/renewPark/us_img/bookcart/txt_blue_right.gif) no-repeat right top;}
.box_price_blue	span	{position:absolute; left:0; top:0; width:16px; height:32px; display:inline-block; background:url(http://gimage.interpark.com/renewPark/us_img/bookcart/txt_blue_left.gif) no-repeat left top;}
.box_price_blue	b	{color:#fff568;}

.box_blueLine	ul.sel	{border-bottom:1px solid #fff; margin-bottom:13px;}
.box_blueLine	ul.sel	li	{border-bottom:1px solid #ddd; color:#444; font-size:12px; padding:3px 0 13px 8px; background:url(http://gimage.interpark.com/renewPark/us_img/bookcart/dot_blue.gif) no-repeat left 7px;}

ul.txt_sel	{border:1px solid #ddd; background:#f9f9f9; padding:20px; margin:15px 0;}
ul.txt_sel	li	{color:#444; font-size:12px;  line-height:20px; padding:1px 0 0 8px; background:url(http://gimage.interpark.com/renewPark/us_img/bookcart/dot_blue.gif) no-repeat left 7px;}




.box_blueLine	ul.sum	li	.box_price	{height:27px; padding-top:6px; margin-left:30px;}
.box_blueLine	ul.sum	li	.box_total_price	{height:27px; padding-top:6px;}
.box_blueLine	ul.sum	li	.box_point	{height:27px; padding-top:6px;}
.box_blue	ul.sum	li	.box_price	{height:27px; padding-top:5px; margin-top:-2px;}
.box_blue	ul.sum	{padding:12px 0 0 20px;}
.dot_blue	{color:#3492df; background:url(http://gimage.interpark.com/renewPark/us_img/bookcart/dot_blue.gif) no-repeat left 4px; padding:0 0 0 9px;}
.card_info	{overflow:hidden; width:910px; position:relative; background:url(http://gimage.interpark.com/renewPark/us_img/bookcart/line_card_info.gif) repeat-y 30px top;}
.card_info	.box_1	{font-weight:bold; width:171px; padding-top:5px; float:left; overflow:hidden;}
.card_info	.box_1	.radio	{vertical-align:-2px;}
.card_info	.box_2	{width:515px; float:left; overflow:hidden;}
.card_info	.result	{position:absolute; right:0; top:40px;}
.card_info	.infoT	{margin-left:50px; width:465px;}
.card_info	.infoT	th	{padding:2px 0; text-align:left;}
.card_info	.infoT	th	span	{background:url(http://gimage.interpark.com/renewPark/us_img/bookcart/dot_gray.gif) no-repeat left 4px; padding:0 0 0 9px;}
.card_info	.infoT	td	{padding:4px 0; white-space:nowrap;}
.card_info	.infoT	td	img	{vertical-align:middle;}
.card_info	.infoT	td	.txt_check	{padding-right:20px;}
.card_info	.infoT	td	input	{vertical-align:-2px;}
.card_info	.infoT	td	select.space	{margin-left:10px;}
.order_end_info	{width:100%; clear:both; margin-top:30px;}
.order_end_info	.leftWrap	{width:477px; float:left;}
.order_end_info	.rightWrap	{width:468px; float:right;}
.order_end_info	.rightWrap	.box_gray	{margin:0 0 15px 0;}
.order_end_info	.rightWrap	.box_grayLine	{margin:0;}
.order_end_info	.infoT	{margin-left:-5px; white-space:nowrap;}
.order_end_info	.infoT	th	{padding:7px 8px 6px 0; text-align:left;}
.order_end_info	.infoT	th	span	{background:url(http://gimage.interpark.com/renewPark/us_img/bookcart/dot_gray.gif) no-repeat left 4px; padding:0 0 0 9px;}
.order_end_info	.infoT	td	{padding:7px 0 6px 0;}
.order_end_info	.infoT	td	img	{vertical-align:middle;}


.order_end_info_ebook	{width:100%; clear:both; margin-top:30px;}
.order_end_info_ebook	.leftWrap	{display:none;}
.order_end_info_ebook	.rightWrap	{width:100%; clear:both;}
.order_end_info_ebook	.rightWrap	.box_gray	{margin:0 0 15px 0;}
.order_end_info_ebook	.rightWrap	.box_grayLine	{margin:0;}


.box_blue_sum	{width:960px; position:relative; height:107px; background:url(http://gimage.interpark.com/renewPark/us_img/bookcart/bg_sumbox.gif) no-repeat left top;}
.box_blue_sum	.ul_1	{position:absolute; left:24px; top:20px;}
.box_blue_sum	.ul_2	{position:absolute; left:330px; top:20px;}
.box_blue_sum	ul li	{padding:0 0 7px 10px; line-height:18px; background:url(http://gimage.interpark.com/renewPark/us_img/bookcart/dot_gray.gif) no-repeat left 6px;}
.box_blue_sum	ul li	b	{font-size:14px;}
.box_blue_sum	ul li	span	{width:100px; display:inline-block;}
.box_blue_sum	ul li.none	{background:none; padding:0 0 10px 20px;}
.box_blue_sum	ul li.none	span	{width:90px;}
.box_blue_sum	.ly_1	{position:absolute; font-size:16px; padding-top:6px; left:630px; top:25px; width:306px; text-align:center; color:#fff;}
.box_blue_sum	.ly_1	span	{color:#fff568;}
.box_blue_sum	.ly_2	{position:absolute; left:630px; top:72px; font-size:11px; color:#000;}
.box_blue_sum	.ly_2	img	{vertical-align:middle;}
.box_blue_sum	.ly_2	select	{vertical-align:middle;}



.box_blue_ipoint	{width:960px; position:relative; height:107px; background:url(http://gimage.interpark.com/renewPark/us_img/bookcart/bg_sumbox_ipoint.gif) no-repeat left top;}
.box_blue_ipoint	.ul_1	{position:absolute; left:24px; top:20px;}
.box_blue_ipoint	.ul_2	{position:absolute; left:330px; top:20px;}
.box_blue_ipoint	ul li	{padding:0 0 7px 10px; line-height:18px; background:url(http://gimage.interpark.com/renewPark/us_img/bookcart/dot_gray.gif) no-repeat left 6px;}
.box_blue_ipoint	ul li	b	{font-size:14px;}
.box_blue_ipoint	ul li	span	{width:100px; display:inline-block;}
.box_blue_ipoint	ul li.none	{background:none; padding:0 0 10px 20px;}
.box_blue_ipoint	ul li.none	span	{width:90px;}
.box_blue_ipoint	.ly_1	{position:absolute; font-size:14px; padding-top:6px; left:570px; top:25px; width:240px; text-align:center; color:#fff;}
.box_blue_ipoint	.ly_1	span	{color:#fff568;}
.box_blue_ipoint	.ly_2	{position:absolute; left:630px; top:67px; font-size:11px; color:#000;}
.box_blue_ipoint	.ly_2	img	{vertical-align:middle;}
.box_blue_ipoint	.ly_2	select	{vertical-align:middle;}
.box_blue_ipoint	.ly_point	{position:absolute; font-size:12px; padding-top:6px; left:845px; top:25px; width:100px; text-align:left; color:#fff;}

.box_blue_ipoint2	{width:960px; position:relative; height:135px; background:url(http://gimage.interpark.com/renewPark/us_img/bookcart/bg_sumbox_ipoint2.gif) no-repeat left top;}
.box_blue_ipoint2	.ul_1	{position:absolute; left:24px; top:20px;}
.box_blue_ipoint2	.ul_2	{position:absolute; left:330px; top:20px;}
.box_blue_ipoint2	ul li	{padding:0 0 7px 10px; line-height:18px; background:url(http://gimage.interpark.com/renewPark/us_img/bookcart/dot_gray.gif) no-repeat left 6px;}
.box_blue_ipoint2	ul li	b	{font-size:14px;}
.box_blue_ipoint2	ul li	span	{width:100px; display:inline-block;}
.box_blue_ipoint2	ul li.none	{background:none; padding:0 0 10px 20px;}
.box_blue_ipoint2	ul li.none	span	{width:90px;}
.box_blue_ipoint2	.ly_1	{position:absolute; font-size:14px; padding-top:6px; left:570px; top:25px; width:240px; text-align:center; color:#fff;}
.box_blue_ipoint2	.ly_1	span	{color:#fff568;}
.box_blue_ipoint2	.ly_2	{position:absolute; right:15px; top:75px; font-size:11px; color:#444; text-align:right;}
.box_blue_ipoint2	.ly_2	img	{vertical-align:middle;}
.box_blue_ipoint2	.ly_2	span.re	{display:block; padding:7px 0;}
.box_blue_ipoint2	.ly_2	select	{vertical-align:middle;}
.box_blue_ipoint2	.ly_3	{position:absolute; left:580px; top:75px; color:#333;}
.box_blue_ipoint2	.ly_3	li	{background:none; padding:0 0 5px 0; font-size:12px;}
.box_blue_ipoint2	.ly_3	li	b	{font-size:12px; padding-left:3px;}
.box_blue_ipoint2	.ly_3	li	input	{vertical-align:-2px;}
.box_blue_ipoint2	.ly_point	{position:absolute; font-size:12px; padding-top:6px; left:845px; top:25px; width:100px; text-align:left; color:#fff;}


.helpLayer	ul.dot	{font-size:11px; color:#4d4d4d;}
.helpLayer	ul.dot	li	{padding:0 0 0 8px; background:url(http://gimage.interpark.com/renewPark/us_img/bookcart/dot_gray.gif) no-repeat left 5px;}

/*--20120903Ä³³ª´Ù¹è¼Û_·¹ÀÌ¾îÆË¾÷Ãß°¡--*/
.canadaPopGuide{margin:0 auto; position:absolute; width:548px; height:221px;  margin-top:-215px; margin-left:200px; display:block; border:1px solid #123456;z-index:2900;}
.canadaPop { width:548px; height:221px; background:url(http://gimage.interpark.com/renewPark/us_img/bookcart/canada_pop_bg.gif) no-repeat left top;}
.canadaPop .tit{width:530px; height:54px;padding-left:9px; padding-top:9px;}
.canadaPop .contentsBox {padding-left:26px; padding-top:16px;}
.canadaPop .contents{width:495px; height:50px; background-color:#f7f7f7; font-size:12px; font-family:Dotum; letter-spacing:-1px; color:#666; font-weight:bold; line-height:18px;text-align:center; padding-top:15px;}
.canadaPop .btnBox {margin-left:196px; width:156px; margin-top:20px;}
.canadaPop .btnBox .btn01{margin:0px;}
.canadaPop .btnBox .btn02{margin-left:1px;}
/*--//20120903Ä³³ª´Ù¹è¼Û_·¹ÀÌ¾îÆË¾÷Ãß°¡--*/




