@charset "euc-kr";
@import "us_common.css";
#CENTER #Container #LEFT {width:189px; float:left;}
#LEFT #cnb_main	{width:189px; position:relative; z-index:100; height:529px; border-bottom:1px solid #ccc;}
#LEFT #cnb_main	a	{text-decoration:none;}
#LEFT #cnb_main	h2	{cursor:pointer; width:189px; clear:both; display:block; overflow:hidden; }
#LEFT #cnb_main	ul	{width:160px; margin:0 auto; padding-top:7px;}
#LEFT #cnb_main	ul	li	{width:80px; white-space:nowrap; display:block; height:20px; float:left;}
#LEFT #cnb_main	ul	li	span	{display:none; padding:6px 0 7px 0; line-height:18px; background:#fff; border:1px solid #333; position:absolute;z-index:2;}
#LEFT #cnb_main	ul	li	span	a	{display:block; padding:0 10px;}
#LEFT #cnb_main	ul	li	span	a:hover	{background:#eee;}
#LEFT #cnb_main	ul	li.line	{clear:both; width:166px; height:7px; background:url(http://gimage.interpark.com/renewPark/us_img/main1112/dot_cnb.gif) repeat-x left top;}
#LEFT #cnb_main	.banner	{position:absolute; left:14px; bottom:10px; z-index:1;}
#LEFT .book	#book div{display:block; position:relative; height:476px; border-left:1px solid #ccc; border-right:1px solid #ccc;}
#LEFT .ebook #book div {display:none;}
#LEFT .book	#ebook div {display:none;}
#LEFT .ebook #ebook div {display:block; position:relative; height:477px; border-left:1px solid #ccc; border-right:1px solid #ccc;}
#LEFT .book	#book h2	{height:27px; background:url(http://gimage.interpark.com/renewPark/us_img/main1112/tab_cnb_1on.gif) no-repeat left top;}
#LEFT .ebook #book h2	{height:27px; background:url(http://gimage.interpark.com/renewPark/us_img/main1112/tab_cnb_1off.gif) no-repeat left top;}
#LEFT .book	#ebook h2	{height:26px; background:url(http://gimage.interpark.com/renewPark/us_img/main1112/tab_cnb_2off.gif) no-repeat left top;}
#LEFT .ebook #ebook h2	{height:26px; background:url(http://gimage.interpark.com/renewPark/us_img/main1112/tab_cnb_2on.gif) no-repeat left top;}

#CENTER #Container #CONTENT {width:761px; float:right;}
#CENTER h3	{padding:5px 0 0 0; clear:both;}

.keyList {position:relative; overflow:hidden; clear:both; width:100%; padding-bottom:15px; border-bottom:1px solid #ccc;}
.keyList h4	{position:relative; margin:0 10px 16px 10px; padding:35px 0 7px 0; background:url(http://gimage.interpark.com/renewPark/us_img/keyword/line_key.gif) repeat-x left bottom;}
.keyList h4	b {font-weight:bold; color:#1092d1; font-size:14px; background:url(http://gimage.interpark.com/renewPark/us_img/keyword/dot_key.gif) no-repeat left 3px; padding:0 0 0 10px;}
.keyList h4	.date {position:absolute; right:5px; top:37px; font-weight:normal; font-size:11px; color:#888;}

.keyList ul.list {padding-left:20px; overflow:hidden;}
.keyList ul.list li.img	{width:100px; float:left;}
.keyList ul.list li.img	img	{border:1px solid #ccc; width:85px;}
.keyList ul.list li.txt_ly {display:none; float:left; width:330px;}
.keyList ul.list li	.tit{padding-top:3px;}
.keyList ul.list li	.tit a{color:#333; font-weight:bold;}
.keyList ul.list li	.Fpub {padding:3px 0 8px 0; font-size:11px; color:#999;}
.keyList ul.list li	.Fprice {color:#db2828;}
.keyList ul.list li	.Fprice span{color:#0c90cf;}
.keyList ul.list li	.txt {line-height:17px; padding:5px 10px 0 0; color:#888;}

.pageNavi {padding:10px 0; text-align:center; overflow:hidden; clear:both; vertical-align:top; cursor:default;}
.pageNavi a,
.pageNavi strong {font-weight:bold; color:#3a3a3a; vertical-align:top; display:inline-block; text-decoration:none; padding:4px 8px 2px 8px; border:1px solid #ebebeb; margin:0 -1px; position:relative;}
.pageNavi strong {border:1px solid #000; color:#000;}
.pageNavi a:hover,
.pageNavi a:active,
.pageNavi a:focus {border:1px solid #de4d52; color:#de4d52; text-decoration:none;}
.pageNavi span.blank {padding:0 4px; height:0; font-size:0; line-height:0; vertical-align:top;}
.pageNavi span.arrow	img	{margin:5px 0 0 0; vertical-align:-4px;}
.pageNavi span.arrow a,
.pageNavi span.arrow a:hover,
.pageNavi span.arrow a:active,
.pageNavi span.arrow a:visited,
.pageNavi span.arrow a:focus {padding:0; margin:0; border:0;}
.pageNavi span.totalTxt {color:#777; font-size:11px; margin:5px 7px 0 0; display:inline-block;}
