@charset "euc-kr";
@import "us_common_ssl.css";
@import "us_display_ssl.css";
.search_cnb	{width:180px; background:url(https://sslgimage.interpark.com/renewPark/us_img/search/bg_search_cnb.gif) repeat-y left top;}
.search_cnb	.h2	{font-size:0; line-height:0;}
.search_cnb	ul{font-size:11px; padding:8px 10px 14px 20px; background:url(https://sslgimage.interpark.com/renewPark/us_img/search/bg_search_cnb_bottom.gif) no-repeat left bottom;}
.search_cnb	ul	li{line-height:19px;}
p.banner	{padding-top:10px;}
p.banner	img	{width:178px; border:1px solid #c1c1c1;}
.search_how	{padding:23px 0 4px 9px; border-bottom:1px solid #545352; color:#466fb7; clear:both; background:url(https://sslgimage.interpark.com/renewPark/us_img/search/dot_blue.gif) no-repeat left 27px;}
.search_how	span.bar	{color:#444;}
.review_how	{font-size:11px; color:#333; font-weight:bold; padding:25px 0 5px 0; border-bottom:1px solid #545352;}
.review_how	span	{font-size:12px; color:#d22728;}
.search_cateWrap	{width:761px; border:2px solid #7b83ac; overflow:hidden;}
.search_cateWrap	.con	{border:1px solid #fff; background:#f7f7f7; overflow:hidden; padding:9px 0 6px 0; position:relative;}
.search_cateWrap	.wrap	{position:relative; overflow:hidden; padding:5px 0 3px 0;}
.search_cateWrap	.wrap	p.tit	{position:absolute; color:#466fb7; left:30px; top:5px; padding:0 0 0 7px; font-weight:bold; background:url(https://sslgimage.interpark.com/renewPark/us_img/search/ico_dot.gif) no-repeat left 4px;}
.search_cateWrap	.wrap	p.tit	a{color:#466fb7;}
.search_cateWrap	.wrap	p.tit	span	{display:inline-block; width:74px; background:url(https://sslgimage.interpark.com/renewPark/us_img/search/bar_cate.gif) no-repeat right 1px;}
.search_cateWrap	.wrap	table	{margin:0 0 0 125px; clear:both;}
.search_cateWrap	.wrap	table	td	{font-size:11px; white-space:nowrap; width:120px; padding:0 0 5px 0; vertical-align:top;}
.search_cateWrap	.btn	{position:absolute; bottom:5px; right:8px;}	
.writer_info	{width:100%; padding:20px 0 0 0; line-height:17px; clear:both; overflow:hidden;}
.writer_info	.img	{overflow:hidden; float:left; text-align:center; padding-right:10px;}
.writer_info	.img	img	{border:1px solid #ccc;}
.writer_info	.txt	.name{color:#333; padding:7px 0;}
.writer_info	.txt	.name a	{color:#333;}
.writer_info	.txt	.info	{}
.writer_info	.txt	.book	{font-weight:bold; font-size:11px; padding-top:7px;}
.writer_info	.txt	.book	span	{color:#333;}
.writer_info	.txt	.book	a	{color:#466fb7;}
.detail_search	{clear:both; margin-top:25px; border-top:1px solid #a3a3a3; background:url(https://sslgimage.interpark.com/renewPark/us_img/search/bg_search.gif) no-repeat left bottom; width:765px; height:68px; overflow:hidden; position:relative;}/*높이값 원래 78*/
.detail_search	.txt_1	{ position:absolute; left:48px; top:13px;}
.detail_search	.txt_1	b	{padding-right:10px;}
.detail_search	.txt_1	.input	{ width:396px; height:17px; vertical-align:middle;}
.detail_search	.txt_1	img	{ vertical-align:middle;}
.detail_search	.txt_2	{font-size:11px; position:absolute; left:129px; bottom:10px;}
.detail_search	.txt_2	input	{vertical-align:-1px; margin:0; padding:0; }
.detail_search	.txt_2	span	{padding-right:7px;}
.result_no {width:958px; border:1px solid #dedede; margin-bottom:100px; padding:50px 0; overflow:hidden; text-align:center;}
.result_no  .txt_1	{font-weight:bold; font-size:14px; padding-bottom:15px;}
.result_no  .txt_1	b	{color:#eb5858;}
.result_no  .txt_1	b	a{color:#eb5858;}
.result_no  .txt_2	{font-weight:bold; padding-bottom:30px;}
.result_no  .txt_2	b	{color:#3492df;}
.result_no  .txt_2	b	a{color:#3492df;}
.result_no .search_box	{clear:both; margin:0 auto; background:url(https://sslgimage.interpark.com/renewPark/us_img/search/bg_search_no.gif) no-repeat left top; width:765px; height:80px; overflow:hidden; position:relative;}
.result_no .search_box	.search	{ padding:27px 0 0 0;}
.result_no .search_box	.search	.input	{width:396px; height:17px; vertical-align:middle; border:1px solid #c10000;}
.result_no .search_box	.search	img	{ vertical-align:middle;}
.review_search	{clear:both; color:#666; width:100%; overflow:hidden; background:url(https://sslgimage.interpark.com/renewPark/us_img/search/line_dot.gif) repeat-x left bottom #f9f9f9; padding:20px 0;}
.review_search	.img{width:110px; text-align:center; float:left; overflow:hidden;}
.review_search	.img img	{border:1px solid #b9b8b8; width:70px;}
.review_search	.txt{float:left; line-height:17px; width:640px; overflow:hidden;}
.review_search	.txt .title{position:relative;}
.review_search	.txt .title	a	{color:#333;}
.review_search	.txt .title span{position:absolute; right:0; top:0; font-size:11px;}
.review_search	.txt .writer{font-size:11px; padding-top:7px;}
.review_search	.txt .writer .tit{font-size:12px; color:#466fb7;}
.review_search	.txt .writer .tit a	{color:#466fb7;}
.review_search	.txt .writer span{padding:0 3px;}
.review_search	.txt .writer span.num{font-size:0; line-height:0;}
.review_search	.txt .info{font-size:11px; padding-top:12px;}
.detail_searchWrap	{width:948px; background:url(https://sslgimage.interpark.com/renewPark/us_img/search/arrow_detail.gif) no-repeat 169px 90px #f9f9f9; border:1px solid #d7d7d7; padding:10px 0 20px 10px; clear:both; overflow:hidden;}
.detail_searchWrap	.boxWrap	{width:100%; overflow:hidden; clear:both; padding:0;}
.detail_searchWrap	.box_1	{float:left; width:155px;}
.detail_searchWrap	.box_1	ul	{padding:15px;}
.detail_searchWrap	.box_1	ul	li	{font-weight:bold; padding-bottom:10px; color:#444;}
.detail_searchWrap	.box_2	{float:left; width:289px; margin-left:23px;}
.detail_searchWrap	.box_2	.input	{width:187px;}
.detail_searchWrap	.box_3	{float:left; width:447px; margin-left:25px;}
.detail_searchWrap	.box_3	.input	{width:120px; }
.detail_searchWrap	.con	{height:195px; background:#fff; overflow:hidden; border:1px solid #d7d7d7; margin-top:5px;}
.detail_searchWrap	.tit	{overflow:hidden; border:1px solid #d7d7d7; height:28px; color:#fff; font-weight:bold; text-align:center; background:url(https://sslgimage.interpark.com/renewPark/us_img/search/bg_detail.gif) repeat-x left bottom #504f4f;}
.detail_searchWrap	.tit	p	{padding-top:8px;}
.detail_searchWrap	.btn	{clear:both; padding-top:15px; text-align:center;}
.detail_searchWrap	 table	{white-space:nowrap; margin:10px 0 0 15px;}
.detail_searchWrap	 table	th	{vertical-align:top; padding:7px 10px 0 0; font-weight:bold; white-space:nowrap; text-align:left; color:#464646;}
.detail_searchWrap	 table	th	span	{padding-left:6px; background:url(https://sslgimage.interpark.com/renewPark/us_img/search/dot_detail.gif) no-repeat left 3px ;}
.detail_searchWrap	 table	td	{padding:3px 0; line-height:21px; letter-spacing:-1px; font-size:11px; white-space:nowrap; }
.detail_searchWrap	 table	td	.txt_1	{color:#515da3;}
.detail_searchWrap	input	{vertical-align:-2px;}
.detail_searchWrap	input.input	{vertical-align:-1px;}

.top_tab	{height:28px; margin:20px 0; font-size:11px; width:100%; overflow:hidden; clear:both; background:url(https://sslgimage.interpark.com/renewPark/us_img/search/tab_bg.gif) repeat-x left bottom}
.top_tab	span	{display:inline-block; padding-top:7px; text-align:center; color:#464646; width:114px; height:18px; background:url(https://sslgimage.interpark.com/renewPark/us_img/search/tab_off.gif) repeat-x left bottom;}
.top_tab	span.on	{border:1px solid #353434; border-bottom:0; font-weight:bold;color:#fff; background:url(https://sslgimage.interpark.com/renewPark/us_img/search/tab_on.gif) repeat-x left bottom;}
.top_tab	span.on	a{color:#fff;}
.top_tab	span.off	{border:1px solid #cccccc; border-bottom:0;}

#CENTER	#SEARCH	{width:960px; overflow:hidden; margin:0 auto;}
#CENTER	#SEARCH	#RIGHT {width:180px; float:right;}
#CENTER	#SEARCH	#RIGHT .best {width:163px; padding:0 0 8px 15px; clear:both; border:1px solid #cccccc; margin-top:6px;}
#CENTER	#SEARCH	#RIGHT .best h3	{font-size:12px; padding:15px 0 5px 0; background:none; position:relative;}
#CENTER	#SEARCH	#RIGHT .best h3	.more	{position:absolute; right:7px; top:15px;}
#CENTER	#SEARCH	#RIGHT .best ul	{line-height:13px; padding-top:8px;}
#CENTER	#SEARCH	#RIGHT .best ul	li {font-size:11px; padding:2px 0 7px 0;}
#CENTER	#SEARCH	#RIGHT .best ul	li img	{vertical-align:-3px;}
#CENTER	#SEARCH	#RIGHT .best ul	li img.ico	{vertical-align:-2px;}
#CENTER	#SEARCH	#RIGHT .btn_nav	{text-align:right; padding-top:2px; font-size:11px; color:#777;}
#CENTER	#SEARCH	#RIGHT .btn_nav	img	{vertical-align:-2px;}
#CENTER	#SEARCH	#CONTENT {width:765px; overflow:hidden; float:left;}
