@charset "utf-8";
/****** COMMON ******/
html { .overflow:scroll; .overflow-x:auto; }
html,body { margin:0; padding:0; color:#333; }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td, span { margin:0; padding:0; }
body { color:#333; font-size:12px; font-family:"Malgun Gothic", Dotum, Gulim, Apple-Gothic, sans-serif; letter-spacing:0; line-height:normal; background-color:#fff; -webkit-text-size-adjust:none; word-wrap:break-word; word-break:break-all; }
table { border-collapse:collapse; border-spacing:0; }
a, a:link { color:#333; text-decoration:none; font-family:"Malgun Gothic", Dotum, Gulim, Apple-Gothic, sans-serif; }
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal; }
strong { font-weight:bold; }
button { margin:0; padding:0; border:none; font-family:"Malgun Gothic", Dotum, Gulim, Apple-Gothic, sans-serif; cursor:pointer; font-size:15px; }
li { list-style:none; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal; }
q:before,q:after { content:''; }
abbr,acronym { border:0; font-variant:normal; }
hr { display:none; }
.waHide, legend {position:absolute; top:-999999px; left:-999999px; display:inline-block; width:1px; height:1px; font-size:1px; line-height:1px;}
textarea { -webkit-appearance:none; -webkit-border-radius:0; }
input[type="checkbox"] {position:relative; width:16px; height:16px; vertical-align:middle; background-color:#fff;}
input:checked[type="checkbox"] { background-color:#fff; -webkit-appearance:checkbox; }
input[type="button"], input[type="text"], input[type="image"] {-webkit-appearance:none;-webkit-border-radius:0;}

/* to preserve line-height and selector appearance */
sup { vertical-align:text-top; }
sub { vertical-align:text-bottom; }
input,textarea,select { font-family:inherit; font-size:inherit; font-weight:inherit; }
textarea, input { outline-color:-moz-use-text-color; outline-style:none; outline-width:medium; }
textarea { resize:none; }
/* to enable resizing for IE */
input,textarea,select { *font-size:100%; }

/* because legend doesn't inherit in IE */
legend { color:#000; }
label { cursor:pointer;}


/* header */
header {display:none;}

/* 목록 */
.pzl_sct_list {padding:0 0 20px 0;}
	/* sort */
	.pzl_search_w {padding:10px; font-size:13px; border:1px solid #e6e7e8; border-width:1px 0; background:#f8f9fa;}
		.pzl_search {}
			.pzl_select {position:relative; font-size:13px; vertical-align:middle;}
			.psl_tit {display:inline-block; width:60px; font-weight:bold; color:#333;}
	/* LIST */
	.pzl_list_w {clear:both; margin-top:20px;}
		.pzl_list {border-top:1px solid #dfdfdf;}
			.pzl_list li {position:relative; clear:both; border-bottom:1px solid #dfdfdf;}
				.pzl_list li a {position:relative; display:block; padding:10px;}
					.le_tit {display:block; font-size:15px; color:#000;}
					.le_spot {font-size:13px;}
					.le_where {}
					.le_when {}
					.le_age {}
					.le_person {}
					.le_price {}
					.le_cmt {position:absolute; top:0; bottom:0; right:10px; height:34px; margin:auto; padding:0 10px; line-height:34px; text-align:center; background:rgba(255, 186, 0, 0.2);}

/* 글쓰기 */
.pzl_sct_write {}
	.pzl_write_w {}
		.pzlw_st {position:relative; padding:0 10px;}
			.fip_w {display:block; padding:5px; border:1px solid #a0a0a0;}
			.pzlw_st .iptxt, .pzlw_st textarea {width:100%; height:17px; padding:0; font-size:14px; color:#929292; border:0; background:#fff;}
		.pzlw_tit {margin:10px 0;}
			.pzlw_tit label {position:absolute; top:5px; left:15px; display:block; font-size:14px; color:#888; white-space:nowrap;}
		.pzlw_content {margin:10px 0 0 0;}
			.pzlw_st textarea {height:300px;}

/* 보기 */
.pzl_sct_view {padding:0 0 20px 0;}
	/* 제목 */
	.pzv_tit_w {margin-top:5px; padding-bottom:10px; border-bottom:1px solid #c3c3c3; background-color:#fff; background:-webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f9f9f9),color-stop(80%,#fff));}
		.pzv_tit {font-size:23px;}
		.pzv_article_info {margin-top:5px; font-size:12px; color:#929292;}
			.bar {color:#e9e9e9;}
			.pzv_ai_date {}
			.pzv_ai_count {}
	/* 모집정보 */
	.pzv_head_info {}
		/* 작성자 모집정보 */
		.pzv_uw_pzinfo {margin-top:10px; padding:10px; background:#f3f3f3;}
			.pzv_uw_pzinfo ul {}
				.pzv_uw_pzinfo ul li {padding:3px 0;}
					.pzv_i_tit {display:inline-block; width:55px; font-weight:bold;}
		/* 작성자 글 */
		.pzv_uw_detail {clear:both; padding:10px; font-size:14px;}
			/* 작성자 글 본문 */
			.pzv_uw_article {clear:both; margin-top:10px; font-size:14px; line-height:20px;}
			/* 작성자 정보 */
			.pzv_uw_info {clear:both; margin-top:10px; text-align:right;}
		/* 나이트정보 */
		.pzv_spot_info {clear:both; margin-top:20px; padding:10px; background:#f8f9fa;}
			.pzv_spot_info h3 {font-size:17px; font-weight:bold;}
			.pzv_spot_info ul {margin-top:10px;}
				.pzv_spot_info ul li {padding:3px 0;}
					.pzvl_ni_price {}
						.pzvl_ni_price .pzv_i_tit {vertical-align:top;}
						.pzvl_ni_price ul {display:inline-block; margin-top:0; vertical-align:top;}
			/*  추천웨이터 */
			.pzv_spot_rw {clear:both; margin-top:20px; padding:10px; border:1px solid #c2d2e1; background:#fff;}
				.pzv_spot_rw h4 {font-size:13px; font-weight:bold;}
				.pzv_spot_rw p {position:relative; min-height:90px; margin-top:10px; padding:0 0 0 100px;}
					.pzv_spot_rw p img {position:absolute; top:0; left:0;}
					.pzv_spot_rw p strong {display:block; padding:0; font-size:15px;}
					.pzv_spot_rw p span {display:block; padding:5px 0; font-size:13px;}
		/* 댓글 */
		.pzv_reply_w {clear:both; margin-top:20px; background:#f3f3f3;}
			.pzv_reply_w ul {border-top:1px solid #dbdbdb;}
				.pzv_reply_w ul li {padding:10px; border-bottom:1px solid #dbdbdb;}
					.pzv_r_name {font-size:12px; color:#111;}
					.pzv_r_time {font-size:11px; color:#999;}
					.pzv_reply_w ul li p {margin-top:5px; font-size:14px; line-height:1.5; color:#666;}
		/* 이전글/다음글 */
		.pzv_pn_list {clear:both; margin-top:20px;}
			.pzv_pn_list ol {border-top:1px solid #ebebeb;}
				.pzv_pn_list ol li {border-bottom:1px solid #ebebeb;}
					.pzv_pn_list ol li a {display:block; padding:13px 10px; font-size:13px; color:#303030;}
						.pzv_pn_list ol li a em {margin-right:5px;}
						.rcn {color:#ed1b23;}


/* 하단버튼 */
.pzl_bottom_fnc {clear:both; margin-top:10px; padding:0 10px; text-align:right;}
	.b_pzl_fnc {display:inline-block; height:29px; padding:1px; color:#000; font-size:14px; text-align:left; border-radius:2px; background-color:#bdbcbc; background:-webkit-gradient(linear,0 0,0 100%,from(#bdbcbc),to(#989797));}
		.b_pzl_fnc span {display:block; height:29px; padding:0 10px; line-height:29px; background-color:#fff; background:-webkit-gradient(linear,0 0,0 100%,from(#fefefe),to(#f6f6f6));}
	.b_pzlf_cancel {float:left;}