@charset "utf-8";

html {_overflow: auto; _overflow-x: hidden;}
.png24 {tmp:expression(setPng24(this));}
input.radio {margin:-3px -3px 0 -3px;.margin:-4px -3px 0 -4px;}
*html input.radio {margin:-4px -3px 0 -4px;}
input.check {margin:-4px -3px 0 -3px;.margin:-4px -3px 0 -4px;}
*html input.check {margin:-4px -3px 0 -4px;}
