@charset "utf-8";

/* Font */
@font-face {font-family:mg; src:url('font/malgun.eot'); src:local('☺'), url('font/malgun.ttf') format('truetype'); font-weight:normal;}
@font-face {font-family:mgB; src:url('font/malgunbd.eot'); src:local('☺'), url('font/malgunbd.ttf') format('truetype'); font-weight:normal;}


/* Default */
html, body {width:100%; height:100%;_overflow-x:hidden;}
body {font-size:12px; color:#555; line-height:normal; font-family:'ngEB', '돋움', 'Dotum','굴림', 'Gulim', 'Arial', 'Tahoma', 'AppleGothic','sans-serif'; background-color:#f5f5f5;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {margin:0; padding:0}
li {list-style:none;}
img, fieldset {border:0;}
hr {display:none;}
em, i, address {font-style:normal;}
a {cursor:pointer; text-decoration:none;}
a:hover {text-decoration:none;}
table caption, legend {width:0; height:0; text-indent:-9999em; font:0/0 arial; overflow:hidden; visibility:hidden;}
legend {position:absolute; top:0; left:0; display:inline;}
button {cursor:pointer;}
.clear {clear:both; float:none; width:0; height:0; margin:0; padding:0; font:0/0 arial;}
.hide {width:0; height:0; text-indent:-9999em; font:0/0 arial; overflow:hidden;}
.ir {zoom:-10; z-index:-1; position:relative; display:none; width:100%;_width:0;_height:0; .text-indent:-9999em;_text-indent:-9999em; font-size:9px;_font-size:0;_line-height:0; text-align:center; white-space:nowrap; overflow:hidden;}
.load_after .ir {display:block;}

form {clear:both;}
input, select {font-size:100%; vertical-align:middle;}
input, textarea, select {font-size:12px;}
button::-moz-focus-inner {border:0; padding:0;}
textarea{overflow:auto}
input:focus {outline:none;}
input.radio, input.check {top:-1px;.top:0;position:relative; width:13px; height:13px; vertical-align:middle;}
.lb {display:block;}


/* 버튼 */
.gbtn {position:relative; display:inline-block; width:auto; margin:0; padding:0; line-height:normal !important; border:0; overflow:visible; cursor:pointer; vertical-align:middle; white-space:nowrap; font-family:'ngEB', 'Arial','Tahoma','Dotum','AppleGothic','sans-serif'; background-repeat:no-repeat; background-color:transparent; background-image:url('../images/set_hanssem.gif');}
.gbtn:hover {text-decoration:none;}
.gbtn span {position:relative; display:block;}
    input.gbtn {text-indent:-9999em;}
    span.gbtn {cursor:default;}
.b_s_search {width:63px; height:33px; background-position:-245px -40px;}
.b_r_modify, .b_r_delete, .b_r_write {width:20px; height:19px; margin-left:3px;}
.b_r_modify {background-position:-110px top;}
.b_r_delete {background-position:-131px top;}
.b_r_write {background-position:-151px top;}

/* 아이콘 */
.icn {position:relative; top:-1px; display:inline-block; font:0/0 arial; overflow:hidden; vertical-align:middle; background-image:url('../images/set_hanssem.gif'); background-repeat:no-repeat;}

.i_p_new, .i_p_best, .i_p_newbest {height:26px;}
.i_p_new {width:43px; background:url('../images/ico_hsp_new.png') left top no-repeat;_background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/ico_hsp_new.png', sizingMethod='crop');}
.i_p_best {width:48px; background:url('../images/ico_hsp_best.png') left top no-repeat;_background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/ico_hsp_best.png', sizingMethod='crop');}
.i_p_newbest {width:81px; background:url('../images/ico_hsp_newbest.png') left top no-repeat;_background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/ico_hsp_newbest.png', sizingMethod='crop');}

/* form */
form.jqtransformdone label{float:left; font-family:ngEB; font-size:12px;}
form.jqtransformdone div.rowElem {clear:both; padding:4px 0px;}

/* Radio */
.jqTransformRadioWrapper {float:left; margin:2px 4px 0 0;}
.jqTransformRadio {display:block; width:12px; height:12px; margin-right:1px; vertical-align:middle; background:transparent url('../images/common/radio.gif') left top no-repeat;}

/* Checkbox */
span.jqTransformCheckboxWrapper {float:left; display:block; margin-top:5px;}
a.jqTransformCheckbox {display:block; width:18px; height:19px; vertical-align:middle; background:transparent url('../images/common/checkbox.gif') center top no-repeat;}

/* Checked - Used for both Radio and Checkbox */
a.jqTransformChecked {background-position:left -20px;}

/* Select */
.jqTransformSelectWrapper {z-index:10; position:relative; float:left; width:45px; height:21px; background:url('../images/common/bg_select.gif') left -30px no-repeat;}
	.jqTransformSelectWrapper div span {position:absolute; float:none; height:18px; padding:3px 0 0 6px; font-family:mg; font-size:12px; color:#a6a6a6; white-space: nowrap; overflow:hidden; cursor:pointer;}
	.jqTransformSelectWrapper a.jqTransformSelectOpen {position:absolute; right:0; display:block; width:17px; height:21px; background:url('../images/common/bg_select.gif') right -30px no-repeat;}
	.jqTransformSelectWrapper ul {z-index:10; position:absolute; top:23px; left:0; display:none; width:43px; height:150px; margin:0; padding:0; border:solid 1px #e6e6e6; overflow:auto; overflow-y:auto; background-color:#fff;}
	.jqTransformSelectWrapper ul a {display:block; height:18px; padding:6px 0 0 5px; font-family:mg; font-size:12px; color:#333; text-decoration:none; background-color: #fff;}
	.jqTransformSelectWrapper ul a.selected, .jqTransformSelectWrapper ul a:hover, .jqTransformSelectWrapper ul a.selected:hover {color:#333; background:#dadada;}

/* Select Type2 */
.jqtype2 .jqTransformSelectWrapper {height:21px; background:url('../images/common/bg_select.gif') left -30px no-repeat;}
	.jqtype2 .jqTransformSelectWrapper div span {height:18px; padding:3px 0 0 6px; font-family:mgB; font-size:12px; color:#a6a6a6;}
	.jqtype2 a.jqTransformSelectOpen {width:17px; height:21px; background:url('../images/common/bg_select.gif') right -30px no-repeat;}
	.jqtype2 ul {top:23px;}
	.jqtype2 ul a {height:18px; padding:6px 0 0 5px; font-family:mgB; font-size:12px; color:#333;}
	.jqtype2 ul a.selected, .jqtype2 ul a:hover, .jqtype2 ul a.selected:hover {color:#333; background:#dadada;}

/* Select Type3 */
.jqtype3 .jqTransformSelectWrapper {height:31px; background:url('../images/common/bg_select.gif') left -60px no-repeat;}
	.jqtype3 .jqTransformSelectWrapper div span {height:26px; padding:5px 0 0 10px; font-family:mg; font-size:14px; color:#a6a6a6;}
	.jqtype3 a.jqTransformSelectOpen {width:17px; height:30px; background:url('../images/common/bg_select.gif') right -60px no-repeat;}
	.jqtype3 ul {top:30px;}
	.jqtype3 ul a {height:23px; padding:6px 0 0 9px; font-family:mg; font-size:14px; color:#333;}
	.jqtype3 ul a.selected, .jqtype3 ul a:hover, .jqtype3 ul a.selected:hover {color:#333; background:#dadada;}

/* Hidden - used to hide the original form elements */
.jqTransformHidden {display:none;}

/* 페이징 */
.paging {position:relative; clear:both; margin-top:20px; font-size:0; text-align:center;}
	.paging a {display:inline-block; min-width:25px; height:25px; margin-right:-1px; font-family:arial; font-size:11px; line-height:26px; color:#a6a6a6; border:1px solid #e2e2e2; vertical-align:top; background:#f9f9f9;}
	.paging a.fnc {font-family:dotum; font-size:12px; letter-spacing:-5px; text-indent:-6px;}
	.paging a.this {position:relative; color:#d7182a; font-weight:bold; border-color:#d7182a; background:#fff;}
		.paging a.this strong {line-height:26px;}

/* 작성자폼 */
.hfiptxt {position:relative; display:inline-block; height:21px; padding:0 0 0 2px; background:url('../images/bg_iptxt.gif') left top no-repeat;}
	.hfiptxt input {height:21px; padding:0 0 0 3px; border:0; font-family:mg; font-size:12px; color:#4c4c4c; line-height:20px !important; background:url('../images/bg_iptxt.gif') right top no-repeat;}
.hftxtarea {position:relative; display:inline-block; border-top:1px solid #abadb3; border-right:1px solid #dbdfe6; border-bottom:1px solid #e3e9ef; border-left:1px solid #e2e3ea; background:#fff;}
	.hftxtarea textarea {padding:5px; font-family:mg; font-size:12px; color:#4c4c4c; line-height:20px; border:0; overflow:auto;}
	.hftxtarea i {position:absolute; display:block; width:2px; height:2px; font:0/0 arial; overflow:hidden; background-image:url('../images/cnr_hftxtarea.gif'); background-repeat:no-repeat;}
	.hftxtarea i.lt {top:-1px; left:-1px; background-position:left top;}
	.hftxtarea i.rt {top:-1px; right:-1px; background-position:right top;}
	.hftxtarea i.lb {bottom:-1px; left:-1px; background-position:left bottom;}
	.hftxtarea i.rb {bottom:-1px; right:-1px; background-position:right bottom;}

/* layout */
#wrap {position:relative; width:1030px; margin:0 auto;}
	/* header */
	#header {position:relative; height:81px; padding:59px 30px 0 30px; background:#fff url('../images/common/bg_side.gif') left top repeat-y;}
		#header h1 {float:left;}
		/* 최상단 공통메뉴 */
		#twrap {position:absolute; top:0; left:0; clear:both; width:100%; height:30px; background:#f5f5f5;}
			.hstw_af {float:left; display:inline; margin:9px 0 0 28px;}
				.b_add_f {width:98px; height:10px; background-position:left -130px;}
			.hstw_fs {float:right; display:inline; margin:9px 30px 0 0;}
				.hstw_fs li {float:left; display:inline; padding:0 11px 0 10px; background:url('../images/bar_hstw_fs.gif') right 50% no-repeat;}
					.hstw_fs li .gbtn {height:10px;}
					.b_fs_hcom {width:35px; background-position:-100px -130px;}
					.b_fs_hmall {width:27px; background-position:-140px -130px;}
					.b_fs_hkitchen {width:35px; background-position:-170px -130px;}
				.hstw_fs li.last {padding-right:0; background:none;}
		/* gnb */
		#gnb {position:relative; float:right; width:731px; padding:0 0 0 30px;}
			ul.m_gnb {float:right;}
				ul.m_gnb li {float:left; display:inline; padding:0 19px 0 13px; background:url('../images/bar_hs_gnb.gif') right 50% no-repeat;}
					ul.m_gnb li .gbtn {height:12px;}
					.b_gnb_login {width:32px; background-position:left -140px;}
					.b_gnb_login:hover {background-position:left -310px;}
					.b_gnb_logout {width:43px; background-position:-340px -140px;}
					.b_gnb_logout:hover {background-position:-340px -310px;}
					.b_gnb_wishlist {width:54px; background-position:-390px -140px;}
					.b_gnb_wishlist:hover {background-position:-390px -310px;}
					.b_gnb_sotry {width:98px; background-position:-80px -140px;}
					.b_gnb_sotry:hover {background-position:-80px -310px;}
					.b_gnb_sale {width:77px; background-position:-180px -140px;}
					.b_gnb_sale:hover {background-position:-180px -310px;}
					.b_gnb_event {width:32px; background-position:-260px -140px;}
					.b_gnb_event:hover {background-position:-260px -310px;}
					.b_gnb_shop {width:43px; background-position:-295px -140px;}
					.b_gnb_shop:hover {background-position:-295px -310px;}
				ul.m_gnb li.last {padding-right:0; background:none;}
			/* 상단로그인 */
			#hs_gnb_login {z-index:999; position:absolute; top:22px; right:9px; clear:both; display:none; width:431px; height:223px;}
				.hsgl_in {z-index:2; position:relative; width:393px; height:194px; margin:0 0 0 1px; padding:20px 0 0 30px; border:1px solid #ccdce8; border-width:1px 0; background:#fff url('../images/bg_sls_blue.gif') left top repeat;}
					.hsgl_in h3, .hsgl_in .hsgl_exp {position:relative; overflow:hidden;}
						.hsgl_in h3 .ir, .hsgl_in .hsgl_exp .ir {position:absolute; top:-9999em; left:-9999em;}
					.hsgl_in h3 {width:42px; height:16px; background:url('../images/hsgl_h3.png') left top no-repeat;}
					.hsgl_in .hsgl_exp {width:238px; height:12px; margin-top:7px; background:url('../images/hsgl_exp.png') left top no-repeat;}
					.hsgl_form {position:relative; width:348px; height:93px; margin-top:19px; padding:15px 0 0 15px; border:1px solid #ccdce8; border-width:1px 0; background:#fff;}
						.hsgl_form p {margin-bottom:10px;}
							.hsgl_form p label {display:inline-block; width:52px; height:12px; vertical-align:middle; background-repeat:no-repeat; background-position:left top;}
							.hsgl_form p .hfiptxt input {width:195px;}
							.hsgl_form .hsgl_f_id label {background-image:url('../images/hsgl_f_id.gif');}
							.hsgl_form .hsgl_f_pwd label {background-image:url('../images/hsgl_f_pwd.gif');}
						.hsgl_form p.hsc_lg_menu {margin:0; padding:3px 0 0 50px; font-family:mg; font-size:11px; color:#a6a6a6;}
							.hsgl_form p.hsc_lg_menu a {margin:0 5px; color:#a6a6a6;}
							.hsgl_form p.hsc_lg_menu a:hover {color:#333;}
						.hsgl_form .hsgl_b_go {position:absolute; top:14px; left:278px;}
					.close_lyr {position:absolute; top:20px; right:20px; clear:both; width:21px; height:21px;}
						.b_c_layer {width:21px; height:21px; text-indent:-9999em; background-position:left top;}
				#hs_gnb_login .shadow_bg {z-index:1; position:absolute; top:0; right:0; width:431px; height:223px; background:url('../images/bg_hsgl_shadow.png') left top no-repeat; _background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg_hsgl_shadow.png', sizingMethod='crop');}
	/* container */
	#container {position:relative; padding:0 30px 70px 30px; background:#fff url('../images/common/bg_side.gif') left top repeat-y;}
		/* sidebar */
		#sidebar {float:left;}
			/* snb */
			#snb {padding:34px 0 0 0;}
				#snb .icn {background-image:url('../images/set_snb.gif');}
				/* 1depth */
				ul.m_snb {width:151px;}
					ul.m_snb li {border-bottom:1px solid #e2e2e2;}
						ul.m_snb li a {display:block; height:23px; padding:10px 0 0 0;}
						ul.m_snb li a .icn {top:0; height:14px;}
					ul.m_snb li.this {}
						ul.m_snb li.this ul.m_2d_snb {display:block;}
						/* link */
						.b_snb_bed .icn {width:24px; background-position:left top;}
						.b_snb_mattress .icn {width:50px; background-position:-25px top;}
						.b_snb_dress .icn {width:50px; background-position:-80px top;}
						.b_snb_living .icn {width:24px; background-position:-135px top;}
						.b_snb_dining .icn {width:50px; background-position:-160px top;}
						.b_snb_kids .icn {width:65px; background-position:-215px top;}
						.b_snb_office .icn {width:77px; background-position:-285px top;}
						/* hover */
						.b_snb_bed:hover .icn, li.this .b_snb_bed .icn {width:24px; background-position:left -15px;}
						.b_snb_mattress:hover .icn, li.this .b_snb_mattress .icn {width:50px; background-position:-25px -15px;}
						.b_snb_dress:hover .icn, li.this .b_snb_dress .icn {width:50px; background-position:-80px -15px;}
						.b_snb_living:hover .icn, li.this .b_snb_living .icn {width:24px; background-position:-135px -15px;}
						.b_snb_dining:hover .icn, li.this .b_snb_dining .icn {width:50px; background-position:-160px -15px;}
						.b_snb_kids:hover .icn, li.this .b_snb_kids .icn {width:65px; background-position:-215px -15px;}
						.b_snb_office:hover .icn, li.this .b_snb_office .icn {width:77px; background-position:-285px -15px;}
				/* 2depth */
				ul.m_2d_snb {display:none; border-top:1px solid #343434;}
					ul.m_2d_snb li {}
					ul.m_2d_snb li.last {border-bottom:0;}
						ul.m_2d_snb li a {height:21px; padding-top:12px;}
						ul.m_2d_snb li a .icn {height:10px; margin-left:14px;}
						/* link */
						.b_s2_ins .icn {width:102px; background-position:left -30px;}
						.b_s2_guide .icn {width:86px; background-position:-105px -30px;}
						.b_s2_product .icn {width:57px; background-position:-195px -30px;}
						/* hover */
						.b_s2_ins:hover .icn, li.now .b_s2_ins .icn {width:102px; background-position:left -45px;}
						.b_s2_guide:hover .icn, li.now .b_s2_guide .icn {width:86px; background-position:-105px -45px;}
						.b_s2_product:hover .icn, li.now .b_s2_product .icn, li.open .b_s2_product .icn {width:57px; background-position:-195px -45px;}
				/* 3depth */
				ul.m_3d_snb {position:relative; display:none; top:0; margin-bottom:10px; padding-top:2px; border-top:1px solid #343434;}
					ul.m_3d_snb li {border-bottom:0;}
					ul.m_3d_snb li.last {}
						ul.m_3d_snb li a {height:17px; padding:5px 0 0 0; background:url('../images/bg_3d_snb.gif') 15px 10px no-repeat;}
						ul.m_3d_snb li a .icn {height:12px; margin-left:23px;}
						/* link */
						.b_s3_bed .icn {width:21px; background-position:left -60px;}
						.b_s3_chest .icn {width:22px; background-position:-25px -60px;}
						.b_s3_bichest .icn {width:43px; background-position:-50px -60px;}
						.b_s3_btable .icn {width:22px; background-position:-95px -60px;}
						.b_s3_dtable .icn {width:53px; background-position:-120px -60px;}
						.b_s3_mirror .icn {width:22px; background-position:-175px -60px;}
						.b_s3_ceye .icn {width:52px; background-position:left -90px;}
						.b_s3_snight .icn {width:53px; background-position:-55px -90px;}
						.b_s3_nratex .icn {width:53px; background-position:-110px -90px;}
						.b_s3_alto .icn {width:22px; background-position:left -120px;}
						.b_s3_ssofa .icn {width:43px; background-position:left -150px;}
						.b_s3_fsofa .icn {width:53px; background-position:-45px -150px;}
						.b_s3_isofa .icn {width:43px; background-position:-100px -150px;}
						.b_s3_rriner .icn {width:52px; background-position:-145px -150px;}
						.b_s3_dchest .icn {width:33px; background-position:-200px -150px;}
						.b_s3_ditable .icn {width:53px; background-position:-235px -150px;}
						.b_s3_ftable .icn {width:22px; background-position:left -180px;}
						.b_s3_chair .icn {width:22px; background-position:-25px -180px;}
						.b_s3_desk .icn {width:22px; background-position:left -210px;}
						.b_s3_dschest .icn {width:43px; background-position:-25px -210px;}
						.b_s3_bcase .icn {width:22px; background-position:-70px -210px;}
						.b_s3_cschest .icn {width:56px; background-position:-95px -210px;}
						/* hover */
						.b_s3_bed:hover .icn, li.current .b_s3_bed .icn {width:21px; background-position:left -75px;}
						.b_s3_chest:hover .icn, li.current .b_s3_chest .icn {width:22px; background-position:-25px -75px;}
						.b_s3_bichest:hover .icn, li.current .b_s3_bichest .icn {width:43px; background-position:-50px -75px;}
						.b_s3_btable:hover .icn, li.current .b_s3_btable .icn {width:22px; background-position:-95px -75px;}
						.b_s3_dtable:hover .icn, li.current .b_s3_dtable .icn {width:53px; background-position:-120px -75px;}
						.b_s3_mirror:hover .icn, li.current .b_s3_mirror .icn {width:22px; background-position:-175px -75px;}
						.b_s3_ceye:hover .icn, li.current .b_s3_ceye .icn {width:52px; background-position:left -105px;}
						.b_s3_snight:hover .icn, li.current .b_s3_snight .icn {width:53px; background-position:-55px -105px;}
						.b_s3_nratex:hover .icn, li.current .b_s3_nratex .icn {width:53px; background-position:-110px -105px;}
						.b_s3_alto:hover .icn, li.current .b_s3_alto .icn {width:22px; background-position:left -135px;}
						.b_s3_ssofa:hover .icn, li.current .b_s3_ssofa .icn {width:43px; background-position:left -165px;}
						.b_s3_fsofa:hover .icn, li.current .b_s3_fsofa .icn {width:53px; background-position:-45px -165px;}
						.b_s3_isofa:hover .icn, li.current .b_s3_isofa .icn {width:43px; background-position:-100px -165px;}
						.b_s3_rriner:hover .icn, li.current .b_s3_rriner .icn {width:52px; background-position:-145px -165px;}
						.b_s3_dchest:hover .icn, li.current .b_s3_dchest .icn {width:33px; background-position:-200px -165px;}
						.b_s3_ditable:hover .icn, li.current .b_s3_ditable .icn {width:53px; background-position:-235px -165px;}
						.b_s3_ftable:hover .icn, li.current .b_s3_ftable .icn {width:22px; background-position:left -195px;}
						.b_s3_chair:hover .icn, li.current .b_s3_chair .icn {width:22px; background-position:-25px -195px;}
						.b_s3_desk:hover .icn, li.current .b_s3_desk .icn {width:22px; background-position:left -225px;}
						.b_s3_dschest:hover .icn, li.current .b_s3_dschest .icn {width:43px; background-position:-25px -225px;}
						.b_s3_bcase:hover .icn, li.current .b_s3_bcase .icn {width:22px; background-position:-70px -225px;}
						.b_s3_cschest:hover .icn, li.current .b_s3_cschest .icn {width:56px; background-position:-95px -225px;}
			/* 좌측검색 */
			#hs_cm_search {clear:both; margin-top:40px;}
				#hs_cm_search input {top:1px; position:relative; width:93px; height:24px; margin:0 -1px 0 0; padding:0 5px; border:0; font-family:mg; font-size:11px; color:#a6a6a6; line-height:24px; background:url('../images/bg_hs_cm_search.gif') left top no-repeat;}
				.b_hscms_go {width:47px; height:28px; vertical-align:top; background-position:-150px -155px;}
				.b_hscms_go_over {background-position:-200px -155px;}
		/* content */
		#content {float:right; width:731px; padding:0 0 0 30px;}
			/* 제목 */
			.cont_tit_wrap {clear:both; font-size:0;}
				.cont_tit_wrap h2, .ctw_exp {overflow:hidden; background-image:url('../images/set_ctw.gif'); background-repeat:no-repeat;}
				.cont_tit_wrap h2 {display:inline-block; height:14px;}
				.ctw_count {display:inline-block; margin:-1px 0 0 9px; font-family:mg; font-size:11px; color:#a6a6a6; letter-spacing:-1px; line-height:normal; vertical-align:top;}
					.ctw_count em {letter-spacing:0;}
				.ctw_exp {margin-top:10px;}
			/* 테이블 스타일 */
			.sr_item_list thead tr th .icn {top:0; height:12px; background-image:url('../images/set_table.gif');}
			.sr_item_list thead tr th.no .icn {width:21px; background-position:left top;}
			.sr_item_list thead tr th.item .icn {width:31px; background-position:-25px top;}
			.sr_item_list thead tr th.shop .icn {width:31px; background-position:-60px top;}
			.sr_item_list thead tr th.discount .icn {width:57px; background-position:-95px top;}
			.sr_item_list thead tr th.sell .icn {width:43px; background-position:-155px top;}
			.sr_item_list thead tr th.date .icn {width:31px; background-position:left -15px;}
			.sr_item_list thead tr th.itemphoto .icn {width:44px; background-position:-35px -15px;}
			.sr_item_list thead tr th.option .icn {width:21px; background-position:-85px -15px;}
			.sr_item_list thead tr th.price .icn {width:21px; background-position:-110px -15px;}
			.sr_item_list thead tr th.delete .icn {width:21px; background-position:-135px -15px;}
			/* 하단버튼 */
			.btn_w_bottom {position:relative; clear:both;}
				.bwb_l {float:left;}
				.bwb_r {float:right;}
	/*  footer */
	#footer {clear:both; height:93px; margin:30px 0 0 0; padding:0 0 100px 30px;}
		/* familysite */
		.f_familysite {}
			.f_familysite select {width:124px;}
			.f_familysite .jqTransformSelectWrapper div span, .f_familysite .jqTransformSelectWrapper ul a {font-family:arial; font-size:9px; color:#999; line-height:17px;}
			.f_familysite .jqTransformSelectWrapper ul {top:auto; bottom:23px;}
			.jqTransformSelectWrapper ul a {line-height:normal;}
		.f_hanssem {float:right; width:819px; height:73px; padding:20px 0 0 20px; letter-spacing:-1px; background:#fff url('../images/common/bi_footer.gif') 727px 23px no-repeat;;}
			.f_h_cont {float:left; display:inline; text-indent:-9999em; font:0/0 arial; overflow:hidden; background-image:url('../images/set_hanssem.gif'); background-repeat:no-repeat;}
			.fhc_info {width:148px; height:37px; background-position:left -330px;}
			.fhc_s_info {width:223px; height:37px; margin-left:50px; background-position:-150px -330px;}
			.fhc_copy {width:160px; height:23px; margin-left:42px; background-position:left -370px;}


/* 컨텐츠 하위메뉴 */
.hs_cont_sub_menu {clear:both; margin-top:12px; padding:13px 0 17px 0; border:1px solid #e2e2e2; border-width:1px 0;}
	.hs_cont_sub_menu li {display:inline-block; margin-right:8px; padding:0 18px 0 0; font-size:0; background:url('../images/bar_hs_gnb.gif') right 50% no-repeat;}
		.hs_cont_sub_menu li .gbtn, .hs_cont_sub_menu li a strong {height:12px; background-image:url('../images/set_hcsm.gif'); background-repeat:no-repeat;}
			.hs_cont_sub_menu li a strong {display:block; overflow:hidden;}
	.hs_cont_sub_menu li.last {margin-right:0; padding-right:0; background:none;}

/* 내용없음 */
.hs_list_temp {clear:both; height:71px; margin:30px 0 0 0; font-family:mg; font-size:12px; color:#a6a6a6; text-align:center; border:1px solid #333; border-width:1px 0;}
	.hs_list_temp strong {font-weight:normal; line-height:71px;}

/* 한샘스토리 */
.ctw_hs_story h2 {width:112px; height:14px; background-position:-40px -50px;}
.hs_story_sm {}
	.hs_story_sm li .gbtn {height:13px;}
	.hs_story_sm li a.hsst_01 {width:55px; background-position:left -60px;}
		.hs_story_sm li a.hsst_01:hover, .hs_story_sm li a.hsst_01 strong {background-position:left -75px;}
	.hs_story_sm li a.hsst_02 {width:93px; background-position:-60px -60px;}
		.hs_story_sm li a.hsst_02:hover, .hs_story_sm li a.hsst_02 strong {background-position:-60px -75px;}
	.hs_story_sm li a.hsst_03 {width:55px; background-position:-155px -60px;}
		.hs_story_sm li a.hsst_03:hover, .hs_story_sm li a.hsst_03 strong {background-position:-155px -75px;}
	.hs_story_sm li a.hsst_04 {width:56px; background-position:-210px -60px;}
		.hs_story_sm li a.hsst_04:hover, .hs_story_sm li a.hsst_04 strong {background-position:-210px -75px;}
.hsst_w {clear:both; margin:20px 0 0 0; font:0/0 arial;}

/* 이사이야기 */
.hsstr_remove_idx {clear:both; height:437px;}
	.hsstr_remove_idx li {float:left; display:inline; width:365px; font:0/0 arial;}
		.hsstr_remove_idx li a {position:relative; display:block; height:437px;}
			.hsstr_remove_idx li a i {position:absolute; top:0; left:0; clear:both; display:none; width:100%; height:437px;
			background-position:left top; background-repeat:no-repeat;}
			.hsstr_remove_idx li a:hover i {display:block;}
	.hsstr_remove_idx li.bed_story {}
		.hsstr_remove_idx li.bed_story i {background-image:url('../images/rem_idx_01_over.png');}
	.hsstr_remove_idx li.dnr_story {margin-left:1px;}
		.hsstr_remove_idx li.dnr_story i {background-image:url('../images/rem_idx_02_over.png');}
	/*  이사이야기 서브메뉴 */
	.rmv_str_w {float:left; display:inline; width:351px; height:62px; padding:13px 0 0 14px;}
		.rmv_str_w h3 {height:11px; background-image:url('../images/set_rmv_str.gif'); background-repeat:no-repeat;}
		.rmv_str_w ul {clear:both; margin-top:10px;}
			.rmv_str_w ul li {float:left; display:inline; margin-right:-1px;}
				.rmv_str_w ul li .gbtn {height:33px; background-image:url('../images/set_rmv_str.gif'); background-repeat:no-repeat;}
				.rmv_str_w ul li .rmv_b_01 {width:122px; background-position:left top;}
				.rmv_str_w ul li .rmv_b_02 {width:103px; background-position:-125px top;}
				.rmv_str_w ul li .rmv_b_03 {width:112px; background-position:-230px top;}
				.rmv_str_w ul li .rmv_d_01 {width:78px; background-position:left -80px;}
				.rmv_str_w ul li .rmv_d_02 {width:124px; background-position:-80px -80px;}
			.rmv_str_w ul li.this {z-index:2; position:relative;}
				.rmv_str_w ul li.this .rmv_b_01 {background-position:left -40px;}
				.rmv_str_w ul li.this .rmv_b_02 {background-position:-125px -40px;}
				.rmv_str_w ul li.this .rmv_b_03 {background-position:-230px -40px;}
				.rmv_str_w ul li.this .rmv_d_01 {background-position:left -120px;}
				.rmv_str_w ul li.this .rmv_d_02 {background-position:-80px -120px;}
	.rmv_b_str_w {background:#3f3042;}
		.rmv_b_str_w h3 {width:101px; background-position:left -160px;}
	.rmv_d_str_w {margin-left:1px; background:#48392e;}
		.rmv_d_str_w h3 {width:159px; background-position:left -175px;}
	/* swf 삽입 */
	.rmv_b_swf_w {position:relative; top:20px; clear:both; width:731px; font:0/0 arial;}
	.rmv_bsww_mc {left:-6px; width:745px;}
	/* Mrs.패리스 스타일 */
	.hs_mrs_w {clear:both;}
		.hs_mrs_menu {clear:both; height:35px; padding-top:20px;}
			.hs_mrs_menu h4 {float:left; display:inline; width:100px; height:34px; margin:1px 0 0 0; background:url('../images/set_rmv_str.gif') -210px -80px no-repeat;}
			.hs_mrs_menu ul {float:right;}
				.hs_mrs_menu ul li {float:left; display:inline; margin:0 12px 0 10px;}
					.hs_mrs_menu ul li .gbtn, .hs_mrs_menu ul li .gbtn strong {height:35px; background-image:url('../images/set_rmv_str.gif'); background-repeat:no-repeat;}
						.hs_mrs_menu ul li .gbtn strong {display:block;}
					.hs_mrs_menu ul li .b_mrs_01 {width:156px; background-position:left -190px;}
					.hs_mrs_menu ul li .b_mrs_02 {width:156px; background-position:-160px -190px;}
					.hs_mrs_menu ul li .b_mrs_03 {width:168px; background-position:left -230px;}
					.hs_mrs_menu ul li .b_mrs_01:hover, .hs_mrs_menu ul li .b_mrs_01 strong {background-position:left -270px;}
					.hs_mrs_menu ul li .b_mrs_02:hover, .hs_mrs_menu ul li .b_mrs_02 strong {background-position:-160px -270px;}
					.hs_mrs_menu ul li .b_mrs_03:hover, .hs_mrs_menu ul li .b_mrs_03 strong {background-position:left -310px;}
		/* 각 컨텐츠 */
		.hs_mrs_cont_w {position:relative; clear:both; height:710px; margin:20px 0 0 0; padding:0 0 0 550px;}
			.hs_mrs_cont_p {}
				.hs_mrs_cont_p p {clear:both; font:0/0 arial;}
				.hs_mrs_cont_p ul {clear:both;}
					.hs_mrs_cont_p ul li {clear:both;}
						.hs_mrs_cont_p ul li a {display:block; width:160px; height:36px; background-image:url('../images/set_mrs_cm.gif'); background-repeat:no-repeat;}
					/* 우아한 */
					.hs_mrs_cm_p1 ul li a.b_mrs_si {background-position:left top;}
					.hs_mrs_cm_p1 ul li.this a.b_mrs_si, .hs_mrs_cm_p1 ul li a.b_mrs_si:hover {background-position:left -40px;}
					.hs_mrs_cm_p1 ul li a.b_mrs_hc {background-position:-160px top;}
					.hs_mrs_cm_p1 ul li.this a.b_mrs_hc, .hs_mrs_cm_p1 ul li a.b_mrs_hc:hover {background-position:-160px -40px;}
					.hs_mrs_cm_p1 ul li a.b_mrs_hb {background-position:-320px top;}
					.hs_mrs_cm_p1 ul li.this a.b_mrs_hb, .hs_mrs_cm_p1 ul li a.b_mrs_hb:hover {background-position:-320px -40px;}
					.hs_mrs_cm_p1 ul li a.b_mrs_hw {background-position:-480px top;}
					.hs_mrs_cm_p1 ul li.this a.b_mrs_hw, .hs_mrs_cm_p1 ul li a.b_mrs_hw:hover {background-position:-480px -40px;}
					/* 모던한 */
					.hs_mrs_cm_p2 ul li a.b_mrs_si {background-position:left -80px;}
					.hs_mrs_cm_p2 ul li.this a.b_mrs_si, .hs_mrs_cm_p2 ul li a.b_mrs_si:hover {background-position:left -120px;}
					.hs_mrs_cm_p2 ul li a.b_mrs_hc {background-position:-160px -80px;}
					.hs_mrs_cm_p2 ul li.this a.b_mrs_hc, .hs_mrs_cm_p2 ul li a.b_mrs_hc:hover {background-position:-160px -120px;}
					.hs_mrs_cm_p2 ul li a.b_mrs_hb {background-position:-320px -80px;}
					.hs_mrs_cm_p2 ul li.this a.b_mrs_hb, .hs_mrs_cm_p2 ul li a.b_mrs_hb:hover {background-position:-320px -120px;}
					.hs_mrs_cm_p2 ul li a.b_mrs_hw {background-position:-480px -80px;}
					.hs_mrs_cm_p2 ul li.this a.b_mrs_hw, .hs_mrs_cm_p2 ul li a.b_mrs_hw:hover {background-position:-480px -120px;}
					/* 로맨틱한 */
					.hs_mrs_cm_p3 ul li a.b_mrs_si {background-position:left -160px;}
					.hs_mrs_cm_p3 ul li.this a.b_mrs_si, .hs_mrs_cm_p3 ul li a.b_mrs_si:hover {background-position:left -200px;}
					.hs_mrs_cm_p3 ul li a.b_mrs_hc {background-position:-160px -160px;}
					.hs_mrs_cm_p3 ul li.this a.b_mrs_hc, .hs_mrs_cm_p3 ul li a.b_mrs_hc:hover {background-position:-160px -200px;}
					.hs_mrs_cm_p3 ul li a.b_mrs_hb {background-position:-320px -160px;}
					.hs_mrs_cm_p3 ul li.this a.b_mrs_hb, .hs_mrs_cm_p3 ul li a.b_mrs_hb:hover {background-position:-320px -200px;}
					.hs_mrs_cm_p3 ul li a.b_mrs_hw {background-position:-480px -160px;}
					.hs_mrs_cm_p3 ul li.this a.b_mrs_hw, .hs_mrs_cm_p3 ul li a.b_mrs_hw:hover {background-position:-480px -200px;}
			.hs_mrs_cont {position:absolute; top:0; left:0; width:550px;}
				.hs_mrs_cont div {display:none;}