@charset "utf-8";

/* Font */
@font-face {font-family:mg; src:url('font/malgun.eot'); src:local('☺'), url('font/malgun.ttf') format('truetype'); font-weight:normal;}
@font-face {font-family:mgB; src:url('font/malgunbd.eot'); src:local('☺'), url('font/malgunbd.ttf') format('truetype'); font-weight:normal;}


/* Default */
html, body {width:100%; height:100%;_overflow-x:hidden;}
body {font-size:12px; color:#555; line-height:normal; font-family:'ngEB', '돋움', 'Dotum','굴림', 'Gulim', 'Arial', 'Tahoma', 'AppleGothic','sans-serif'; background-color:#f5f5f5;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {margin:0; padding:0}
li {list-style:none;}
img, fieldset {border:0;}
hr {display:none;}
em, i, address {font-style:normal;}
a {cursor:pointer; text-decoration:none;}
a:hover {text-decoration:none;}
table caption, legend {width:0; height:0; text-indent:-9999em; font:0/0 arial; overflow:hidden; visibility:hidden;}
legend {position:absolute; top:0; left:0; display:inline;}
button {cursor:pointer;}
.clear {clear:both; float:none; width:0; height:0; margin:0; padding:0; font:0/0 arial;}
.hide {width:0; height:0; text-indent:-9999em; font:0/0 arial; overflow:hidden;}
.ir {zoom:-10; z-index:-1; position:relative; display:block; width:100%;_width:0;_height:0; .text-indent:-9999em;_text-indent:-9999em; font-size:9px;_font-size:0;_line-height:0; text-align:center; white-space:nowrap; overflow:hidden;}

form {clear:both;}
input, select {font-size:100%; vertical-align:middle;}
input, textarea, select {font-size:12px;}
button::-moz-focus-inner {border:0; padding:0;}
textarea{overflow:auto}
input:focus {outline:none;}
input.radio, input.check {top:-1px;.top:0;position:relative; width:13px; height:13px; vertical-align:middle;}
.lb {display:block;}


/* 버튼 */
.gbtn {position:relative; display:inline-block; width:auto; margin:0; padding:0; line-height:normal !important; border:0; overflow:visible; cursor:pointer; vertical-align:middle; white-space:nowrap; font-family:'ngEB', 'Arial','Tahoma','Dotum','AppleGothic','sans-serif'; background-repeat:no-repeat; background-color:transparent; background-image:url('../images/set_hanssem.gif');}
.gbtn:hover {text-decoration:none;}
.gbtn span {position:relative; display:block;}
    input.gbtn {text-indent:-9999em;}
    span.gbtn {cursor:default;}
.b_s_search {width:63px; height:33px; background-position:-245px -40px;}

/* 아이콘 */
.icn {position:relative; top:-1px; display:inline-block; font:0/0 arial; overflow:hidden; vertical-align:middle; background-image:url('../images/set_hanssem.gif'); background-repeat:no-repeat;}

.i_p_new, .i_p_hot, .i_p_newhot {height:26px;}
.i_p_new {width:43px; background:url('../images/ico_hsp_new.png') left top no-repeat;_background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/ico_hsp_new.png', sizingMethod='crop');}
.i_p_hot {width:43px; background:url('../images/ico_hsp_hot.png') left top no-repeat;_background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/ico_hsp_hot.png', sizingMethod='crop');}
.i_p_newhot {width:76px; background:url('../images/ico_hsp_newhot.png') left top no-repeat;_background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/ico_hsp_newhot.png', sizingMethod='crop');}

/* form */
form.jqtransformdone label{float:left; font-family:ngEB; font-size:12px;}
form.jqtransformdone div.rowElem {clear:both; padding:4px 0px;}

/* Radio */
.jqTransformRadioWrapper {float:left; margin:2px 4px 0 0;}
.jqTransformRadio {display:block; width:12px; height:12px; margin-right:1px; vertical-align:middle; background:transparent url('../images/common/radio.gif') left top no-repeat;}

/* Checkbox */
span.jqTransformCheckboxWrapper {float:left; display:block; margin-top:5px;}
a.jqTransformCheckbox {display:block; width:18px; height:19px; vertical-align:middle; background:transparent url('../images/common/checkbox.gif') center top no-repeat;}

/* Checked - Used for both Radio and Checkbox */
a.jqTransformChecked {background-position:left -20px;}

/* Select */
.jqTransformSelectWrapper {z-index:10; position:relative; float:left; width:45px; height:21px; background:url('../images/common/bg_select.gif') left -30px no-repeat;}
	.jqTransformSelectWrapper div span {position:absolute; float:none; height:18px; padding:3px 0 0 6px; font-family:mg; font-size:12px; color:#a6a6a6; white-space: nowrap; overflow:hidden; cursor:pointer;}
	.jqTransformSelectWrapper a.jqTransformSelectOpen {position:absolute; right:0; display:block; width:17px; height:21px; background:url('../images/common/bg_select.gif') right -30px no-repeat;}
	.jqTransformSelectWrapper ul {z-index:10; position:absolute; top:23px; left:0; display:none; width:43px; height:150px; margin:0; padding:0; border:solid 1px #e6e6e6; overflow:auto; overflow-y:auto; background-color:#fff;}
	.jqTransformSelectWrapper ul a {display:block; height:18px; padding:6px 0 0 5px; font-family:mg; font-size:12px; color:#333; text-decoration:none; background-color: #fff;}
	.jqTransformSelectWrapper ul a.selected, .jqTransformSelectWrapper ul a:hover, .jqTransformSelectWrapper ul a.selected:hover {color:#333; background:#dadada;}

/* Select Type2 */
.jqtype2 .jqTransformSelectWrapper {height:21px; background:url('../images/common/bg_select.gif') left -30px no-repeat;}
	.jqtype2 .jqTransformSelectWrapper div span {height:18px; padding:3px 0 0 6px; font-family:mgB; font-size:12px; color:#a6a6a6;}
	.jqtype2 a.jqTransformSelectOpen {width:17px; height:21px; background:url('../images/common/bg_select.gif') right -30px no-repeat;}
	.jqtype2 ul {top:23px;}
	.jqtype2 ul a {height:18px; padding:6px 0 0 5px; font-family:mgB; font-size:12px; color:#333;}
	.jqtype2 ul a.selected, .jqtype2 ul a:hover, .jqtype2 ul a.selected:hover {color:#333; background:#dadada;}

/* Hidden - used to hide the original form elements */
.jqTransformHidden {display:none;}

/* 페이징 */
.paging {clear:both; margin-top:20px; font-size:0; text-align:center;}
	.paging a {display:inline-block; min-width:25px; height:25px; margin-right:-1px; font-family:arial; font-size:11px; line-height:26px; color:#a6a6a6; border:1px solid #e2e2e2; vertical-align:top; background:#f9f9f9;}
	.paging a.fnc {font-family:dotum; font-size:12px; letter-spacing:-5px; text-indent:-6px;}
	.paging a.this {position:relative; color:#d7182a; font-weight:bold; border-color:#d7182a; background:#fff;}

/* 작성자폼 */
.hfiptxt {position:relative; display:inline-block; height:21px; padding:0 0 0 2px; background:url('../images/bg_iptxt.gif') left top no-repeat;}
	.hfiptxt input {height:21px; padding:0 0 0 3px; border:0; font-family:mg; font-size:12px; color:#4c4c4c; line-height:20px !important; background:url('../images/bg_iptxt.gif') right top no-repeat;}
.hftxtarea {position:relative; display:inline-block; border-top:1px solid #abadb3; border-right:1px solid #dbdfe6; border-bottom:1px solid #e3e9ef; border-left:1px solid #e2e3ea; background:#fff;}
	.hftxtarea textarea {padding:5px; font-family:mg; font-size:12px; color:#4c4c4c; line-height:20px; border:0; overflow:auto;}
	.hftxtarea i {position:absolute; display:block; width:2px; height:2px; font:0/0 arial; overflow:hidden; background-image:url('../images/cnr_hftxtarea.gif'); background-repeat:no-repeat;}
	.hftxtarea i.lt {top:-1px; left:-1px; background-position:left top;}
	.hftxtarea i.rt {top:-1px; right:-1px; background-position:right top;}
	.hftxtarea i.lb {bottom:-1px; left:-1px; background-position:left bottom;}
	.hftxtarea i.rb {bottom:-1px; right:-1px; background-position:right bottom;}

/* layout */
#wrap {position:relative; width:1030px; margin:0 auto;}
	/* header */
	#header {position:relative; height:81px; padding:59px 30px 0 30px; background:#fff url('../images/common/bg_side.gif') left top repeat-y;}
		#header h1 {float:left;}
		/* 최상단 공통메뉴 */
		#twrap {position:absolute; top:0; left:0; clear:both; width:100%; height:30px; background:#f5f5f5;}
			.hstw_af {float:left; display:inline; margin:9px 0 0 28px;}
				.b_add_f {width:98px; height:10px; background-position:left -130px;}
			.hstw_fs {float:right; display:inline; margin:9px 30px 0 0;}
				.hstw_fs li {float:left; display:inline; padding:0 11px 0 10px; background:url('../images/bar_hstw_fs.gif') right 50% no-repeat;}
					.hstw_fs li .gbtn {height:10px;}
					.b_fs_hcom {width:35px; background-position:-100px -130px;}
					.b_fs_hmall {width:27px; background-position:-140px -130px;}
					.b_fs_hkitchen {width:35px; background-position:-170px -130px;}
				.hstw_fs li.last {padding-right:0; background:none;}
		/* gnb */
		#gnb {float:right; width:731px; padding:0 0 0 30px;}
			ul.m_gnb {float:right;}
				ul.m_gnb li {float:left; display:inline; padding:0 19px 0 13px; background:url('../images/bar_hs_gnb.gif') right 50% no-repeat;}
					ul.m_gnb li .gbtn {height:12px;}
					.b_gnb_login {width:80px; background-position:left -140px;}
					.b_gnb_logout {width:43px; background-position:-340px -140px;}
					.b_gnb_wishlist {width:54px; background-position:-390px -140px;}
					.b_gnb_sotry {width:98px; background-position:-80px -140px;}
					.b_gnb_sale {width:77px; background-position:-180px -140px;}
					.b_gnb_event {width:32px; background-position:-260px -140px;}
					.b_gnb_shop {width:43px; background-position:-295px -140px;}
				ul.m_gnb li.last {padding-right:0; background:none;}
	/* container */
	#container {padding:0 30px 70px 30px; background:#fff url('../images/common/bg_side.gif') left top repeat-y;}
		/* sidebar */
		#sidebar {float:left;}
			/* snb */
			#snb {padding:34px 0 0 0;}
				#snb .icn {background-image:url('../images/set_snb.gif');}
				/* 1depth */
				ul.m_snb {width:151px;}
					ul.m_snb li {border-bottom:1px solid #e2e2e2;}
						ul.m_snb li a {display:block; height:23px; padding:10px 0 0 0;}
						ul.m_snb li a .icn {top:0; height:14px;}
					ul.m_snb li.this {border-bottom:1px solid #343434;}
						ul.m_snb li.this ul.m_2d_snb {display:block;}
						/* link */
						.b_snb_bed .icn {width:24px; background-position:left top;}
						.b_snb_mattress .icn {width:50px; background-position:-25px top;}
						.b_snb_dress .icn {width:50px; background-position:-80px top;}
						.b_snb_living .icn {width:24px; background-position:-135px top;}
						.b_snb_dining .icn {width:50px; background-position:-160px top;}
						.b_snb_kids .icn {width:65px; background-position:-215px top;}
						.b_snb_office .icn {width:77px; background-position:-285px top;}
						/* hover */
						.b_snb_bed:hover .icn, li.this .b_snb_bed .icn {width:24px; background-position:left -15px;}
						.b_snb_mattress:hover .icn, li.this .b_snb_mattress .icn {width:50px; background-position:-25px -15px;}
						.b_snb_dress:hover .icn, li.this .b_snb_dress .icn {width:50px; background-position:-80px -15px;}
						.b_snb_living:hover .icn, li.this .b_snb_living .icn {width:24px; background-position:-135px -15px;}
						.b_snb_dining:hover .icn, li.this .b_snb_dining .icn {width:50px; background-position:-160px -15px;}
						.b_snb_kids:hover .icn, li.this .b_snb_kids .icn {width:65px; background-position:-215px -15px;}
						.b_snb_office:hover .icn, li.this .b_snb_office .icn {width:77px; background-position:-285px -15px;}
				/* 2depth */
				ul.m_2d_snb {display:none; border-top:1px solid #343434;}
					ul.m_2d_snb li {}
					ul.m_2d_snb li.last {border-bottom:0;}
						ul.m_2d_snb li a {height:21px; padding-top:12px;}
						ul.m_2d_snb li a .icn {height:10px; margin-left:14px;}
						/* link */
						.b_s2_ins .icn {width:102px; background-position:left -30px;}
						.b_s2_guide .icn {width:86px; background-position:-105px -30px;}
						.b_s2_product .icn {width:57px; background-position:-195px -30px;}
						/* hover */
						.b_s2_ins:hover .icn, li.now .b_s2_ins .icn {width:102px; background-position:left -45px;}
						.b_s2_guide:hover .icn, li.now .b_s2_guide .icn {width:86px; background-position:-105px -45px;}
						.b_s2_product:hover .icn, li.now .b_s2_product .icn, li.open .b_s2_product .icn {width:57px; background-position:-195px -45px;}
				/* 3depth */
				ul.m_3d_snb {position:relative; display:none; top:-9px; margin-bottom:1px;}
					ul.m_3d_snb li {border-bottom:0;}
					ul.m_3d_snb li.last {}
						ul.m_3d_snb li a {height:17px; padding:5px 0 0 0; background:url('../images/bg_3d_snb.gif') 15px 10px no-repeat;}
						ul.m_3d_snb li a .icn {height:12px; margin-left:23px;}
						/* link */
						.b_s3_bed .icn {width:21px; background-position:left -60px;}
						.b_s3_chest .icn {width:22px; background-position:-25px -60px;}
						.b_s3_bichest .icn {width:43px; background-position:-50px -60px;}
						.b_s3_btable .icn {width:22px; background-position:-95px -60px;}
						.b_s3_dtable .icn {width:53px; background-position:-120px -60px;}
						.b_s3_mirror .icn {width:22px; background-position:-175px -60px;}
						.b_s3_ceye .icn {width:52px; background-position:left -90px;}
						.b_s3_snight .icn {width:53px; background-position:-55px -90px;}
						.b_s3_nratex .icn {width:53px; background-position:-110px -90px;}
						.b_s3_alto .icn {width:22px; background-position:left -120px;}
						.b_s3_ssofa .icn {width:43px; background-position:left -150px;}
						.b_s3_fsofa .icn {width:53px; background-position:-45px -150px;}
						.b_s3_isofa .icn {width:43px; background-position:-100px -150px;}
						.b_s3_rriner .icn {width:52px; background-position:-145px -150px;}
						.b_s3_dchest .icn {width:33px; background-position:-200px -150px;}
						.b_s3_ditable .icn {width:53px; background-position:-235px -150px;}
						.b_s3_ftable .icn {width:22px; background-position:left -180px;}
						.b_s3_chair .icn {width:22px; background-position:-25px -180px;}
						.b_s3_desk .icn {width:22px; background-position:left -210px;}
						.b_s3_dschest .icn {width:43px; background-position:-25px -210px;}
						.b_s3_bcase .icn {width:22px; background-position:-70px -210px;}
						.b_s3_cschest .icn {width:56px; background-position:-95px -210px;}
						/* hover */
						.b_s3_bed:hover .icn, li.current .b_s3_bed .icn {width:21px; background-position:left -75px;}
						.b_s3_chest:hover .icn, li.current .b_s3_chest .icn {width:22px; background-position:-25px -75px;}
						.b_s3_bichest:hover .icn, li.current .b_s3_bichest .icn {width:43px; background-position:-50px -75px;}
						.b_s3_btable:hover .icn, li.current .b_s3_btable .icn {width:22px; background-position:-95px -75px;}
						.b_s3_dtable:hover .icn, li.current .b_s3_dtable .icn {width:53px; background-position:-120px -75px;}
						.b_s3_mirror:hover .icn, li.current .b_s3_mirror .icn {width:22px; background-position:-175px -75px;}
						.b_s3_ceye:hover .icn, li.current .b_s3_ceye .icn {width:52px; background-position:left -105px;}
						.b_s3_snight:hover .icn, li.current .b_s3_snight .icn {width:53px; background-position:-55px -105px;}
						.b_s3_nratex:hover .icn, li.current .b_s3_nratex .icn {width:53px; background-position:-110px -105px;}
						.b_s3_alto:hover .icn, li.current .b_s3_alto .icn {width:22px; background-position:left -135px;}
						.b_s3_ssofa:hover .icn, li.current .b_s3_ssofa .icn {width:43px; background-position:left -165px;}
						.b_s3_fsofa:hover .icn, li.current .b_s3_fsofa .icn {width:53px; background-position:-45px -165px;}
						.b_s3_isofa:hover .icn, li.current .b_s3_isofa .icn {width:43px; background-position:-100px -165px;}
						.b_s3_rriner:hover .icn, li.current .b_s3_rriner .icn {width:52px; background-position:-145px -165px;}
						.b_s3_dchest:hover .icn, li.current .b_s3_dchest .icn {width:33px; background-position:-200px -165px;}
						.b_s3_ditable:hover .icn, li.current .b_s3_ditable .icn {width:53px; background-position:-235px -165px;}
						.b_s3_ftable:hover .icn, li.current .b_s3_ftable .icn {width:22px; background-position:left -195px;}
						.b_s3_chair:hover .icn, li.current .b_s3_chair .icn {width:22px; background-position:-25px -195px;}
						.b_s3_desk:hover .icn, li.current .b_s3_desk .icn {width:22px; background-position:left -225px;}
						.b_s3_dschest:hover .icn, li.current .b_s3_dschest .icn {width:43px; background-position:-25px -225px;}
						.b_s3_bcase:hover .icn, li.current .b_s3_bcase .icn {width:22px; background-position:-70px -225px;}
						.b_s3_cschest:hover .icn, li.current .b_s3_cschest .icn {width:56px; background-position:-95px -225px;}
		/* content */
		#content {float:right; width:731px; padding:0 0 0 30px;}
			/* 제목 */
			.cont_tit_wrap {}
				.cont_tit_wrap h2, .ctw_exp {overflow:hidden; background-image:url('../images/set_ctw.gif'); background-repeat:no-repeat;}
				.cont_tit_wrap h2 {height:14px;}
				.ctw_exp {margin-top:10px;}
	/*  footer */
	#footer {clear:both; height:93px; margin:30px 0 0 0; padding:0 0 100px 30px;}
		/* familysite */
		.f_familysite {}
			.f_familysite select {width:124px;}
			.f_familysite .jqTransformSelectWrapper div span, .f_familysite .jqTransformSelectWrapper ul a {font-family:arial; font-size:9px; color:#999; line-height:17px;}
			.f_familysite .jqTransformSelectWrapper ul {top:auto; bottom:23px;}
			.jqTransformSelectWrapper ul a {line-height:normal;}
		.f_hanssem {float:right; width:819px; height:75px; padding:18px 0 0 20px; letter-spacing:-1px; background:#fff;}
			.f_h_cont {float:left; display:inline; font-family:mgB; font-size:9px; line-height:14px; color:#a0a0a0;}
				.f_h_cont h3 {float:left; padding-right:2px; font-size:9px; font-weight:normal;}
			.fhc_info {width:198px;}
			.fhc_s_info {width:259px;}
			.fhc_copy {width:343px; letter-spacing:0; background:url('../images/common/bi_footer.gif') right 5px no-repeat;}


/* 컨텐츠 하위메뉴 */
.hs_cont_sub_menu {clear:both; margin-top:12px; padding:15px 0; border:1px solid #e2e2e2; border-width:1px 0;}
	.hs_cont_sub_menu li {display:inline-block; margin-right:8px; padding:0 18px 0 0; font-size:0; background:url('../images/bar_hs_gnb.gif') right 50% no-repeat;}
		.hs_cont_sub_menu li .gbtn, .hs_cont_sub_menu li a strong {height:12px; background-image:url('../images/set_hcsm.gif'); background-repeat:no-repeat;}
			.hs_cont_sub_menu li a strong {display:block; overflow:hidden;}
	.hs_cont_sub_menu li.last {margin-right:0; padding-right:0; background:none;}