@charset "utf-8";

/* 제목 */
	.ctw_leathersofa h2 {width:53px; background-position:left -100px;}
	.ctw_livingroomchest h2 {width:38px; background-position:-55px -100px;}
	.ctw_bed h2 {width:24px; background-position:-95px -100px;}
	.ctw_clotheschest h2 {width:26px; background-position:-120px -100px;}
	.ctw_builtinchest h2 {width:51px; height:15px; background-position:-150px -100px;}
	.ctw_btable h2 {width:26px; background-position:-205px -100px;}
	.ctw_stable h2 {width:38px; background-position:-235px -100px;}
	.ctw_mtable h2 {width:38px; background-position:-275px -100px;}
	.ctw_mirror h2 {width:26px; height:15px; background-position:-315px -100px;}
	.ctw_comforteye h2 {width:61px; background-position:-345px -100px;}
	.ctw_silentnight h2 {width:62px; background-position:-410px -100px;}
	.ctw_nottlatex h2 {width:63px; background-position:-65px -115px;}
	.ctw_altofebricsofa h2 {width:88px; background-position:-130px -115px;}
	.ctw_isofa h2 {width:51px; background-position:-220px -115px;}
	.ctw_rclyner h2 {width:61px; background-position:-275px -115px;}
	.ctw_lrtable h2 {width:63px; background-position:-380px -115px;}
	.ctw_dtable h2 {width:26px; background-position:-445px -115px;}
	.ctw_chair h2 {width:26px; background-position:-270px -70px;}
	.ctw_desk h2 {width:26px; background-position:-300px -70px;}
	.ctw_deskchest h2 {width:51px; background-position:-330px -70px;}
	.ctw_bookcase h2 {width:26px; background-position:-385px -70px;}
	.ctw_cchest h2 {width:67px; background-position:-415px -70px;}
	.ctw_fsofa h2 {width:65px; background-position:-270px -85px;}

/* 제품목록 A */
.hs_product_list {clear:both; float:left; width:100%;}
	.hs_product_list li {position:relative; clear:both; float:left; display:inline; width:100%; height:280px; padding-top:20px; border-bottom:1px solid #e2e2e2;}
		/* hover 레이어 */
		.hsp_list_toption, .hsp_list_toption .shadow {z-index:2; position:absolute; clear:both; width:345px; height:220px; text-align:center; overflow:hidden;}
			.hsp_list_toption {top:20px; left:0; display:none;}
				.hsp_list_toption .shadow {top:0; left:0;}
			.hsplt_tit, .hsplt_kind {z-index:3; position:relative; font-family:mg; font-weight:bold;}
			.hsplt_tit {margin-top:66px; font-size:18px; color:#fff;}
			.hsplt_kind {margin-top:10px; font-size:0; line-height:0;}
				.hsplt_kind a {display:inline-block; width:76px; height:39px; margin-right:1px; font-size:13px; color:#333; line-height:39px; background:#fff;}
				.hsplt_kind a:hover {background:#fcaf17;}
			.hsp_list_toption .shadow {display:block; opacity:0.5; filter:Alpha(opacity=50); background-color:#000;}
		.hsp_thumb {font:0/0 arial;}
		.hsp_exp {margin-top:8px;}
			.hsp_exp .i_p_new, .hsp_exp .i_p_best, .hsp_exp .i_p_newbest {position:absolute; top:27px; left:6px;}
			.hsp_exp, .hsp_exp a {font-family:mg; font-size:11px; color:#a6a6a6; line-height:17px;}
			.hsp_exp a:hover {color:#333;}
	/* 2의배수 */
	.hs_product_list li.nth-2d {clear:none; width:345px; padding-left:20px; margin-top:-301px; margin-left:365px; border-left:1px solid #e2e2e2; }
		.hs_product_list li.nth-2d .hsp_list_toption {left:20px;}
			.hs_product_list li.nth-2d .hsp_exp .i_p_new, .hs_product_list li.nth-2d .hsp_exp .i_p_best, .hs_product_list li.nth-2d .hsp_exp .i_p_newbest {left:26px;}
/*  제품목록 B */
.hs_product_b_list {clear:both; float:left; width:100%; margin-top:10px; border-top:1px solid #e2e2e2;}
	.hs_product_b_list li {position:relative; float:left; display:inline; width:182px; height:249px; border-left:1px solid #e2e2e2; border-bottom:1px solid #e2e2e2;}
		.hs_product_b_list li .hsp_exp .i_p_new, .hs_product_b_list li .hsp_exp .i_p_best, .hs_product_b_list li .hsp_exp .i_p_newbest {position:absolute; top:7px; left:6px;}
		.hs_product_b_list li .hsp_exp {margin-top:6px; padding-left:14px;}
		.hs_product_b_list li .hsp_exp, .hs_product_b_list li .hsp_exp a {line-height:19px;}
	.hs_product_b_list li.hover .hsp_exp a {color:#333;}
	/*  4n-1 */
	.hs_product_b_list li.nth-4n-3 {width:100%; border-left:0;}
	/*  4n-2 */
	.hs_product_b_list li.nth-4n-2 {margin-left:-549px;}
	/*  4n-3 */
	.hs_product_b_list li.nth-4n-1 {margin-left:-366px;}
	/*  4n-4 */
	.hs_product_b_list li.nth-4n {margin-left:-183px;}
/* 더보기버튼 */
.hsp_btn_w {clear:both; padding-top:19px; text-align:center;}
	.b_item_more {width:141px; height:40px; background-position:left -220px;}
/* 상품자세히보기 */
.hs_product_detail_w {clear:both; float:left; width:100%; margin-top:10px; padding:40px 0 0 0; border-top:1px solid #e2e2e2;}
	/* 이미지 */
	.hspd_img {float:left; width:320px; min-height:320px;_height:320px; font:0/0 arial;}
	/* 상품요약 */
	.hspd_summary {float:left; display:inline; width:381px; margin:-5px 0 0 30px; font-family:mg;}
		/* 제목/가격 */
		.hspd_summary h3, .hspd_price {font-size:22px; color:#333; line-height:28px; letter-spacing:-2px;}
		.hspd_price {margin-top:3px; letter-spacing:-1px;}
		/* 규격/색상 */
		.hspd_dmt {clear:both; margin:13px 0 0 0;}
			.hspd_dmt h4, .hspd_dmt p {float:left; display:inline; margin-top:-1px; font-weight:normal; font-size:12px; color:#a6a6a6; line-height:20px; letter-spacing:-1px;}
			.hspd_dmt p {padding-left:4px;}
		/* 옵션선택 */
		.hspd_opt_w_w {clear:both; margin:16px 0 0 0; padding:0 0 4px 0; border-top:1px solid #e2e2e2;}
			.hspd_opt_w {clear:both; margin:16px 0 -4px 0;}
				.hspd_opt_w h4 {clear:both; font-size:12px; font-weight:normal; color:#a6a6a6; letter-spacing:-1px;}
				.hspd_opt {clear:both; margin-top:5px; font-size:0;}
					.hspd_opt li {position:relative; .float:left; display:inline-block; margin-right:1px;}
						.hspd_opt li i {position:absolute; top:-1px; left:-1px; clear:both; display:none; width:28px; height:28px; font:0/0 arial; border:2px solid #d7182a; overflow:hidden; background:transparent;}
					/* 선택일 때 */
					.hspd_opt li.this {z-index:2;}
						.hspd_opt li.this i {display:block;}
				/* 가죽컬러 */
				.hspd_color_w {}
				.b_p_color {width:30px; height:30px; background-image:none;}
				/* 높이 */
				.b_p_option {height:30px; padding:0 7px 0 5px;.padding-top:5px; font-family:mg; font-size:12px; color:#808080; letter-spacing:-1px; line-height:30px; text-align:center; border:1px solid #dadada; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; -o-box-sizing:border-box; -e-box-sizing:border-box; box-sizing:border-box; background:url('../images/bg_b_p_option.gif') left top repeat;}
				.hspd_opt li.this .b_p_option {color:#d7182a;}
					.hspd_height li i {width:96%;}
		/* 제품관련버튼 */
		.hspd_func_w {position:relative; clear:both; height:47px; margin:20px 0 0 0; padding:18px 0 0 0; font-size:0; border-top:1px solid #e2e2e2;}
			.fnc_l {float:left; display:inline; margin-left:-3px;}
				.b_p_print {width:89px; height:47px; background-position:-150px -190px;}
				.b_p_wishlist {width:90px; height:47px; background-position:-239px -190px;}
			.fnc_r {float:right; margin-top:2px;}
				.b_p_email, .b_p_blog {height:39px; border:1px solid #e2e2e2; border-width:0 1px;}
				.b_p_email {width:79px; margin-right:-1px; background-position:-335px -190px;}
				.b_p_blog {width:90px; background-position:-412px -190px;}
	/*  제품상세정보 */
	.hspd_description_w {clear:both; float:left; width:100%; margin:34px 0 0 0; padding:17px 0 0 0; font-family:mg; font-size:12px; border-top:1px solid #e2e2e2;}
		.hspd_description_w h4 {font-size:12px; font-weight:normal; color:#333; line-height:18px; letter-spacing:-1px;}
		.hspd_d_visual {z-index:2; position:relative; margin:17px 0 -1px 0; font:0/0 arial; background:#fff;}
		/* 상세설명템플릿 */
		.hspd_d_explain {z-index:1; position:relative; clear:both; float:left; width:100%; padding:15px 0 16px 0; border-top:1px solid #e2e2e2;}
			.hspd_d_explain h5 {clear:both; float:left; width:140px; font-size:12px; font-weight:normal; color:#333; line-height:20px; letter-spacing:-1px;}
			.hspd_de_cont {float:left; width:591px; color:#a6a6a6; line-height:20px; letter-spacing:-1px;}
				.hspd_de_cont strong {font-weight:normal; color:#333;}
				.hspd_de_cont img {margin:5px 0 15px 0;}


/* 위시리스트 */
	/* 제목 */
	.ctw_wishlist h2 {width:62px; background-position:left -115px;}
	.ctw_wishlist .ctw_exp {width:347px; height:30px; background-position:left -130px;}
	/*  목록 */
	.hspd_wishlist {clear:both; margin-top:25px;}
		/* thead */
		.hspd_wishlist thead tr th {padding:15px 0; text-align:left; border-top:1px solid #333;}
		.hspd_wishlist thead tr th.no {width:46px;}
		.hspd_wishlist thead tr th.itemphoto {width:103px; padding-left:17px;}
		.hspd_wishlist thead tr th.item {width:228px;}
		.hspd_wishlist thead tr th.option {width:194px;}
		.hspd_wishlist thead tr th.price {width:121px;}
		.hspd_wishlist thead tr th.delete {width:22px;}
		/* tbody */
		.hspd_wishlist tbody tr td {padding:9px 0 5px 0; font-family:mg; font-size:12px; color:#a6a6a6; line-height:18px; border-top:1px solid #e2e2e2; vertical-align:top;}
			.hspd_wishlist tbody tr td a {display:inline-block; color:#a6a6a6;}
			.hspd_wishlist tbody tr td img {margin-top:-4px;}
			.hspd_wishlist tbody tr td em {color:#d7182a;}
			.hspd_wishlist tbody tr td .gbtn {margin-top:3px; margin-right:-3px;}
			.hspd_wishlist tbody tr td .b_r_delete {margin-top:1px; margin-right:0;}
	/* 합계 */
	.hspd_wl_total {clear:both; height:40px; padding:12px 0 0 0; font-size:0; font-family:mg; color:#0057a0; border:1px solid #ccdce8; border-width:1px 0; background:url('../images/bg_b_s_grd.gif') left top repeat;}
		.hspd_wl_total h3 {position:relative; top:1px; .float:left; display:inline-block; width:157px; .margin-top:5px;padding:0 0 0 10px; font-weight:normal; font-size:12px;}
		.hspd_wl_total p {display:inline-block; font-size:0;}
			.hspd_wl_total p em {display:inline-block; width:419px; font-size:12px;}
			.hspd_wl_total p strong {position:relative; top:3px; display:inline-block; font-size:16px; color:#d7182a;}
	/* 하단버튼 */
	.bwb_wishlist {margin-top:15px;}
		.bwb_l {margin-left:-2px;}
		.bwb_r {margin-right:-3px;}
		.b_wl_deleteall {width:147px; height:47px; background-position:-315px top;}
		.b_wl_estimateprint {width:149px; height:47px; background-position:-315px -50px;}

/* 검색결과 */
.ctw_searchresult h2 {width:49px; background-position:left -215px;}
.hs_sr_sum {clear:both; height:44px; margin:10px 0 0 0; font-family:mg; font-size:12px; color:#a6a6a6; letter-spacing:-1px; line-height:44px; border:1px solid #e2e2e2; border-width:1px 0;}
	.hs_sr_sum strong, .hs_sr_sum em {font-weight:normal; color:#d7182a;}
.hss_rslt_w .hs_product_b_list {margin-top:0px; border-top:0;}
.hss_rslt_w .hspd_wishlist {margin-top:-1px; border-bottom:1px solid #333;}
		.hss_rslt_w .hspd_wishlist thead tr th.item {width:168px;}
		.hss_rslt_w .hspd_wishlist thead tr th.option {width:304px;}
			.hss_rslt_w .hspd_wishlist thead tr th.option .icn {width:42px; background-position:-95px -30px;}
		.hss_rslt_w .hspd_wishlist thead tr th.price {width:93px;}

/* 단일게시물 팝업 */
#hs_pop_al {background:#fff;}
	.hspal_pd {position:relative; width:731px; margin:0 auto; padding:30px;}
		.hspal_head {text-align:center;}
		.hspal_footer {clear:both; float:left; width:100%; height:90px; margin:50px 0 0 0; padding:20px 0 0 0; font:0/0 arial; text-align:center; border-top:1px solid #e3e3e3;}
		/* 제품상세보기 */
		.hspal_pd .hs_product_detail_w {margin-top:30px;}
		.hspal_pd .hspd_description_w {margin-top:40px;}
		/* 위시리스트 */
		.hspal_h_tl {text-align:left;}
		.hspal_wls {clear:both; margin:46px 0 -8px 0; font-family:mg; font-size:12px; color:#333; line-height:18px;}
		.hspal_pd .hspd_wishlist thead tr th.price {width:143px;}

/* 수입소파 */
.import_sofa_index {clear:both; float:left; width:100%; margin-top:10px; border-top:1px solid #e2e2e2;}
	.import_sofa_index li {float:left; display:inline; margin-top:20px; margin-right:1px; font:0/0 arial;}
		.import_sofa_index li a {position:relative; display:inline-block; height:100%;}
			.import_sofa_index li a span {position:absolute; bottom:0; left:0; width:100%;}
	.import_sofa_index li.isi_01 {width:259px; height:364px;}
		.import_sofa_index li.isi_01 a:hover span {height:345px; background:url('../images/isi_over_01.png') left top no-repeat;}
	.import_sofa_index li.isi_02 {width:471px; .height:364px; margin-right:0;}
		.import_sofa_index li.isi_02 a:hover span {height:314px; background:url('../images/isi_over_02.png') left top no-repeat;}
	.import_sofa_index li.isi_03 {clear:both; width:219px; height:286px;}
		.import_sofa_index li.isi_03 a:hover span {height:267px; background:url('../images/isi_over_03.png') left top no-repeat;}
	.import_sofa_index li.isi_04 {width:267px; height:208px;}
		.import_sofa_index li.isi_04 a:hover span {height:189px; background:url('../images/isi_over_04.png') left top no-repeat;}
	.import_sofa_index li.isi_05 {width:243px; height:246px; margin-right:0;}
		.import_sofa_index li.isi_05 a:hover span {height:227px; background:url('../images/isi_over_05.png') left top no-repeat;}

/* 서브메뉴 */
.is_sub_menu {clear:both; margin-top:10px; border:1px solid #e2e2e2; border-width:1px 0;}
	.is_sub_menu li a.ism_01 {width:32px; background-position:left -30px;}
		.is_sub_menu li a.ism_01:hover, .is_sub_menu li a.ism_01 strong {background-position:left -45px;}
	.is_sub_menu li a.ism_02 {width:52px; background-position:-35px -30px;}
		.is_sub_menu li a.ism_02:hover, .is_sub_menu li a.ism_02 strong {background-position:-35px -45px;}
	.is_sub_menu li a.ism_03 {width:32px; background-position:-90px -30px;}
		.is_sub_menu li a.ism_03:hover, .is_sub_menu li a.ism_03 strong {background-position:-90px -45px;}
	.is_sub_menu li a.ism_04 {width:32px; background-position:-125px -30px;}
		.is_sub_menu li a.ism_04:hover, .is_sub_menu li a.ism_04 strong {background-position:-125px -45px;}
	.is_sub_menu li a.ism_05 {width:31px; background-position:-160px -30px;}
		.is_sub_menu li a.ism_05:hover, .is_sub_menu li a.ism_05 strong {background-position:-160px -45px;}
/* 컨텐츠 */
.isc_w {position:relative; clear:both; margin-top:20px; background-position:left top; background-repeat:no-repeat;}
.isc_01 {height:1098px; padding-bottom:20px; border-bottom:1px solid #e3e3e3; background-image:url('../images/isc_01.jpg');}
.isc_02 {height:769px; border-bottom:1px solid #e3e3e3; background-image:url('../images/isc_02.jpg');}
.isc_03 {height:1069px; background-image:url('../images/isc_03.jpg');}
.isc_04 {height:1097px; background-image:url('../images/isc_04.jpg');}
.isc_05 {height:850px; padding-bottom:20px; border-bottom:1px solid #e3e3e3; background-image:url('../images/isc_05.jpg');}

/* 한샘패브릭관 */
.hsfs_visual {clear:both; margin:10px 0 0 0; padding:20px 0 0 0; font:0/0 arial; border-top:1px solid #e2e2e2;}
.hsfs_what {clear:both; margin-top:30px; padding-bottom:30px; border-bottom:1px solid #e3e3e3;}
	.hsfs_what_in {height:99px; background:url('../images/set_hsfs.jpg') left top no-repeat;}
.hsfs_osi {position:relative; clear:both; padding:10px 0 10px 122px; border-bottom:1px solid #e3e3e3;}
	.hsfs_osi h3 {position:absolute; top:30px; left:0; width:62px; height:14px; background:url('../images/set_hsfs.jpg') -620px -110px no-repeat;}
	.hsfs_osi ul {}
		.hsfs_osi ul li {padding:20px 0; border-bottom:1px solid #e3e3e3;}
			.hsfs_osi ul li .hsfs_osi_in {height:83px; background-image:url('../images/set_hsfs.jpg'); background-repeat:no-repaet;}
		.hsfs_osi ul li.ct .hsfs_osi_in {background-position:left -110px;}
		.hsfs_osi ul li.bl .hsfs_osi_in {background-position:left -200px;}
		.hsfs_osi ul li.rg .hsfs_osi_in {background-position:left -290px;}
		.hsfs_osi ul li.cs .hsfs_osi_in {background-position:left -380px;}
		.hsfs_osi ul li.frsf .hsfs_osi_in {background-position:left -470px;}
		.hsfs_osi ul li.pbf .hsfs_osi_in {background-position:left -560px;}
		.hsfs_osi ul li.iwp {border-bottom:0;}
		.hsfs_osi ul li.iwp .hsfs_osi_in {background-position:left -650px;}