@charset "utf-8";

.hr_product_w {clear:both; position:relative; padding-top:20px; overflow:hidden;}
/* 상품소개메인 */
.hrpm_module {position:relative; clear:both; margin-top:30px; font-size:0;}
	.hrpm_module h3 {position:absolute; top:17px;}
.hrp_ml_w {clear:both; float:left; width:670px;}
	.hrp_ml_w h3 {left:18px;}
.hrp_mr_w {float:left; display:inline; width:300px; margin-left:30px}
	.hrp_mr_w h3 {left:17px;}
	.hrpmm_kc, .hrpmm_wd {margin-top:0px;}
.hrpm_cr_dn {clear:both; margin-top:30px;}

/* 부엌 */
.hrp_2dm_w li a.hrp2d_kc {width:198px; background-position:left top;}
.hrp_2dm_w li a.hrp2d_kc:hover em {left:19px; background-position:left -180px;}
.hrp_2dm_w li a.hrp2d_sr {background-position:-200px top;}
.hrp_2dm_w li a.hrp2d_sr:hover em {left:20px; background-position:-26px -180px;}
.hrp_2dm_w li a.hrp2d_bt {background-position:-400px top;}
.hrp_2dm_w li a.hrp2d_bt:hover em {left:20px; background-position:-53px -180px;}
.hrp_2dm_w li a.hrp2d_fr {background-position:-600px top;}
.hrp_2dm_w li a.hrp2d_fr:hover em {left:20px; background-position:-80px -180px;}
.hrp_2dm_w li a.hrp2d_wd {border-right:1px solid #e0e0e0; background-position:-800px top;}
.hrp_2dm_w li a.hrp2d_wd:hover em {left:20px; background-position:-107px -180px;}
/* selected */
.hrp_2dm_w li.selected a.hrp2d_kc {background-position:left -90px;}
.hrp_2dm_w li.selected a.hrp2d_sr {background-position:-200px -90px;}
.hrp_2dm_w li.selected a.hrp2d_bt {background-position:-400px -90px;}
.hrp_2dm_w li.selected a.hrp2d_fr {background-position:-600px -90px;}
.hrp_2dm_w li.selected a.hrp2d_wd {background-position:-800px -90px;}
/* 상품상세 */
.hrp_2d_detail_w {position:relative; clear:both; padding-top:5px; overflow:hidden;}
	.hrp_2d_detail {position:relative; float:left; display:inline; margin-top:35px;}
		.hrp2dd_head {overflow:hidden;}
			.hrp2dd_head h3 {float:left; display:inline; height:15px; overflow:hidden; background-image:url('../images/hsr_set.png'); background-repeat:no-repeat;}
			.hrp2dd_head em {float:left; display:inline; margin:-3px 0 0 4px; font-size:15px; color:#000; white-space:nowrap; vertical-align:top;}
		.hrp2dd_img {clear:both; margin-bottom:14px; font-size:0;}
			.hrp2dd_img strong {display:block; margin-top:12px; font-size:13px; color:#262626; letter-spacing:-1px; font-weight:normal;}
				.hrp2dd_img strong .sls {margin:0 10px;}
	/* 부엌상품 */
	.hrp2dd_kc {width:741px;}
		.hrp2dd_kc .hrp2dd_head h3 {width:26px; background-position:-240px -30px;}
	/* 상판 */
	.hrp2dd_tb {width:228px; margin-left:31px;}
		.hrp2dd_tb .hrp2dd_head h3 {width:28px; background-position:-345px -100px;}
	/* 상품기기&악세사리 */
	.hrp2dd_ac {clear:both; overflow:hidden; margin-top:27px; padding-top:29px; border-top:1px solid #dcdcdc;}
		.hrp2dd_ac .hrp2dd_head h3 {width:124px; background-position:-275px -25px;}
		.hrp2dd_sth {clear:both; margin-top:13px; font-size:0;}
			.hrp2dd_sth li {float:left; display:inline; width:226px; margin-bottom:21px; margin-right:31px;}
			.hrp2dd_sth li.hrp2dd_sth_ct, .hrp2dd_sth li.hrp2dd_sth_bt, .hrp2dd_sth li.hrp2dd_sth_ac {width:227px;}
			.hrp2dd_sth li.hrp2dd_sth_bt {margin-right:0;}
				.hrp2dd_sth li a {display:block;}
					.hrp2dd_sth li strong {display:block; margin-top:7px; font-size:13px; font-weight:normal; color:#262626; letter-spacing:-1px;}
						.hrp2dd_sth li strong em {margin-left:-3px;letter-spacing:0;}
	/* 카테고리/정렬 */
	.hrp_cateogry_sort_w {z-index:3; position:relative; clear:both; height:41px; margin-top:13px; border-bottom:1px solid #000;}
		/* 카테고리 */
		.hrp_cateogry {float:left; margin-top:8px;}
			.hrp_cateogry li {float:left; display:inline; padding:0 15px 0 16px; background:url('../images/bar_hrpc.gif') left top no-repeat;}
			.hrp_cateogry li.first {padding-left:0; background:none;}
				.hrp_cateogry li a {background-image:none;}
					.hrp_cateogry li a span {float:left; height:14px; background-image:url('../images/hsr_set.png');}
					.hrp_cateogry li a em {position:relative; top:-1px; display:inline-block; margin-left:2px; font-size:12px; color:#000;}
					.b_hrpc_kc span {width:24px; background-position:left -195px;}
					.b_hrpc_kc:hover span, .selected .b_hrpc_kc span {background-position:-220px -195px;}
					.b_hrpc_pa span {width:113px; background-position:-75px -195px;}
					.b_hrpc_pa:hover span, .selected .b_hrpc_pa span {background-position:-295px -195px;}
					.b_hrpc_tb span {width:25px; background-position:-190px -195px;}
					.b_hrpc_tb:hover span, .selected .b_hrpc_tb span {background-position:-410px -195px;}
		/* 정렬 */
		.hrp_sort_w {float:right;}
			.hrp_sort_w .sbToggle {top:1px; right:1px; width:30px; height:30px; background:url('../images/hsr_set.png') -410px top no-repeat;}
			.hrp_sort_w .sbToggleOpen {background-position:-410px -30px;}
			.hrp_sort_w .sbSelector {width:133px; height:30px; padding-left:13px; font-size:12px; color:#000; line-height:30px; border:1px solid #fff;}
			.hrp_sort_w .sbOpen .sbSelector {border:1px solid #ccc;}
			.hrp_sort_w .sbOptions {border-bottom:1px solid #ccc; background-color:#fff;}
				.hrp_sort_w .sbOptions li {border:1px solid #ccc; border-width:0 1px;}
					.hrp_sort_w .sbOptions li a {display:block; height:30px; padding-left:13px; font-size:12px; color:#000; line-height:30px; background:#fff;}
					.hrp_sort_w .sbOptions li a:hover {color:#d50030;}
				.hrp_sort_w .sbOptions li.first {padding-top:5px;}
				.hrp_sort_w .sbOptions li.last {padding-bottom:18px;}
	/* 4depth 탭메뉴 */
	.b_hrp4d_all span {width:17px; background-position:left -210px;}
	.b_hrp4d_all:hover span {background-position:-285px -210px;}
	.selected .b_hrp4d_all span {background-position:-140px -210px;}
	.b_hrp4d_super span {width:41px; background-position:-20px -210px;}
	.b_hrp4d_super:hover span {background-position:-305px -210px;}
	.selected .b_hrp4d_super span {background-position:-160px -210px;}
	.b_hrp4d_superplus span {width:74px; background-position:-65px -210px;}
	.b_hrp4d_superplus:hover span {background-position:-350px -210px;}
	.selected .b_hrp4d_superplus span {background-position:-205px -210px;}
	/* 부엌상품 4depth */
	.hrpk_4dm {clear:both; height:32px; padding:19px 0 0 0; background:#f9f9f9;}
		.hrpk_4dm li {float:left; display:inline; padding:0 25px; background:url('../images/bar_hrpk_4dm.gif') right 1px no-repeat;}
		.hrpk_4dm li.last {background:none;}
			.hrpk_4dm li a {height:14px;}
			.b_hrpk4_all {width:17px; background-position:left -210px;}
			.selected .b_hrpk4_all {background-position:-285px -210px;}
			.b_hrpk4_super {width:41px; background-position:-20px -210px;}
			.selected .b_hrpk4_super {background-position:-305px -210px;}
			.b_hrpk4_superplus {width:74px; background-position:-65px -210px;}
			.selected .b_hrpk4_superplus {background-position:-350px -210px;}
	/* 리스트 Wide */
	.hrp_list_type_w {clear:both; margin-top:39px; padding-bottom:20px; overflow:hidden;}
		.hrp_list_type_w li {float:left; display:inline; width:490px; height:470px; margin-right:20px;}
			.hrp_list_type_w li a {position:relative; display:block;}
				.hrp_tit, .hrp_exp, .hrp_price {display:block;}
				.hrp_tit {margin-top:7px; font-size:18px; color:#1a1a1a;}
					.i_w {position:absolute; top:15px; left:7px; display:block;}
						.i_l_new, .i_l_best {float:left; display:inline; width:64px; height:29px; margin-left:8px;}
						.i_l_new {background-position:-200px -775px;}
						.i_l_best {background-position:-270px -775px;}
				.hrp_exp {margin-top:10px; padding:11px 70px 0 0; font-size:13px; color:#737373; line-height:22px; border-top:1px solid #e8e8e8;}
				.hrp_price {margin-top:6px; font-family:arial; font-size:12px; color:#0d0d0d;}
					.hrp_price span {text-decoration:line-through;}
					.hrp_price em {margin-left:4px; color:#d50030;}
		.hrp_list_type_w li.even {margin-right:0;}
	/* 리스트 small */
	.hrp_list_type_s {clear:both; margin-top:39px; margin-bottom:40px; padding-bottom:4px; border-bottom:1px solid #000; overflow:hidden;}
		.hrp_list_type_s li {float:left; display:inline; width:235px; height:260px; margin-right:20px; margin-bottom:25px;}
			.hrp_list_type_s li a {display:block; height:260px; font-size:0;}
				.hrp_list_type_s li a strong {display:block; margin-top:16px; font-size:13px; color:#1a1a1a; font-weight:normal;}
		.hrp_list_type_s li.nth-4n {margin-right:0;}
		/* 4depth 메뉴 */
		.b_hrp4d_hd {width:26px; background-position:0 -240px;}
		.selected .b_hrp4d_hd {background-position:0px -255px;}
		.b_hrp4d_ct {width:26px; background-position:-30px -240px;}
		.selected .b_hrp4d_ct {background-position:-30px -255px;}
		.b_hrp4d_sc {width:26px; background-position:-60px -240px;}
		.selected .b_hrp4d_sc {background-position:-60px -255px;}
		.b_hrp4d_sj {width:26px; background-position:-90px -240px;}
		.selected .b_hrp4d_sj {background-position:-90px -255px;}
		.b_hrp4d_ot {width:51px; background-position:-120px -240px;}
		.selected .b_hrp4d_ot {background-position:-120px -255px;}
		.b_hrp4d_ac {width:51px; background-position:-175px -240px;}
		.selected .b_hrp4d_ac {background-position:-175px -255px;}

/* 수납 */
.hrp2dd_bti .hrp2dd_head h3 {width:54px; background-position:-230px -255px;}
.hrp2dd_dsr .hrp2dd_head h3 {width:54px; background-position:-285px -255px;}
.hrp2dd_btis .hrp2dd_head h3 {width:70px; background-position:-340px -255px;}
.hrp2dd_fdf .hrp2dd_head h3 {width:41px; background-position:-410px -255px;}
.hrp2dd_btis, .hrp2dd_fdf {margin-left:30px;}
.hrp2dd_bisfdf {margin-top:26px; border-top:1px solid #dcdcdc;}
	.hrp2dd_bisfdf .hrp_2d_detail {margin-top:30px;}
		.hrp2dd_h_r {float:right; margin-top:-2px; overflow:hidden;}
			.hrp2dd_h_r li {float:left; display:inline; padding:0 14px; font-size:13px; letter-spacing:-1px; background:url('../images/bg_hrgl_fnc_li.gif') right 3px no-repeat;}
				.hrp2dd_h_r li a {color:#262626;}
			.hrp2dd_h_r li.last {padding-right:0; background:none;}

/* 제품상세소개 */
.hrp_product_detail_w {position:relative; clear:both;}
	/* 제목/제품페이징 */
	.hrppd_head {position:relative; clear:both; margin-top:0; padding-top:6px; overflow:hidden;}
		.hrppd_head .hrmed_paging_w {margin-top:13px;}
	/* 제품사진 */
	.hrppd_photo_w {position:relative; clear:both; margin-top:7px; font-size:0;}
		.hrsps_sr_in {margin-top:0;}
			.hrppd_photo_w .hrsps_sr_vb_w {height:565px; margin-top:0;}
			.hrppd_photo_w .hrsps_sr_tb {margin-top:0;}
		/* 트위터/페이스북 */
		.hrppd_p_sms {z-index:10; position:absolute; top:35px; right:28px; clear:both;}
			.hrppd_p_sms a {width:44px; height:44px; margin-left:1px;}
			.b_psms_t {background-position:-175px -270px;}
			.b_psms_f {background-position:-220px -270px;}
	/* 제품제목 */
	.hrppd_tit_w {position:relative; clear:both; margin-top:25px; overflow:hidden;}
		.hrppdt_category {font-family:arial; font-size:12px; color:#000;}
		.hrppd_tit {margin-top:7px; font-size:28px; color:#000;}
		.hrppdt_desc {width:380px; margin-top:11px; font-size:13px; color:#000; letter-spacing:-1px; line-height:22px;}
		.hrppdt_fnc {position:absolute; top:28px; right:2px; clear:both; padding-top:3px; font-size:0; overflow:hidden;}
			.hrppdt_fnc li {float:left; display:inline; margin-top:3px;}
				.hrppdt_fnc li a span {line-height:72px;}
				.b_hrppdt_gj {width:119px; height:72px; background-position:0 -790px;}
			.hrppdt_fnc li.wl {margin:0 0 0 9px;}
				.b_hrppdt_wl{width:76px; height:75px; background-position:-120px -790px;}
	/* 제품특성 */
	.hrppd_spc_w {clear:both; margin-top:35px; overflow:hidden;}
		.hrppds_l {float:left; width:490px;}
			.hrppds_md {position:relative;}
				.hrppds_md h4, .hrppds_gpw h4 {height:12px; padding-bottom:14px; border-bottom:1px solid #d3d3d2; overflow:hidden;}
					.hrppds_md h4 span, .hrppds_gpw h4 span {float:left; width:46px; height:12px; background-image:url('../images/hsr_set.png'); background-repeat:no-repeat;}
			/* 도어소재 */
			.hrppds_dm {}
				.hrppds_dm h4 span {background-position:left -300px;}
				.hrppds_md_s {margin-top:12px;}
					.hrppds_md_s li {margin-bottom:5px; font-size:13px; color:#808080;}
			.hrppds_in2 {clear:both; margin-top:38px; overflow:hidden;}
				.hrppds_in2 .hrppds_md {float:left; display:inline; width:235px;}
				/* 도어색상 */
				.hrppds_dc {}
					.hrppds_dc h4 span {background-position:-50px -300px;}
					.hrppds_dcrt_ds {margin-top:8px;}
						.hrppds_dcrt_ds li {position:relative; margin-bottom:-1px; padding-top:3px; font-size:13px; color:#808080;}
							.hrppds_dcrt_ds li img {position:relative; top:-3px; margin-right:10px; vertical-align:top;}
				/* 추천상판 */
				.hrppds_rt {margin-left:20px;}
					.hrppds_rt h4 span {background-position:-100px -300px;}
				/* SNS공유 */
				.hrppds_in2 .hrppd_p_sms {position:relative; top:auto; left:auto; right:auto; clear:both; padding-top:22px;}
					.hrppds_in2 .hrppd_p_sms a {width:27px; height:27px; margin-right:11px;}
					.hrppds_in2 .b_psms_t {background-position:-186px -279px;}
					.hrppds_in2 .b_psms_f {background-position:-229px -279px;}
		.hrppds_r {float:left; display:inline; width:484px; margin-left:21px;}
			/* 평면도 */
			.hrppds_gpw {}
				.hrppds_gpw h4 {padding-bottom:15; border-bottom:0;}
					.hrppds_gpw h4 span {width:45px; background-position:left -450px;}
				.hrppds_gp {border:1px solid #ccc;}
	/* 제품특성 TYPE2 */
	.tp2 {position:relative; padding-bottom:90px;}
		.tp2 .hrppds_l {float:none; width:auto;}
			.tp2 .hrppds_dm {float:left; width:490px;}
			.tp2 .hrppds_in2 {clear:none; float:left; display:inline; margin:0 0 0 20px;}
			.tp2 .hrppds_in2 .hrppd_p_sms {position:absolute; bottom:48px; left:0; margin:0; padding:0;}
	/* 연관상품 */
	.hrppd_rp_w {clear:both; margin-top:20px; overflow:hidden;}
		/* 제품정보탭 */
		.hrppd_itab li a.hrppd_it_rp span {background-position:-35px -315px;}
		.hrppd_itab li a.hrppd_it_pd span {background-position:-90px -315px;}
		.hrppd_itab li.selected a.hrppd_it_rp span {background-position:-150px -315px;}
		.hrppd_itab li.selected a.hrppd_it_pd span {background-position:-205px -315px;}
		/* 연관상품리스트 */
		.hrppd_rplist {clear:both; margin-top:20px;}
			.hrppd_rplist li {float:left; display:inline; margin-right:20px; margin-bottom:32px;}
				.hrppd_rplist li a {display:block; font-size:0;}
					.hrppd_rplist li a span {display:block; margin-top:6px; font-size:13px; color:#262626; letter-spacing:-1px;}
			.hrppd_rplist li.nth-4 {margin-right:0;}
	/* 상세정보 */
	.hrppd_pd_w {clear:both; overflow:hidden;}
		.hrppd_pd_in {position:relative; clear:both; overflow:hidden;}
			.hrppd_pd_desc_w {clear:both; margin-top:-26px; font-size:13px; color:#1a1a1a; letter-spacing:-1px; line-height:24px;}
				.hrppd_pd_tit {margin-top:20px; margin-bottom:12px; font-size:21px; color:#010101; letter-spacing:-1px;}
				.hpd_desc_t {clear:both; margin-top:14px;}
				.hpd_desc_i {clear:both; margin-top:25px; padding-top:32px; font-size:0; border-top:1px solid #e0e0e0;}
					.hpd_desc_i img {margin-bottom:1px;}
				.hrppd_pd_in .brduw_desc {padding-top:12px;}
					.hrppd_pd_in .brduw_d_l {width:716px; padding:12px 0 0 0; text-align:center;}
					.hrppd_pd_in .brduw_d_r {width:284px; padding:0;}
						.hrppd_pd_in .hrppdt_fnc {position:relative; top:auto; right:auto; float:right;}
		/* 연관리모델링사례 */
		.hrp_rer_ex {margin-top:66px;}
			.hrp_rer_ex .brd_mex_tit {width:101px; background-position:-240px -100px;}
	/* 제품기본정보 */
	.hrppd_def_info_w {position:relative; clear:both; margin-top:9px; padding-bottom:46px; overflow:hidden;}
		/* 제품사진 */
		.hrppd_di_photo {position:relative; float:left; width:490px; margin-top:3px; font-size:0;}
			.hrppd_di_photo_in {position:relative; clear:both; padding:0;}
				.hrppd_dp_v {position:relative; width:480px; height:480px;}
					.hrppd_dp_v img {z-index:1; position:absolute; top:-99999px; left:-99999px;}
					.hrppd_dp_v img.selected {z-index:2; top:0; left:0;}
				.hrppd_dp_t {clear:both; margin-top:1px; overflow:hidden;}
					.hrppd_dp_t li {position:relative; float:left; display:inline; margin-right:1px;}
						.hrppd_dp_t li span {z-index:2; position:absolute; top:0; left:0; display:none; width:91px; height:92px; border:2px solid #d50030;}
						.hrppd_dp_t li.selected span {display:block;}
					.hrppd_dp_t li.last {width:96px; margin-right:0;}
						.hrppd_dp_t li.last img {width:96px;}
			.hrppd_di_photo .hrppd_p_sms {top:10px; left:10px; right:auto;}
		/* 제품기본 */
		.hrppd_di_info {position:relative; float:left; display:inline; width:490px; margin:0 0 0 20px; overflow:hidden;}
			.hrppd_di_tit {font-size:21px; color:#000; letter-spacing:-1px;}
			.hrppd_di_code {display:block; margin:9px 0 0 2px; font-size:13px; color:#000;}
			.hrppd_di_if {clear:both; margin-top:18px; padding-top:9px; border-top:1px solid #e5e5e6;}
				.hrppd_di_if li {padding:10px 0 0 3px; font-size:13px; color:#000; letter-spacing:-1px;}
					.hrppd_di_if li em {float:left; width:94px; color:#808080;}
			.hrppd_di_info .hrppdt_fnc {position:relative; top:auto; left:auto; right:auto; clear:both; margin-top:26px;}
		/* 상품특징 */
		.hrppd_di_spc {clear:both; padding-top:30px; overflow:hidden;}
			.hrppd_di_stit {padding-bottom:17px; border-bottom:1px solid #d4d4d4; overflow:hidden;}
				.hrppd_di_stit span {display:block; width:46px; height:12px; background-image:url('../images/hsr_set.png'); background-repeat:no-repeat;}
				.hrppd_di_spc .hrppd_di_stit span {background-position:-160px -330px;}
			.hrppd_di_sdesc {clear:both; margin-top:17px; font-size:13px; color:#262626; letter-spacing:-1px;}
				.hrppd_di_sdesc li {margin-top:9px;}
		/* 주요기능 */
		.hrppd_di_sfnc, .hrppd_di_wrn {clear:both; float:left; display:inline; width:490px; margin-top:59px;}
			.hrppd_di_sfnc .hrppd_di_stit span {background-position:-210px -330px;}
			.hrppd_di_swdesc {clear:both; margin-top:17px; font-size:13px; color:#808080;}
				.hrppd_di_swdesc li {margin-top:5px;}
		/* 주의사항 */
		.hrppd_di_wrn {clear:none; margin-left:20px;}
			.hrppd_di_wrn .hrppd_di_stit span {background-position:-160px -345px;}


.prd_index {clear:both; margin:25px 0 0 0; padding-bottom:20px; font-size:0;}
.prdi_btmb {padding:0 0 30px 0; border-bottom:1px solid #e8e8e8;}