@charset "utf-8";

/* Font */
@font-face {font-family:mg; src:url('font/malgun.eot'); src:local('?'), url('font/malgun.woff') format('woff'), url('font/malgun.ttf') format('truetype'); font-weight:normal;}
@font-face {font-family:mgB; src:url('font/malgunbd.eot'); src:local('?'), url('font/malgunbd.woff') format('woff'), url('font/malgunbd.ttf') format('truetype'); font-weight:normal;}


/* Default */
html {overflow-y:scroll;}
html, body {width:100%; height:100%;.overflow-x:hidden;}
body {font-size:12px; color:#555; line-height:normal; font-family:'mg', '돋움', 'Dotum','굴림', 'Gulim', 'Arial', 'Tahoma', 'AppleGothic','sans-serif'; background-color:#fff;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {margin:0; padding:0}
li {list-style:none;}
img, fieldset {border:0;}
hr {display:none;}
em, i, address {font-style:normal;}
a {cursor:pointer; text-decoration:none;}
a:hover {text-decoration:none;}
table caption, legend {width:0; height:0; text-indent:-9999em; font:0/0 arial; overflow:hidden; visibility:hidden;}
table {border-spacing:0; border-collapse:collapse; table-layout:fixed; empty-cells:show;}
legend {position:absolute; top:0; left:0; display:inline;}
button {cursor:pointer;}
.clear {clear:both; float:none; width:0; height:0; margin:0; padding:0; font:0/0 arial;}
.hide {width:0; height:0; text-indent:-9999em; font:0/0 arial; overflow:hidden;}
.ir {zoom:-10; z-index:-1; position:relative; display:none; width:100%;_width:0;_height:0; .text-indent:-9999em;_text-indent:-9999em; font-size:9px;_font-size:0;_line-height:0; text-align:center; white-space:nowrap; overflow:hidden;}

form {clear:both;}
input, select {font-size:100%; vertical-align:middle;}
input, textarea, select {font-size:12px;}
button::-moz-focus-inner {border:0; padding:0;}
textarea{overflow:auto}
input:focus {outline:none;}
input.radio, input.check {top:-1px;.top:0; position:relative; width:13px; height:13px; vertical-align:middle;}
/* webkit */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	input.radio {margin-left:1px;}
}
.lb {display:block;}
.wahide {position:absolute; top:-9999px; left:-9999px;}
.hr_input_w {position:relative; height:24px; padding:0 0 0 2px; background:url('../images/bg_hr_input_l.gif') left top no-repeat;}
	.hr_input_w label {position:absolute; top:6px; left:8px; font-family:'Arial Unicode Ms'; font-size:9px; color:#666;}
	.hr_input_w .hr_input {height:24px; padding-left:8px; font-family:dotum; font-size:12px; color:#666; border:0; line-height:24px; background:url('../images/bg_hr_input_r.gif') right top no-repeat;}
.hrp_selectbox_w {z-index:10; position:relative; float:left;}
	.hrp_selectbox_w .sbToggle {position:absolute; top:0; right:0;}
	.hrp_selectbox_w .sbSelector {float:left;}
	.hrp_selectbox_w .sbOptions {position:absolute; top:0; left:0; clear:both; width:100%; overflow-y:auto;}

/* 버튼 */
.gbtn {position:relative; display:inline-block; width:auto; margin:0; padding:0; line-height:normal !important; border:0; overflow:visible; cursor:pointer; vertical-align:middle; white-space:nowrap; font-family:'mg', 'Arial','Tahoma','Dotum','AppleGothic','sans-serif'; background-repeat:no-repeat; background-color:transparent; background-image:url('../images/hsr_set.png');}
.gbtn:hover {text-decoration:none;}
.gbtn span {position:relative; display:block;}
    input.gbtn {text-indent:-9999em;}
    span.gbtn {cursor:default;}


/* 아이콘 */
.icn {position:relative; top:-1px; display:inline-block; font:0/0 arial; overflow:hidden; vertical-align:middle; background-image:url('../images/hsr_set.png'); background-repeat:no-repeat;}

/* 본문바로가기 */
#bSkipToDocument {display:inline-block; padding:6px 16px; font-size:15px; color:#fff; background:#d50030;}

#wrapper {position:relative; width:1000px; margin:0 auto;}
	/* header */
	#header {z-index:10; position:relative; clear:both; padding:12px 0 0 0;}
		#header h1 {position:absolute; top:66px; width:83px; height:29px; overflow:hidden; background:url('../images/hsr_set.png') -477px -169px no-repeat;}
			#header h1 a {display:block; height:21px;}
		/* 패밀리사이트 */
		.hr_familysite {float:left; margin-top:9px; font-size:0;}
			.hr_familysite li {.float:left; display:inline-block; .display:inline; border-right:1px solid #e0e0e0;}
				.hr_familysite li a {display:block; height:11px;}
				.hr_familysite li a .ir {text-indent:-9999px;}
				.b_fs_home {width:37px; margin-right:20px; background-position:-60px top;}
				.b_fs_home:hover {background-position:-60px -12px;}
				.b_fs_kitchen {width:37px; margin:0 17px; background-position:-100px top;}
				.b_fs_kitchen:hover {background-position:-100px -12px;}
				.b_fs_interior {width:56px; margin:0 13px; background-position:-140px top;}
				.b_fs_interior:hover {background-position:-140px -12px;}
				.b_fs_mall {width:29px; margin-left:10px; background-position:-200px top;}
				.b_fs_mall:hover {background-position:-200px -12px;}
			.hr_familysite li.last {border-right:0;}
		/* 우측상단 */
		.hr_gnb_w {float:right; width:243px;}
			/* GNB */
			.hr_gnb {width:243px; font-size:0;}
				.hr_gnb li {position:relative; .float:left; display:inline-block; .display:inline; margin-right:4px;}
					.hr_gnb li a {display:block; height:19px; padding-top:8px; border-bottom:1px solid #e0e0e0; background-image:none;}
						.hr_gnb li a span {position:relative; display:block; height:11px; overflow:hidden; background-image:url('../images/hsr_set.png'); background-repeat:no-repeat;}
					.b_gnb_login,.b_gnb_member, .b_gnb_join, .b_gnb_helpdesk {width:77px;}
					.b_gnb_favorite, .b_gnb_shop {width:81px;}
					.b_gnb_login span {width:28px; background-position:left -25px;}
					.b_gnb_login:hover span {background-position:left -38px;}
					.b_gnb_member span {width:28px; background-position:-30px -25px;}
					.b_gnb_member:hover span {background-position:-30px -38px;}
					.b_gnb_favorite span {width:59px; background-position:-60px -25px;}
					.b_gnb_favorite:hover span {background-position:-60px -38px;}
					.b_gnb_join span {width:37px; background-position:-120px -25px;}
					.b_gnb_join:hover span {background-position:-120px -38px;}
					.b_gnb_helpdesk span {width:37px; background-position:-160px -25px;}
					.b_gnb_helpdesk:hover span {background-position:-160px -38px;}
					.b_gnb_shop span {width:38px; background-position:-200px -25px;}
					.b_gnb_shop:hover span {background-position:-200px -38px;}
					.b_gnb_notice span {width:76px; background-position:-445px -55px;}
					.b_gnb_notice:hover span {background-position:-445px -68px;}
					.b_gnb_mypage span {width:78px; background-position:-485px -25px;}
					.b_gnb_mypage:hover span {background-position:-485px -38px;}
				.hr_gnb li.nth3 {margin-right:0;}
			/* 공지사항 */
			.hrh_notice_w {position:relative; clear:both; height:15px; margin-top:34px; padding:0 31px 0 0; overflow:hidden;}
				.hrh_notice {height:15px;}
					.hrh_notice a {display:block; height:15px; font-size:12px; color:#000; line-height:13px; letter-spacing:-1px;}
				.hrhn_paging_w {position:absolute; top:0; right:0; height:15px; font-size:0;}
					.b_hrn_pg_w {float:left; display:inline; width:15px; height:15px;}
						.b_hrn_pg_w a {display:block; height:15px; text-indent:-9999px; background-image:url('../images/hsr_set.png'); background-repeat:no-repeat;}
						.b_hrn_pg_w a.bx-prev {margin-right:1px; background-position:-240px -15px;}
						.b_hrn_pg_w a.bx-next {background-position:-255px -15px;}
						.b_hrn_pg_w a.bx-prev.disabled {background-position:-240px top;}
						.b_hrn_pg_w a.bx-next.disabled {background-position:-255px top;}
		/* 메뉴바 */
		.hr_navibar {clear:both; padding-top:13px; font-size:0;}
			/* SNB */
			.hr_snb_w {.float:left; display:inline-block; .display:inline; width:749px;}
				.hr_snb {}
					.hr_snb li {position:relative; .float:left; display:inline-block; .display:inline; margin-right:2px; border-top:1px solid #000; border-bottom:1px solid #e0e0e0;}
						.hr_snb li a {display:block; height:46px; border-top:1px solid #fff; background-image:none;}
							.hr_snb li a span {position:relative; display:block; height:14px; margin-top:16px; margin-left:1px; overflow:hidden; background-image:url('../images/hsr_set.png'); background-repeat:no-repeat;}
						.b_snb_ik {width:94px;}
							.b_snb_ik span {width:41px; background-position:-169px -993px;}
							.selected .b_snb_ik span {background-position:-8px -993px;}
							.hover .b_snb_ik span {background-position:-169px -993px; margin-left:10px;}
						.b_snb_product {width:99px;}
							.b_snb_product span {width:52px; background-position:-169px -1013px;}
							.selected .b_snb_product span {background-position:-8px -1013px;}
							.hover .b_snb_product span {background-position:-169px -1013px; margin-left:10px;}
						.b_snb_style {width:104px;}
							.b_snb_style span {width:65px; background-position:-169px -1033px;}
							.selected .b_snb_style span {background-position:-8px -1033px;}
							.hover .b_snb_style span {background-position:-169px -1033px; margin-left:10px;}
						.b_snb_remodeling {width:127px;}
							.b_snb_remodeling span {width:75px; background-position:-169px -1053px;}
							.selected .b_snb_remodeling span {background-position:-8px -1053px;}
							.hover .b_snb_remodeling span {background-position:-169px -1053px; margin-left:10px;}
						/*.b_snb_estimate {width:102px;}
							.b_snb_estimate span {width:48px; background-position:-245px -50px;}
							.selected .b_snb_estimate span {background-position:-245px -120px;}
							.hover .b_snb_estimate span {background-position:-245px -180px;}
							*/
						.b_snb_estimate {width:102px;}
							.b_snb_estimate span {width:48px; background-position:-169px -1073px;}
							.selected .b_snb_estimate span {background-position:-8px -1073px;}
							.hover .b_snb_estimate span {background-position:-169px -1073px; margin-left:10px;}
						.b_snb_shop {width:103px;}
							.b_snb_shop span {width:47px; background-position:-169px -1093px;}
							.selected .b_snb_shop span {background-position:-8px -1093px;}
							.hover .b_snb_shop span {background-position:-169px -1093px; margin-left:10px;}
						.b_snb_event {width:105px;}
							.b_snb_event span {width:36px; background-position:-169px -1113px;}
							.selected .b_snb_event span {background-position:-8px -1113px;}
							.hover .b_snb_event span {background-position:-169px -1113px; margin-left:10px;}
				/* hover */
				.hr_snb li.hover {background-color:#f5f5f5; border-bottom:solid 1px #f2f2f2;}
					.hr_snb li.hover a {background-color:#f5f5f5; }
					.hover .hrsnb_2d {top:48px; left:0;}
				/* 2depth */
				.hrsnb_2d {position:absolute; top:-99999px; left:-99999px; width:100%;}
					.hr_snb li .hrsnb_2d li {float:none; display:block; margin-right:0; border:0;}
						.hr_snb li .hrsnb_2d li a {height:29px; padding-top:17px; border:0; }
						.hr_snb li .hrsnb_2d li a:hover {background-color:#ccc;}
							.hr_snb li .hrsnb_2d li a span {margin-top:0; margin-left:10px;}
							.hr_snb li .hrsnb_2d li a span.selected {margin-top:0; margin-left:10px;}
							.b_snb2d_ik_hs span {width:60px; background-position:-369px -1013px;}
							/*	.hover .b_snb2d_ik_hs span {background-position:-266px -993px;}*/
							.b_snb2d_ik_hsik span {width:50px; background-position:-369px -1013px;}
							.b_snb2d_pd_kc span {width:24px; background-position:-369px -1033px;}
							.b_snb2d_pd_sr span {width:25px; background-position:-369px -1053px;}
							.b_snb2d_pd_bt span {width:24px; background-position:-369px -1073px;}
							.b_snb2d_pd_fl span {width:24px; background-position:-369px -1093px;}
							.b_snb2d_pd_wd span {width:25px; background-position:-369px -1113px;}
							.b_snb2d_st_naturalmodern span {width:63px; background-position:-369px -1133px;}
							.b_snb2d_rd_br span {width:87px; background-position:-369px -1153px;}
							.b_snb2d_rd_re span {width:99px; background-position:-369px -1173px;}
							.b_snb2d_et_pde span {width:70px; background-position:-369px -1193px;}
							.b_snb2d_et_sfe span {width:70px; background-position:-369px -1213px;}
							.b_snb2d_sp_hr span {width:73px; background-position:-369px -1233px;}
							.b_snb2d_sp_bs span {width:60px; background-position:-369px -1253px;}
							.b_snb2d_sp_rs span {width:60px; background-position:-369px -1273px;}
							.b_snb2d_ev_ne span {width:89px; background-position:-369px -1293px;}
							.b_snb2d_ev_pe span {width:65px; background-position:-369px -1313px;}

		.hrh_search {.float:left; display:inline-block; .display:inline; width:251px; height:47px; vertical-align:top; border-top:1px solid #000; border-bottom:1px solid #e0e0e0;}
			.hrh_search .hr_input_w {margin-top:12px; margin-left:7px; padding-left:21px; background:url('../images/bg_hrh_search_l.gif') left top no-repeat;}
				.hrh_search .hr_input_w label {left:25px;}
				.hrh_search .hr_input {width:215px;}
	/* content */
	#hrContent {zoom:1; position:relative; clear:both;}
	#hrContent:after {content:"."; display:block; height:0; clear:both; visibility:hidden;}
	/* footer */
	#footer {position:relative; clear:both; height:115px; padding:18px 0 100px 0; margin-top:100px; border-top:1px solid #eaeaea;}
		.hrf_dl_w {float:left; width:700px; padding-top:1px; font-size:11px; color:#999;}
			.hrf_dl_w h2 {width:58px; height:21px; overflow:hidden; background:url('../images/hsr_set.png') -320px top no-repeat;}
			.hrf_dl_w a {color:#999;}
			.hrf_linkset {margin-top:18px; font-size:0;}
				.hrf_linkset li {display:inline; padding:0 7px 0 14px; font-size:11px; background:url('../images/bar_hrf.gif') left 2px no-repeat;}
				.hrf_linkset li.first {padding-left:0; background:none;}
			.hrf_addr {margin-top:12px; line-height:16px;}
		.hrf_dr_w {float:left; width:300px; font-size:11px; color:#999;}
			.hr_selectbox_f_w {position:relative; width:130px;}
				.hr_selectbox_f_w .sbSelector, .hr_selectbox_f_w .sbOptions li a {display:block; height:24px; padding:0 0 0 11px; font-size:11px; color:#999; line-height:26px; background:url('../images/hrsbf.gif') left top no-repeat;}
				.hr_selectbox_f_w .sbToggle {position:absolute; top:11px; right:5px; display:block; width:7px; height:4px; overflow:hidden; background:url('../images/hsr_set.png') -380px top no-repeat;}
				.hr_selectbox_f_w .sbToggleOpen {background-position:-390px top;}
				.hr_selectbox_f_w .sbOptions {position:absolute; width:100%; overflow-y:auto;  background:url('../images/bg_hrsbf_option.gif') left bottom no-repeat;}
					.hr_selectbox_f_w .sbOptions li {padding:0 1px;}
						.hr_selectbox_f_w .sbOptions li a {line-height:24px; background:none;}
						.hr_selectbox_f_w .sbOptions li a.sbFocus {background-color:#f4f4f4;}
			.hrf_dr_w p {margin-top:14px; margin-bottom:-5px; line-height:18px;}

/* 현재위치 */
.hr_nowpage {z-index:5; position:relative; clear:both; float:right; margin-top:38px; font-size:11px; color:#999; text-align:right; overflow:hidden;}
	.hr_nowpage a {color:#999;}
	.hr_nowpage a:hover {color:#333;}

/* 페이징 */
.hr_paging_w {clear:both; font-size:0; text-align:center;}
	.hr_paging_w a {display:inline-block; width:27px; height:27px; font-family:arial; font-size:11px; color:#000; line-height:27px; vertical-align:top;}
	.hr_paging_w a.hrpg_f {font-size:13px; color:#fff; background:#ccc;}
	.hr_paging_w a.hrpg_f_e {color:#ccc; background:#fff; letter-spacing:-3px;}
	.hr_paging_w a strong {display:block; height:27px; color:#fff; background:#d50030;}


/* 제품정보탭 */
.hrppd_itab {position:relative; clear:both; height:46px; background:url('../images/bg_hrppd_itab.gif') left bottom repeat-x;}
	.hrppd_itab li {float:left; display:inline; margin-right:1px;}
		.hrppd_itab li a {position:relative; display:block; width:145px; height:29px; padding-top:15px; border:1px solid #e0e0e0; border-bottom:0; background:#fff;}
			.hrppd_itab li a span {display:block; width:53px; height:14px; margin:0 auto; background-image:url('../images/hsr_set.png'); background-repeat:no-repeat;}
		.hrppd_itab li.selected a {height:30px; border-color:#000;}

/* 하단 이전/다음 */
  .hrp_pdpg_w {clear:both; margin-top:90px;}
	.hrp_pdpg {clear:both; border-top:1px solid #e8e8e8; overflow:hidden;}
		.hrp_pdpg li {position:relative; height:50px; padding-right:107px; padding-left:3px; font-size:13px; letter-spacing:-1px; border-bottom:1px solid #e8e8e8; overflow:hidden;}
			.hrp_pdpg li em {position:absolute; top:17px; right:26px; float:left; display:inline; height:auto; margin:0; padding:0 31px 0 0; line-height:normal; color:#808080; border-right:0; background-position:right 3px; background-repeat:no-repeat;}
			.hrp_pdpg li em.hrp_pdpg_up {background-image:url('../images/ico_hrpe_pdpg_u.gif');}
			.hrp_pdpg li em.hrp_pdpg_dn {background-image:url('../images/ico_hrpe_pdpg_d.gif');}
			.hrp_pdpg li a {float:left; margin-top:17px; color:#262626;}
	.hrppd_list_w {clear:both; padding-top:31px; text-align:center;}
		.b_hrppd_list {width:137px; height:44px; background-position:left -330px;}
			.b_hrppd_list .ir {top:50%;}

/* 정렬 */
.hrp_sort_w {float:right;}
	.hrp_sort_w .sbToggle {top:1px; right:1px; width:30px; height:30px; background:url('../images/hsr_set.png') -410px top no-repeat;}
	.hrp_sort_w .sbToggleOpen {background-position:-410px -30px;}
	.hrp_sort_w .sbSelector {width:133px; height:30px; padding-left:13px; font-size:12px; color:#000; line-height:30px; border:1px solid #fff;}
	.hrp_sort_w .sbOpen .sbSelector {border:1px solid #ccc;}
	.hrp_sort_w .sbOptions {border-bottom:1px solid #ccc; background-color:#fff;}
		.hrp_sort_w .sbOptions li {border:1px solid #ccc; border-width:0 1px;}
			.hrp_sort_w .sbOptions li a {display:block; height:30px; padding-left:13px; font-size:12px; color:#000; line-height:30px; background:#fff;}
			.hrp_sort_w .sbOptions li a:hover {color:#d50030;}
		.hrp_sort_w .sbOptions li.first {padding-top:5px;}
		.hrp_sort_w .sbOptions li.last {padding-bottom:18px;}
/* 4depth 탭메뉴 */
.hrp4d_w {clear:both; padding:25px 0 0 0; overflow:hidden;}
	.hrp4d {height:40px;}
		.hrp4d li {position:relative; float:left; margin-right:-1px;}
			.hrp4d li a {display:block; width:114px; height:38px; text-align:center; border:1px solid #e0e0e0; background-image:none; background-color:#fff;}
				.hrp4d li a span {position:relative; display:inline-block; height:14px; margin-top:12px; background-image:url('../images/hsr_set.png'); background-repeat:no-repeat;}
		.hrp4d li.selected {z-index:2;}
			.hrp4d li.selected a {border:1px solid #d50030; background-color:#d50030;}

/* 댓글 */
.hrpe_comment_w {position:relative; clear:both;}
	/* 총댓글수 */
	.hrpe_cmt_head {clear:both; font-size:13px; color:#333; letter-spacing:-1px;}
		.hrpe_cmt_head strong {font-weight:normal;}
			.hrpe_cmt_head strong em {margin-left:3px; color:#d50030; letter-spacing:0;}
	/* 댓글목록 */
	.hrpe_comment {clear:both; margin-top:12px; border-bottom:1px solid #e8e8e8;}
		.hrpe_comment li {position:relative; padding:16px 0 14px 0; font-size:13px; border-top:1px solid #e8e8e8;}
			.hrpe_cmt_cont {padding-right:180px; color:#262626; line-height:22px; letter-spacing:-1px;}
			.hrpe_cmt_info {clear:both; margin-top:3px; color:#808080; letter-spacing:0;}
			.hrpe_cmt_fnc {position:absolute; top:10px; right:20px; clear:both; font-size:0;}
				.hrpe_cmt_fnc .gbtn {width:30px; height:30px; margin-left:1px;}
					.hrpe_cmt_fnc .gbtn .ir {text-indent:-9999px;}
				.b_cmt_f_reply {background-position:left -420px;}
				.b_cmt_f_modify {background-position:-30px -420px;}
				.b_cmt_f_delete {background-position:-60px -420px;}
		/* 재댓글 */
		.hrpe_comment li ul {clear:both; margin-top:14px;}
			.hrpe_comment li ul li {padding-left:33px; background:url('../images/bg_cmt_reply.gif') left 20px no-repeat;}
				/* 재댓글작성 */
				.hrpe_cmt_in_write {position:relative; clear:both; padding:0 167px 0 0;}
					.hrpe_cmt_w_iptxt {margin-top:1px; padding-right:7px; background:url('../images/cmt_w_r.gif') right top no-repeat;}
						.hrpe_cmtw_inner {display:block; height:26px; padding-left:7px; background:url('../images/cmt_w_l.gif') left top no-repeat;}
							.hrpe_cmtw_inner label {position:absolute; top:-9999px; left:-9999px;}
							.hrpe_cmtw_inner .text {height:26px; width:100%; padding:0 0 0 0; font-family:mg; font-size:13px; color:#262626; line-height:26px; border:0; background:url('../images/cmt_w.gif') left top repeat-x;}
					/* 버튼들 */
					.hrpe_cmt_w_fnc {position:absolute; top:0; right:20px; font-size:0;}
						.b_cmt_w, .b_cmt_c {width:65px; height:27px; margin-left:1px;}
						.b_cmt_w {background-position:-90px -420px;}
						.b_cmt_c {background-position:-155px -420px;}
	/* 댓글페이징 */
	.hrpe_comment_w .hr_paging_w {margin-top:30px;}
	/* 댓글남기기 */
	.hrpe_cmt_write {position:relative; clear:both; margin-top:30px; padding:20px 0 43px 26px; overflow:hidden; background:#f7f7f7;}
		.hrpe_cmtw_tit {float:left; width:60px; height:13px; margin:4px 20px 0 0; background:url('../images/hsr_set.png') -220px -420px no-repeat;}
		.hrpe_cmtw_txt_w {position:relative; float:left; display:inline; width:725px; height:67px; padding-right:2px; background:url('../images/hrpe_cmtw_txt_r.gif') right top no-repeat;}
			.hrpe_cmtw_txt_inner {position:relative; display:block; height:67px; padding-left:6px; background:url('../images/hrpe_cmtw_txt_l.gif') left top no-repeat;}
				.hrpe_cmtw_txt_inner label {position:absolute; top:-9999px; left:-9999px;}
				.hrpe_cmtw_txt_inner textarea {width:100%; height:62px; padding:5px 0 0 0; font-family:mg; font-size:13px; color:#262626; border:0; background:url('../images/hrpe_cmtw_txt.gif') left top repeat-x;}
				.hrpe_cmtw_now {clear:both; display:block; margin:9px 0 0 0; padding:0 0 0 1px; font-family:arial; font-size:12px; color:#a8a8a8; letter-spacing:1px;}
			.hrpe_cmt_write .b_cmt_w {float:left; display:inline; margin:0 0 0 15px;}
	/* 이벤트목록 */
	.hrpe_evnt_list_w {clear:both; margin-top:43px; text-align:center;}
		.b_hrpe_evnt_list {width:137px; height:44px; background-position:-280px -420px;}

/* GNB 로그인 */
.hr_gnb_login_w {z-index:3; position:absolute; top:-9999px; left:-9999px; clear:both; width:427px; height:267px; padding:2px 0 0 4px; background:url('../images/bg_hrgl.png') left top no-repeat;}
.hrglLayerShow {top:5px; left:-438px;}
	.hr_gnb_login_in {position:relative; width:363px; height:259px; padding:0 29px; border:1px solid #d50030; background:#fff;}
		.hr_gnb_login {}
			.hr_gnb_login legend {position:absolute; top:29px; left:29px; display:block; width:41px; height:15px; visibility:visible; background:url('../images/hsr_set.png') left -760px no-repeat}
			.hrgl_desc {width:224px; height:11px; margin-top:57px; background:url('../images/hsr_set.png') -45px -760px no-repeat;}
			.hrgl_form_w {position:relative; margin:20px 0 0 0; padding:10px 0 25px 19px; border:1px solid #e0e0e0; border-width:1px 0;}
				.hrgl_form_w p {clear:both; margin-top:15px; overflow:hidden;}
					.hrgl_form_w p label {float:left; height:12px; margin-top:4px; overflow:hidden; background-image:url('../images/hsr_set.png'); background-repeat:no-repeat;}
					.hrgl_form_w p .hr_input_w {float:left; height:21px; background:url('../images/hrgl_form_l.gif') left top no-repeat;}
						.hrgl_form_w p .hr_input_w .hr_input {width:155px; height:21px; line-height:21px; background:url('../images/hrgl_form_r.gif') right top no-repeat;}
				.hrgl_form_w p.hrgl_f_id label {width:31px; margin-right:41px; background-position:-160px -745px;}
				.hrgl_form_w p.hrgl_f_pwd label {width:43px; margin-right:29px; background-position:-195px -745px;}
				.b_hrgl_login {position:absolute; top:25px; right:20px; width:77px; height:56px; line-height:56px; background:#d50030;}
					.b_hrgl_login span {display:block; width:37px; height:13px; margin:0 auto; overflow:hidden; background:url('../images/hsr_set.png') left -775px no-repeat;}
			.hrgl_fnc {clear:both; margin:15px 0 0 0; overflow:hidden;}
				.hrgl_fnc li {float:left; display:inline; margin:0 10px 0 0; padding:0 0 0 11px; background:url('../images/bg_hrgl_fnc_li.gif') left 1px no-repeat;}
					.hr_gnb li .hrgl_fnc li a {height:12px; padding-top:0; border-bottom:0; background-image:url('../images/hsr_set.png');}
					.hr_gnb li .hrgl_fnc li .b_hrgl_join {width:41px; background-position:-240px -745px;}
					.hr_gnb li .hrgl_fnc li .b_hrgl_f_id {width:55px; background-position:-285px -745px;}
					.hr_gnb li .hrgl_fnc li .b_hrgl_f_pwd {width:64px; background-position:-270px -760px;}
				.hrgl_fnc li.first {padding-left:0; background:none;}
			.hrgl_close {position:absolute; top:29px; right:29px; clear:both;}
				.b_lyr_close {width:21px; height:21px; background-position:-420px -560px;}

/* 이전/목록/다음 */
.hrmed_paging_w {clear:both; margin-top:22px; text-align:right;}
	.b_brd_prev, .b_brd_list, .b_brd_next {width:42px; height:12px;}
	.b_brd_prev {background-position:-90px -545px;}
	.b_brd_list {width:24px; background-position:-135px -545px;}
	.b_brd_next {background-position:-160px -545px;}
	.bar {margin:0 15px; color:#d9d9d9;}

.hrsps_sr_in {position:relative; clear:both; margin-top:3px;}
	/* 크게보기 */
	.hrsps_sr_vb_w {position:relative; clear:both; padding-bottom:16px; height:600px;}
		.hrsps_sr_vb_in {z-index:1; position:absolute; top:-9999px; left:-9999px;}
		.hrsps_sr_vb_in.selected {z-index:2; top:15px; left:0;}
			.hrsps_sr_vb {position:relative; clear:both; width:1000px; height:565px; font-size:0; overflow:hidden;}
			.hrsps_sr_vb_in p {margin-top:16px; font-size:14px; color:#1a1a1a; letter-spacing:-1px;}
	/* 썸네일 */
	.hrsps_sr_tb {clear:both; margin-top:20px; overflow:hidden;}
		.hrsps_sr_tb li {position:relative; float:left; display:inline; margin-right:1px;}
			.hrsps_sr_tb li a {position:relative; display:block;}
			.hrsps_sr_tb li span {z-index:2; position:absolute; top:0; left:0; display:none; width:162px; height:111px; border:2px solid #d50030;}
		.hrsps_sr_tb li.selected span {display:block;}
		.hrsps_sr_tb li.last {margin-right:0;}
			.hrsps_sr_tb li.last a img {width:165px}
			.hrsps_sr_tb li.last span {width:161px;}

.brduw_desc {position:relative; clear:both; overflow:hidden; padding:36px 0 0 0;}
	.brduw_d_l {float:left; display:inline; width:610px; letter-spacing:-1px;}
		.brduw_dl_tit {font-size:21px; color:#010101;}
		.brduw_dl_desc {margin-top:8px; font-size:13px; color:#1a1a1a; line-height:24px;}
	.brduw_d_r {position:relative; float:left; display:inline; width:360px; padding:27px 0 0 30px;}
		.brduw_dr_tit, .brduw_dr_desc {margin-top:-2px; padding-left:18px; font-size:12px; color:#a6a6a6; letter-spacing:-1px; border-left:1px solid #bdbdbd;}
		.brduw_dr_desc {height:64px; padding-top:7px;}
		.brduw_d_r .brd_fnc {position:relative; top:auto; left:auto; right:auto; float:right; margin-top:19px;}
			.brduw_d_r .brd_fnc li {margin:0 0 0 11px;}

/* 더 많은 시공사례 */
.brd_mex_w {position:relative; clear:both; margin:50px 0 0 0;}
	.brd_mex_head {overflow:hidden;}
		.brd_mex_tit {float:left; width:115px; height:15px; background:url('../images/hsr_set.png') -335px -530px no-repeat;}
		.b_hrms_more {float:left; display:inline;}
			.b_hrms_more {display:inline; width:40px; height:7px; margin:3px 0 0 11px; background-position:-230px -65px;}
			.b_hrms_more .ir {text-indent:-99999px;}
		.brd_mex_list {clear:both; overflow:hidden; margin-top:15px;}
			.brd_mexl_li {position:relative; float:left; display:inline; width:330px; height:300px; margin-right:5px;}
				.hrms_module h5 {clear:both; margin-top:237px; font-size:13px; font-weight:bold; color:#000;}
					.hrms_module h5 a {color:#000;}
					.brd_mexl_best {z-index:3; position:absolute; top:16px; left:16px; display:block; width:59px; height:72px; background:url('../images/hsr_set.png') -265px -575px no-repeat;}
				.hrms_md_img {position:absolute; top:0; left:0; clear:both;}
				.hrms_md_detail {clear:both; font-size:0;}
					.hrms_md_detail li {font-size:13px; color:#666; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
					.hrms_md_detail li.date, .hrms_md_detail li.hit {display:inline; padding-left:8px;}
					.hrms_md_detail li.date {padding-left:0; padding-right:15px; background:url('../images/bar_hrms_slash.gif') right 3px no-repeat;}
				.hrms_md_exp {margin-top:1px; padding-right:40px; font-size:13px; color:#666; line-height:21px; letter-spacing:-1px;}
			.brd_mex_list .last {margin-right:0;}

/* 마이페이지 */
.hr_mypage_w {position:relative; clear:both; margin-top:20px;}
	/* 탭메뉴 */
	.hrpe_mptab {}
		.hrpe_mptab .hrppd_mp_mypage span {width:60px; background-position:-430px -375px;}
		.hrpe_mptab .selected .hrppd_mp_mypage span {background-position:-495px -375px;}
		.hrpe_mptab .hrppd_mp_wishlist span {width:61px; background-position:-430px -390px;}
		.hrpe_mptab .selected .hrppd_mp_wishlist span {background-position:-495px -390px;}
		.hrpe_mptab .hrppd_mp_scrap span {width:37px; background-position:-430px -405px;}
		.hrpe_mptab .selected .hrppd_mp_scrap span {background-position:-495px -405px;}
	/* 상단 */
	.hrmp_head_w {width:1000px; height:254px; margin-top:20px; overflow:hidden; background:url('../images/bg_hrmp_head.jpg') left top no-repeat;}
		.hrmph_tit {margin:40px 0 0 47px; overflow:hidden; line-height:normal;}
			.hrmph_tit strong {float:left; display:inline; font-size:33px; color:#2b2b2b; letter-spacing:-2px;}
			.hrmph_tir {float:left; display:inline; width:305px; height:31px; margin:11px 0 0 5px; overflow:hidden; background:url('../images/hrmph_tir.png') left top no-repeat;}
	/* 모듈 */
	.hrmp_module {position:relative; clear:both; margin-bottom:65px;}
		.hrmp_md_tit, .hrmp_md_desc {height:15px; overflow:hidden; background-image:url('../images/set_mypage.png'); background-repeat:no-repeat;}
		.hrmp_md_hw {overflow:hidden;}
			.hrmp_md_desc {float:left; display:inline; height:12px; margin-top:10px;}
			.hrmp_md_hw .gbtn {float:right; width:95px; height:27px; background-image:url('../images/set_mypage.png');}
		.hrmp_tbl {clear:both; margin-top:15px; border-top:1px solid #222;}
			.hrmp_tbl thead tr th, .hrmp_tbl tbody tr td {height:50px; border-bottom:1px solid #e8e8e8;}
			.hrmp_tbl thead tr th {height:50px; font-weight:normal; color:#000; text-align:left;}
			.hrmp_tbl tbody tr td {color:#8c8c8c;}
				.hrmp_tbl tbody tr td a {color:#8c8c8c;}
				.hrmp_tbl .tit_re_w {position:relative; width:100%; height:100%; line-height:50px;}
			.hrmp_tbl tbody tr td.status {color:#d50030;}
			.hrmp_tbl .checkbox {width:120px;}
				.hrmp_tbl .checkbox label {position:relative; display:block; width:15px; height:15px; margin:0 0 0 47px; overflow:hidden; background:url('../images/set_mypage.png') -320px -15px no-repeat;}
					.hrmp_tbl .checkbox label input {position:absolute; top:-9999px; left:-9999px;}
				.hrmp_tbl .checkbox label.cr_element_on {background:url('../images/set_mypage.png') -335px -15px no-repeat;}
			.hrmp_tbl .no {width:98px;}
			.hrmp_tbl .date {width:129px;}
			.hrmp_tbl .product {width:250px;}
			.hrmp_tbl .price {width:285px;}
			.hrmp_tbl .status {width:118px;}
			.hrmp_tbl_2 .price {width:403px;}
		/* 답변 */
		.hrmp_tbl .answer {}
		.hrmp_tbl tbody tr.answer td.content {width:100%; height:0; text-align:left; overflow:hidden; border-bottom:0;}
			.answ_in {position:relative; height:0; overflow:hidden;}
				.answ_in .hsest_r_mc {margin-top:0;}
					.answ_in .hsest_r_mc li.hrm_03 {margin-right:0;}
					.answ_in .hsest_r_mc li.hrm_04 {clear:both; margin:-12px 0 0 258px;;}
					.answ_in .hsest_r_mc li.hrm_05, .answ_in .hsest_r_mc li.hrm_06 {clear:both; float:none; display:block; width:auto; margin-right:0;}
					.answ_in .hsest_r_mc li.hrm_06 {margin-top:27px;}
					.answ_in .hsest_r_mc2 {position:absolute; top:29px; right:40px; width:356px; margin-top:0;}
						.answ_in .hsest_r_mc li.hrm_05 .hrmt_w, .answ_in .hsest_r_mc li.hrm_06 .hrmt_w {margin-top:0; border-bottom:1px solid #222;}
				.answ_st {float:left;}
					.answ_st h5 {height:14px; overflow:hidden; background-image:url('../images/set_mypage.png'); background-repeat:no-repeat;}
					.answ_st h5.answ_h_q {width:48px; background-position:left -170px;}
					.answ_st h5.answ_h_s {width:47px; background-position:-50px -170px;}
					.answ_st h5.answ_h_m {width:47px; background-position:-100px -170px;}
					.answ_st p {margin-top:14px; font-size:13px; color:#000; line-height:25px;}
					.answ_stq {width:450px;}
					.answ_sts {width:330px; margin-left:107px;}
			/* 선택 */
			.hrmp_tbl tbody tr.selected {}
				.hrmp_tbl tbody tr.selected td {font-weight:bold; background:none;}
				.hrmp_tbl tbody tr.selected td.last {background:url('../images/bg_asSelected.gif') right 50% no-repeat;}
			.hrmp_tbl tbody tr.asSelected {}
				.hrmp_tbl tbody tr.asSelected td.content {height:auto; border-bottom:1px solid #e8e8e8;}
					.hrmp_tbl tbody tr.asSelected td.content .answ_in {height:auto; padding:30px 40px; font-size:13px; color:#262626; line-height:32px;}
	/* 셀프간편견적 */
	.hrmp_md_sg {margin-top:61px;}
		.hrmp_md_sg .hrmp_md_tit {width:108px; background-position:left top;}
		.hrmp_md_sg .hrmp_md_desc {width:300px; background-position:left -20px;}
		.b_hrmp_pd {background-position:0 -95px;}
	/* 견적문의 */
	.hrmp_md_gq {}
		.hrmp_md_gq .hrmp_md_tit {width:82px; background-position:-110px top;}
		.hrmp_md_gq .hrmp_md_desc {width:313px; background-position:left -35px;}
		.b_hrmp_qd {background-position:-100px -95px;}
	/* 이벤트 */
	.hrmp_md_evt {}
		.hrmp_md_evt .hrmp_md_tit {width:69px; background-position:-195px top;}
		.hrmp_md_evt .hrmp_md_desc {width:196px; background-position:left -50px;}
		.b_hrmp_ed {background-position:-200px -95px;}
		.hrmp_layer_w {z-index:999; position:absolute; top:-99999px; right:-99999px; width:658px; height:296px; padding:2px 0 0 4px; background:url('../images/bg_hrmp_md_evt.png') left top no-repeat;}


		/* 팝업 */
		/*.hrmpLayerOpen .hrmp_layer_w {top:49px; right:-122px;}*/
		.hrmpLayerOpen .hrmp_layer_w {top:200px; right:200px;}
			.hrmp_layer_inner {position:relative; width:623px; height:600px; padding:0 0 0 29px; line-height:normal; border:1px solid #d50030; background:#fff;}
				.hrmpl_head {margin-top:36px; overflow:hidden;}
					.hrmpl_tit, .hrmpl_desc {overflow:hidden; background-image:url('../images/set_mypage.png'); background-repeat:no-repeat;}
					.hrmpl_tit {width:90px; height:15px; background-position:left -150px;}
					.hrmpl_desc {width:380px; height:14px; margin-top:10px; background-position:-96px -150px;}
				.hrmpl_cont_w {clear:both; margin-top:33px;}
					.hrmpl_cont {}
						.hrmpl_cont dt {clear:both; float:left; width:95px;}
							/*.hrmpl_cont dt strong {display:block; width:47px; height:13px; margin:6px 0 0 0; overflow:hidden; background-image:url('../images/set_mypage.png'); background-repeat:no-repeat;}*/
							.hrmpl_cont dt strong {display:block; width:100px; height:16px; margin:5px 0 0 0; overflow:hidden; letter-spacing:-1px;}
							.hrmpc_my_reply {background-position:-310px -50px;}
							.hrmpc_hs_reply {background-position:-360px -50px;}
						.hrmpl_cont dd {float:left; width:513px; font-size:13px; color:#000; line-height:26px; letter-spacing:-1px;}
						.hrmpl_cont dt.hrp, .hrmpl_cont dd.hrp {margin-top:17px; padding-top:18px; border-top:1px solid #e0e0e0;}

				.hrmpl_cont_w.oth	{margin-top:0px;}

				.hrmp_tit	{clear:both; width:500px; height:25px; padding-top:30px; border-bottom:solid 1px #d5d5d5;background-color:#fff600;  font-weight:bold;}
				.hrmpl_close {position:absolute; top:30px; right:30px; clear:both;}



	/* Q&A */
	.hrmp_md_qa {}
		.hrmp_md_qa .hrmp_md_tit {width:61px; background-position:-265px top;}
		.hrmp_md_qa .hrmp_md_desc {width:214px; background-position:left -65px;}
	/* 스크랩 */
	.hrmp_md_sc {}
		.hrmp_md_sc .hrmp_md_tit {width:68px; background-position:-330px top;}
		.hrmp_md_sc .hrmp_md_desc {width:235px; background-position:left -80px;}
		.b_hrmp_sd {background-position:-300px -95px;}

/* 상단 2depth 메뉴 */
.hrp_2dm_w {clear:both; font-size:0; height:90px;}
	.hrp_2dm_w li {position:relative; float:left;}
		.hrp_2dm_w li a {position:relative; display:block; width:199px; height:88px; border:1px solid #e0e0e0; border-right:0; overflow:hidden; background-image:url('../images/hrp2dm.gif'); background-repeat:no-repeat;}
			.hrp_2dm_w li a em {position:absolute; top:19px; left:21px; display:block; width:25px; height:14px; text-indent:-99999px; overflow:hidden; background-repeat:no-repeat;}
			.hrp_2dm_w li a:hover em {background-image:url('../images/hrp2dm.gif');}
			.hrp_2dm_w li.selected a:hover em {background:none;}
	.hrp_2dm_w li.selected {z-index:2; margin-right:-1px;}
		.hrp_2dm_w li.selected a {border:1px solid #d50030; background-color:#d50030;}

/* 위시리스트 */
.hr_wishlist_w {margin-top:20px;}
.hrwl_head_w {height:254px; background-image:url('../images/bg_hrwl_head.gif');}
	.hrwl_head_w strong {font-size:32px;}
	.hrwl_head_w .hrmph_tir {width:305px; height:31px; margin-left:8px; background-image:url('../images/hrwlh_tir.png');}
.hrwl_md_wl {margin-top:61px;}
	.hrwl_md_wl .hrmp_md_tit {width:95px; background-position:-400px top;}
	.hrwl_md_wl .hrmp_md_hw {z-index:2; position:relative; padding-bottom:11px; border-bottom:1px solid #222;}
		.hrwl_md_wl .hrmp_md_desc {width:264px; background-position:-95px -125px;}
		.hrmp_b_w {float:right;}
			.hrmp_b_w .gbtn {float:left; margin-left:2px;}
			.hrmp_b_w .b_hrmp_ae {width:111px; height:37px; background-position:-245px -170px;}
			.hrmp_b_w .b_hrmp_se {width:111px; height:37px; background-position:-360px -170px;}
			.hrmp_b_w .b_hrmp_da {width:95px; height:37px; background-position:-150px -170px;}
	.hrwl_list_w {z-index:1; position:relative; clear:both; margin:-1px 0 50px 0; overflow:hidden; border-bottom:1px solid #222;}
		.hrwl_list_w li {position:relative; float:left; display:inline; width:500px; height:434px; padding:16px 0 0 0; border:1px solid #e8e8e8; border-width:1px 1px 0 0;}
			.hwl_tit {padding:0 80px 0 0; font-size:13px; color:#262626; line-height:20px;}
				.hwl_tit label {position:absolute; top:19px; left:0; display:block; width:15px; height:15px; overflow:hidden; background:url('../images/set_mypage.png') -320px -15px no-repeat;}
					.hwl_tit label input {position:absolute; top:-20px; left:-20px;}
				.hwl_tit label.cr_element_on {background:url('../images/set_mypage.png') -335px -15px no-repeat;}
				.hwl_tit span {display:block; margin-left:28px; font-size:11px; font-family:arial; color:#808080;}
				.hwl_tit strong {display:block; margin-top:2px; font-weight:normal;}
			.hwl_fnc {position:absolute; top:40px; right:30px; overflow:hidden;}
				.b_hwl_del, .b_hwl_esti {background-image:url('../images/set_mypage.png');}
				.b_hwl_del {width:51px; height:34px; background-position:left -185px;}
				.b_hwl_esti {width:95px; height:34px; background-position:-400px -15px;}
				.hwl_fnc .gbtn {float:left; margin-left:2px;}
			.hrwl_list_w li img {margin-top:11px;}
		.hrwl_list_w li.last {width:469px; padding-left:30px; border-width:1px 0 0 0;}
			.hrwl_list_w li.last .hwl_tit label {left:30px;}
			.hrwl_list_w li.last .hwl_fnc {right:0;}
/* 마이스크랩 */
.hr_myscrap_w {margin-top:20px;}
.hrms_head_w {height:254px; background-image:url('../images/bg_hrms_head.jpg');}
	.hrms_head_w strong {font-size:32px;}
	.hrms_head_w .hrmph_tir {width:324px; height:31px; margin-left:8px; background-image:url('../images/hrmsh_tir.png');}
	.hrwl_md_wl .hrmp_md_tit {width:68px; background-position:-330px top;}
	.hrwl_md_wl .hrmp_md_desc {width:220px; background-position:left -220px;}
			.hrmp_b_w .b_hrms_ae {width:121px; height:37px; background-position:left -235px;}
			.hrmp_b_w .b_hrms_se {width:123px; height:37px; background-position:-125px -235px;}
			.hrmp_b_w .b_hrms_da {width:105px; height:37px; background-position:-250px -235px;}
.hrms_list li .hwl_tit strong .lb {color:#8c8c8c;}


/* 검색결과 */
.hr_searchr_w {position:relative; clear:both; margin-top:20px; width:1000px;}
	/* 상단 */
	.hrmp_head_search {width:1000px; height:150px; margin-top:20px; overflow:hidden; background-color:#f7f7f7;}

		.hrmph_tit_search {overflow:hidden; line-height:normal; font-size:18px; font-weight:normal; color:#000; margin-left:25px; margin-top:25px;}
		.hrmph_tit_search strong {display:inline; font-size:18px; color:#df1f2e; letter-spacing:-2px; font-weight:normal;}

			.hrmp_head_search	ul	{margin-top:25px; margin-left:25px;}
			.hrmp_head_search	ul	li	{line-height:20px; color:#000;}
			.hrmp_head_search	ul	li	span {color:#df1f2e;}

.hr_searchr_w		.rl_tit	{height:50px; width:1000px; margin-top:30px; border-top:solid 1px #262626; clear:both;}
.hr_searchr_w		.rl_tit	 h1 {font-size:13px; font-weight:normal; float:left; margin-top:16px; height:30px;}
.hr_searchr_w		.rl_tit	 h1 span {color:#df1f2e;}
.hr_searchr_w		.rl_tit .hrp_sort_w {margin-top:8px;}

.hr_searchr_w		.rd_list {clear:both; border-top:solid 1px #262626; position:relative;}
.hr_searchr_w		.rd_list ul li {margin-top:20px; margin-bottom:20px;}
.hr_searchr_w		.rd_list ul li.second {clear:both; border-bottom:solid 1px #f5f5f5; }
.hr_searchr_w		.rd_list ul li ul li {float:left; width:500px; border:0;}
.hr_searchr_w		.rd_list ul li ul li h5 {position:relative; top:-4px; padding-right:70px; font-weight:normal; font-size:13px; color:#000; line-height:22px;}
.hr_searchr_w		.rd_list ul li ul li h5 span {clear:both; display:block; font-family:mgb; font-size:18px; color:#262626;}
.hr_searchr_w		.rd_list ul li ul li h5 p.rlst {font-size:13px; margin-top:10px; line-height:22px;}

.hr_searchr_w .rl_pul {border-top:solid 1px #f5f5f5; clear:both; height:20px;}

/* .hr_searchr_w		.rd_list ul li ul li .rlst_img_a	{margin-bottom:50px;} */





.rs_clear	{width:1000px; height:50px;}
#printBi {display:none;}