@charset "euc-kr";

/* ============ Default ============ */
html, body {width:100%; height:100%;}
body {font-size:12px; line-height:14px; color:#555; font-family:'돋움', 'Dotum','굴림', 'Gulim', 'Arial', 'Tahoma', 'AppleGothic','sans-serif'; background-color:#fff;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {margin:0; padding:0}
li {list-style:none;}
img, fieldset {border:0;}
hr {display:none;}
em, i {font-style:normal;}
a {cursor:pointer; text-decoration:none;}
a:hover {text-decoration:underline;}
table caption, legend {width:0; height:0; text-indent:-9999em; font:0/0 arial; overflow:hidden; visibility:hidden;}
legend {position:absolute; top:0; left:0; display:inline;}
button {cursor:pointer;}
.clear {clear:both; float:none; width:0; height:0; margin:0; padding:0; font:0/0 arial;}
.hide {width:0; height:0; text-indent:-9999em; font:0/0 arial; overflow:hidden;}
.ir {zoom:-10; z-index:-1; position:relative; display:block; width:100%;_width:0;_height:0;.text-indent:-9999em;_text-indent:-9999em; font-size:9px;_font-size:0;_line-height:0; text-align:center; white-space:nowrap; overflow:hidden;}
form {clear:both;}
input, select {font-size:100%; vertical-align:middle;}
input, textarea, select {font-size:12px;}
button::-moz-focus-inner {border:0; padding:0;}
textarea{overflow:auto}
input:focus {outline:none;}
input.radio, input.check {top:-1px;.top:0;position:relative; width:13px; height:13px; vertical-align:middle;}
.iptxt {height:18px; padding-top:2px; padding-left:2px; font-family:dotum; font-size:12px; color:#555; border:1px solid #ccc;}
.select {padding:3px; font-family:dotum; font-size:12px; color:#555; border:1px solid #ccc;}
/* float 해제 */
.f_clear:after {content: "."; height: 0; display: block; visibility: hidden; clear:both;}
* html .f_clear {height:1px;}
.f_clear {display: block;min-height:1px;}

/* 버튼 */
.gbtn {position:relative; display:inline-block; width:auto; margin:0; padding:0; line-height:1; border:0; overflow:visible; cursor:pointer; vertical-align:middle; white-space:nowrap; font-family:'Arial','Tahoma','Dotum','AppleGothic','sans-serif'; background-repeat:no-repeat; background-color:transparent;}
.gbtn:hover {text-decoration:none;}
.gbtn span {position:relative; display:inline-block;}
    input.gbtn {text-indent:-9999em;}
    span.gbtn {cursor:default;}


/* Header */
#head-wrap {height:162px; background:url('../images/bg_header.gif') left bottom repeat-x;}
#header {position:relative; width:1280px; height:162px; margin:0 auto;}
	#header h1 {z-index:2; position:relative; float:left; display:inline; margin:22px 0 0 20px; font:0/0 arial;}
	#gnb {float:right; display:inline; margin:49px 55px 0 0; background:url('../images/bg_gnb.gif') left top repeat-x;}
		#gnb li {float:left; display:inline; height:28px; padding-right:10px; font:0/0 arial;}
		#gnb li.first {padding-left:11px; background:url('../images/bg_gnb-l.gif') left top no-repeat;}
		#gnb li.last {padding-right:17px; background:url('../images/bg_gnb-r.gif') right top no-repeat;}
	#snb {clear:both; float:left; display:inline; margin:-43px 0 0 238px; padding-right:41px; background:url('../images/bg_snb-r.gif') right top no-repeat;}
		#snb ul {float:left; display:inline; background:url('../images/bg_snb.gif') left top repeat-x;}
			#snb ul li {float:left; display:inline; height:55px; background:url('../images/bg_snb-bar.gif') left 50% no-repeat;}
			#snb ul li.first {padding-left:40px; padding-right:33px; background:url('../images/bg_snb-l.gif') left top no-repeat;}
			#snb ul li.dh2 {padding-left:41px; padding-right:43px;}
			#snb ul li.dh3 {padding-left:38px; padding-right:33px;}
			#snb ul li.dh4 {padding-left:34px; padding-right:30px;}
			#snb ul li.dh5 {padding-left:31px; padding-right:27px;}
			#snb ul li.dh6 {padding-left:33px; padding-right:37px;}
			#snb ul li.last {padding-left:38px;}

/* contents */
#content-wrap {background:url('../images/bg_body.gif') left 37px repeat-x;}
#contents {position:relative; clear:both; margin:0 auto; width:1249px;}
	/* sub head */
	.subhead-wrap {position:relative; clear:both; padding:15px 0 0 3px;}
		.subhead-wrap h2 {font:0/0 arial;}
		.now-location {clear:both; margin:27px 0 0 0; text-align:right; font-family:돋움; font-weight:bold; font-size:15px; color:#686868; letter-spacing:-1px;}
			.now-location a, .now-location em {color:#686868;}
			.now-location .bar {margin:0 5px 0 6px;}
	/* */

.p01 #content-wrap {background-position:left 5px;}
.p01 #contents {width:1257px;}

.side-bar {clear:both; float:left; padding-top:34px;}
.sb-b {position:relative; width:268px; margin-top:10px; background:url('../images/sb-b-body.gif') left top repeat-y;}
	.sb-b-c {position:relative; clear:both; float:left; width:268px; padding-top:86px; background:url('../images/sb-b-top.gif') left top no-repeat;}
		.sb-b h2 {position:absolute; left:5px; font:0/0 arial;}
		.sb-b-c ul {float:left; display:inline; width:262px; margin-top:15px;}
			.sb-b-c ul li {clear:both; float:left; display:inline; width:260px; margin-bottom:13px;}
			.sb-b-c ul li.lb-dot {padding-top:16px; background:url('../images/bg_dot01.gif') left top repeat-x;}
				.sb-b-c ul li dl {float:left; display:inline; width:260px;}
					.sb-b-c ul li dl dt {clear:both; float:left; display:inline; width:128px; font:0/0 arial; text-align:right;}
					.sb-b-c ul li dl dd {float:left; display:inline; width:126px; margin-top:3px; font-size:15px; padding-left:6px;}
	.sb-b-b {clear:both; width:268px; height:4px; font:0/0 arial; background:url('../images/sb-b-bottom.gif') left bottom no-repeat;}
.administrator h2 {top:-9px;}
.months h2 {top:-20px;}



.contentmain {float:left; display:inline; width:963px; margin:88px 0 0 26px; padding-bottom:39px;}
.boxset01 {position:relative; width:953px; border:2px solid #d3d3d3;}
	.boxset01 i {position:absolute; display:block; width:2px; height:2px; font:0/0 arial; overflow:hidden; background-image:url('../images/rnb-set.gif'); background-repeat:no-repeat;}
	.boxset01 i.lt {left:-2px; top:-2px; background-position:left top;}
	.boxset01 i.rt {right:-2px; top:-2px; background-position:right top;}
	.boxset01 i.lb {left:-2px; bottom:-2px; background-position:left bottom;}
	.boxset01 i.rb {right:-2px; bottom:-2px; background-position:right bottom;}



.mtbl_symbol {z-index:2; position:absolute; top:-21px; left:-20px; display:block; width:40px; height:40px; font:0/0 arial; overflow:hidden; background:url('../images/mtbl_symbol.gif') left top no-repeat;}
.main-table01 {width:936px; margin:27px 0 0 9px;}
	/* thead */
	.main-table01 thead tr th {height:32px; color:#fff; font-size:15px; background:url('../images/bg_mtbl_th.gif') right bottom no-repeat;}
	.main-table01 thead tr th.t01 {width:139px; background:url('../images/bg_mtbl_th.gif') left bottom no-repeat;}
	.main-table01 thead tr th.t02 {width:141px; padding-left:15px;}
	.main-table01 thead tr th.t03 {width:137px; padding-left:10px;}
	.main-table01 thead tr th.t04 {width:137px; padding-left:10px;}
	.main-table01 thead tr th.t05 {width:136px; padding-left:10px;}
	.main-table01 thead tr th.last {width:161px; padding-left:40px; text-align:left; background:url('../images/bg_mtbl_th_last.gif') left bottom no-repeat;}
	/* tbody */
	.main-table01 tbody tr td {height:39px; padding-top:3px; text-align:center; font-size:15px; background:url('../images/bg_mtbl_td.gif') right bottom no-repeat;}
	.main-table01 tbody tr td.t01 {width:126px; height:38px; padding-top:4px; padding-left:13px; text-align:left; background:none;}
	.main-table01 tbody tr td.t02 {background:url('../images/bg_mtbl_td.gif') left bottom no-repeat;}
	.main-table01 tbody tr td.last {width:161px; padding-right:40px; background:url('../images/bg_mtbl_td_last.gif') left bottom no-repeat;}



.mbt02-shdw {position:relative; width:963px; margin-top:41px; padding:0 0 8px 0; background:url('../images/bg_sdw_mbt02.gif') right bottom no-repeat;}
.main-box-t02 {position:relative;}
	.main-box-t02 h3 {position:relative; height:21px; font:0/0 arial; border-bottom:1px solid #f47d1f;}
		.main-box-t02 h3 img {position:absolute; top:-38px; right:-8px;}
.cstc-list {padding:12px 0 20px 15px;}
	.cstc-list li {margin-top:8px;}
		.cstc-list li a {color:#666;}


.sc_menu {clear:both; margin-top:16px;}
	.sc_menu h3 {padding-bottom:5px; padding-right:25px; font:0/0 arial; text-align:right;}
.main-box-t03 {padding-bottom:3px;}
	.main-box-t03 dl {clear:both; float:left; display:inline; width:946px; margin:0 0 0 3px;}
		.main-box-t03 dl dt {clear:both; float:left; display:inline; width:147px; height:30px; margin:5px 0 1px 0;}
		.main-box-t03 dl dd {float:left; display:inline; width:799px; height:30px; margin:5px 0 1px 0;}
			.main-box-t03 dl dd ul {width:784px; height:30px; padding-left:15px;}
				.main-box-t03 dl dd ul li {float:left; display:inline; height:23px; padding-top:7px; padding-left:15px; padding-right:17px; font:0/0 arial;}
		.main-box-t03 dl dd.bgc {background:url('../images/bg_mbt03_bgc.gif') left top repeat-x;}
			.main-box-t03 dl dd.bgc ul {background:url('../images/bg_mbt03_bgc0r.gif') right top no-repeat;}
				.main-box-t03 dl dd.bgc ul li {background:url('../images/bg_mbt03_bar.gif') right 9px no-repeat;}
				.main-box-t03 dl dd.bgc ul li.last {background:none;}



.content_inner {padding:0 0 50px 0;}
	.content_inner h3 {padding:25px 0 7px 6px;}

.tbl_tdst01 {background-color:#eeeeee;}

.tbl_st01 {}
	.tbl_st01 thead tr th {height:50px; text-align:center; vertical-align:top; border-top:1px solid #adadad; border-bottom:1px solid #adadad; background:url('../images/bg_tbl_05_01.gif') left top repeat-x;}
		.tbl_st01 thead tr th img {margin-top:16px;}
	.tbl_st01 thead tr th.first {border-left:1px solid #adadad;}
	.tbl_st01 thead tr th.last {border-right:1px solid #adadad;}

.e-expl {margin-top:17px; padding:13px 14px 16px 0; font:0/0 arial; text-align:right; background:#eaeaea;}

.search-wrap {position:relative; height:116px; margin-top:11px;}
	.search-wrap .srch-in {position:absolute; top:0; left:0; width:1259px; height:116px; background:url('../images/bg_search.gif') left top no-repeat;}
	.search-wrap .sfwrap {padding:38px 14px 0 0; text-align:right;}
		.search-wrap .sfwrap input {width:294px; height:23px; padding:5px 0 0 5px; margin-top:1px; font-weight:bold; font-size:20px; font-family:돋움; border:1px solid #7dc141; vertical-align:middle;}
		.search-wrap .sfwrap img {vertical-align:middle;}

/* 03 */
.tbl_03_01 {width:1246px; border:1px solid #7dc141;}
	.tbl_03_01 tbody tr td {height:37px; background-image:url('../images/dot_tbl03.gif'); background-position:left bottom; background-repeat:repeat-x;}
	.tbl_03_01 tbody tr tdz.tbl_tdst01 {width:223px;}
	.tbl_03_01 tbody tr td.tbl_tdst02 {width:1023px;}
	.tbl_03_01 tbody tr.last td.tbl_tdst01, .tbl_03_01 tbody tr.last td.tbl_tdst02 {text-align:right; background-image:none;}
	.tbl_03_01 tbody tr.last td.tbl_tdst02 img {margin-right:6px;}
.tbl_03_02 {margin-top:65px;}
	/* thead */
	.tbl_03_02 thead tr th {height:50px; text-align:center; vertical-align:top; border-top:1px solid #adadad; border-bottom:1px solid #adadad; background:url('../images/bg_tbl_03_02.gif') left top repeat-x;}
		.tbl_03_02 thead tr th img {margin-top:5px;}
	.tbl_03_02 thead tr th.tbl_th01 {width:46px; border-left:1px solid #adadad;}
	.tbl_03_02 thead tr th.tbl_th02 {width:178px;}
	.tbl_03_02 thead tr th.tbl_th03 {width:507px;}
	.tbl_03_02 thead tr th.tbl_th04 {width:172px;}
	.tbl_03_02 thead tr th.tbl_th07 {width:172px; border-right:1px solid #adadad;}
	/* tbody */
	.tbl_03_02 tbody tr td {height:44px; background-image:url('../images/dot_tbl03.gif'); background-position:left bottom; background-repeat:repeat-x;}

/* 05 */
.box_05 {padding:6px 0; border:1px solid #7dc141;}
	.box_05 .btn {padding-right:6px; font:0/0 arial; text-align:right;}
.tbl_05_01 {margin-top:48px;}
	/* thead */
	.tbl_05_01 thead tr th.tbl_th01 {width:146px;}
	.tbl_05_01 thead tr th.tbl_th02 {width:148px;}
	.tbl_05_01 thead tr th.tbl_th03 {width:158px;}
	.tbl_05_01 thead tr th.tbl_th04 {width:409px;}
	.tbl_05_01 thead tr th.tbl_th05 {width:118px;}
	.tbl_05_01 thead tr th.tbl_th06 {width:132px;}
	.tbl_05_01 thead tr th.tbl_th07 {width:136px;}

/* 06 */
.tbl_06_01 {margin-top:48px;}
	/* thead */
	.tbl_06_01 thead tr th.tbl_th01 {width:246px;}
	.tbl_06_01 thead tr th.tbl_th02 {width:348px;}
	.tbl_06_01 thead tr th.tbl_th03 {width:302px;}
	.tbl_06_01 thead tr th.tbl_th04 {width:172px;}
	.tbl_06_01 thead tr th.tbl_th05 {width:179px;}

/* 08 */
.tbl_08_01 {margin-top:48px;}
	/* thead */
	.tbl_08_01 thead tr th.tbl_th01 {width:166px;}
	.tbl_08_01 thead tr th.tbl_th02 {width:194px;}
	.tbl_08_01 thead tr th.tbl_th03 {width:462px;}
	.tbl_08_01 thead tr th.tbl_th04 {width:110px;}
	.tbl_08_01 thead tr th.tbl_th05 {width:90px;}
	.tbl_08_01 thead tr th.tbl_th06 {width:115px;}
	.tbl_08_01 thead tr th.tbl_th07 {width:110px;}

/* 09 */
.tbl_09_01 {margin-top:48px;}
	/* thead */
	.tbl_09_01 thead tr th.tbl_th01 {width:648px;}
	.tbl_09_01 thead tr th.tbl_th02 {width:190px;}
	.tbl_09_01 thead tr th.tbl_th03 {width:134px;}
	.tbl_09_01 thead tr th.tbl_th04 {width:158px;}
	.tbl_09_01 thead tr th.tbl_th05 {width:117px;}

/* 10 */
.head10-wrap {padding:20px 0 0 0;}
	.head10-wrap h3 {padding-left:40px; padding-bottom:18px; font:0/0 arial; background:url('../images/bg_head_10.gif') left bottom repeat-x;}

/* 11 */
.expl-11 {padding:20px; text-align:left;}
.mnu11 {height:50px; margin-top:35px; font:0/0 arial; border:1px solid #adadad; background:url('../images/bg_mnu-11.gif') left top repeat-x;}
	.mnu11 ul {margin:16px 0 0 0; padding-left:17px;}
		.mnu11 ul li {display:inline; margin-right:115px;}
.cont11 {margin-top:25px; margin-bottom:40px;}
	.cont11 h4 {padding:0 0 12px 15px; font:0/0 arial; border-bottom:1px solid #8a8a8a;}

/* 12 */
.tbl_12_01 {margin-top:48px;}
	/* thead */
	.tbl_12_01 thead tr th.tbl_th01 {width:166px;}
	.tbl_12_01 thead tr th.tbl_th02 {width:637px;}
	.tbl_12_01 thead tr th.tbl_th03 {width:178px;}
	.tbl_12_01 thead tr th.tbl_th04 {width:136px;}
	.tbl_12_01 thead tr th.tbl_th05 {width:130px;}

/* 13 */
.tbl_13_01 {margin-top:48px;}
	/* thead */
	.tbl_13_01 thead tr th.tbl_th01 {width:767px;}
	.tbl_13_01 thead tr th.tbl_th02 {width:216px;}
	.tbl_13_01 thead tr th.tbl_th03 {width:134px;}
	.tbl_13_01 thead tr th.tbl_th04 {width:130px;}

/* 18 */
.expl18 {margin:0 0 -40px 0;}

/* 20 */
.tbl_20_01 {margin-top:48px;}
	/* thead */
	.tbl_20_01 thead tr th.tbl_th01 {width:585px;}
	.tbl_20_01 thead tr th.tbl_th02 {width:242px;}
	.tbl_20_01 thead tr th.tbl_th03 {width:144px;}
	.tbl_20_01 thead tr th.tbl_th04 {width:146px;}
	.tbl_20_01 thead tr th.tbl_th05 {width:130px;}

/* 21 */
.cont21 {margin-top:48px; border-top:1px solid #fde5d2; border-bottom:1px solid #f6974c;}

/* 22 */
.expl22 {margin-top:0;}

/* 23 */
.h4c_23 {margin-top:48px; padding-left:15px;}
.cont23 {margin-top:5px;}

/* Footer */
#footer {position:relative; clear:both; padding:20px 0; text-align:center; font:0/0 arial;}