@charset "utf-8";

html { .overflow:scroll; .overflow-x:auto; }
html,body { margin:0; padding:0; color:#111; }
body { color:#111; font-size:12px; font-family:'나눔고딕', NanumGothic,sans-serif; background:#fff; -webkit-text-size-adjust:none; }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{ margin:0; padding:0; }
table{ border-collapse:collapse; border-spacing:0; }
fieldset,img{ border:0; }
address,caption,cite,code,dfn,em,strong,th,var,i { font-style:normal; font-weight:normal; }
strong { font-weight:bold; }
button { margin:0; padding:0; border:none; cursor:pointer; font-family:'나눔고딕', NanumGothic,sans-serif; }
li{ list-style:none; }
caption,th{ text-align:left; }
h1,h2,h3,h4,h5,h6{ font-size:100%; font-weight:normal; font-family:'나눔고딕', NanumGothic,sans-serif;}
q:before,q:after{ content:''; }
abbr,acronym { border:0; font-variant:normal; }
hr { display:none; }
sup { vertical-align:text-top; }
sub { vertical-align:text-bottom; }


input[type="button"],input[type="text"],input[type="image"] {-webkit-appearance:none;-webkit-border-radius:0;}
input[type="radio"]{ background-color:#fff; width:18px; height:18px; }
input[type="checkbox"]{ background-color:#fff; width:16px; height:16px; }
input:checked[type="checkbox"]{background-color:#fff;-webkit-appearance:checkbox; }
input,textarea,select{ font-family:inherit; font-size:inherit; font-weight:inherit; }
textarea,input { outline-color:-moz-use-text-color; outline-style:none; outline-width:medium; }
textarea { resize:none; }
input,textarea,select{ *font-size:100%; }
label { cursor:pointer; }
a, a:link {text-decoration:none; font-family:'나눔고딕', NanumGothic,sans-serif; }
a:hover, a:active {text-decoration:none; }
article, aside, canvas, details, embed, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }
command, datalist, keygen, mark, meter, progress, rp, rt, ruby, time, wbr { display: inline; }

.hide {width:0; height:0; text-indent:-9999em; font:0/0 arial; overflow:hidden;}
.ir {z-index:-1; position:absolute; top:-9999em; left:-9999em; font-size:0; line-height:0; text-indent:-9999px; white-space:nowrap; overflow:hidden;}
.lb {display:block;}
.gbtn {position:relative; display:inline-block; width:auto; margin:0; padding:0; line-height:normal !important; border:0; overflow:visible; cursor:pointer; vertical-align:middle; white-space:nowrap; background-repeat:no-repeat; background-color:transparent; background-image:url('../images/set_inmoontv.png'); background-size:300px 300px;}
.icn {position:relative; top:-1px; display:inline-block; font:0/0 arial; overflow:hidden; vertical-align:middle; background-image:url('../images/set_inmoontv.png'); background-repeat:no-repeat; background-size:300px 300px;}


/* 도트페이징 */
.dot_paging {clear:both; width:100%; font-size:0; text-align:center;}
	.dot_paging a {width:7px; height:6px; margin:0 3px; background-position:-130px top;}
	.dot_paging a.this {background-position:-120px top;}
/* 버튼스타일 */
.btn_st1 {display:inline-block; height:38px; font-size:14px; line-height:38px; color:#ddd; text-align:center; vertical-align:middle; border-radius:5px; background:#444;}

#wrap {position:relative; padding:46px 0 25px 0;}
/* header */
#header {z-index:2; position:fixed; top:0; width:100%; height:46px; background:url('../images/bg_header.png') left top repeat-x; background-size:100% 100%;}
	#header h1 {display:inline-block; width:109px; margin:14px 0 0 20px;}
		#header h1 a {display:block; height:14px; background:url('../images/set_inmoontv.png') left top no-repeat; background-size:300px 300px;}
	.tGlobalBtn {float:right; font-size:0;}
		.tGlobalBtn li {display:inline-block; font-size:0; border-left:1px solid #af0b11;}
			.tGlobalBtn li a {display:block; width:45px; height:42px;}
			.tGlobalBtn li a.myinfo {background-position:left -15px;}
			.tGlobalBtn li a.category {background-position:-45px -15px;}
	/* 서브페이지 */
	.subpage #header h1 {display:none;}
		#header h2 {display:inline-block; height:24px; margin:10px 0 0 20px; font-size:19px;}
			#header h2 a {color:#fff;}
			#header h2 .icn {top:-2px; width:37px; height:24px; margin-right:8px; background-position:-140px -15px;}
/* content */
#content {z-index:1; position:relative; clear:both; margin-top:-4px;}
	/* 메인visual */
	.visual_wrap {position:relative; height:193px; overflow:hidden; background:#484848;}
		.visual_in {position:absolute; top:13px; left:5px; height:155px; font-size:0; overflow:hidden; -webkit-transition-property:-webkit-transform; -webkit-transition-duration:0.5s; -webkit-transition-timing-function:ease-out; -webkit-transform:translate3d(0px,0px,0px);}
			.visual_by {display:inline-block; width:280px; height:155px; margin:0 5px;}
				.visual_by a {position:relative; display:block; font-size:0;}
					.visual_by a img {width:100%;}
					.visual_by a strong {z-index:3; position:absolute; bottom:0; display:block; width:100%; height:24px; padding-top:8px; font-size:13px; font-weight:normal; color:#fff; text-align:center;}
					.visual_by a i {z-index:2; position:absolute; bottom:0; left:0; clear:both; display:block; width:100%; height:32px; opacity:0.5; background:#ce2127;}
	.visual_wrap .dot_paging {position:absolute; bottom:0; height:16px;}
		.visual_wrap .dot_paging a {background-position:-110px top;}
	/* 강의목록 */
	.lecture_list_w {clear:both; margin-top:20px;}
		.lecture_in {padding:0 20px;}
			.lecture_notice {margin-bottom:5px; font-size:11px; color:#000; text-align:right;}
				.lecture_notice strong {font-weight:normal;}
			.lecture_swipe_w {position:relative; overflow:hidden; font-size:0;}
				.lecture_list {clear:both; display:inline-block; border-top:1px solid #ddd;}
					.lecture_list li {border-bottom:1px solid #ddd;}
						.lecture_list li a {position:relative; display:block; min-height:33px; padding:15px 27px 15px 59px;}
							.lecture_title {font-size:14px; font-weight:bold; color:#cb202d;}
							.t_info {font-size:12px; color:#000;}
							.l_bar {position:relative; top:-1px; margin:0 9px; font-style:normal; color:#dadada;}
							.lecture_list li a img {position:absolute; top:9px; left:3px;}
							.lecture_list li a i.round {z-index:2; position:absolute; top:9px; left:3px; display:block; width:45px; height:45px; background:url('../images/set_inmoontv.png') -90px -15px no-repeat; background-size:300px 300px;}
			.lecture_in .dot_paging {margin-top:13px;}
	/* 하단버튼 */
	.list_bottom_btn_w {clear:both; margin-top:40px; height:38px; padding:0 20px; font-size:0;}
		.list_bottom_btn_w li {float:left; width:50%; text-align:left;}
		.list_bottom_btn_w li:nth-child(2) {text-align:right;}
		.list_bottom_btn_w .btn_st1 {width:99%;}
	/* 하단 내강의 */
	.lecture_btm_w {clear:both; margin-top:38px; padding:0 20px;}
		.lecture_chance {font-size:14px; text-align:center;}
			.lecture_chance a {color:#048daa;}
				.lecture_chance a .icn {top:-2px; width:12px; height:11px; margin-right:4px; background-position:-140px top;}
		.btm_mylecture {position:relative; clear:both; margin:19px 0 0 0; font-size:14px;}
			.btm_mylecture h3 {display:block; height:38px; padding:0 0 0 10px; font-size:14px; color:#000; line-height:38px; text-align:left; vertical-align:middle; border-radius:5px; background:#e8e8e8;}
				.btm_mylecture h3 em {margin-left:5px; color:#cb202d;}
				.btm_mylecture .mypass {position:absolute; top:10px; right:10px; color:#666;}
					.btm_mylecture .mypass em {font-weight:bold; color:#000;}
			.mylecture_list {clear:both;}
				.mylecture_list li {border-bottom:1px solid #ddd;}
				.mylecture_list li:last-child {border-bottom:0;}
					.mylecture_list li a {display:block; padding:13px 9px 14px 9px;}
	/* 강의 없을 때 */
	.lecture_btm_temp {}
		.lecture_btm_temp .btm_mylecture {padding:0 90px 0 0;}
			.btm_mylecture .btn_st1 {position:absolute; top:0; right:0; width:85px;}
			.lecture_btm_temp {clear:both; margin:13px 0 0 0; padding:0 0 0 10px; color:#999;}
				.lecture_btm_temp strong {font-weight:normal;}
	/* 하위카테고리 */
	.l_category_w {}
		.l_category_w .lecture_list {border-top:0;}
		.l_category_w .lecture_list a {min-height:54px; padding:13px 27px 13px 71px;}
			.l_category_w .lecture_list a img, .l_category_w .lecture_list a i.round {top:18px; left:20px;}
			.l_category_w .lecture_list .lecture_title {display:block; margin-bottom:7px;}
	/* 강의요약 */
	.ls_w {position:relative; height:255px;}
		.ls_info {position:absolute; bottom:0; left:0; height:70px; padding:15px 105px 0 20px; background:#e8e8e8;}
			.ls_info .lecture_title {display:block; margin-bottom:7px;}
			.ls_info .l_bar {margin:0 4px;}
		.ls_w img {width:100%;}
		/* 강의관련버튼 */
		.ls_btn_w {position:absolute; top:0; right:0; width:90px;}
			.ls_btn_in {position:relative;}
				.b_ls_play, .b_ls_buy {position:absolute; display:block; width:90px; height:85px;}
					.b_ls_play .b_ls_in, .b_ls_buy .b_ls_in {z-index:2; position:relative; display:block; height:69px; padding-top:16px; font-size:12px; color:#fff; text-align:center; opacity:0.72;}
					.b_ls_buy .b_ls_in {opacity:100;}
						.b_ls_play .b_ls_in .icn, .b_ls_buy .b_ls_in .icn {display:block; top:0; width:40px; height:40px; margin:0 auto 6px auto; background-position:-180px top;}
						.b_ls_buy .b_ls_in .icn {background-position:-220px top;}
					.b_ls_play .bg, .b_ls_buy .bg {z-index:1; position:absolute; top:0; left:0; clear:both; display:block; width:100%; height:85px; opacity:0.5; background:#000;}
					.b_ls_buy .bg {opacity:100; background:#ce2127;}
				.b_ls_pv {top:-1px; left:0;}
				.b_ls_fr {top:85px; left:0;}
				.b_ls_buy {right:0; bottom:0;}
	/* 강의상세 */
	.ld_w {position:relative; clear:both; margin-top:18px;}
		/* 탭메뉴 */
		.ld_tab_w {position:relative;}
			.ld_tab {z-index:2; position:relative; height:26px;}
				.ld_tab li {float:left; width:50%;}
					.ld_tab li a {display:block; height:25px; font-size:14px; color:#000; text-align:center; border-bottom:1px solid #444;}
					.ld_tab li.this a {font-weight:bold;}
			.ld_tab_w i.bdb {z-index:1; position:absolute; left:0; bottom:0; display:block; width:50%; height:3px; font:0/0 arial; overflow:hidden; background:#444;}
		/* 컨텐츠 */
		.ld_c_w {position:relative; clear:both;}
		/* 정보 */
		.ld_info_w {padding:11px 20px; font-size:13px; line-height:20px; color:#010101;}
			.ld_info_w h5 {margin-top:40px; font-size:13px; font-weight:bold;}
			.ld_info_w ol li.oli_f {margin-bottom:20px;}
		.ld_book_w {position:relative; clear:both; margin-top:36px; padding:0 25px 20px 25px; font-size:12px; line-height:normal; color:#666; background:#e8e8e8;}
			.ld_book_w h5 {clear:both; margin:0 0 9px 0; padding-top:18px; color:#000;}
			.ld_book_in {position:relative; height:81px; margin-top:14px; padding:0 0 0 64px;}
				.ld_book_in h6 {font-size:14px; font-weight:bold; color:#cb202d;}
				.ld_book_in img {position:absolute; top:0; left:0; width:58px;}
				.ld_book_in .btn_st1 {position:absolute; bottom:0; right:0; width:60px;}
		/* 목록 */
		.ld_list_w {}
			.ld_list_in {}
				.ld_list_by {clear:both;}
					.ld_list_in h5 {position:relative; padding:13px 43px 14px 49px; font-size:14px; font-weight:bold; color:#000; cursor:pointer; border-bottom:1px solid #999;}
					.ld_list_in h5.ld_list_in_this {background:green;}
						.ld_list_in h5 em {position:absolute; top:13px; left:0; display:block; width:42px; font-weight:bold; text-align:right;}
						.ld_list_in h5 .icn {position:absolute; top:17px; right:20px; width:17px; height:11px; background-position:-140px -40px;}
					.ld_list_d_w {clear:both; height:0; overflow:hidden;}
						.ld_list_d {clear:both;}
							.ld_list_d_l {position:relative; border-bottom:1px solid #ddd;}
							.ld_list_d_l:last-child {border-color:#999;}
								.ld_list_ct {position:relative; display:block; padding:13px 40px 14px 49px; cursor:pointer;}
								.ld_list_ct_this {background:blue;}
									.ld_list_ct em {font-size:14px; font-weight:bold; color:#cb202d;}
									.ld_list_ct .ct, .ld_list_ct .time {position:absolute; top:15px; left:0; display:block; font-size:11px; color:#000; text-align:right;}
									.ld_list_ct .ct {width:42px;}
									.ld_list_ct .time {width:36px; left:auto; right:0; text-align:left;}
							.ld_list_fnc {clear:both; height:0; padding:0 36px 0 41px; overflow:hidden; background:#484848;}
								.ld_list_fnc li {float:left; width:25%;}