@charset "utf-8";

/* 거래내역조회 */
.sbi_tbl_s {}

/* 거래내역 재전송 */
.sbi_tbl_s_2 {}
	.sbi_tbl_s_2 tr th {width:98px;}
	.sbi_tbl_s_2 tr td.s_tbl_c01 {width:232px;}
	.sbi_tbl_s_2 tr td.s_tbl_c02 {width:439px;}
	.sbi_tbl_s_2 tr.s_tbl_r03 .ipst02 {width:236px;}
.sbi_tbl_s2_2 {}
	.sbi_tbl_s2_2 tr th.s_tbl_s2_c01 {width:33px;}
	.sbi_tbl_s2_2 tr th.s_tbl_s2_c02 {width:57px;}
	.sbi_tbl_s2_2 tr th.s_tbl_s2_c03 {width:59px;}
	.sbi_tbl_s2_2 tr th.s_tbl_s2_c04 {width:54px;}
	.sbi_tbl_s2_2 tr th.s_tbl_s2_c05 {width:130px;}
	.sbi_tbl_s2_2 tr th.s_tbl_s2_c06 {width:89px;}
	.sbi_tbl_s2_2 tr th.s_tbl_s2_c07 {width:49px;}
	.sbi_tbl_s2_2 tr th.s_tbl_s2_c08 {width:65px;}
	.sbi_tbl_s2_2 tr th.s_tbl_s2_c09 {width:142px;}
	.sbi_tbl_s2_2 tr th.s_tbl_s2_c10 {width:57px;}
	.sbi_tbl_s2_2 tr th.s_tbl_s2_c11 {width:162px;}

/* 환불관리 */
.sbi_tbl_s_3 {}
	.sbi_tbl_s_3 tr th {width:98px;}
	.sbi_tbl_s_3 tr td {width:789px;}
.sbi_tbl_s_3-2 {margin-bottom:15px;}
	.sbi_tbl_s_3-2 tr th {width:98px;}
	.sbi_tbl_s_3-2 tr td.s_tbl_c01 {width:196px;}
	.sbi_tbl_s_3-2 tr td.s_tbl_c02 {width:186px;}
	.sbi_tbl_s_3-2 tr td.s_tbl_c03 {width:171px;}
.sbi_tbl_s2_3 {}
	.sbi_tbl_s2_3 tr th.s_tbl_s2_c01 {width:33px;}
	.sbi_tbl_s2_3 tr th.s_tbl_s2_c02 {width:29px;}
	.sbi_tbl_s2_3 tr th.s_tbl_s2_c03 {width:53px;}
	.sbi_tbl_s2_3 tr th.s_tbl_s2_c04 {width:129px;}
	.sbi_tbl_s2_3 tr th.s_tbl_s2_c05 {width:59px;}
	.sbi_tbl_s2_3 tr th.s_tbl_s2_c06 {width:63px;}
	.sbi_tbl_s2_3 tr th.s_tbl_s2_c07 {width:70px;}
	.sbi_tbl_s2_3 tr th.s_tbl_s2_c08 {width:44px;}
	.sbi_tbl_s2_3 tr th.s_tbl_s2_c09 {width:64px;}
	.sbi_tbl_s2_3 tr th.s_tbl_s2_c10 {width:59px;}
	.sbi_tbl_s2_3 tr th.s_tbl_s2_c11 {width:103px;}
	.sbi_tbl_s2_3 tr th.s_tbl_s2_c12 {width:30px;}
	.sbi_tbl_s2_3 tr th.s_tbl_s2_c13 {width:90px;}
	.sbi_tbl_s2_3 tr th.s_tbl_s2_c14 {width:68px;}

/* 현금영수증 조회 */
.sbi_tbl_s_4 {}
	.sbi_tbl_s_4 tr th {width:118px;}
	.sbi_tbl_s_4 tr td.s_tbl_c01 {width:212px;}
	.sbi_tbl_s_4 tr td.s_tbl_c02 {width:419px;}
.sbi_tbl_s2_4 {}
	.sbi_tbl_s2_4 tr th.s_tbl_s2_c01 {width:33px;}
	.sbi_tbl_s2_4 tr th.s_tbl_s2_c02 {width:63px;}
	.sbi_tbl_s2_4 tr th.s_tbl_s2_c03 {width:59px;}
	.sbi_tbl_s2_4 tr th.s_tbl_s2_c04 {width:71px;}
	.sbi_tbl_s2_4 tr th.s_tbl_s2_c05 {width:131px;}
	.sbi_tbl_s2_4 tr th.s_tbl_s2_c06 {width:90px;}
	.sbi_tbl_s2_4 tr th.s_tbl_s2_c07 {width:47px;}
	.sbi_tbl_s2_4 tr th.s_tbl_s2_c08 {width:69px;}
	.sbi_tbl_s2_4 tr th.s_tbl_s2_c09 {width:103px;}
	.sbi_tbl_s2_4 tr th.s_tbl_s2_c10 {width:76px;}
	.sbi_tbl_s2_4 tr th.s_tbl_s2_c11 {width:81px;}
	.sbi_tbl_s2_4 tr th.s_tbl_s2_c12 {width:73px;}

/* 정산입금내역조회 */
.sbi_tbl_s_5 {}
	.sbi_tbl_s_5 tr th {width:98px;}
	.sbi_tbl_s_5 tr td {width:789px;}
.sbi_tbl_s2_5 {}
	.sbi_tbl_s2_5 tr th {height:23px;}
	.sbi_tbl_s2_5 tr th.s_tbl_s2_c01 {width:58px;}
	.sbi_tbl_s2_5 tr th.s_tbl_s2_c02 {width:62px;}
	.sbi_tbl_s2_5 tr th.s_tbl_s2_c03 {width:64px;}
	.sbi_tbl_s2_5 tr th.s_tbl_s2_c04 {width:64px;}
	.sbi_tbl_s2_5 tr th.s_tbl_s2_c05 {width:40px;}
	.sbi_tbl_s2_5 tr th.s_tbl_s2_c06 {width:56px;}
	.sbi_tbl_s2_5 tr th.s_tbl_s2_c07 {width:51px;}
	.sbi_tbl_s2_5 tr th.s_tbl_s2_c08 {width:51px;}
	.sbi_tbl_s2_5 tr th.s_tbl_s2_c09 {width:61px;}

/* 정산입금달력 */
.cal_ym_w {clear:both; width:220px; height:25px; margin:28px auto 0 auto;}
	.cal_ym_w .ym_l, .cal_ym_w .ym_r {position:relative; float:left; display:inline; padding:5px; font:0/0 arial;}
	.cal_ym_w .ym_l {margin-right:15px;}
	.cal_ym_w .ym_r {margin-left:11px;}
	.cal_ym_w .jqTransformSelectWrapper {margin-right:4px;}
.sbi_tbl_cal {margin-top:13px;}
	.sbi_tbl_cal tr th {width:129px; height:37px;}
	.sbi_tbl_cal tr th.s_tbl_cal_c03, .sbi_tbl_cal tr th.s_tbl_cal_c05 {width:128px;}
	.sbi_tbl_cal tr th.s_tbl_cal_c07 {border-right:0;}
	.sbi_tbl_cal tr td {padding:10px; vertical-align:top; text-align:left;}
		.sbi_tbl_cal tr td .cal_in {position:relative; width:109px; height:59px; font-family:arial; font-size:10px; color:#4c4c4c;}
			.sbi_tbl_cal tr td .cal_in p {position:relative; top:-3px; line-height:20px;}
				.sbi_tbl_cal tr td .cal_in p img {position:relative; top:-1px; margin-right:1px; vertical-align:middle;}
			.sbi_tbl_cal tr td .cal_in em {position:absolute; top:0; right:0; color:#999;}
			.sbi_tbl_cal tr td.sun .cal_in em {color:#f92d2d;}

/* 금융사별 정산내역 */
.sbi_tbl_s_7 {}
	.sbi_tbl_s_7 tr th {width:98px;}
	.sbi_tbl_s_7 tr td {width:789px;}
		.sbi_tbl_s_7 tr td .ipst02 {width:76px;}
.sbi_tbl_s2_7 {}
	.sbi_tbl_s2_7 tr th.s_tbl_s2_c01 {width:152px;}
	.sbi_tbl_s2_7 tr th.s_tbl_s2_c02 {width:95px;}
	.sbi_tbl_s2_7 tr th.s_tbl_s2_c03 {width:95px;}
	.sbi_tbl_s2_7 tr th.s_tbl_s2_c04 {width:95px;}
	.sbi_tbl_s2_7 tr th.s_tbl_s2_c05 {width:95px;}
	.sbi_tbl_s2_7 tr th.s_tbl_s2_c06 {width:95px;}
	.sbi_tbl_s2_7 tr th.s_tbl_s2_c07 {width:82px;}
	.sbi_tbl_s2_7 tr th.s_tbl_s2_c08 {width:95px;}
	.sbi_tbl_s2_7 tr th.s_tbl_s2_c09 {width:95px;}
	.sbi_tbl_s2_7 tr.temp td {text-align:center; border-right:0;}

/* 위임사 정산내역 */
.sbi_tbl_s_8 {}
	.sbi_tbl_s_8 tr th {width:98px;}
	.sbi_tbl_s_8 tr td {width:789px;}
		.sbi_tbl_s_8 tr.s_tbl_r01 td select {width:194px;}
		.sbi_tbl_s_8 tr.s_tbl_r02 td select {width:79px;}
		.sbi_tbl_s_8 tr.s_tbl_r02 td .ds {float:left; display:inline; margin:2px 7px 0 2px; color:#4c4c4c;}
		.sbi_tbl_s_8 tr.s_tbl_r05 td .check {top:0px; margin-right:2px;}
		.sbi_tbl_s_8 tr.s_tbl_r05 td label {float:none; color:#582525;}
.sbi_tbl_s2_8 {}
	.sbi_tbl_s2_8 tr th.s_tbl_s2_c01 {width:63px;}
	.sbi_tbl_s2_8 tr th.s_tbl_s2_c02 {width:107px;}
	.sbi_tbl_s2_8 tr th.s_tbl_s2_c03 {width:116px;}
	.sbi_tbl_s2_8 tr th.s_tbl_s2_c04 {width:75px;}
	.sbi_tbl_s2_8 tr th.s_tbl_s2_c05 {width:100px;}
	.sbi_tbl_s2_8 tr th.s_tbl_s2_c06 {width:87px;}
	.sbi_tbl_s2_8 tr th.s_tbl_s2_c07 {width:87px;}
	.sbi_tbl_s2_8 tr th.s_tbl_s2_c08 {width:87px;}
	.sbi_tbl_s2_8 tr th.s_tbl_s2_c09 {width:89px;}
	.sbi_tbl_s2_8 tr th.s_tbl_s2_c10 {width:87px;}
.sbi_tbl_s2_8-2 {}
	.sbi_tbl_s2_8-2 tr th {height:23px;}
	.sbi_tbl_s2_8-2 tr th.s_tbl_s2_c01 {width:100px;}
	.sbi_tbl_s2_8-2 tr th.s_tbl_s2_c02 {width:99px;}
	.sbi_tbl_s2_8-2 tr th.s_tbl_s2_c03 {width:99px;}
	.sbi_tbl_s2_8-2 tr th.s_tbl_s2_c07 {width:85px;}
	.sbi_tbl_s2_8-2 tr th.s_tbl_s2_c08 {width:115px;}

/* 위임사 수수료관리 */
.sbi_tbl_s2_8-3 {}
	.sbi_tbl_s2_8-3 tr th.s_tbl_s2_c01 {width:49px;}
	.sbi_tbl_s2_8-3 tr th.s_tbl_s2_c02 {width:120px;}
	.sbi_tbl_s2_8-3 tr th.s_tbl_s2_c03 {width:120px;}
	.sbi_tbl_s2_8-3 tr th.s_tbl_s2_c04 {width:126px;}
	.sbi_tbl_s2_8-3 tr th.s_tbl_s2_c05 {width:121px;}
	.sbi_tbl_s2_8-3 tr th.s_tbl_s2_c06 {width:121px;}
	.sbi_tbl_s2_8-3 tr th.s_tbl_s2_c07 {width:121px;}
	.sbi_tbl_s2_8-3 tr th.s_tbl_s2_c08 {width:122px;}

/* 상점 수수료관리 */
.sbi_tbl_s_9 {}
	.sbi_tbl_s_9 tr th {width:98px;}
	.sbi_tbl_s_9 tr td {width:789px;}
.sbi_tbl_s2_9 {}
	.sbi_tbl_s2_9 tr th.s_tbl_s2_c01 {width:49px;}
	.sbi_tbl_s2_9 tr th.s_tbl_s2_c02 {width:85px;}
	.sbi_tbl_s2_9 tr th.s_tbl_s2_c03 {width:90px;}
	.sbi_tbl_s2_9 tr th.s_tbl_s2_c04 {width:91px;}
	.sbi_tbl_s2_9 tr th.s_tbl_s2_c05 {width:91px;}
	.sbi_tbl_s2_9 tr th.s_tbl_s2_c06 {width:66px;}
	.sbi_tbl_s2_9 tr th.s_tbl_s2_c07 {width:66px;}
	.sbi_tbl_s2_9 tr th.s_tbl_s2_c08 {width:66px;}
	.sbi_tbl_s2_9 tr th.s_tbl_s2_c09 {width:75px;}
	.sbi_tbl_s2_9 tr th.s_tbl_s2_c10 {width:77px;}
	.sbi_tbl_s2_9 tr th.s_tbl_s2_c11 {width:72px;}
	.sbi_tbl_s2_9 tr th.s_tbl_s2_c12 {width:68px;}

/* 금융사 수수료관리 */
.sbi_tbl_s_10 {}
	.sbi_tbl_s_10 tr th.s_tbl_c01, .sbi_tbl_s_10 tr th.s_tbl_c03 {width:118px;}
	.sbi_tbl_s_10 tr td.s_tbl_c02 {width:212px;}
	.sbi_tbl_s_10 tr td.s_tbl_c04 {width:419px;}
.sbi_tbl_s2_10 {}
	.sbi_tbl_s2_10 tr th.s_tbl_s2_c01 {width:49px;}
	.sbi_tbl_s2_10 tr th.s_tbl_s2_c02 {width:78px;}
	.sbi_tbl_s2_10 tr th.s_tbl_s2_c03 {width:63px;}
	.sbi_tbl_s2_10 tr th.s_tbl_s2_c04 {width:63px;}
	.sbi_tbl_s2_10 tr th.s_tbl_s2_c05 {width:63px;}
	.sbi_tbl_s2_10 tr th.s_tbl_s2_c06 {width:42px;}
	.sbi_tbl_s2_10 tr th.s_tbl_s2_c07 {width:79px;}
	.sbi_tbl_s2_10 tr th.s_tbl_s2_c08 {width:79px;}
	.sbi_tbl_s2_10 tr th.s_tbl_s2_c09 {width:65px;}
	.sbi_tbl_s2_10 tr th.s_tbl_s2_c10 {width:65px;}
	.sbi_tbl_s2_10 tr th.s_tbl_s2_c11 {width:65px;}
	.sbi_tbl_s2_10 tr th.s_tbl_s2_c12 {width:65px;}
	.sbi_tbl_s2_10 tr th.s_tbl_s2_c13 {width:65px;}
	.sbi_tbl_s2_10 tr th.s_tbl_s2_c14 {width:53px;}

/* 회원사 입금주기관리 */
.sbi_tbl_s_11 {}
	.sbi_tbl_s_11 tr th {width:118px;}
	.sbi_tbl_s_11 tr td {width:769px;}
.sbi_tbl_s2_11 {}
	.sbi_tbl_s2_11 tr th.s_tbl_s2_c01 {width:231px;}
	.sbi_tbl_s2_11 tr th.s_tbl_s2_c02 {width:180px;}
	.sbi_tbl_s2_11 tr th.s_tbl_s2_c03 {width:171px;}
	.sbi_tbl_s2_11 tr th.s_tbl_s2_c04 {width:133px;}
	.sbi_tbl_s2_11 tr th.s_tbl_s2_c05 {width:133px;}
	.sbi_tbl_s2_11 tr th.s_tbl_s2_c06 {width:54px;}

/* 정산보고서 */
.sbi_tbl_s_13 {}
	.sbi_tbl_s_13 tr th {width:98px;}
	.sbi_tbl_s_13 tr td {width:789px;}
		.sbi_tbl_s_13 tr.s_tbl_r01 td select {width:137px;}
		.sbi_tbl_s_13 tr.s_tbl_r03 td .ipst02 {width:76px;}
.sbi_tbl_s2_13 {}
	.sbi_tbl_s2_13 tr th.s_tbl_s2_c01 {width:124px;}
	.sbi_tbl_s2_13 tr th.s_tbl_s2_c02 {width:97px;}
	.sbi_tbl_s2_13 tr th.s_tbl_s2_c03 {width:97px;}
	.sbi_tbl_s2_13 tr th.s_tbl_s2_c04 {width:97px;}
	.sbi_tbl_s2_13 tr th.s_tbl_s2_c05 {width:96px;}
	.sbi_tbl_s2_13 tr th.s_tbl_s2_c06 {width:97px;}
	.sbi_tbl_s2_13 tr th.s_tbl_s2_c07 {width:97px;}
	.sbi_tbl_s2_13 tr th.s_tbl_s2_c08 {width:97px;}
	.sbi_tbl_s2_13 tr th.s_tbl_s2_c09 {width:97px;}
	.sbi_tbl_s2_13 tr td {padding-right:9px; text-align:right;}
	.sbi_tbl_s2_13 tr td.sbi_in_t, .sbi_tbl_s2_13 tr td.sbi_in_t_r, .sbi_tbl_s2_13 tr td.sbi_in_t2 {padding-right:0; color:#582525; text-align:center;}
	.sbi_tbl_s2_13 tr td.sbi_in_t_r {width:43px; line-height:16px;}
	.sbi_tbl_s2_13 tr td.sbi_in_t2 {width:80px;}

/* 정산대사확인 */
.sbi_tbl_s_14 {}
	.sbi_tbl_s_14 tr th {width:118px;}
	.sbi_tbl_s_14 tr td {width:769px;}
.sbi_tbl_s2_14 {}
	.sbi_tbl_s2_14 tr th {height:23px;}
	.sbi_tbl_s2_14 tr th.s_tbl_s2_c01 {width:32px;}
	.sbi_tbl_s2_14 tr th.s_tbl_s2_c02 {width:62px;}
	.sbi_tbl_s2_14 tr th.s_tbl_s2_c03 {width:76px;}
	.sbi_tbl_s2_14 tr th.s_tbl_s2_c04 {width:58px;}
	.sbi_tbl_s2_14 tr th.s_tbl_s2_c05 {width:51px;}
	.sbi_tbl_s2_14 tr th.s_tbl_s2_c06 {width:67px;}
	.sbi_tbl_s2_14 tr th.s_tbl_s2_c07 {width:85px;}
	.sbi_tbl_s2_14 tr th.s_tbl_s2_c08 {width:85px;}
	.sbi_tbl_s2_14 tr th.s_tbl_s2_c09 {width:100px;}
	.sbi_tbl_s2_14 tr th.s_tbl_s2_c10 {width:67px;}
	.sbi_tbl_s2_14 tr th.s_tbl_s2_c11 {width:46px;}
	.sbi_tbl_s2_14 tr th.s_tbl_s2_c12 {width:55px;}
	.sbi_tbl_s2_14 tr th.s_tbl_s2_c13 {width:39px;}
	.sbi_tbl_s2_14 tr th.s_tbl_s2_c14 {width:71px;}
	.sbi_tbl_s2_14 tr td {padding:5px 0 4px 0; line-height:18px;}