@charset "utf-8";

/* 퍼가기 개선 추가 : 2011.11 */
button::-moz-focus-inner {border:0; padding:0;}
.clear {clear:both; float:none; width:0; height:0; margin:0; padding:0; font:0/0 arial;}
.ir {zoom:-10; z-index:-1; position:relative; display:block; width:100%;_width:0;_height:0;.text-indent:-9999em; font-size:9px;_font-size:0;_line-height:0; text-align:center; white-space:nowrap; overflow:hidden;}
.hide {width:0; height:0; text-indent:-9999em; font:0/0 arial; overflow:hidden;}
i.icn {top:-1px; position:relative; display:inline-block; text-indent:-9999em; font:0/0 arial; overflow:hidden; vertical-align:middle; background-image:url('../../images/hpn_set_1111_n.gif'); background-repeat:no-repeat;}
.gn_btn {position:relative; display:inline-block; width:auto; margin:0; padding:0; line-height:1; border:0; overflow:visible; cursor:pointer; vertical-align:middle; white-space:nowrap; font-family:'Arial','Tahoma','Dotum','AppleGothic','sans-serif'; background-repeat:no-repeat; background-color:transparent; background-image:url('../../images/hpn_set_1111_n.gif');}
.gn_btn:hover {text-decoration:none;}
.gn_btn span {position:relative; display:inline-block;}
    input.gn_btn {text-indent:-9999em;}
    span.gn_btn {cursor:default;}
input.ipchk {top:-1px; position:relative; width:13px; height:13px; vertical-align:middle;}

#mywrap {z-index:2;}

/* 컨텐츠 정보 */
.topinfo_wrap .detail_info dl dd.t_11_80, .topinfo_wrap .detail_info dl dd.t_11_80 a.t_11_66_c {color:#999 !important;}
.topinfo_wrap .detail_info dl dd.prgm_info {font-size:12px !important; color:#4d4d4d !important; letter-spacing:-1px;}
	.topinfo_wrap .detail_info dl dd.prgm_info span.tit {font-weight:bold;}
	.topinfo_wrap .detail_info dl dd.prgm_info a.t_11_80 {font-size:12px !important; font-weight:normal; color:#4d4d4d !important;}
/* SNS공유 */
.topinfo_wrap .detail_opt {height:auto !important;}
.topinfo_wrap .detail_opt .use_section ul {margin:0 !important;}
.share_sns {padding:0 0 0 24px;}
	ul.sns_list {height:29px; margin:0 !important; padding:0 0 0 1px !important; background:url('../../images/hpn_set_1111_n.gif') -140px top no-repeat;}
		ul.sns_list li {float:left; display:inline; width:35px; height:29px; padding:0 !important; background:url('../../images/hpn_set_1111_n.gif') -141px top no-repeat;}
			ul.sns_list li .gn_btn {width:34px; height:26px; margin:1px 0 0 0;}
			ul.sns_list li .gs_cyworld {background-position:left top;}
			ul.sns_list li .gs_me2day {background-position:-35px top;}
			ul.sns_list li .gs_twitter {background-position:-70px top;}
			ul.sns_list li .gs_facebook {background-position:-105px top;}
			ul.sns_list li .gs_scrap {width:68px; height:29px; margin:0; background-position:-180px top;}

/* tv프로그램 */
.ss_tv {margin-left:-10px; padding:0;}
.ss_tv .btn_program_detailview {clear:both;}
.topinfo_wrap .detail_opt .ss_tv .list_epi ul {height:70px;}
/* 퍼가기 레이어 */
.sns_share_layer {z-index:30; position:absolute; top:103px; right:30px;}
	.ssl_shadow {padding:0 2px 5px 3px; background:url('../../images/bg_ssl_shadow.png') right bottom no-repeat;_background:none;}
	.ssl_in {position:relative; width:548px; padding:20px 25px; letter-spacing:-1px; border:1px solid #b3b3b3; background:#fff;}
		.ssl_in h3 {padding-bottom:17px; font-size:14px; font-weight:bold; color:#333; border-bottom:2px solid #4d4d4d;}
		.ssl_expn {margin-top:15px; margin-bottom:-9px; font-size:11px; color:#999; text-align:center;}
		.ssl_in h4 {clear:both; margin:24px 0 0 5px; padding-left:8px; font-size:11px; line-height:12px; font-weight:bold; color:#4c4c4c; background:url('../../images/ico_arr_gray.gif') left 1px no-repeat;}
		.ssl_cont {position:relative; clear:both; width:544px; margin:9px 0 0 0; padding:20px 0 0 0; border:1px solid #e6e6e6; border-top:2px solid #c1c1c1; background:#fafafa;}
			.ssl_cont_img {float:left; display:inline; margin:0 0 0 19px; padding:9px; border:1px solid #e1e1e1; background:#fbfbfb;}
			.ssl_cont_info {float:left; display:inline; margin:0 0 0 20px; width:375px;}
				.ssl_cont_info h5 {font-size:18px; font-weight:bold; color:#000;}
					.ssl_cont_info h5 i.age19 {width:17px; height:18px; background-position:left -100px;}
					.ssl_cont_info h5 span {display:block; margin-top:5px; font-size:11px; font-weight:normal; color:#999; letter-spacing:0; }
					.ssl_cont_info .prgm_info {margin-top:15px; font-size:12px; line-height:18px; color:#4c4c4c;}
						.ssl_cont_info .prgm_info dt {clear:both; float:left; width:34px; padding:0 !important; font-weight:bold;}
						.ssl_cont_info .prgm_info dd {float:left; width:340px; margin:0; padding:0 !important;}
						.ssl_cont_info .prgm_info dd.prgm_s_info {width:374px; padding-bottom:4px; font-size:11px; color:#999;}
			.ssl_preview {margin:0 0 0 20px; font:0/0 arial;}
				.ssl_copy {clear:both; margin-top:10px; padding:10px 0 10px 19px; border-top:1px solid #e6e6e6;}
					.ssl_copy .ssl_code {float:left; display:inline; width:409px; height:21px; padding:2px 0 0 3px; font-size:11px; line-height:18px; color:#808080; border:1px solid #dedede; border-top:1px solid #d0d0d0; background:#fff;}
					.ssl_copy .copy_code {width:87px; height:25px; margin-left:5px; background-position:-220px -60px;}
				.ssl_from {position:absolute; bottom:56px; right:19px; clear:both; font-size:11px; color:#ccc; text-align:right;}
					.ssl_from em {font-style:normal; font-weight:bold;}
		.ssl_in .ssl_close {position:absolute; top:12px; right:17px; clear:both; width:14px; height:13px; background-position:-18px -98px;}
/* 뮤직비디오 */
.ssl_music .ssl_cont_info h5 span {margin-top:5px; font-size:11px; font-family:verdana; color:#4c4c4c;}
.ssl_music .ssl_cont_img, .ssl_tv .ssl_cont_img {margin:0 0 0 19px; padding:3px; border:1px solid #e1e1e1; background:#fff;}
.ssl_music .ssl_cont_info, .ssl_tv .ssl_cont_info {margin:0 0 0 20px; width:355px;}
.topinfo_wrap .detail_opt .use_section .ssl_music .ssl_cont_info .prgm_info, .topinfo_wrap .detail_opt .use_section .ssl_tv .ssl_cont_info .prgm_info {margin-top:15px !important; font-size:11px; line-height:18px; color:#808080;}
.ssl_music .ssl_cont_info .prgm_info li, .ssl_tv .ssl_cont_info .prgm_info li {height:auto; margin:9px 0 0 0; padding:0; background:none;}

/* 프로그램 요금 정보 */
.pgm_pay_info {clear:both; margin-top:20px;}
	.pgm_pay {float:left; display:inline; border-left:1px solid #d9d9d9;}
		.pgm_pay em {float:left; height:15px; border:1px solid #d9d9d9; border-left:0; background-image:url('../../images/hpn_set_1111_n.gif');}
		.pgm_pay em.free {width:32px; background-position:-140px -30px;}
		.pgm_pay em.bought {width:46px; background-position:-180px -30px;}
		.pgm_pay_info a.link {float:left; display:inline; width:53px; height:14px; background:url('http://www.hoppin.nate.com/resource/images/common/btn_link_usecondition.gif') no-repeat left top; font-size:0; text-indent:-3000px;}
		.pgm_pay_info a.link:hover {background:url('http://www.hoppin.nate.com/resource/images/common/btn_link_usecondition.gif') no-repeat -54px top;}
.pgm_pay_info ul.pay_term {clear:both; padding-top:17px;}
	.pgm_pay_info ul.pay_term li {height:auto !important; margin-top:1px !important;}
		.pgm_pay_info ul.pay_term li .t_12_33 {font-size:11px !important;}
.topinfo_wrap .detail_opt .use_section .btns {padding:12px 0 0 24px !important;}

/* 별점 */
.rate_mystar {}
	.rt_mystar {width:98px; height:21px; background-position:-230px -30px;}
.mvdetail_right dl.right_rate dt {width:60px; color:#808080;}
.rating_pb .star_bg {background-image:url('../../images/common/bg_rating_n_pb.gif');}
.rating_gb .star_bg {background-image:url('../../images/common/bg_rating_n_gb.gif');}
dl.right_rate .star_0 {width:0;}
dl.right_rate .star_1 {width:9px;}
dl.right_rate .star_2 {width:16px;}
dl.right_rate .star_3 {width:23px;}
dl.right_rate .star_4 {width:30px;}
dl.right_rate .star_5 {width:36px;}
dl.right_rate .star_6 {width:43px;}
dl.right_rate .star_7 {width:50px;}
dl.right_rate .star_8 {width:57px;}
dl.right_rate .star_9 {width:63px;}
dl.right_rate .star_10 {width:72px;}
.rating_pb .star_0, .rating_pb .star_1, .rating_pb .star_2, .rating_pb .star_3, .rating_pb .star_4, .rating_pb .star_5, .rating_pb .star_6, .rating_pb .star_7, .rating_pb .star_8, .rating_pb .star_9, .rating_pb .star_10 {background-image:url('../../images/common/bg_rating_n_pbs.gif');}
.rating_gb .star_0, .rating_gb .star_1, .rating_gb .star_2, .rating_gb .star_3, .rating_gb .star_4, .rating_gb .star_5, .rating_gb .star_6, .rating_gb .star_7, .rating_gb .star_8, .rating_gb .star_9, .rating_gb .star_10 {background-image:url('../../images/common/bg_rating_n_gbs.gif');}
.rating_gb {padding-bottom:1px;}

/* SNS공유(작은사이즈) */
ul.sns_s_share {}
	ul.sns_s_share li {z-index:1; position:relative; display:inline;}
		ul.sns_s_share li .gn_btn {width:18px; height:18px;}
		ul.sns_s_share li .sns_s_cyworld {background-position:left -60px;}
		ul.sns_s_share li .sns_s_me2day {background-position:-20px -60px;}
		ul.sns_s_share li .sns_s_twitter {background-position:-40px -60px;}
		ul.sns_s_share li .sns_s_facebook {background-position:-60px -60px;}
		ul.sns_s_share li.this .sns_s_cyworld, ul.sns_s_share li .sns_s_c {background-position:left -80px;}
		ul.sns_s_share li.this .sns_s_me2day, ul.sns_s_share li .sns_s_m {background-position:-20px -80px;}
		ul.sns_s_share li.this .sns_s_twitter, ul.sns_s_share li .sns_s_t {background-position:-40px -80px;}
		ul.sns_s_share li.this .sns_s_facebook, ul.sns_s_share li .sns_s_f {background-position:-60px -80px;}
p.sns_s_explain {display:inline; font-size:11px; color:#999; letter-spacing:-1px;}
/* 말풍선 레이어 */
.sns_txt_lyr {position:absolute; top:19px; left:-67px; clear:both; width:150px; height:21px; padding:15px 2px 0 0; font-size:11px; color:#666; letter-spacing:-1px; text-align:center; background:url('../../images/bg_txt_layer.png') left top no-repeat;_background:url('../../images/bg_txt_layer.gif') left top no-repeat;}
	.sns_txt_lyr em {font-style:normal; font-weight:bold;}

/* 별점 공유 레이어 */
.sns_share_star {top:2px; position:relative; clear:both; width:192px; margin:0 0 0 -3px; padding:17px 0 0 0; background:url('../../images/bg_sns_share_star.gif') left top no-repeat;}
	.sns_share_star h6 {width:153px; margin:0 0 0 17px; padding-bottom:3px; font-size:11px; font-weight:bold; line-height:24px; letter-spacing:-1px; color:#737373; background:url('../../images/bg_sns_share_star_h6.gif') left bottom repeat-x;}
	.sns_share_star_b {clear:both; width:192px; padding:10px 0 14px 0; text-align:center; background:url('../../images/bg_sns_share_star_b.gif') left bottom no-repeat;}
		.sns_share_star_b ul.sns_s_share li {display:inline; margin:0 6px;}
		.sns_share_star_btn {clear:both; margin-top:9px; text-align:center;}
			.sns_share_star_btn .gn_btn {height:20px;}
			.sns_share_star_btn .sns_s_send {width:78px; background-position:-80px -60px;}
			.sns_share_star_btn .sns_s_cancel {width:57px; margin-left:1px; background-position:-160px -60px;}

/* 댓글 SNS 공유 */
.share_cmt_sns {clear:both; float:left; margin:3px 0 -7px 0;_margin-bottom:-20px;}
	.share_cmt_sns ul.sns_s_share {float:left; display:inline;}
	.share_cmt_sns ul.sns_s_share li {margin-right:3px;}
	.share_cmt_sns p.sns_s_explain {float:left; margin:6px 0 0 8px;}

/* 리뷰 */
table.rv_write tr td.sns_s ul.sns_s_share {float:left;}
	table.rv_write tr td.sns_s ul.sns_s_share li {margin-right:3px;}
table.rv_write tr td.sns_s p.sns_s_explain {float:left; margin:6px 0 0 8px; font-size:11px; color:#999;}

.review_sendout {clear:both; margin-top:10px;}
	.review_sendout p {position:relative; padding:0 0 0 16px; font-size:12px; color:#808080;}
		.review_sendout p a {position:absolute; top:0; right:0; padding-right:8px; font-size:11px; color:#808080; text-decoration:underline; background:url('../../images/ico_arr_gray_4x6.gif') right 2px no-repeat;}
	.review_sendout ul {clear:both; float:left; width:100%; margin:7px 0 0 0; padding:9px 0 7px 0; font-size:11px; color:#999; border:1px solid #e6e6e6; border-width:1px 0; background:#fafafa;}
		.review_sendout ul li {float:left; display:inline; margin-left:19px;}
			.review_sendout ul li label {margin-left:5px;}
			.review_sendout ul li i.icn {top:-2px; margin-right:3px;}
		.review_sendout ul li.tistory {margin-left:26px;}
		.review_sendout ul li.tistory i.icn {width:16px; height:13px; background-position:-40px -100px;}
		.review_sendout ul li.daum i.icn {width:30px; height:12px; background-position:-60px -100px;}
		.review_sendout ul li.egloos i.icn {top:-1px; width:17px; height:12px; background-position:-90px -100px;}

/* 코멘트/ 리뷰 */
ul.comment_list li p.t_12_66, .review p.notice {font-size:12px; line-height:20px; color:#808080 !important;}
	ul.comment_list li p.t_12_66 em, .review p.notice em {font-style:normal; color:#7052cc;}


/* 외부서비스 연동 */
.other_relate {}
	.or_explain {padding:20px 0; border:1px solid #e6e6e6; background:#fafafa;}
		.or_explain em {display:block; width:486px; height:11px; margin:0 auto; background:url('../../images/hpn_set_1111_n.gif') left -130px no-repeat;}
	.or_list {z-index:3; position:relative; clear:both; float:left; width:100%; margin-top:38px;}
		.or_list li {z-index:1; clear:both; float:left; width:100%; padding:13px 0 12px 0; border-bottom:1px solid #e6e6e6;}
		.or_list li.this {z-index:5; position:relative;}
			.or_list li dl dt {float:left; display:inline; width:196px;}
				.or_list li dl dt span {display:block; margin-top:7px; margin-left:47px; background-image:url('../../images/hpn_set_1111_n.gif'); background-repeat:no-repeat;}
				.or_list li dl.cyworld dt span {width:73px; height:16px; background-position:left -145px;}
				.or_list li dl.me2day dt span {width:67px; height:16px; background-position:-80px -145px;}
				.or_list li dl.twitter dt span {width:71px; height:12px; background-position:-160px -145px;}
				.or_list li dl.facebook dt span {width:76px; height:15px; background-position:-240px -145px;}
				.or_list li dl.tistory dt span {width:70px; height:13px; background-position:-320px -145px;}
				.or_list li dl.egloos dt span {width:64px; height:20px; margin-top:4px; background-position:-400px -145px;}
				.or_list li dl.daum dt span {width:67px; height:13px; background-position:-350px -100px;}
			.or_list li dl dd {float:left; display:inline;}
			.or_list li dl dd.exp {width:360px; padding-top:8px; font-size:11px; letter-spacing:-1px; font-weight:bold; color:#8f8f8f;}
				.or_list li dl dd.exp em.relative {font-style:normal; font-weight:normal; color:#000;}
					.or_list li dl dd.exp em.relative i {font-weight:bold; font-style:normal;}
			.or_list li dl dd.btn {width:183px;}
				.or_list li dl dd.btn .gn_btn {margin-right:3px;}
	.b_sns_relate {width:118px; height:25px; background-position:-110px -100px;}
	.b_sns_dis {width:118px; height:25px; background-position:-230px -100px;}
	.b_sns_help {width:55px; height:25px; background-position:-310px -60px;}
	/* 알려드립니다 */
	.or_noti {z-index:1; clear:both; position:relative; margin-top:60px; padding:9px 0 0 0;}
		.or_noti dl {border:1px solid #e6e6e6; border-top:2px solid #999; border-bottom:2px solid #999;}
		.or_noti dl dt {float:left; width:173px; height:68px; background:url('../../images/bg_or_noti_dt.gif') right 50% no-repeat;}
			.or_noti dl dt span {display:block; width:63px; height:11px; margin:29px 0 0 55px; background:url('../../images/hpn_set_1111_n.gif') -340px -230px no-repeat;}
		.or_noti dl dd.explin {float:left; width:564px; height:68px;}
			.or_noti dl dd.explin span {display:block; width:470px; height:26px; margin:22px 0 0 36px; background:url('../../images/hpn_set_1111_n.gif') left -165px no-repeat;}
		.or_noti dl dd.list {clear:both; padding:4px 0 22px 0; border-top:1px solid #ddd;}
			.or_noti dl dd.list ul {margin-left:55px;}
			.or_noti dl dd.list ul li {float:left; display:inline; width:170px; margin-top:20px; font-weight:bold;}
				.or_noti dl dd.list ul li a {font-size:11px; color:#808080;}
					.or_noti dl dd.list ul li a span {margin-left:4px; padding-left:4px; color:#9b84e1; background:url('../../images/ico_bar_gray.gif') left top no-repeat;}
				.or_noti dl dd.list ul li a:hover {text-decoration:none;}
			.or_noti dl dd.list ul li.lb {width:150px}
		.or_noti i.ornt_cnr {position:absolute; top:0; left:56px; width:17px; height:11px; background-position:-340px -250px;}

/* 연동하기 자세히 */
.or_detail_set {clear:both; display:none; margin-top:12px; padding:19px 0 27px 197px; background:url('../../images/bg_ods_dot.gif') left top repeat-x;}
	.or_detail_set dl.or_service_set {width:381px;}
		.or_detail_set dl.or_service_set dt {clear:both; float:left; width:87px; margin:16px 0 0 0; padding:0 0 0 13px; background:url('../../images/ico_rect_gray.gif') left 2px no-repeat;}
			.or_detail_set dl.or_service_set dt span {display:block; height:9px; margin:0; padding:0; overflow:hidden; background-image:url('../../images/hpn_set_1111_n.gif'); background-repeat:no-repeat;}
			.or_detail_set dl.or_service_set dt.blog_addr span {width:50px; background-position:-370px -250px;}
			.or_detail_set dl.or_service_set dt.blog_id span {width:41px; background-position:-430px -250px;}
			.or_detail_set dl.or_service_set dt.blog_pwd span {width:47px; background-position:-370px -40px;}
			.or_detail_set dl.or_service_set dt.api_key span {width:40px; height:8px; background-position:-330px -40px;}
			.or_detail_set dl.or_service_set dt.blog_api span {width:40px; height:10px; background-position:-420px -40px;}
		.or_detail_set dl.or_service_set dd {float:left; width:281px; margin:7px 0 0 0; padding:0;}
			.or_detail_set dl.or_service_set dd input {width:271px; height:18px; padding:5px 0 0 8px; font-size:11px; color:#999; line-height:15px; border:1px solid #e7e7e7; border-top:1px solid #cecece; border-left:1px solid #d5d5d5; background:#fff;}
	.or_detail_set .orss_exp {clear:both; display:block; margin:19px 0 0 96px; height:11px; overflow:hidden; background-image:url('../../images/hpn_set_1111_n.gif'); background-repeat:no-repeat;}
	.orss_btn_wrap {clear:both; padding:10px 0 0 96px;}
		.orss_btn_wrap .gn_btn {width:108px; height:25px;}
	.b_set_relate {background-position:-220px -230px;}
	.b_set_change {background-position:0 -230px;}
	.b_set_disc {background-position:-110px -230px;}
	/* 티스토리 */
	.or_detail_set .tistory .orss_exp {width:224px; background-position:-230px -195px;;}
	/* 이글루스 */
	.or_detail_set .egloos .orss_exp {width:224px; background-position:left -195px;;}
	/* 다음블로그 */
	.or_detail_set .daum .orss_exp {width:236px; background-position:left -210px;;}

/* 설정 도움말 */
.ordet_help {z-index:5; position:absolute; clear:both; display:none; top:41px; right:1px;}
	.ordet_help_in {position:relative; width:631px; padding:20px 25px 25px 25px; border:1px solid #b3b3b3; background:#fff url('../../images/bg_ordet_help.gif') left top no-repeat;}
		.ordet_help_in h3 {margin-bottom:20px; padding-bottom:17px; font-size:14px; font-weight:bold; color:#333; letter-spacing:-1px; border-bottom:2px solid #4d4d4d;}
	.ordet_help_in h4 {position:relative; clear:both; margin-top:25px; margin-bottom:18px; padding-top:20px; font-size:12px; font-weight:bold; color:#808080; letter-spacing:-1px; background:url('../../images/bg_ordet_h4.gif') left top repeat-x;}
	.ordet_help_in .hide {width:628px;}
		.ordet_help_in li {padding:0; border:0;}
	.ordet_cnr {position:absolute; top:-8px; right:21px; width:13px; height:8px; font:0/0 arial; overflow:hidden; background:url('../../images/bg_ordet_cnr.gif') left top no-repeat;}
	/* 티스토리 */
	.ordh_ti_01 {height:231px; background:url('../../images/ordet_tistory.gif') left top no-repeat;}
	.ordh_ti_02 {height:204px; background:url('../../images/ordet_tistory.gif') left -240px no-repeat;}
	/* 이글루스 */
	.ordh_eg_01 {height:209px; background:url('../../images/ordet_egloos.gif') left top no-repeat;}
	.ordh_eg_02 {height:204px; background:url('../../images/ordet_egloos.gif') left -210px no-repeat;}
	/* 다음블로그 */
	.ordh_db_01 {height:186px; background:url('../../images/ordet_daum.gif') left top no-repeat;}
	.ordh_db_02 {height:395px; background:url('../../images/ordet_daum.gif') left -190px no-repeat;}




/* 메인 SNS연동 레이어 */
.sns_lyr_relate {position:absolute; top:0; left:0; width:240px; height:140px;}
	.slr_in {position:relative; clear:both; float:left; width:240px; height:140px;}
		.slr_in a {display:inline-block; width:136px; height:27px; margin-top:95px; margin-left:51px;}
		.slr_in .gn_btn {position:absolute; top:9px; right:11px; width:14px; height:13px; font:0/0 arial; background:none;}
.slr_new {background-image:url('../../images/slr_new.gif');}
.slr_re {background-image:url('../../images/slr_re.gif');}



.detailview_list .prd_section .rating_area .rate_mystar {float:left; display:inline; margin-top:1px;}
.detailview_list .prd_section .rating_area .rating_gb {z-index:10; position:relative;}
.detailview_list .prd_section .rating_area .sns_share_star {z-index:9; position:absolute; top:24px; left:6px;}
.detailview_list .prd_section .rating_area .sns_share_star_b ul.sns_s_share li {float:none; border-bottom:0;}

ul.list_ratings li .rate_mystar {clear:both; float:left; display:inline; margin-left:10px;}
ul.list_ratings .rating_gb .sns_share_star {z-index:9; position:absolute; top:24px; left:6px;}
ul.list_ratings .rating_gb .sns_share_star .sns_share_star_b ul.sns_s_share li {float:none; border-bottom:0;}

ul.list_myst_mvrate li .rate_mystar {clear:both; float:left; display:inline; margin-left:10px;}
ul.list_myst_mvrate .rating_gb .sns_share_star {z-index:9; position:absolute; top:24px; left:6px;}
ul.list_myst_mvrate .rating_gb .sns_share_star .sns_share_star_b ul.sns_s_share li {float:none; border-bottom:0;}


.detailview_list {position:relative; z-index:11;}
.w_list .use_section {position:relative;}