@charset "utf-8";
/************************************************************************
 * filename     :
 * description  :
 * date         :
************************************************************************/

html	{height:100%;}
body	{width:100%; height:100%;}


/* top gnb */
#top_gnb			{position:relative; width:960px; height:33px; margin:0 auto; border-bottom:4px solid #7d66c0; background:#ffffff;}
#top_gnb .common	{position:absolute; top:10px; left:0;}
#top_gnb .common ul	{height:13px;}
#top_gnb .common li	{float:left; padding:0 15px; border-right:1px solid #e2e2e2; color:#000;}
#top_gnb .common li.on	{color:#957ddb;}

#top_gnb .privacy		{position:absolute; top:14px; right:0;}
#top_gnb .privacy ul	{height:13px;}
#top_gnb .privacy li	{float:left; height:13px; padding:0 7px; color:#8c8c8c8c;}
#top_gnb .privacy li.bar	{border-right:1px solid #e2e2e2;}
#top_gnb .privacy li.etc	{color:#e2e2e2;}
#header .promotionSpot{position:absolute; top:30px;  right:0px; z-index:0}
#header .promotionSpot a img{border:none; }

/* snb */
#snb		{position:absolute; top:67px; left:0; width:190px;} /* 110412 리뉴얼 수정 */
#snb .conts	{width:139px; margin:0 0 0 20px; background:url('http://www.hoppin.nate.com/resource/images/common/bg_snb.gif') repeat;}
#mysnb			{position:absolute; top:67px; left:0; width:211px;}
#mysnb .conts	{width:169px; margin:0 0 0 20px; background:url('http://www.hoppin.nate.com/resource/images/common/bg_snb.gif') repeat;}



/* center area */
#wrap			{position:relative; margin:0 auto -274px auto; width:1000px; min-height:100%; height:100%; height:auto !important;  background:url('http://www.hoppin.nate.com/resource/images/common/bg_wrap.gif') repeat-y;}
#contentWrap	{position:relative; width:1000px; margin:0 auto; padding: 0 0 274px 0; z-index:10;} /* 110530 position,zindex 추가 */
#wrap #conts			{width:760px; margin:0 0 0 210px; padding:30px 0 0 0;} /* 110412 리뉴얼 수정 */
#wrap #conts.all_con	{margin:0 auto; padding:0;}

#mywrap			{position:relative; margin:0 auto -274px auto; width:1000px; min-height:100%; height:100%; height:auto !important;  background:url('http://www.hoppin.nate.com/resource/images/common/bg_mywrap.gif') repeat-y;}
#mywrap #conts	{width:739px; margin:0 0 0 241px; padding:30px 0 0 0;} /* 110412 리뉴얼 수정 */


/* footer area */
#footer		{position:relative; width:1000px; height:274px; margin:0 auto; border-top:1px solid #fff; *border-top:none;} /* 101126 수정, 110526 wrap에 푸터가 가려지는 현상 방지용 relative 추가 */
#footer.no_bg	{*position:static;} /* 110526 IE7 검색에서 하단레이어 푸터에 가려지는 현상 방지 */


/* NATE header - Nate modify 2011.06.10 제공 */
#header{position:relative;width:960px;height:68px;margin:0 auto;text-align:left;z-index:200;}
#header h1{position:absolute;top:33px;left:1px;width:80px;height:20px;background:url('http://www.hoppin.nate.com/resource/images/common/nate.gif') no-repeat;text-indent:-1000em;}
#header h1 a{display:block;width:72px;height:20px;overflow:hidden;}
#header h2{position:absolute;top:29px;left:83px;width:80px;height:30px;background:url('http://www.hoppin.nate.com/resource/images/common/h2_hoppin2.gif') no-repeat -2px top;text-indent:-1000em;}
#header h2 a{display:block;width:80px;height:22px;overflow:hidden;}

#header .gnbMenu { position:absolute; top:0; left:0; width:100%;}
#header .gnbMenu #noscript_gnb { position:relative; float:right; height:26px; margin:0; padding:0; font-size:8pt; letter-spacing:-1px; z-index:999; }
#header .gnbMenu #noscript_gnb div { display:inline; float:left; height:26px; margin:0 0 0 9px; padding:7px 12px 0 0; }
#header .gnbMenu #noscript_gnb div span { margin:0 4px 0 2px; color:#BBBBBB; }

#header #searchWrap{position:absolute; top:31px; left:164px; z-index:999; width:325px;}/*position:absolute;top:12px;left:182px;width:390px;z-index:999;*/
#header #searchWrap fieldset input.searchBox{float:left;width:215px;height:16px;margin:0;padding:5px 0 0 5px;border:2px solid #ec2000;background-color:#FFFFFF;font-size:9pt;color:#444;}
#header #searchWrap fieldset input.btn_service{float:left;width:42px;height:25px;margin:0;padding:0;border:0;background:url('http://www.hoppin.nate.com/resource/images/common/set_search.gif') no-repeat 0 0;cursor:pointer;}
#header #searchWrap fieldset input.btn_all{float:left;display:inline;width:51px;height:25px;margin:0 0 0 3px;padding:0;border:0;background:url('http://www.hoppin.nate.com/resource/images/common/set_search.gif') no-repeat 0 -30px;text-indent:-2000em;cursor:pointer;}
#header #acImg{visibility:visible;position:absolute;top:11px;left:208px;cursor:pointer;}

/* Header 바이널 자동완성 추가 */
#header .opt_list{position:absolute;top:23px;left:2px;width:218px;background:#ffffff;border:1px solid #666666;border-top:1px solid #cccccc;z-index:100;}
#header .opt_list ul{margin:6px 6px 6px 6px;}
#header .opt_list li{padding-bottom:2px;text-align:left;width:100%;}
#header .opt_list li a:hover{text-decoration:none !important;}
#header .opt_list li.on{background:#f5f5f5;}
#header .opt_list li.on a{color:#7052cc !important;}
#header .opt_list li.on a:hover{text-decoration:none !important;}
#header .opt_list .btn_area{position:relative;width:100%;height:19px;padding-top:10px;background:#f2f2f2;}
#header .opt_list .btn_area .txt{float:left;margin-left:10px;}
#header .opt_list .btn_area .btn{float:right;margin-right:6px;}
#header .opt_list .btn_area .autosearh_info{position:absolute;top:22px;right:8px;}
/* //Header 바이널 자동완성 추가 */
