@charset "utf-8";


.withmap {padding:37px 0 100px 0;}
	.withmap .subhead-wrap .now-location {right:10px;}

#mapShow {height:378px; margin:20px 0 0 0; font:0/0 arial; border-top:2px solid #366774; border-bottom:1px solid #d3d3d3;}

.howto-map {clear:both; margin-top:10px; color:#969696; text-align:left;}