@charset "utf-8";


.regist_form {margin-top:15px;}
	.regist_subject {position:relative;}
		.regist_subject h3 {font:0/0 arial;}
		.regist_subject .require {margin-top:-6px; font-size:12px; color:#929292; letter-spacing:-1px; text-align:right;}
			.regist_subject .require img {position:relative; margin-right:6px; vertical-align:middle;}
	.regist_field {margin-top:6px; margin-bottom:40px; border-top:1px solid #e6e6e6;}
		.regist_field tbody tr th {width:120px; padding-right:5px; font-weight:normal; text-align:right; border-bottom:1px solid #e6e6e6; background:#f3f3f3;}
			.regist_field tbody tr th img {top:-2px; position:relative; margin-right:2px; vertical-align:middle;}
		.regist_field tbody tr td {width:701px; padding:4px 0 4px 15px; color:#747474; text-align:left; border-bottom:1px solid #e6e6e6;}
			.regist_field tbody tr td .iptxt {width:153px;}
			.regist_field tbody tr td a {font:0/0 arial;}
				.regist_field tbody tr td img {top:-3px; position:relative; vertical-align:middle;}
				.regist_field tbody tr td img.idcheck {margin-left:2px;}
				.regist_field tbody tr td img.zipcode {margin-right:2px;}
			.newsmail {margin:4px 0 8px 0;}
				.newsmail dd {margin-top:11px;}
					.newsmail dd ul li {display:inline; margin-right:83px;}
					.newsmail dd ul li input {margin-right:5px;}
			.regist_field tbody tr td .email-service {width:157px;}
			.regist_field tbody tr td .mp-first {width:88px;}
			.regist_field tbody tr td .mp-num {width:84px;}
			.regist_field tbody tr td .my-question {width:157px;}
			.regist_field tbody tr td .address-whr {width:188px;}
			.regist_field tbody tr td .address-ext {width:288px;}
			.regist_field tbody tr td .trd-year {width:88px; margin-right:4px;}
			.regist_field tbody tr td .trade {width:66px; margin-left:5px; margin-right:4px;}
	.regist_form .policy {width:798px; height:164px; margin:25px 0 0 0; padding:20px; font-family:dotum; font-size:12px; color:#5c5c5c; line-height:18px; overflow:scroll; overflow-x:hidden; word-break:break-all; word-wrap:break-word; border:1px solid #adadad;}
	.regist_form .policy-agree {margin-top:13px; color:#5c5c5c; text-align:right; font-weight:bold;}
		.regist_form .policy-agree .check {top:-2px; margin-left:7px;}
	.regist_form .btn-wrap {margin-top:50px; font:0/0 arial; text-align:center;}
		.regist_form .btn-wrap img {margin:0 20px;}