@charset "euc-kr";
@import "us_common.css";
p.topNavi	{padding:0 0 7px 9px; background:url(http://gimage.interpark.com/renewPark/us_img/last/dotted_navi.gif) no-repeat left 4px; font-size:11px;}
.cs_left {width:180px; overflow:hidden; float:left;}
.cs_left h2	{font-size:0; line-height:0;}
.cs_content {width:765px; overflow:hidden; float:right;}
.cs_content h3	{padding:0 0 5px 0;}
ul.ul_t1	{color:#666; font-size:11px; padding:13px 0 10px 0;}
ul.ul_t1	li	{display:block; padding:2px 0 0 13px; background:url(http://gimage.interpark.com/renewPark/us_img/mybook/ico_dotted_2.gif) no-repeat 7px 5px;}
ul.ul_t2	li	{display:inline; float:left; font-size:0; line-height:0; padding:20px 0 10px 0;}
.tableQna {width:100%; font-size:11px; border-top:1px solid #707070;}
.tableQna th	{padding:10px 0 8px 0; font-weight:normal; background:url(http://gimage.interpark.com/renewPark/us_img/cs/bg_th.gif) no-repeat left 10px #f9f9f9; text-align:center; border-bottom:1px solid #bababa;}
.tableQna th.none	{background:none #f9f9f9; border-left:1px solid #bababa;}
.tableQna th.last	{border-right:1px solid #bababa;}	
.tableQna td	{text-align:center; padding:10px 0 8px 0;  color:#696969; line-height:16px; border-left:1px solid #dedede; border-right:1px solid #dedede;}
.tableQna td	img	{margin:1px 0; vertical-align:-3px;}
.tableQna td.tl	{text-align:left; font-size:12px; padding-left:10px;}
.tableQna td.first	{font-size:12px; padding-left:10px;}
.tableQna td	a.on	{font-weight:bold; text-decoration:underline;}
.tableQna td	a.off	{font-weight:normal;}
.tableQna td.layer {padding:0; text-align:left; background:#f9f9f9; border-bottom:1px solid #dedede; border-left:0;}
.tableQna td.layer .tdLayer	{text-align:left; clear:both; overflow:hidden; border-top:1px solid #dedede;}
.tableQna td.layer .Qwrap	{font-size:12px; line-height:18px; padding:17px 50px 15px 159px; background:url(http://gimage.interpark.com/renewPark/us_img/mybook/ico_q.gif) no-repeat 60px 15px; border-bottom:1px solid #dedede; overflow:hidden;}
.tableQna td.layer .Awrap	{font-size:12px; line-height:18px; padding:17px 50px 15px 159px; background:url(http://gimage.interpark.com/renewPark/us_img/mybook/ico_a.gif) no-repeat 60px 15px;}
.tableQna td.layer .notice_wrap{font-size:12px; line-height:18px; padding:17px 50px 15px 110px;}


.tableQna td.layer .tdLayer	.tit	{line-height:20px; font-weight:bold; padding:20px 30px 20px 30px; font-size:12px;}
.tableQna td.layer .tdLayer	.txt	{line-height:20px; font-size:12px; padding:0 30px 10px 30px; }
.tableQna td.layer .tdLayer	.btn	{text-align:right; padding:10px;}




.pageNavi {padding:10px 0; text-align:center; overflow:hidden; clear:both; vertical-align:top; cursor:default;}
.pageNavi a,
.pageNavi strong {font-weight:bold; color:#3a3a3a; vertical-align:top; display:inline-block; text-decoration:none; padding:4px 8px 2px 8px; border:1px solid #ebebeb; margin:0 -1px; position:relative;}
.pageNavi strong {border:1px solid #de4d52; color:#de4d52;}
.pageNavi a:hover,
.pageNavi a:active,
.pageNavi a:focus {border:1px solid #de4d52; color:#de4d52; text-decoration:none;}
.pageNavi span.blank {padding:0 4px; height:0; font-size:0; line-height:0; vertical-align:top;}
.pageNavi span.arrow	img	{margin:5px 0 0 0; vertical-align:-4px;}
.pageNavi span.arrow a,
.pageNavi span.arrow a:hover,
.pageNavi span.arrow a:active,
.pageNavi span.arrow a:visited,
.pageNavi span.arrow a:focus {padding:0; margin:0; border:0;}
.pageNavi span.totalTxt {color:#777; font-size:11px; margin:5px 7px 0 0; display:inline-block;}
.cs_leftMemu {clear:both;}
.cs_leftMemu .topTle	{width:180px; clear:both; height:2px; overflow:hidden; background:url(http://gimage.interpark.com/renewPark/us_img/mybook/tle_mybook_leftMemu_top.gif) no-repeat left top; font-size:0; line-height:0;}
.cs_leftMemu .conTle {width:148px; clear:both; padding:0 15px 5px 15px; overflow:hidden; border-left:1px solid #d9d9d9; border-right:1px solid #d9d9d9;}
.cs_leftMemu .conTle p	{padding-bottom:7px;}
.cs_leftMemu .conTle ul	{padding:0 0 7px 10px;}
.cs_leftMemu .conTle ul	li	{padding:0 0 0 7px; font-size:11px; line-height:18px; background:url(http://gimage.interpark.com/renewPark/us_img/mybook/ico_dotted_left.gif) no-repeat left 6px;}
.cs_leftMemu .conTle ul	li	a	{color:#777;}
.cs_leftMemu .conTle ul	li.on	{font-weight:bold; color:#466fb7;}
.cs_leftMemu .conTle ul	li.on	a	{font-weight:bold; color:#466fb7;}
.cs_leftMemu .conTle .line	{border-top:1px solid #f6f6f6; font-size:0; line-height:0; height:13px;}
.cs_leftMemu .bottomTle	{width:180px; clear:both; height:2px; overflow:hidden; background:url(http://gimage.interpark.com/renewPark/us_img/mybook/tle_mybook_leftMemu_bottom.gif) no-repeat left top; font-size:0; line-height:0;}
.banner_call	li	{padding:7px 0 0 0; font-size:0; line-height:0;}
.bt_search	{text-align:center; padding:25px 0 10px 0;}
.bt_search	img	{vertical-align:middle;}
.bt_search	input.input	{height:15px; vertical-align:middle; width:200px;}	
.faqWrap {position:relative; clear:both; background:url(http://gimage.interpark.com/renewPark/us_img/cs/title_faq.gif) no-repeat 140px 20px #f9f9f9; width:545px; padding:20px 0 20px 220px;  overflow:hidden; font-size:11px;}
.faqWrap .input	{vertical-align:middle; width:150px; border:1px solid #6f98e0; height:15px; font-size:12px; padding:3px 0 0 3px;}
.faqWrap .select	{font-size:12px;}
.faqWrap img {vertical-align:middle;}
.faqWrap .txt {padding-top:10px;}
.faqWrap .txt b	{color:#;}
.faqWrap .txt b	a{color:#466fb7;}

.qnaWrap {overflow:hidden; padding:14px 10px; border:1px solid #d2dcee; border-top:2px solid #466fb7;}
.qnaWrap h4	{font-size:0; line-height:0; padding:0;}
.qnaWrap .tab	{overflow:hidden; margin-bottom:10px; padding:16px 16px 13px 16px; border:1px solid #93b2e8; background:#f9f9f9; font-size:11px;}
.qnaWrap .tab	a	{color:#646464;}
.qnaWrap .tab	span	{padding:0 10px;}


.notice	{line-height:20px; margin-top:10px; clear:both; overflow:hidden; padding:13px 13px 10px 13px; border:1px solid #d5d5d5;}
.notice	p.tit	{padding:0 0 0 8px; background:url(http://gimage.interpark.com/renewPark/us_img/cs/arrow_notice.gif) no-repeat 1px 4px;}
.notice	ul	{padding:7px 0 0 5px;}
.notice	ul	li{padding:0 0 0 8px; background:url(http://gimage.interpark.com/renewPark/us_img/cs/dot_notice.gif) no-repeat 1px 5px; font-size:11px;}
.notice	ul	li	a	{color:#777;}



