@charset "euc-kr";
@import "us_common.css";
b.free	{color:#2ba5e4;}
.naviSelect	a:link,
.naviSelect		a:visited,
.naviSelect		a:active 			{color:#7f7f7f; text-decoration:none;}
.naviSelect		a:hover 			{color:#000; text-decoration:none;}
.naviSelect	{border-bottom:2px solid #696969; text-align:left; clear:both; height:26px; margin:3px auto 10px auto;}
.naviSelect	.naviWrap	{clear:both; line-height:14px; position:absolute; z-index:1; padding-left:9px; background:url(http://gimage.interpark.com/renewPark/us_img/last/dotted_navi.gif) no-repeat left 9px; font-size:11px; }
.naviSelect	.home_navi	{float:left; padding:3px 1px 0 0;}
.naviSelect	.selectWrap	{float:left; padding:0 0 0 14px;  white-space:nowrap; z-index:1; background:url(http://gimage.interpark.com/renewPark/us_img/last/arrow_navi.gif) no-repeat 5px 7px;}
.naviSelect	.selectOff	{cursor:pointer; float:left; color:#7f7f7f; white-space:nowrap; background:url(http://gimage.interpark.com/renewPark/us_img/last/btn_select_layer.gif) no-repeat right 3px #fff;}
.naviSelect	.selectOff	.tit	{border:1px solid #ccc; padding:3px 7px 1px 8px;}
.naviSelect	.selectOff	.tit	span	{padding-right:16px;}
.naviSelect	.selectOff	ul	{display:none; position:absolute; padding:8px 8px 4px 8px; border:1px solid #ccc; border-top:0;}
.naviSelect	.selectOff	ul	li{padding-bottom:2px;}
.naviSelect	.selectOn	{cursor:pointer; float:left; color:#7f7f7f; white-space:nowrap; background:url(http://gimage.interpark.com/renewPark/us_img/last/btn_select_layer.gif) no-repeat right 3px #fff;}
.naviSelect	.selectOn	.tit	{border:1px solid #ccc; padding:3px 7px 1px 8px;}
.naviSelect	.selectOn	.tit	span	{padding-right:16px;}
.naviSelect	.selectOn	ul	{display:block; padding:8px 8px 4px 8px; background:#fff; border:1px solid #ccc; border-top:0;}
.naviSelect	.selectOn	ul	li	{padding-bottom:2px;}
.naviSelect	.selectWrap .select	{padding-top:4px;}

.naviSelect	.selectOff	.boxWrap	{display:none;}
.naviSelect	.boxWrap	ul	li.line	{font-size:0; width:80px; line-height:0; padding:0 0 6px 0; height:1px; background:url(http://gimage.interpark.com/renewPark/us_img/last/dot_line.gif) repeat-x left top;}
.naviSelect	.boxWrap	{display:block; border:1px solid #ccc; background:#fff; border-top:0; float:left; overflow:hidden; clear:both;}
.naviSelect	.boxWrap	ul	{float:left; border:0;}
.naviSelect	.boxWrap	ul	b {text-decoration:underline;}
.naviSelect	.boxWrap	a:hover ul	li{background:#ccc;}

.incNameWrap	{width:100%; clear:both; overflow:hidden;}
.incNameWrap	.tit	{padding:10px 0 8px 0;}
.incNameWrap	h2	{padding:10px 0 8px 0; font-weight:normal;}
.incNameWrap	h2	img.ico	{vertical-align:-3px;}
.incNameWrap	h2	span.big{font-size:25px; color:#333; font-weight:bold; line-height:28px;}
.incNameWrap	h2	span.big	b	{color:#4966cc; padding-right:5px;}
.incNameWrap	.writer	{padding:10px 10px 6px 8px; font-size:11px; color:#7f7f7f; background:url(http://gimage.interpark.com/renewPark/us_img/last/arrow01.gif) no-repeat left 13px;}
.incNameWrap	.writer	span	{color:#333;}
.incNameWrap	.series	{ background:url(http://gimage.interpark.com/renewPark/us_img/last/dotted_line.gif) repeat-x left top;}
.incNameWrap	.series	p	{color:#7f7f7f; padding:10px 10px 10px 8px; background:url(http://gimage.interpark.com/renewPark/us_img/last/arrow01.gif) no-repeat left 13px;}
.incNameWrap	.series	span	{color:#333;}
.incNameWrap	span.ico_event	{color:#fff; font-size:11px; width:52px; padding:1px 3px 0 0; text-align:right; height:13px; line-height:13px; background:url(http://gimage.interpark.com/renewPark/us_img/last/ico_event.gif) no-repeat left top;}
.incNameWrap	span.ico_gift	{color:#fff; font-size:11px; width:52px; padding:1px 3px 0 0; text-align:right; height:13px; line-height:13px; background:url(http://gimage.interpark.com/renewPark/us_img/last/ico_gift.gif) no-repeat left top;}
.incNameWrap	span.ico_gih	{color:#fff; font-size:11px; width:52px; padding:1px 3px 0 0; text-align:right; height:13px; line-height:13px; background:url(http://gimage.interpark.com/renewPark/us_img/last/ico_gih.gif) no-repeat left top;}
.incNameWrap	span.ico_event	a,
.incNameWrap	span.ico_gift	a,
.incNameWrap	span.ico_gih	a	{color:#fff;}
.incInfoWrap {width:958px; clear:both; border:1px solid #e4e4e4; border-top:1px solid #d1d1d1; overflow:hidden; line-height:17px; color:#777;}
.incInfoWrap .conWrap	{width:958px; clear:both; overflow:hidden; position:relative;}
.incInfoWrap .leftWrap	{width:257px; text-align:center; padding:30px 0; float:left; overflow:hidden;}
.incInfoWrap .leftWrap	img.img	{border:1px solid #333;}
.incInfoWrap .leftWrap	ul	{padding-top:5px;}
.incInfoWrap .leftWrap	ul	li	{display:inline; padding:0 5px;}
.incInfoWrap .centerWrap	{width:480px; padding:30px 0; float:left; overflow:hidden;}
.incInfoWrap .centerWrap	.inc_infoT	{width:100%;}
.incInfoWrap .centerWrap	.inc_infoT	th	{font-size:11px; vertical-align:top; width:83px;}
.incInfoWrap .centerWrap	.inc_infoT	th	p	{text-align:left; font-weight:normal; letter-spacing:-1px; color:#333; background:url(http://gimage.interpark.com/renewPark/us_img/last/dotted01.gif) no-repeat left 12px; padding:5px 0 5px 7px;}
.incInfoWrap .centerWrap	.inc_infoT	td.line01	{border-top:1px solid #b3b3b3; font-size:0; height:1px; padding:0; line-height:0;}
.incInfoWrap .centerWrap	.inc_infoT	td.line02	{border-top:1px solid #efefef; font-size:0; height:1px; padding:0; line-height:0;}
.incInfoWrap .centerWrap	.inc_infoT	td	{font-size:12px; padding:4px 0;}
.incInfoWrap .centerWrap	.inc_infoT	td.price	img	{vertical-align:-1px;}
.incInfoWrap .centerWrap	.inc_infoT	td	.through	{text-decoration:line-through; padding-right:15px; margin-right:3px; font-size:14px; color:#7f7f7f; background:url(http://gimage.interpark.com/renewPark/us_img/last/arrow_through.gif) no-repeat right 5px;}
.incInfoWrap .centerWrap	.inc_infoT	td	.bar	{color:#ccc; padding:0 5px;}
.incInfoWrap .centerWrap	.inc_infoT	td	.F11-555{margin-top:7px;line-height:0px;font-size:11px;color:#555;}/*2012-10-23 Add*/
.incInfoWrap .centerWrap	.inc_infoT	td	.ico_hot	{color:#555;line-height:0px;vertical-align:-2px;margin-right:3px;}/*2012-10-23 Add*/
.incInfoWrap .centerWrap	.inc_infoT	td	.input_ea{border:1px solid #cacaca; font-size:12px; font-family:dotum,arial; color:#4d4d4d; height:13px; padding:1px 0 0 0; text-align:center;}
.incInfoWrap .centerWrap	.inc_infoT	td	.num	{font-size:0; line-height:0; padding-right:5px;}
.incInfoWrap .centerWrap	.inc_infoT	td	.num	img	{vertical-align:-3px;}
.incInfoWrap .centerWrap	.inc_infoT	td	.chan	{font-size:0; line-height:0; padding-left:10px;}
.incInfoWrap .centerWrap	.inc_infoT	td	.chan	img	{vertical-align:-4px;}
.incInfoWrap .centerWrap	.bottomBtn	{text-align:center; padding-top:15px;}
.incInfoWrap .rightWrap	{width:154px; position:relative; float:right; padding:15px 15px 5px 0; font-size:11px;}
.incInfoWrap .rightWrap	h3	{padding-bottom:3px;}
.incInfoWrap .rightWrap	.boxWrap	{clear:both; width:152px; border:1px solid #bfd1e8; overflow:hidden; margin-bottom:10px;}
.incInfoWrap .rightWrap	.boxWrap	.box	{width:150px; border:1px solid #fff; overflow:hidden; background:#f7f7f7;}
.incInfoWrap .rightWrap	.num	{font-size:0; line-height:0; padding:8px 0 0 14px;}
.incInfoWrap .rightWrap	.vote	{position:absolute; left:74px; top:32px;}
.incInfoWrap .rightWrap	.star	{font-size:0; line-height:0; display:block;}
.incInfoWrap .rightWrap	.st	{text-align:center; padding:7px 0 5px 0;}
.incInfoWrap .rightWrap	.st	li	{padding:2px 0;}
.incInfoWrap .rightWrap	b	{color:#5d85cb;}
.incInfoWrap .rightWrap	.bar	{color:#ccc; padding:0 3px;}
.incInfoWrap .rightWrap	.price	{font-size:12px;}
.incInfoWrap .rightWrap	.price a	{color:#333;}
.incInfoWrap .rightWrap	.price	b	{color:#da6464;}
.incInfoWrap .rightWrap	.link	{padding:11px 9px 8px 9px;}
.incInfoWrap .rightWrap	.review	{position:relative; margin-top:3px; width:150px; height:43px; background:url(http://gimage.interpark.com/renewPark/us_img/last/bg_tit_review.gif) no-repeat left top;}
.incInfoWrap .rightWrap	.review	a	{color:#777; text-decoration:none;}
.incInfoWrap .rightWrap	.review	.a_1	{width:40px; padding-top:15px; z-index:2; height:20px; position:absolute; left:6px; top:7px; text-align:center; overflow:hidden;}
.incInfoWrap .rightWrap	.review	.a_2	{width:40px; padding-top:15px; z-index:2; height:20px; position:absolute; left:57px; top:7px; text-align:center; overflow:hidden;}
.incInfoWrap .rightWrap	.review	.a_3	{width:40px; padding-top:15px; z-index:2; height:20px; position:absolute; left:105px; top:7px; text-indent:-999px; overflow:hidden;}
.incInfoWrap .font_1	{color:#33baea;}
.incInfoWrap .font_2	{color:#da6365;}
.incInfoWrap .font_hot	{color:#555;}
.font_3	{color:#c10403;}
.font_3	a{color:#c10403;}

.Fprice{color:#da6464;}a.Fprice{color:#da6464;}
.Fdot	{color:#333; background:url(http://gimage.interpark.com/renewPark/us_img/last/dotted01.gif) no-repeat left 5px; padding:0 0 0 7px;}
.Fday	{color:#2ba5e4; font-size:14px; padding-right:3px;}
.topTabWrap			{overflow:hidden; margin-top:40px; position:relative; border-bottom:1px solid #9d0200; clear:both; width:100%;}
.topTabWrap	div.on	{border:1px solid #9d0200; height:28px; margin:0 1px 0 0; background:url(http://gimage.interpark.com/renewPark/us_img/last/bg_tab_a_on.gif) repeat-x left top;}
.topTabWrap	div.off	{border:1px solid #545454; height:26px; margin:2px 1px 0 0; background:url(http://gimage.interpark.com/renewPark/us_img/last/bg_tab_a_off.gif) repeat-x left top;}
.topTabWrap	div.on,
.topTabWrap	div.off	{color:#fff; padding:0 10px; width:98px; font-size:11px; border-bottom:0; float:left; white-space:nowrap;}
.topTabWrap	span.btn	{position:absolute; right:0; top:12px;}
.topTabWrap	div.on	p	{text-align:center; padding-top:6px;}
.topTabWrap	div.off	p	{text-align:center; padding-top:5px;}
.inc_detailWrap	{width:960px; overflow:hidden; line-height:17px;}
.inc_detailWrap .detail_left {width:775px; float:left; overflow:hidden;}
.inc_detailWrap .detail_left .detail_con	{width:745px; margin:0 auto; padding:15px 0; overflow:hidden;}
.inc_detailWrap .detail_left .ebook_detail_con	{width:745px; margin:0 auto; padding:15px 0; overflow:hidden;}
.ebook_detail_T	{width:600px; line-height:18px;}
.ebook_detail_T	th	{width:100px; background:url(http://gimage.interpark.com/renewPark/us_img/last/dotted_ebook_detail_T.gif) no-repeat left 8px; padding:3px 7px; white-space:nowrap; text-align:left; font-weight:normal; vertical-align:top;}
.ebook_detail_T	td	{vertical-align:top; padding:3px 0;}
.detail_left .detail_left_box01	{overflow:hidden; margin-top:5px; padding:15px 30px 10px 30px; background:#f8f8f8; border:1px solid #e4e4e4;}
.detail_left .btnMore	{padding-top:5px;}
.detail_left .incWrap	{width:773px; clear:both; overflow:hidden; border:1px solid #e4e4e4; border-top:0;}
.detail_left .incLeftWrap	{width:660px; overflow:hidden; padding-top:12px; float:left;}
.detail_left .incList	{position:relative; float:left; height:205px; overflow:hidden;}
.detail_left .incList	.check	{position:absolute; top:0; left:13px;}
.detail_left .incList	.imgWrap	{width:92px; padding:3px 0 17px 35px;}
.detail_left .incList	img.img	{border:1px solid #d3d3d3; width:90px;}
.detail_left .incList	.imgWrap	.txt	{padding:7px 0 0 0; overflow:hidden; height:18px;}
.detail_left .incList	.imgWrap	.txt_1	{padding:7px 0 0 0; overflow:hidden;}
.detail_left .incList	.imgWrap	.price	{color:#da6464; font-size:11px;}
.detail_left .incList	.imgWrap	.price	span	{color:#888;}
.detail_left .incList	.imgWrap	div.img	{position:relative; font-size:0; line-height:0;}
.detail_left .incList	.imgWrap	div.img	.icon	{position:absolute; width:40px; height:17px; font-size:0; line-height:0; left:0; top:-6px;}
.detail_left .incRightWrap	{width:103px; overflow:hidden; padding-top:12px; float:right;}
.detail_left .incRightWrap	.check	{font-size:11px; padding:5px 0;}
.detail_left .incRightWrap	.smsBtn	{padding-bottom:1px;}
.detail_left .incRightWrap	.check	input	{vertical-align:-1px;}
.detail_left .incWrapBtn	{padding-left:21px;}
.detail_left .line	{background:url(http://gimage.interpark.com/renewPark/us_img/last/dotted_bottom_1.gif) repeat-x left top; clear:both; height:6px; line-height:0; font-size:0; margin-top:0;}
.Fgray	{color:#999;}
.detail_left h3{width:754px; padding:0 0 4px 21px; font-weight:normal; color:#323232; font-size:12px; margin-top:30px; position:relative; z-index:1; clear:both; border-bottom:1px solid #7f7f7f; background:url(http://gimage.interpark.com/renewPark/us_img/last/ico_a_title.gif) no-repeat 5px 3px;}
.detail_left h3 img.tit	{vertical-align:-2px; margin-right:6px; z-index:1;}
.detail_left h3 span.topBtn	{position:absolute; right:0; top:9px;}
.detail_left h3	span.btn01	{position:absolute; right:0; top:1px; font-size:11px;}
.detail_left h3	span.btn01	img	{margin-left:10px; vertical-align:-3px;}
.detail_left h3	span.btn01	input	{vertical-align:-2px;}
.detail_left h3	.font01	{color:#658dd1;}
.detail_left .writer_fl		{width:150px; float:left;}
.detail_left .writer_fl	img	{border:1px solid #545454;}
.detail_left .writer_fr		{width:570px; float:left;}
.detail_left .writer_fr	.tit	{font-weight:bold; padding-bottom:10px; color:#555;}
.detail_left .writer_fr	.tit	img	{vertical-align:-2px;}
.detail_left .writer_tit	{font-weight:bold; padding-bottom:10px; color:#555;}
.detail_left .writer_tit	img	{vertical-align:-2px;}
.detail_left h4	{padding:0 0 6px 16px; font-weight:bold; color:#323232; font-size:12px; margin-top:20px; clear:both; border-bottom:1px solid #7f7f7f; background:url(http://gimage.interpark.com/renewPark/us_img/last/ico_h4_left.gif) no-repeat 8px 5px;}
.detail_left .tacWrap	{width:745px; clear:both; margin:15px 0 0 15px; overflow:hidden;}
.detail_left .tacWrap	h5	{padding:0 0 7px 7px; font-weight:bold; color:#323232; font-size:11px; background:url(http://gimage.interpark.com/renewPark/us_img/last/ico_h4_left.gif) no-repeat left 5px;}
.detail_left .tacWrap	ul	{padding:5px 0 20px 10px;}
.detail_left .tacWrap	ul	li	{padding:0 0 3px 13px; background:url(http://gimage.interpark.com/renewPark/us_img/last/ico_s_dotted_1_off.gif) no-repeat 8px 6px; font-size:11px;} 
.detail_left .tacWrap	ul	li.tit	{color:#3399ff; background:none; padding-left:0;}


.detail_left .tacWrap	ul.mu	{padding:5px 0 20px 0; line-height:18px;}
.detail_left .tacWrap	ul.mu	li	{padding:0 0 5px 8px; background:url(http://gimage.interpark.com/renewPark/us_img/last/ico_h4_left.gif) no-repeat left 4px; font-size:12px;} 
.detail_left .tacWrap	ul.mu	li	p	{font-size:11px; color:#777;}
.detail_left .tacWrap	ul.mu	li	.font_1	{color:#658dd1;}
.detail_left .tacWrap	ul.mu	li	span	{color:#d31b1c;}

.detail_left .tacWrap	.title	{padding:0 0 7px 7px; font-weight:bold; color:#323232; font-size:11px; background:url(http://gimage.interpark.com/renewPark/us_img/last/ico_h4_left.gif) no-repeat left 5px;}
.reViewWriteT	{width:100%; margin-top:5px;}
.reViewWriteT	td	{padding-bottom:5px;}
.reViewWriteT	td	.input_1	{height:17px; border:1px solid #a3a3a3; padding:3px 0 0 3px; width:644px; color:#777;}
.reViewWriteB	{position:relative; height:35px;}
.reViewWriteB	.byte	{position:absolute; left:96px; top:0px; color:#a3a3a3; font-size:11px;}
.reViewWriteB	.outPut	{position:absolute; right:70px; top:0px; color:#a3a3a3; font-size:11px; padding:3px 3px 0 5px; overflow:hidden;}
.reViewWriteB	.outPut	.ico	{font-size:0; line-height:0;}
.reViewWriteB	.outPut	.ico	img	{margin-left:1px; vertical-align:-3px;}
.reViewWriteB	.outPut	.checkbox	{vertical-align:-2px; margin:0 1px 0 7px;}
.reViewWriteB	.btn	{position:absolute; right:0px; top:1px;}
.reViewWrap	{width:745px; padding:10px 15px;overflow:hidden;}
.reViewWrap	.txt01	{font-size:11px;}
.reViewWrap	.reViewList	{}
.reViewWrap	.line	{height:5px; margin-top:10px;}
.reViewWrap	.title	{font-weight:bold; padding-top:5px;}
.reViewWrap	.title		img.ico	{vertical-align:-2px;}
.reViewWrap	.txt_reView	{padding-top:5px; line-height:20px;}
.reViewWrap	.txt_reView		img.ico	{vertical-align:-5px;}
.reViewWrap	.txt	{padding:10px 0 0 0; line-height:20px;}
.reViewWrap	.txt		img.btn	{vertical-align:-2px;}
.reViewWrap	.vote	{color:#7f7f7f; font-size:11px; padding-top:5px;}
.reViewWrap	.vote	.num	{font-size:0; line-height:0; padding:0 5px;}
.reViewWrap	.vote	.ico	{font-size:0; line-height:0; padding:0 5px 0 0;}
.reViewWrap	.vote	.ico	img	{vertical-align:-3px; margin-right:1px;}
.reViewWrap	.vote	img	{vertical-align:-1px;}
.last_selectLayer	a:hover {text-decoration:none;}
.last_selectLayer	.select	{cursor:pointer; width:92px; height:20px; border:1px solid #ccc;}
.last_selectLayer	.select	p.d_txt	{padding:3px 0 0 7px; position:relative;}
.last_selectLayer	.select	p.d_txt	.r_btn	{position:absolute; right:4px; top:4px;}
.last_selectLayer	.select	.layerTle	{position:absolute;}
.last_selectLayer	.layer	{position:absolute; width:92px; border:1px solid #ccc; overflow:auto; background-color:#fff;}
.last_selectLayer	.layer	ul.ul	{padding:6px 3px 3px 7px;}
.last_selectLayer	.layer	ul.ul	li	{padding:0 0 1px 0;}
.last_selectLayer	span.num	{font-size:0; line-height:0;}
.inc_detailWrap .detail_right	{width:170px; float:right; overflow:hidden; padding-top:52px;}
.inc_detailWrap .detail_right	.banner	{padding-bottom:10px;}
.inc_detailWrap .detail_right	.banner	img	{width:168px; border:1px solid #bfbfbf;}
.helpLayer	{z-index:10; line-height:17px; position:absolute; color:#999; font-size:11px; width:400px; text-align:left; padding:0 2px 2px 0; overflow:hidden; background:url(http://gimage.interpark.com/renewPark/us_img/mybook/bg_ly.gif) no-repeat 2px 2px;}
.helpLayer	.help_wrap	{background:#fff; padding:15px; overflow:hidden; border:1px solid #888d95;}
.helpLayer	.help_title	{font-weight:bold; font-size:12px; color:#2f3743;}
.helpLayer	.help_title	span	{font-weight:normal; font-size:11px; color:#999;}
.helpLayer	.help_line	{height:9px; font-size:0; line-height:0; background:url(http://gimage.interpark.com/renewPark/us_img/mybook/dotted_ly.gif) repeat-x left top; margin-top:5px;}
.helpLayer	.Fly01	{background:url(http://gimage.interpark.com/renewPark/us_img/mybook/ico_ly01.gif) no-repeat left 5px; padding:0 0 0 7px;}
.helpLayer	.Fly02	{background:url(http://gimage.interpark.com/renewPark/us_img/mybook/ico_ly02.gif) no-repeat left 3px; padding:0 0 0 7px;}
.helpLayer	.font01	{color:#2ba5e4 !important;}
.helpLayer	.cardUL	li	{padding:2px 0;}
.helpLayer	.cardUL	li	img	{vertical-align:-5px;}
.helpLayer	.helpT01	{width:100%; font-size:11px;}
.helpLayer	.helpT01	th	{border:1px solid #dedede; text-align:center; font-weight:bold; color:#696969; padding:7px 7px 5px 7px;}
.helpLayer	.helpT01	td	{border:1px solid #dedede; text-align:center; color:#696969; padding:7px 7px 7px 7px;}
.helpLayer	.hfont01	{color:#de4d52;}
.pageNavi 	{clear:both; margin-top:10px; width:100%; text-align:center;}
.pageNavi	a:link, 
.pageNavi	a:visited, 
.pageNavi	a:active    {color:#3a3a3a; text-decoration:none;}
.pageNavi	a:hover		{color:#3a3a3a; text-decoration:none;}
.pageNavi	span.arrow	{padding:0 3px;}
.pageNavi	span.txt		{padding-bottom:3px;}
.pageNavi	span.naviNum	{padding-left:5px;}
.pageNavi	span.naviNum	a	{padding:3px 8px 1px 6px;  height:18px; font-weight:bold;}
.pageNavi	span.naviNum	a:link, 
.pageNavi	span.naviNum	a:visited, 
.pageNavi	span.naviNum	a:active    {border:1px solid #fff; color:#3a3a3a; text-decoration:none;}
.pageNavi	span.naviNum	a:hover		{border:1px solid #ebebeb; color:#3a3a3a; text-decoration:none;}
.pageNavi	span.naviNum	a.on:link, 
.pageNavi	span.naviNum	a.on:visited, 
.pageNavi	span.naviNum	a.on:active    {border:1px solid #cc90a1; color:#9a2143; text-decoration:none;}
.pageNavi	span.naviNum	a.on:hover		{border:1px solid #cc90a1; color:#9a2143; text-decoration:none;}
.pageNavi	span.totalTxt	{padding:0 12px; vertical-align:2px; font-size:11px; color:#777;}




.coupon_layer	{line-height:17px; z-index:5; width:520px; font-size:11px; text-align:left; padding:0; border:2px solid #666666; background-color:#fff; clear:both; position:absolute;}
.coupon_layer	.coupon_wrap01	{padding:0; border:1px solid #4d4d4d;}
.coupon_layer	.coupon_wrap02	{padding:0; border:1px solid #ededed;}
.coupon_layer	.coupon_title	{background:#f8f8f8; position:relative; padding:9px 0 6px 20px; border-bottom:1px solid #ededed;}
.coupon_layer	.closeBtn	{position:absolute; right:12px; top:12px;}
.coupon_layer	.coupon_scroll	{
	margin-top:8px;
	width:490px;
	overflow-y:scroll;
	height:134px;
	border-bottom:1px solid #e2e2e2;
	scrollbar-3dlight-color:#f6f6f6;
	scrollbar-arrow-color:#cccccc;
	scrollbar-base-color:#f6f6f6;
	scrollbar-darkshadow-color:#f6f6f6;
	scrollbar-face-color:#fff;
	scrollbar-highlight-color:#cccccc;
	scrollbar-shadow-color:#cccccc;
	scrollbar-track-color:#f6f6f6;
}
.coupon_layer	.font01	{color:#2ba5e4 !important;}
.coupon_layer	.coupon_content	{padding:10px; overflow:hidden; clear:both; white-space:nowrap;}
.coupon_layer	.Fly01	{background:url(http://gimage.interpark.com/renewPark/us_img/last/ico_ly01.gif) no-repeat left 10px; color:#999; padding:5px 10px 5px 7px;}
.coupon_layer	.Fly01	img	{vertical-align:-5px;}
.coupon_layer	.couponT	{font-size:11px; width:467px;}
.coupon_layer	.couponT	th	{text-align:center; white-space:nowrap; padding:5px 10px 3px 10px; font-weight:bold; color:#363636;}
.coupon_layer	.couponT	td.line	{background:url(http://gimage.interpark.com/renewPark/product/last/dotted_zip.gif) repeat-x left top; font-size:0; line-height:0;}
.coupon_layer	.couponT	th.first	{width:70px; background:url(http://gimage.interpark.com/renewPark/product/last/bar_zip_th.gif) no-repeat right 7px;}
.coupon_layer	.couponT	td	{padding:5px 10px 0 10px; text-align:center; vertical-align:bottom;}
.coupon_layer	.couponT	td.first	{width:70px; text-align:center;}
.coupon_layer	.couponT	td.tr	{width:70px; padding-right:5px;}

.banner1202	{padding-bottom:4px;}
.banner1202	img	{width:152px; height:103px; border:1px solid #e4e4e4;}

/*2012-09-25 디스크 추가*/
.musicListWrap	{overflow:hidden; border:1px solid #e4e4e4; border-top:0;}
.musicListWrap	.listTitle	{background:#f8f8f8; position:relative;}
.musicListWrap	.listTitle	p	{padding:10px 15px; font-weight:bold;}
.musicListWrap	.listTitle	.btn	{position:absolute; top:8px; right:39px;}
.musicListWrap	.musicList	{padding:10px 0 0 35px;}
.musicListWrap	.musicList	.listUL	{width:703px; padding-bottom:28px;}
.musicListWrap	.musicList	.listUL	li	{padding:7px 5px; position:relative; border-bottom:1px solid #e4e4e4;}
.musicListWrap	.musicList	.listUL	li	.btn	{position:absolute; right:5px; top:6px;}