@charset "euc-kr";
@import "us_common_ssl.css";
p.topNavi	{padding:0 0 7px 9px; background:url(https://sslgimage.interpark.com/renewPark/us_img/last/dotted_navi.gif) no-repeat left 4px; font-size:11px;}
.input01{border:1px solid #cacaca; height:13px; padding:3px 0 0 3px; font-size:11px; color:#666;}
.inputType01{border:1px solid #cacaca; height:13px; padding:3px 0 0 3px; font-size:11px; color:#666;}
.font_1	{font-size:14px; color:#de4d52;}
.font_1	a{color:#de4d52;}
.font_2	{color:#d66c6c;}
.font_2	a{color:#d66c6c;}
.mybook_left {width:180px; overflow:hidden; float:left;}

.mybook_content {width:765px; overflow:hidden; float:right;}
.memberBox	{width:180px; text-align:center; padding-bottom:10px; background:url(https://sslgimage.interpark.com/renewPark/us_img/mybook/bg_h2.gif) no-repeat left bottom;}
.memberBox	h2	{font-size:0; line-height:0;}
.memberBox	p	{padding:0 15px;}
.memberBox	.btn	{padding:10px 0 5px 0;}
.memberBox .point	{margin:0 auto; width:162px; height:29px; background:url(https://sslgimage.interpark.com/renewPark/us_img/mybook/bg_point.gif) no-repeat left top;}
.memberBox .point		p	{text-align:right; padding:10px 23px 0 0; font-size:0; line-height:0;}
h3	{font-weight:normal; position:relative; letter-spacing:-1px; clear:both; color:#999; font-size:11px; line-height:17px; padding:0 0 5px 13px; background:url(https://sslgimage.interpark.com/renewPark/us_img/mybook/ico_h3.gif) no-repeat left 4px;}
h3	.btn	{position:absolute; right:0; top:0;}
h3	img	{vertical-align:-2px;}
h3.bb	{border-bottom:2px solid #707070; padding-bottom:3px;}
.mybook_content	h4	{clear:both; color:#888; position:relative; background:url(https://sslgimage.interpark.com/renewPark/us_img/mybook/ico_dotted_left.gif) no-repeat left 4px; margin-top:15px; padding:0 0 5px 6px; font-weight:normal; font-size:11px;}
.mybook_content	h4	img	{vertical-align:-2px;}
.mybook_content	h4	b	{font-size:12px;}
.mybook_content	h4.line	{border-bottom:2px solid #707070;}
.mybook_content	h4	.check	{position:absolute; right:0; bottom:4px;}
.mybook_content	h4	.check	input	{vertical-align:-2px;}
.mybook_content	h5	{clear:both; background:url(https://sslgimage.interpark.com/renewPark/us_img/mybook/ico_h4_blue.gif) no-repeat left 1px; margin-top:20px; padding:0 0 5px 13px; font-weight:bold;}
.mybook_leftMemu	{margin-top:8px;}
.mybook_leftMemu	.topTle	{width:180px; clear:both; height:2px; overflow:hidden; background:url(https://sslgimage.interpark.com/renewPark/us_img/mybook/tle_mybook_leftMemu_top.gif) no-repeat left top; font-size:0; line-height:0;}
.mybook_leftMemu	.conTle	{width:148px; clear:both; padding:15px 15px 0 15px; overflow:hidden; border-left:1px solid #d9d9d9; border-right:1px solid #d9d9d9;}
.mybook_leftMemu	.conTle		.title	{padding:10px 0 10px 17px;}
.mybook_leftMemu	.conTle		p	{padding-bottom:10px;}
.mybook_leftMemu	.conTle		ul	{padding:0 0 7px 10px;}
.mybook_leftMemu	.conTle		ul	li	{padding:0 0 2px 7px; background:url(https://sslgimage.interpark.com/renewPark/us_img/mybook/ico_dotted_left.gif) no-repeat left 5px;}
.mybook_leftMemu	.conTle		ul	li	a	{color:#777;}
.mybook_leftMemu	.conTle		ul	li.on	{font-weight:bold; color:#c10000;}
.mybook_leftMemu	.conTle		ul	li.on	a	{font-weight:bold; color:#c10000;}
.mybook_leftMemu	.conTle		.line	{border-top:1px solid #f6f6f6; font-size:0; line-height:0; height:13px;}
.mybook_leftMemu	.bottomTle	{width:180px; clear:both; height:2px; overflow:hidden; background:url(https://sslgimage.interpark.com/renewPark/us_img/mybook/tle_mybook_leftMemu_bottom.gif) no-repeat left top; font-size:0; line-height:0;}
.searchBox01 {border:1px solid #f2b6b6; text-align:left;}
.searchBox01 .tle {position:relative; width:100%; }
.searchBox01 .tle01 {position:absolute; top:-1px; left:-1px; display:block; width:3px; height:3px; background:url(https://sslgimage.interpark.com/renewPark/us_img/mybook/searchBox01_1.gif) no-repeat; font-size:0}
.searchBox01 .tle02 {position:absolute; top:-1px; left:-2px; margin-left:100%; display:block; width:3px; height:3px; background:url(https://sslgimage.interpark.com/renewPark/us_img/mybook/searchBox01_2.gif) right top no-repeat; font-size:0}
.searchBox01 .tle03 {position:absolute; top:-2px; left:-1px; display:block; width:3px; height:3px; background:url(https://sslgimage.interpark.com/renewPark/us_img/mybook/searchBox01_3.gif) left bottom no-repeat; font-size:0}
.searchBox01 .tle04 {position:absolute; top:-2px; left:-2px; margin-left:100%; display:block; width:3px; height:3px; background:url(https://sslgimage.interpark.com/renewPark/us_img/mybook/searchBox01_4.gif) right bottom no-repeat; font-size:0}
.searchBox01 .boxCon {position:relative; padding:10px}
.searchBox01 .boxCon	ul.ul_1	{padding-top:9px; color:#666; font-size:11px;}
.searchBox01 .boxCon	ul.ul_1	li	{display:block; padding:0 0 5px 13px; background:url(https://sslgimage.interpark.com/renewPark/us_img/mybook/ico_dotted_2.gif) no-repeat 7px 3px;}
.searchT01	th	{width:75px; text-align:left; font-weight:normal; font-size:11px; padding:5px 10px 5px 20px; background:url(https://sslgimage.interpark.com/renewPark/us_img/mybook/bg_th.gif) no-repeat right 8px;}
.searchT01	td	{padding:5px 10px 5px 20px;}
.searchT01	td	img	{vertical-align:middle;}
.searchT01	td	.input01	{vertical-align:-1px;}
.searchT01	td	.radio	{vertical-align:-1px; margin-top:-2px;}
.searchT01	td span.bar	{padding:0 5px; color:#999;}
.mybookT_1	{width:100%; font-size:11px; border-top:2px solid #707070; border-left:0px; border-right:0px;}
.mybookT_1	th	{padding:10px 0 8px 0; font-weight:normal; background:url(https://sslgimage.interpark.com/renewPark/us_img/mybook/bg_th.gif) no-repeat left 10px #f9f9f9; text-align:center; border-bottom:1px solid #bababa;}
.mybookT_1	th.select	{font-size:12px; padding:10px 10px 8px 10px; font-weight:normal; background:none #fff; text-align:left; border-top:2px solid #707070; border-bottom:1px solid #bababa;}
.mybookT_1	th.select	input	{vertical-align:-2px;}
.mybookT_1	th.none	{background:none #f9f9f9;}
.mybookT_1	td	{text-align:center; border:1px solid #dedede; color:#696969; padding:10px 7px 7px 7px; line-height:16px;}
.mybookT_1	td	img	{vertical-align:-5px;}
.mybookT_1	td	img.help	{vertical-align:-3px;}
.mybookT_1	td.last	{border-bottom:1px solid #bababa;}
.mybookT_1	td.tl	{text-align:left; font-size:12px; padding-left:10px;}
.mybookT_1	td.tl_1	{text-align:left; font-size:11px; padding-left:10px;}
.mybookT_1	td.bl0	{border-left:0px;}
.mybookT_1	td.br0	{border-right:0px;}
.mybookT_1	td.num	{color:#999;}
.mybookT_1	td.num	a{color:#999;}
.mybookT_1	td	.star	{font-size:0; line-height:0;}
.mybookT_1	td	.star img	{vertical-align:0;}
.mybookT_1	td	.starWrap	{width:628px; position:relative; margin-top:3px; height:34px; background:#f9f9f9; border:1px solid #dedede;}
.mybookT_1	td	.starWrap .selectLayer	{position:absolute; left:8px; top:8px;}
.mybookT_1	td	.starWrap .selectLayer	a:hover {text-decoration:none;}
.mybookT_1	td	.starWrap .selectLayer	.select	{cursor:pointer; width:92px; height:17px; background:#fff; border:1px solid #ccc;}
.mybookT_1	td	.starWrap .selectLayer	.select	img	{vertical-align:1px;}
.mybookT_1	td	.starWrap .selectLayer	.select	p.d_txt	{padding:3px 0 0 7px; position:relative;}
.mybookT_1	td	.starWrap .selectLayer	.select	p.d_txt	.r_btn	{position:absolute; right:4px; top:3px;}
.mybookT_1	td	.starWrap .selectLayer	.select	.layerTle	{position:absolute;}
.mybookT_1	td	.starWrap .selectLayer	.layer	{position:absolute; width:92px; border:1px solid #ccc; border-top:0; margin-top:-1px; overflow:auto; background-color:#fff;}
.mybookT_1	td	.starWrap .selectLayer	.layer	ul.ul	{padding:0 3px 3px 7px;}
.mybookT_1	td	.starWrap .selectLayer	.layer	ul.ul	li	{padding:0 0 1px 0;}
.mybookT_1	td	.starWrap .selectLayer	span.num	{font-size:0; line-height:0;}
.mybookT_1	td	.starWrap .btn_add	{position:absolute; right:8px; top:10px;}
.mybookT_1	td	.starWrap .input	{position:absolute; width:400px; left:110px; top:8px;}
.mybookT_1	td	.starWrap .byte	{position:absolute; right:52px; top:11px; font-size:11px;}
.mybookT_1	td.num	.btn	{padding-top:2px;}
.mybookT_1	td.price	{text-align:left; padding-left:10px;}
.mybookT_1	td	.byte	{padding-left:10px; color:#888;}
.mybookT_1	tr.b0	td	{border:0; border-top:1px solid #dedede;}
.mybookT_1	tr.bb	td	{border:0; border-bottom:1px solid #dedede;}
.mybookT_1	td.ly_cancel	{border:0; padding:0 0 10px 0; width:50px;}
.mybookT_1	td.ly_cancel	input.input	{width:344px; font-size:11px; height:13px; vertical-align:-1px;}
.mybookT_1	td.ly_cancel	span	{margin-left:0; background:url(https://sslgimage.interpark.com/renewPark/us_img/mybook/ico_dotted_1.gif) no-repeat left 4px; padding:0 10px 0 6px; vertical-align:-1px;}
.mybookT_1	td.ly_cancel	div.ly	{font-size:12px; padding:8px 10px; margin-left:50px; width:680px; overflow:hidden; text-align:left; background:#f9f9f9; border:1px solid #dedede;}
.mybookT_1	td	img.del	{vertical-align:0;}
.mybookT_2	{width:100%; border-top:2px solid #707070; border-left:0px; border-right:0px; border-bottom:1px solid #bababa;}
.mybookT_2	th	{padding:10px 10px 8px 10px; vertical-align:top; border:1px solid #dedede; border-left:0px; white-space:nowrap; font-weight:normal; background:#f9f9f9; text-align:left;}
.mybookT_2	td	{text-align:left; border:1px solid #dedede; border-right:0px; color:#696969; padding:8px 10px 6px 10px; line-height:16px;}
.mybookT_2	td	img	{vertical-align:-3px;}
.mybookT_2	td	b	{vertical-align:-2px;}
.mybookT_2	td	.input	{vertical-align:1px; color:#666; height:13px;}
.mybookT_2	td	.textarea{height:201px; width:630px; color:#666;}
.mybookT_2	th.bl	{border-left:1px solid #dedede;}
.mybookT_2	td	.font_price		{font-size:11px; color:#de4d52; padding-right:10px;}
.mybookT_2	td	.font_price	b	{vertical-align:0;}
.mybookT_2	td	ul.ul_1	{color:#666; font-size:11px;}
.mybookT_2	td	ul.ul_1	li	{display:block; padding:0 0 0 13px; background:url(https://sslgimage.interpark.com/renewPark/us_img/mybook/ico_dotted_2.gif) no-repeat 7px 5px;}
.mybookT_2	td	.radio	{vertical-align:-2px;}
.mybookT_2	td	select	{vertical-align:0;}
.mybookT_2	td	.ex	{color:#adadad;}
.input_off	{color:#adadad; font-size:11px; background:#fffce7; padding:3px 0 0 3px; border:1px solid #ccc; vertical-align:1px; height:13px;}
.input_on	{color:#333; font-size:11px; background:#fffce7; padding:3px 0 0 3px; border:1px solid #f58182; vertical-align:1px; height:13px;}
ul.ul_t1	{color:#666; padding:30px 0 5px 0; clear:both;}
ul.ul_t1	li	{display:block; padding:0 0 0 13px; background:url(https://sslgimage.interpark.com/renewPark/us_img/mybook/ico_dotted_2.gif) no-repeat 7px 5px;}
.tableQna	{width:100%; font-size:11px; border-top:2px solid #707070; border-left:1px solid #fff; border-right:1px solid #fff;}
.tableQna	th	{padding:10px 0 8px 0; font-weight:normal; background:url(https://sslgimage.interpark.com/renewPark/us_img/mybook/bg_th.gif) no-repeat left 10px #f9f9f9; text-align:center; border-bottom:1px solid #bababa;}
.tableQna	th.none	{background:none #f9f9f9;}
.tableQna	td	{text-align:center; padding:10px 0 8px 0;  color:#696969; line-height:16px; border-left:1px solid #dedede;}
.tableQna	td	img	{margin:1px 0; vertical-align:-3px;}
.tableQna	td.tl	{text-align:left; font-size:12px; padding-left:10px;}
.tableQna	td.first	{text-align:left; font-size:12px; padding-left:10px; border-left:0;}
.tableQna	td	a.on	{font-weight:bold; text-decoration:underline;}
.tableQna	td	a.off	{font-weight:normal;}
.tableQna	td.layer	{padding:0; text-align:left; background:#f9f9f9; border-bottom:1px solid #dedede; border-left:0;}
.tableQna	td.layer	.tdLayer	{text-align:left; clear:both; overflow:hidden; border-top:1px solid #dedede;}
.tableQna	td.layer	.Qwrap	{font-size:12px; line-height:18px; padding:17px 50px 15px 159px; background:url(https://sslgimage.interpark.com/renewPark/us_img/mybook/ico_q.gif) no-repeat 60px 15px; border-bottom:1px solid #dedede; overflow:hidden;}
.tableQna	td.layer	.Awrap	{font-size:12px; line-height:18px; padding:17px 50px 15px 159px; background:url(https://sslgimage.interpark.com/renewPark/us_img/mybook/ico_a.gif) no-repeat 60px 15px;}

.tableQna	td.layer	.Twrap	{font-size:11px; line-height:18px; padding:17px 50px 15px 150px; background:url(https://sslgimage.interpark.com/renewPark/us_img/mybook/ico_q.gif) no-repeat 60px 15px; border-bottom:1px solid #dedede;}
.tableQna	td.layer	.Twrap	table	{width:100%;}
.tableQna	td.layer	.Twrap	table	th	{background:none #eaeaea; padding:7px 10px 5px 10px; border:1px solid #cacaca;}
.tableQna	td.layer	.Twrap	table	td	{background:none #fff; padding:7px 10px 5px 10px; border:1px solid #cacaca;}
.tableQna	td.layer	.Twrap	table	td.tl	{font-size:11px;}
.btn_line	{border-top:1px solid #dedede; margin-top:-1px; text-align:center; padding-top:11px; clear:both;}
.btn_b	{text-align:center; padding-top:10px; clear:both;}
.helpBox	{background:#fbfbfb; overflow:hidden; border-top:1px solid #dedede; border-bottom:1px solid #dedede; padding:19px 15px 15px 15px; width:735px;}
.helpBox	.table01	{width:100%; font-size:11px;}
.helpBox	.table01	th	{font-weight:normal; text-align:left; line-height:16px; color:#696969; width:120px; padding:6px 0 10px 10px; background:url(https://sslgimage.interpark.com/renewPark/us_img/mybook/ico_dotted_1.gif) no-repeat 4px 11px; vertical-align:top; color:#696969;}
.helpBox	.table01	td	{vertical-align:top; line-height:16px; color:#898989; padding:6px 0 10px 10px;}
.helpBox	.table01	td	ul.dan01	li	{display:inline; float:left; width:80px; white-space:nowrap; text-align:center;}
.helpBox	.table01	td	ul.dan01	li	img	{margin-bottom:5px;}

.helpBox	.table02	{width:100%; font-size:11px;}
.helpBox	.table02	th	{font-weight:normal; text-align:left; line-height:16px; color:#696969; width:130px; padding:6px 0 6px 10px; vertical-align:top; color:#696969;}
.helpBox	.table02	td	{vertical-align:top; line-height:16px; color:#898989; padding:0 10px 0 0;}
.helpBox	.table02	td	ul.ul01	li	{padding:6px 0 3px 10px; background:url(https://sslgimage.interpark.com/renewPark/us_img/mybook/ico_dotted_1.gif) no-repeat 4px 11px;}
.helpBox	.table03	{width:100%; font-size:11px;}
.helpBox	.table03	th	{padding:10px 0 8px 0;  font-weight:normal; text-align:center; border:1px solid #dedede; background:#f1f1f1;}
.helpBox	.table03	th.none	{background:none #f1f1f1;}
.helpBox	.table03	td	{text-align:center; border:1px solid #dedede; background:#fff; color:#696969; padding:5px; line-height:16px;}
.helpBox	.table03	td.tl	{padding:10px; text-align:left;}
.pageNavi {padding:10px 0; text-align:center; overflow:hidden; clear:both; vertical-align:top; cursor:default;}
.pageNavi a,
.pageNavi strong {font-weight:bold; color:#3a3a3a; vertical-align:top; display:inline-block; text-decoration:none; padding:4px 8px 2px 8px; border:1px solid #ebebeb; margin:0 -1px; position:relative;}
.pageNavi strong {border:1px solid #de4d52; color:#de4d52;}
.pageNavi a:hover,
.pageNavi a:active,
.pageNavi a:focus {border:1px solid #de4d52; color:#de4d52; text-decoration:none;}
.pageNavi span.blank {padding:0 4px; height:0; font-size:0; line-height:0; vertical-align:top;}
.pageNavi span.arrow	img	{margin:5px 0 0 0; vertical-align:-4px;}
.pageNavi span.arrow a,
.pageNavi span.arrow a:hover,
.pageNavi span.arrow a:active,
.pageNavi span.arrow a:visited,
.pageNavi span.arrow a:focus {padding:0; margin:0; border:0;}
.pageNavi span.totalTxt {color:#777; font-size:11px; margin:5px 7px 0 0; display:inline-block;}
.mybook_tab		{overflow:hidden; position:relative; margin-top:20px; clear:both; height:28px; width:100%; background:url(https://sslgimage.interpark.com/renewPark/us_img/mybook/tab_bg.gif) repeat-x left top;}
.mybook_tab	ul	{line-height:0; font-size:0;}
.mybook_tab	ul	li	{display:inline; padding-right:1px;}
.mybook_tab	.soting	{position:absolute; right:0; bottom:5px; font-size:11px;}
.mybook_tab	.soting	.off	{color:#464646;}
.mybook_tab	.soting	.on		{color:#e27878; text-decoration:underline;}
.mybook_tab	.soting	.on	a	{color:#e27878;}
.mybook_tab	.soting	.bar	{padding:0 5px 0 6px; color:#999;}
.mybook_tabView	{width:755px; margin:20px auto; overflow:hidden; clear:both;}
.mybook_tabView	.list	{width:195px; position:relative; float:left; overflow:hidden; background:url(https://sslgimage.interpark.com/renewPark/us_img/mybook/tab_arrow.gif) no-repeat right top;}
.mybook_tabView	.list	.off	{width:168px; height:78px; border:1px solid #d6d3d3;}
.mybook_tabView	.list	.on		{width:166px; height:76px; border:2px solid #40c8d0;}
.mybook_tabView	.last	{background:none; width:170px;}
.mybook_tabView	.list	img.ico	{font-size:11px; position:absolute; left:10px; top:11px;}
.mybook_tabView	.list	span.num	{font-size:0; line-height:0; position:absolute; right:34px; top:9px;}
.mybook_tabView	.last	span.num	{right:9px;}
.mybook_tabView	.cb	{padding-top:15px;}
.mybook_tabView	.list_ebook	{width:249px; position:relative; float:left; overflow:hidden; background:url(https://sslgimage.interpark.com/renewPark/us_img/mybook/tab_arrow.gif) no-repeat right top;}
.mybook_tabView	.list_ebook	.off	{width:222px; height:78px; border:1px solid #d6d3d3;}
.mybook_tabView	.list_ebook	.on		{width:220px; height:76px; border:2px solid #40c8d0;}
.mybook_tabView	.last_e	{background:none; width:224px;}
.mybook_tabView	.list_ebook	img.ico	{font-size:11px; position:absolute; left:10px; top:11px;}
.mybook_tabView	.list_ebook	span.num	{font-size:0; line-height:0; position:absolute; right:34px; top:9px;}
.mybook_tabView	.last_e	span.num	{right:9px;}
.mybook_tabView	p	{font-size:11px; position:absolute; color:#777; left:41px; bottom:13px;}
.mybook_tabView	p.tc	{font-size:11px; position:absolute; letter-spacing:-1px; color:#777; left:10px; bottom:13px;}
.mybook_tabView	p.tc	b	{color:#de4d52;}
.wh_listContainer	{border-top:2px solid #707070; width:100%; clear:both; margin-top:20px; overflow:hidden;}
.wh_listWrap	{width:100%; margin-top:20px; overflow:hidden; clear:both; padding-left:8px; background:url(https://sslgimage.interpark.com/renewPark/us_img/display/line_dot.gif) repeat-x left bottom;}
.wh_listWrap	.list {width:127px; height:220px; overflow:hidden; float:left; text-align:center; position:relative;}
.wh_listWrap	.list .checkbox{position:absolute; left:0; top:0;}
.wh_listWrap	.list .best{padding-bottom:2px;}
.wh_listWrap	.list .best	b{color:#1781bb;}
.wh_listWrap	.list .img	{width:91px; font-size:0; line-height:0; margin:0 auto; overflow:hidden;}
.wh_listWrap	.list .img	img	{width:85px; height:120px; padding:2px; border:1px solid #dadada;}
.wh_listWrap	.list .img a:hover	img	{width:85px; height:120px; padding:1px; border:2px solid #dd5555;}
.wh_listWrap	.list .tit{padding:3px 25px 3px 25px; font-size:11px;}
.wh_listWrap	.list .price{color:#dd5555; font-size:11px;}
.wh_listWrap	.list .ico_1	{color:#1781bb; font-size:10px; padding-top:5px;}
.wh_listWrap	.list .ico_1 a	{color:#1781bb;}
.wh_listWrap	.list .ico_2	{color:#16974d; font-size:10px; padding-top:5px;}
.wh_listWrap	.list .ico_2 a	{color:#16974d;}
.wh_listWrap	.list .ico_3	{color:#bb7817; font-size:10px; padding-top:5px;}
.wh_listWrap	.list .ico_3 a	{color:#bb7817;}
.wh_listWrap	.list	.Fpoint	{padding-top:2px;}
.wh_listWrap	.list	.Fpoint	span{padding-left:14px; background:url(https://sslgimage.interpark.com/renewPark/us_img/display/ico_ipoint.gif) no-repeat left top;}


.naviBox	{position:relative; height:43px; border-bottom:1px solid #e6e6e6; width:100%;}
.naviBox	.check	{position:absolute; left:8px; top:15px; font-size:11px;}
.naviBox	.check	input	{vertical-align:-2px;}
.naviBox	.check	img	{vertical-align:-3px;}
.naviBox	.pageNavi{position:absolute; right:0; top:0;}
.naviBox	.bar	{color:#ccc; padding:0 4px 0 4px;}
.step1v1 {width:765px; padding-top:20px; overflow:hidden; clear:both; background:url(https://sslgimage.interpark.com/renewPark/us_img/mybook/arrow_1v1.gif) no-repeat 192px 168px;}
.step1v1 h6 {font-size:0; line-height:0; padding-bottom:7px;}
.step1v1 .left_step {float:left; width:177px; line-height:22px;}
.step1v1 .left_step .menu{border:1px solid #dedede; width:145px; padding:10px 15px 40px 15px;}
.step1v1 .left_step .menu .radio	{border:0; vertical-align:-3px;}
.step1v1 .left_step .menu p{margin:0;}
.step1v1 .left_step .menu ul{padding:0px 0 8px 0; font-size:11px;}
.step1v1 .left_step .menu ul li{ margin-left:15px; padding:0 0 0 6px; line-height:18px; background:url(https://sslgimage.interpark.com/renewPark/us_img/mybook/ico_dotted_3.gif) no-repeat left 5px;}
.step1v1 .left_step .menu a	{color:#888; text-decoration:none;}
.step1v1 .left_step .menu a:hover	{color:#333;}
.step1v1 .left_step .menu .on a	{font-weight:bold; color:#d66c6c;}
.step1v1 .right_step {float:right; width:543px; font-size:11px;}
.step1v1 .right_step ul	li{width:33%; float:left; padding-top:2px; display:inline-block; line-height:21px;}
.step1v1 .right_step ul	li	input.radio{vertical-align:-2px;}

.step1v1 .right_step .textarea{height:201px; color:#a3a3a3; font-size:11px;}
.step1v1 .right_step .btn{padding-top:15px; text-align:center;}
.step1v1 .right_step table{width:100%;}
.step1v1 .right_step table th{vertical-align:top; padding:10px 15px 8px 10px; border:1px solid #dedede; border-left:0; background:#f9f9f9; text-align:right; width:90px;}
.step1v1 .right_step table td{padding:6px 10px 6px 10px; border:1px solid #dedede; border-right:0;}
.step1v1 .right_step table td span	{vertical-align:-1px;}
.step1v1 .right_step table td img	{vertical-align:middle;}
.step1v1 .right_step table td input	{vertical-align:middle;}
.calendarLayer	{width:186px; position:absolute; overflow:hidden; margin:5px 0 0 -90px; z-index:99;}
.calendarLayer	div.con	{width:186px; overflow:hidden; background:url(https://sslgimage.interpark.com/renewPark/us_img/mybook/layer_calendar_bg.gif) repeat-y left top; text-align:center;}
.calendarLayer	div.title	{margin:0 auto; line-height:14px; padding-bottom:5px; width:174px; overflow:hidden; background:url(https://sslgimage.interpark.com/renewPark/us_img/mybook/layer_calendar_topBg.gif) no-repeat left top;}
.calendarLayer	div.title	p	{color:#fff; padding:2px 0 0 0;}
.calendarTWrap	{width:168px; margin:6px auto 0 auto; overflow:hidden; clear:both;}
.calendarTWrap	table.calendarT	{width:100%; border-top:2px solid #dec9cb;}
.calendarTWrap	table.calendarT		th	{background-color:#f1f1f1; font-size:11px; text-align:center; padding:4px 0 2px 0;}
.calendarTWrap	table.calendarT		td	{border:1px solid #dcdcdc; font-size:11px; text-align:center; padding:4px 0 2px 0;}
.calendarTWrap	table.calendarT		td.sun	{border-left:0; color:#f08a53;}
.calendarTWrap	table.calendarT		td.sat	{border-right:0; color:#00a99d;}
.calendarTWrap	table.calendarT		td.on	{color:#fff; background-color:#da6464; font-weight:bold; letter-spacing:-2px;}
.calendarTWrap	table.calendarT		td.on	a	{color:#fff;}
.calendarTWrap	table.bottomT	{width:100%; clear:both; margin:5px 0 2px 0;}
.agreeWrap	{width:958px; padding:10px 0;  border:1px solid #dedede; border-top:1px solid #707070; overflow:hidden; clear:both;}
.agreeWrap	.left	{width:420px; float:left; padding-left:20px;}
.agreeWrap	.right	{width:420px; float:left; padding-left:20px; margin-left:30px;}
.agreeWrap	p	{padding:10px 0 5px 0;}
.agreeWrap	.scroll	{width:430px; padding:5px; color:#888; line-height:17px; height:140px; overflow:hidden; border:1px solid #ccc;}
.agreeWrap	.scroll	iframe	{height:138px; width:428px;}

.agreeText,
.privacyText {line-height:17px; color:#666; font-size:11px; font-family:arial;}
.agreeText p,
.privacyText p {padding:3px 0;}
.agreeText b,
.privacyText b {color:#666; font-size:12px;}

.agreeWrap	input	{vertical-align:-1px;}
.mb4	{margin-bottom:4px;}
.login_on	{color:#333; font-weight:bold; font-size:14px; width:210px; background:#fff; padding:7px 0 0 8px; border:1px solid #c70000; vertical-align:1px; height:21px;}
.login_out	{color:#333; font-weight:bold; font-size:14px; width:210px; background:#fff; padding:7px 0 0 8px; border:1px solid #ccc; vertical-align:1px; height:21px;}
.login_off	{color:#aaaaaa; font-size:11px; width:210px; background:#fbfbfb; padding:9px 0 0 8px; border:1px solid #eaeaea; vertical-align:1px; height:19px;}
.lognWrap	{width:471px; clear:both; margin:50px auto 100px auto;}
.lognWrap	h2	{padding-bottom:10px; font-size:0;}
.lognWrap	.lognForm	{width:471px; height:317px; background:url(https://sslgimage.interpark.com/renewPark/us_img/mybook/bg_login.gif) no-repeat left top;}
.lognWrap	.lognForm	.conWrap	{width:383px; margin:0 auto;}
.lognWrap	.lognForm	.conWrap	h3	{padding:52px 0 8px 0; background:none; margin:0 0 25px 0; font-size:0; border-bottom:1px solid #949494;}
.lognWrap	.lognForm	.conWrap	.con	{width:318px; overflow:hidden; margin:0 auto;}
.lognWrap	.lognForm	.conWrap	.con	input	{margin-bottom:4px;}
.lognWrap	.lognForm	.conWrap	.con	.fl	{width:220px; overflow:hidden;}
.lognWrap	.lognForm	.conWrap	.con	.fr	{width:93px; overflow:hidden;}
.lognWrap	.lognForm	.conWrap	.con	p	{clear:both; color:#999; font-size:11px; padding-top:5px;}
.lognWrap	.lognForm	.conWrap	.con	p	input	{vertical-align:-2px;}
.lognWrap	.lognForm	.conWrap	.con	ul	{padding-top:0;}
.lognWrap	.lognForm	.conWrap	.con	ul	li	{display:inline; float:right; padding:0 0 0 16px; font-size:11px; background:url(https://sslgimage.interpark.com/renewPark/us_img/mybook/arrow_gray.gif) no-repeat 10px 3px;}
.lognWrap	.lognForm	.conWrap	.con	ul	li.on {background:url(https://sslgimage.interpark.com/renewPark/us_img/mybook/arrow_red.gif) no-repeat 10px 3px;}
.lognWrap	.lognForm	.conWrap	.con	ul	li.on	a	{color:#d73a3a;}
.lognWrap	.lognForm	.conWrap	.con	p.txt_b	{text-align:right; font-size:11px; padding-top:10px; letter-spacing:-1px;}

.lognWrap	.lognForm	.conWrap	.errorBox	{height:27px; text-align:right;}
.lognWrap	.lognForm	.conWrap	.errorBox	p	{color:#d73a3a; padding-top:5px; font-size:12px; font-weight:bold;}
.couponT	{width:100%; clear:both;}
.couponT	th	{font-size:12px; color:#666; background:#f3f3f3; text-align:left; font-weight:normal; padding:15px 15px 15px 20px;}
.couponT	th	.b	{padding-bottom:5px;}
.couponT	th	img{vertical-align:middle;}
.couponT	th	p	{padding:5px 0;}
.couponT	th	input	{width:220px; vertical-align:middle; height:13px;}
.couponT	th	span	{letter-spacing:-1px; font-size:11px; vertical-align:-2px; padding-left:10px;}
.downloadT	{width:100%; border-bottom:1px solid #bababa; border-top:1px solid #dedede;}
.downloadT	td	{padding:10px 0; text-align:center;}

.txt_download	{padding:15px; color:#777; line-height:20px;}

.bg_joinEnd	{overflow:hidden; border-bottom:1px solid #dfdfdf; padding-bottom:10px; background:url(https://sslgimage.interpark.com/renewPark/us_img/mybook/bg_join_end.jpg) no-repeat right 30px;}

.joinEnd	{width:100%; overflow:hidden; clear:both; color:#737373;}
.joinEnd	h2	{border-bottom:2px solid #707070; padding:10px 0 5px 0;}
.joinEnd	.con	{width:930px; overflow:hidden; margin:0 auto; padding:20px 0;}
.joinEnd	.Fblue	{color:#557cbe;}
.joinEnd	p	{padding:0 0 5px 8px; background:url(https://sslgimage.interpark.com/renewPark/us_img/mybook/arrow_memcon_1.gif) no-repeat left 3px;}
.joinEnd	p	img	{vertical-align:-5px;}
.joinEnd	p.btn	{background:none; padding-top:20px;}

.joinEnd	table	{margin-top:20px;}
.joinEnd	table	th	{padding:0 10px; font-weight:bold; text-align:left;}
.joinEnd	table	td	input	{width:180px; vertical-align:3px;}

.joinEnd	h3	{padding:0 0 5px 8px; margin-top:20px; font-weight:bold; color:#737373; font-size:12px; background:url(https://sslgimage.interpark.com/renewPark/us_img/mybook/arrow_memcon_2.gif) no-repeat left 3px;}
.joinEnd	.con	ul	{background:#f7f7f7; padding:12px 10px 7px 12px;}
.joinEnd	.con	ul	li	{padding:0 0 5px 10px; color:#737373; font-size:11px; background:url(https://sslgimage.interpark.com/renewPark/us_img/mybook/dot_memcon.gif) no-repeat 3px 5px;}

.join_navi	{padding:30px 0;}
.join_num	{padding:20px; width:900px; margin:0 auto; overflow:hidden; background:#f7f7f7;}
.join_num	img	{vertical-align:middle;}
.join_num	b	{padding:0 10px; vertical-align:-1px;}
.join_num	input	{vertical-align:middle; padding:5px 5px 4px 5px; font-weight:bold; border:1px solid #557cbe; color:#2c63b8;}

#footer_vote	{clear:both; overflow:hidden; margin-top:30px;}
#footer_vote	.tit{border:1px solid #667a9d; color:#fff; background:#8595b0; padding:5px 15px 3px 15px;}
#footer_vote	.con{border:1px solid #d6d6d6; overflow:hidden; padding:15px 0 12px 0;}
#footer_vote	dl	{line-height:17px; width:190px; overflow:hidden; float:left;}
#footer_vote	dl	dt{float:left; width:103px; text-align:center;}
#footer_vote	dl	dt	img	{width:75px; height:108px; border:1px solid #ccc;}
#footer_vote	dl	dt	a:hover	img	{border:1px solid #aaa;}
#footer_vote	dl	dd{ float:left; width:84px;}
#footer_vote	dl	dd.tt	a{color:#444;}
#footer_vote	dl	dd.name{color:#888; font-size:11px;}
#footer_vote	dl	dd.Fprice{color:#da6464; padding-top:10px;}









